[2017-06-18 19:57] php-coder commented on #769
Could you look at this once again? We had [a conversation in the upstream](https://github.com/SeleniumHQ/selenium/issues/3917#issuecomment-307068567) and it turned out that it's mostly impossible to put data about element to an error message on so deep level because they have only an element and don't have information about which locator was used to find it.

[2017-06-18 21:25] aaltat commented on #769
I think the this information is best kept in the log file. But could you describe me a use case where having the xpath in the error message is useful in way where one does not need a access to the log file.

[2017-06-18 21:34] php-coder commented on #769
Even if we have a log, in the trivial cases I wouldn't need to inspect it if error message have all relevant information.

In other situations, when we don't have access to the log it will be super helpful.

[2017-06-19 06:50] aaltat commented on #825
Do yo still have a problem, or can we close the issue?

[2017-06-19 06:53] aaltat commented on #771
Because of the `ElementFinder` changes, it looks like the `Custom Locator Strategy`arguments will be changed. Need to look in to the documentation and clear things up.

[2017-06-19 08:01] aaltat commented on #292
Please open a new issue or send mail to the Robot Framework user group.

[2017-06-19 08:28] aaltat commented on #769
I haven't found a such trivial case where seeing a locator could pin point a reason for the failure. At least I have to see what keyword did fail, in which context keyword did fail (same locator and​/or keyword may be used many times in the same test) and I need to investigate the SUT state too. All this information is available in the `log.html`. Also one should always have access to the Robot Fr

[2017-06-19 08:32] StyleTJy commented on #825
@aaltat sorry for being late to reply your comments. actually, I tried to download the source package which was modified by 2016-08-23. so did I download the old version?

[2017-06-19 08:35] aaltat commented on #825
Yes you did, you need install from the repository master branch directly If you are using pip, please see here for more details: https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support

[2017-06-19 08:43] StyleTJy commented on #825
OK, that helps a lot. thanks for your useful suggestions.

[2017-06-19 08:43] #825 closed, assigned to nobody

[2017-06-19 16:31] SerhiiAksiutin opened #827 "Type into a prompt is not working for Safari Technology Preview"
When user does something like this in test.robot file

`Create Webdriver  Safari  executable_path=${technology_preview}`
`Go to  https://username:password@mytestwebsite.com`
`Input Text Into Prompt  ${url_username}`

Expected:
Text should be populated in the alert

Actual:
Nothing is happening. No error in the output
<img width="1280" alt="screen shot 2017-06-18 at 10 40 08 am" src="https://user-i

[2017-06-19 16:33] aaltat commented on #824
Is this still a problem?

[2017-06-19 16:33] aaltat commented on #827
Does it work with other browsers, example Chrome?

[2017-06-19 16:43] pekkaklarck commented on #772
I noticed there still was COPYRIGHT.txt in the project root and created PR #828 to update it. The most important change was updating copyright holders to this list:

[code]

As you can see, I explicitly mentioned only the original S2L developers @rtomac and @emanlove. Should we also include @zephraph? Any other comments from others? Let us know at least if you don't want yourself to be listed!

On

[2017-06-19 16:54] SerhiiAksiutin commented on #827
It is not working for Chrome as well

Steps:
`Create Webdriver  Chrome  --ignore-certificate-errors`
`Go to  ${https}${url}`
`Input Text Into Prompt  ${url_username}`

Actual:
`[ INFO    ] There were no alerts`
<img width="957" alt="screen shot 2017-06-19 at 9 51 52 am" src="https://user-images.githubusercontent.com/27512156/27296325-41f1dd18-54d5-11e7-994d-68e5a84b1a41.png">

[2017-06-19 16:57] aaltat commented on #827
Would you mind running the test with `--loglevel trace` set from command line? I would like to see the full stack trace from the error.

[2017-06-19 17:36] SerhiiAksiutin commented on #827
[code]

[2017-06-19 18:02] SerhiiAksiutin opened #829 "Press Key is not working as argument for run_keyword function if send 'Enter' (\13)"
test.robot
[code]

keywords.py
[code]

Update:
as per @pekkaklarck comment:

I have tried both `\` and `\\` before posting it here. `\\13` doing this `lipstic13`. Already double checked it on 3 different sites for 3 different browsers. It is not working if it sent by `run_keyword()` function. But if it's in *.robot file like `Press Key | \\13` then it is working as it should
[code]
Actual output/r

[2017-06-19 18:21] SerhiiAksiutin commented on #829
Here is the full stack trace by `--loglevel trace`

For `bi.run_keyword('Press Key', 'xpath=//*[@id="q"]', '\\13')` version
[code]

And for `bi.run_keyword('Press Key', 'xpath=//*[@id="q"]', '\13')`
[code]

So for `\\13` we're getting `"value": ["1", "3"]` (key 1 and 3) and for `\13` we're getting `"value": ["\u000b"]` (Vertical Tab) fyi @pekkaklarck @bmartyniuk

[2017-06-19 18:57] pekkaklarck commented on #829
You may need an additional level of escaping and use `\\\\13`.

[2017-06-19 19:20] SerhiiAksiutin commented on #829
Thank you, sir! That's exactly what I need 👍 Closing

[2017-06-19 19:20] #829 closed, assigned to nobody

[2017-06-19 20:13] pekkaklarck commented on #829
I don't understand why you use `BuiltIn.run_keyword` and just don't use methods of the S2L instance you got. Anyway, this kind of questions/discussions belong to mailing list, Slack and such forums rather that to issue trackers.

[2017-06-20 05:22] aaltat commented on #827
The code polls the alert, but only for a one second. If the alert is not present then an exception is raised.

If you do:
[code]
Does it then work ok for you?

[2017-06-20 13:30] pekkaklarck commented on #772
Just noticed that Jeremy Johnson i.e. @j1z0 is also listed as author in setup.py. Should he be listed also in copyrights in the future?

[2017-06-20 14:13] pekkaklarck commented on #771
Architecture changes ought to be now done except that registering custom locators mentioned by Tatu above still needs to be fixed.

[2017-06-20 14:47] just-be-dev commented on #772
You can include me if you want, but it's up to you really.

[2017-06-20 19:53] SerhiiAksiutin commented on #827
@aaltat it never succeeds for 30 seconds while the alert is clearly populated
[code]

[2017-06-21 03:04] jvanz commented on #824
I do not think so. Your hint helped. Thank you @aaltat

[2017-06-21 03:04] #824 closed, assigned to nobody

[2017-06-21 06:18] xinzx commented on #763
In my case, I want to click an element in pop-up web page, the page has an scroll bar, the element is on the down of the page, I can't click it with Click Element method in Firefox, is any suggestion?
Thanks advance.

[2017-06-21 07:22] ShAnsari commented on #292
Is this issue solved?

[2017-06-21 10:19] aaltat commented on #827
Ah but that is a basic authentication dialog, right? Unfortunately selenium does not support handling basic authentication dialog. Because of this we can not do anything on the Selenium2Library side. Your best option to google around see how you can bypass the basic authentication in Safari. Here is working example for Chrome: https://stackoverflow.com/questions/9888323/how-to-override-basic-authe

[2017-06-21 10:41] emanlove commented on #822
@snyderr: Are you saying - "Currently the domain is recorded before a selenium keyword is run" - that currently your addition runs before or that current functionality built into Selenium2Library records this but at a point before each keyword is called?

[2017-06-21 11:03] aaltat commented on #292
See https://github.com/robotframework/SeleniumLibrary/issues/827

[2017-06-21 12:09] aaltat commented on #763
If you are seeking help, please ask in the community channels: http://robotframework.org/#support

If you are reporting a issue, please raise a new issue.

For me it feels that you should go by first option.

[2017-06-21 17:41] SerhiiAksiutin commented on #827
In this case, It's not an alert as I thought. Although `http://username:password@mytestsite.com` works for Chrome and FF very well.
And for Safari I have already opened an issue report [Unable to bypass auth if credentials sent via url e.g. https://username:password@mytestsite.com](https://bugreport.apple.com/web/?problemID=32839932)

[2017-06-21 17:41] #827 closed, assigned to nobody

[2017-06-21 17:44] aaltat commented on #827
As a side note, chrome has dropped support for URL basic authentication in release 59: https://www.chromestatus.com/feature/5669008342777856

[2017-06-21 17:48] SerhiiAksiutin commented on #827
@aaltat That's the only workaround. Don't you think Selenium2Library could do anything about it?  I could keep the issue open?

[2017-06-21 18:00] chanwooh opened #834 "Capture Page Screenshot + Should Be Equal in Documentation"
For the keyword "Capture Page Screenshot"'s documentation, it uses the keyword "Should Be Equal" to imply that certain files should be equal. However, the keyword cannot actually be used to compare images or screenshots (it simply uses the arguments as strings in these cases and fails).

I think the documentation should be clarified by noting that "Should Be Equal" in this case would not work, or

[2017-06-21 18:27] aaltat commented on #827
There is rumours that Webdriver specification next release would bring support for basic authentication, but that is only rumor. Unless Selenium provides the support, don't think we are going to provide direct support.

In my humble opinion, it would be best if the whole basic authentication would die away. There are better and easier ways to do the user authentication.

[2017-06-21 18:34] aaltat commented on #834
I don't quite understand what you are trying to explain. Could you clarify the problem?

[2017-06-21 20:25] chanwooh commented on #834
![screen shot 2017-06-21 at 13 20 26](https://user-images.githubusercontent.com/14134553/27404862-719d82dc-5684-11e7-98cb-1fadb579fc43.png)

In Example 1 (shown above), "Should Be Equal" seems to be testing if screenshot ${file1} and screenshot ${${OUTPUTDIR}${/}selenium-screenshot-1.png} are equivalent as _images_. This is misleading since the keyword actually compares the _names_ of the screensh

[2017-06-22 06:22] aaltat commented on #834
Now I understand what you are trying to say. I also understand why you might have come to this assumption.

Would you have ideas how to improve the keyword documentation? Also perhaps in a pull request?

[2017-06-22 08:28] saudiatepace commented on #801
Hello @sandeepvaidya may I know how did you configure the PATH for chromedriver in Jenkins? Need some help. :)

[2017-06-22 13:59] chanwooh commented on #834
I think just a clear note before the examples will suffice, since there isn't an easy "built-in" way to compare screenshots. I'll submit a pull request, thanks!

[2017-06-22 16:38] snyderr commented on #822
@emanlove My implementation uses the Selenium2Library functionality to record the URL before a selenium keyword is called. I've run this a few times on my overnight Jenkins run and the run-time of my tests are being increased significantly. The code as it stands is just a proof of concept and it runs before any selenium keyword is run. Obviously this would need to be narrowed down for efficiencies

[2017-06-22 20:53] aaltat commented on #771
The custom locator is now fixed by #837 and the custom locator API is now unchanged.

Now the new architecture is now done and issue is closed.

[2017-06-22 20:53] #771 closed, assigned to aaltat

[2017-06-22 21:27] sandeepvaidya commented on #801
On Jenkins:
Name PATH
Value $PATH:/app/chrome_driver

________________________________
From: Saudia Tepace <notifications@github.com>
Sent: 22 June 2017 08:28
To: robotframework/Selenium2Library
Cc: sandeepvaidya; Mention
Subject: Re: [robotframework/Selenium2Library] Robot Framework/Jenkins: chromedriver executable needs to be in PATH error (#801)

Hello @sandeepvaidya<https://github.com/sandeepv

[2017-06-22 21:48] aaltat commented on #822
The pool thing should work, within some limitations. Selenium does not support threads within one driver instance, but I do not see a problem when staring a browser. But all is untested and without any proof.

[2017-06-22 22:05] aaltat commented on #834
Issue should not be closed before we decide what to with the PR.

[2017-06-23 14:12] iradovanovic opened #839 "Black - White Image on capturing screen"
Hi all,

since recently we have a problem with screenshots but only when the test is executed with Jenkins.
Captured image looks like this: left side is white, right is black. That is all. When I run manually on same maschine (VM) it works.  Any ideas?

[2017-06-23 14:42] aaltat commented on #839
Not really good ideas, haven't seen that one before. But I can make educated guesses. Is it a Windows or Linux that is running Jenkins? Does it have a display? Have you tried with different browsers? Have you updated Selenium and browser driver?

Also asking in user group would be good idea, because you get wider audience for your question.

[2017-06-23 14:54] iradovanovic commented on #839
Hi.
It is a Windows virtual machine (Win 8). Chrome driver and selenium up to date.
Since is running from Slave on VM there is a screen (with screen i mean, if you connect to that VM you will see browser and executions) We use only Chrome.

By user group you mean google group?

I wanted also here to report the problem.

[2017-06-23 16:25] aaltat commented on #839
If you logout then the display also dies and it affects also to the screen captures. In Windows 7 it is possible direct the login session to the console so that the display does not die. But I don't have any experience with Win 8.

Yes I was referring to the Google user group.

[2017-06-23 18:08] snyderr commented on #822
Wouldn't you still need a single instance of selenium to switch to a new browser, close the old one and open a new one? Otherwise how else would you keep each web driver instance attached to one instance of robot?

[2017-06-23 20:21] aaltat commented on #822
Selenium does not have instances. Selenium creates instances from the browsers it controls. One browser, one driver Instance. Most likely it would be possible to open many browser by using threads (this part is untested and is based on my assumption) and create a pool of browsers where one could get a new one when it's needed. Also the pool would always make sure that there are browsers available.

[2017-06-26 13:51] #546 closed, assigned to nobody

[2017-06-26 21:36] aaltat commented on #839
Did you get the problem solved?

[2017-06-26 21:42] iradovanovic commented on #839
Not yet. Today, i tried to import Library Browser and to use "Take Screenshot" from that one. Tomorrow i will check if is working with jenkins. I had a problem with image path.

[2017-06-27 06:23] ShAnsari commented on #498
When will this be add to the Selenium2Library?
I am trying to execute:
`Press Key  | CONTROL  +  SHIFT  +  i`

Is there any way to do this?

[2017-06-27 07:12] aaltat commented on #498
No one has seen this important enough to drive for the design. Currently we are focused to get the next release out with Python 3 support and this is not planned to be in that release. But if we could agree on the design and someone writes a PR, there is a chance that the enhancement could make it to the next release.

Because this gets asked quite regularly, perhaps thinking on the design is good

[2017-06-27 10:03] aaltat commented on #498
Also it's worth considering should we also support sending keys without a `locator`

[2017-06-29 06:29] iradovanovic commented on #839
Ok. New update. When i'm manually logged in to the VM and watching while robot is executing, then the image is captured. Otherwise is black | white image.

I have to find what is updated or changed.

[2017-06-29 10:30] aaltat commented on #839
In windows 7 I can do this: `tscon.exe RDP-Tcp#0 /dest:console` to divert to desktop to the console.

[2017-07-03 13:58] aaltat opened #842 "In method _current_browser (in lib __init__) fix return self.browser to return self._browser"
In https://github.com/robotframework/Selenium2Library/blob/master/src/Selenium2Library/__init__.py, this is now:
[code]
But it should be
[code]
Fix the return statement

[2017-07-03 14:24] aaltat opened #843 "Changing to dynamic library API caused changes how Robot Framework calls keywords with arguments"
When doing this:
```| wait until element is visible | xpath=//div | error=my text here | ``` then I get this:
[code]
Added some debug logging and looks like default timeout None is converted to unicode at some point:
`timeout: None, type: <type `

[2017-07-03 15:03] #842 closed, assigned to aaltat

[2017-07-03 23:37] pekkaklarck commented on #843
Converting default values to text is required by the dynamic API the lib nowadays uses. Should think how the API could be enhanced, but in this situation the lib needs to adapt. Probably handling `NONE`, case-insensitively, as meaning no timeout would be best.

[2017-07-04 07:00] aaltat commented on #843
This needs some test in the S2L side. Perhaps implementing or importing RF `is_truthy` method would be a good idea. In any case, this is be backwards incompatible change, because in past string `None` and Python `None` where handled differently. But I think it's a chance for the better and change which can be easily deal with.

Need to think what how where to implement this one and how it's applie

[2017-07-04 16:07] fredweb75 commented on #498
It was on dev 1 year ago... I'm looking forward for this feature to be available in Selenium2Library. This should have been part of PressKey tho... Will it be there soon?

[2017-07-04 16:21] aaltat commented on #498
The status is same as in my previous message. The next step would, for someone else than me, be draft acceptance test cases, to make sure that we agree on the design. Then the implementation could start by someone and in some point we would have PR.

[2017-07-04 18:52] aaltat commented on #843
There is a difference how the API work. When my method is declared like this:
[code]
Now if I do this:
[code]
Then timeout is passed as Python None and `default_timeout` is used. But if I do this:
[code]
then timeout is passed as string None and converting it to string None to seconds fails.

But I think we can not do anything for the problem, right now in the Robot Framework side and I need to co

[2017-07-04 20:14] aaltat commented on #843
Made partial fix in #845, which also supports #719,  just do demonstrate how I did plan to fix the problem. The idea is to hand pick the arguments which should be tested are they `True`. The #845 is based on the `robot.utils.is_truthy` code.

[2017-07-04 20:38] pekkaklarck commented on #843
1. You are right that the default value is passed as string `None` only when you use some of the arguments after that. If you don't use the argument with a default value or any of the arguments after that, the keyword is just called with less arguments and functions Python default value is used. The reason is that the dynamic API ends up calling keywords using positional arguments when possible. T

[2017-07-06 06:16] aaltat commented on #843
1) Ok, didn't know that one
2) True
3) You are right
4) Yes, all of the Wait* keywords use `None` and then there are few others too, like `Open Browser`.
5) I didn't get what you are trying to say
6) Because `None` is used often compared to the `False`, in S2L keywords I was thinking that S2L `is_trurhy` would also return Python `False` with string None (case insensitive)

[2017-07-06 14:40] willmiraglia commented on #839
I'm seeing this issue too. It started about 10 days ago and I've not been able to figure out whats going on. It just started to occur overnight and I did not touch the configuration of my environment.

I now see blank screenshots in my reports when running Jenkins as a service and the tests are headless. ( doesn't happen if I log into the machine and run the tests with a display) - I can confirm i

[2017-07-06 15:05] aaltat commented on #839
I don't have any good advice to give, because I don't know a solution for this problem. Also I am not able to reproduce the problem.

Because the screen capture is really thin wrapper on top of the selenium, I don't think this is a Selenium2Library issue. To prove that assumption, are you able to write small Python script that call the same methods from selenium than the Selenium2Library would do

[2017-07-08 22:31] aaltat opened #847 "Remove unused expiry argument from `Add Cookie` keyword"
The `Add Cookie` keyword has arguments `name, value, path, domain, secure and expiry` but the `expiry` argument is not used in anywhere. Removing the unused argument.

[2017-07-08 22:32] aaltat commented on #847
Done in #846

[2017-07-08 23:17] #847 closed, assigned to aaltat

[2017-07-10 15:48] iradovanovic commented on #839
@willmiraglia Did you update anything in/from Jenkins ?

Did you maybe try FF ?

Now, i'm getting an idea to try with an older chrome version.

[2017-07-11 23:08] pekkaklarck commented on #843
With the item 5. I meant that PR #845 is more about fixing Boolean default values (i.e. issue #719) and not about handling `None` default value (i.e. this issue). Handling Boolean values better would be a nice enhancement and I'm +1 including it into the next release. Handling `None` is mainly a fix for a regression caused by the new architecture. As I already commented above, being able to pass `

[2017-07-13 02:07] chenrui1987 opened #848 "How to add the entire Selenium2Library folder into RIDE"
how to add the entire Selenium2Library folder into RIDE?
![image](https://user-images.githubusercontent.com/6007647/28147429-fc1dafba-67b2-11e7-82ba-38e56a7b97cc.png)

[2017-07-13 02:43] #848 closed, assigned to nobody

[2017-07-13 19:31] rubygeek opened #849 "Verify string regardless of case"
I have a two websites that I want to verify with the same code. Problem is one website the disclaim is in ALL CAPS and one is lowercase. Example

[code]
So i propose the following api change:

[code]
to

[code]

Default of course being True to avoid breaking changes and when the developer wants case insensitive, they can pass `case_sensitive=False`

I am willing to make these changes and submit a

[2017-07-13 19:43] aaltat commented on #849
The idea sounds good. Although I have nagging feeling, in my head, that there was something that which denies doing this. But because I can not remember what that nagging feeling is, perhaps it is not important.

From the API point of view, it would be more backwards compatible if the API would work like this:
[code]
Also there would be other keyword which would benefit from the same kind function

[2017-07-13 19:52] rubygeek commented on #849
Yes, I'd be happy to make this consistent across related keywords.

[2017-07-13 20:19] pekkaklarck commented on #849
This would be handy but can be surprisingly big task:
- If we use Selenium's logic for assertions and it doesn't support case-insensitivity, we need to move the whole assert logic to the library side.
- Testing and documenting these changes is a big task regardless how easy implementation is. This got very clear when same support was added to BuiltIn's comparison keywords recently:
https://github.

[2017-07-13 20:28] aaltat commented on #849
Although selenium does not support it might be possible to do with xpath: https://stackoverflow.com/questions/2893551/case-insensitive-matching-in-xpath . If it does not work with xpath, then with those element related keywords, it is easy get the text and convert it to lower/upper case. Then with page related keyword the performance hit may be too high if we do not it working with xpath (sorry fo

[2017-07-14 00:42] willmiraglia commented on #839
@aaltat - That's a good idea. If you could give me that script then I could try it?
@iradovanovic  I've not been able to get FF running yet via Jenkins headless. But I'm working on it. My thinking is this is also a chrome update problem perhaps, but installing older chrome versions can be a pain too. I'll look into it.

[2017-07-14 06:50] iradovanovic commented on #839
So, the chrome is a problem or just they are not compatible. After installing an older version of chrome (48) and an older chromedriver, everything is working again.

[2017-07-14 07:03] aaltat commented on #839
Here is code snippet:
[code]
Put it in a `script.py` file and run in from Jenkins. If it produces the same result, raise an issue to Selenium side.

[2017-07-17 18:17] jsevern55 opened #851 "Add keyword that checks focus"
This was reported and closed on :

Adding a keyword such as `Element Should be focused` would be _very_ useful.

Is there a way to check this currently in RobotFramework?

Thank you for your time

[2017-07-17 22:58] glipautomationuser1 commented on #839
@aaltat Thanks, I'll try that out.

[2017-07-17 23:00] glipautomationuser1 commented on #839
@iradovanovic  Very Interesting, so it must be chrome. That would explain why the problem occurred over night, most likely after chrome updated. I'll try figure out how to downgrade chrome and test it too. Although 48 seems very old, I'll try downgrade incrementally until it works again.

[2017-07-19 14:44] aaltat commented on #851
That was closed because of inactivity in the issue, which usually means that need for the request has ended. Could you describe your need or requirements why you want to check a focus? Also could you describe what a focus means in your case?

[2017-07-19 16:03] jsevern55 commented on #851
Thanks for the reply

I test div modals for w3c compliance (accessibility testing), and one of the many requirements is to verify visual/operational focus on forms is placed on the first available user modifiable element within the form.

When an element gains visual and operational focus (usually they go hand in hand), the user should be able to begin typing immediately for text fields, use up or

[2017-07-25 06:00] juncsun opened #852 "Double Click Element does not work for firefox"
Hi,
  In my test webpage, there is one element on doubling clicking which there will be one new dialog displayed, or on clicking right mouse button there will be one context menu displayed, but while I am using Double Click Element or Open Context Menu by firefox browser, neither works.
However, while I am using chrome browser, the Double Click Element works(I did not have a try for Open Context M

[2017-07-30 10:26] aaltat commented on #851
Sorry for the long delay but I am holidays and I have limited access to the internet.

I am unfamiliar with the topic, but I generally understand the topic. As far I recall the selenium API, the are not any direct support for this in the selenium API. Is the focus generally visible somehow in the DOM or how does it work?

[2017-07-30 10:30] aaltat commented on #852
The Firefox support for Selenium is at best on beta stage, because of the Firefox moving to use the geckodriver. Unfortunately there is not anything that we could help on the Selenium2Library side. If the latest geckodriver and Selenium version doesn't help, please raise an issue to the Selenium issue tracker.

[2017-07-31 10:57] ngoyalx commented on #677
I was facing the same issue specifically for mac. Following worked fine for me.

JavascriptExecutor jse = (JavascriptExecutor)driver;
        String screenWidth = jse.executeScript("return screen.availWidth").toString();
        String screenHeight = jse.executeScript("return screen.availHeight").toString();
        int intScreenWidth = Integer.parseInt(screenWidth);
        int intScreenHeight =

[2017-07-31 15:58] aaltat commented on #839
Is this still a problem or can we close the issue. If we can close the issue, it would be nice to hear how the problem was solved.

[2017-07-31 16:05] aaltat commented on #822
Are you planning to continue on this track or can we close the issue?

[2017-07-31 16:58] aaltat commented on #769
Closing due inactivity. If you think this is a problem, please provide details and we can consider opening the issue.

[2017-07-31 16:58] #769 closed, assigned to nobody

[2017-08-01 05:55] juncsun commented on #852
Got you. Thanks for your information. I will try again with firefox beta version

[2017-08-01 08:45] vandanarach commented on #614
@nilsfr
I use version 1.7.4 of Selenium2Library, version 2.50.0 of Selenium and Robot Framework 2.8.7

I run on Windows 7 and use Python 2.7.8

I am facing the below error:
Setup failed:
WebDriverException: Message: Unable to find a matching set of capabilities

Please may I know how to fix this issue?

[2017-08-01 11:11] aaltat commented on #614
This is not a same issue. Please raise a new one or preferably ask from Robot Framework user group.

[2017-08-01 15:44] #822 closed, assigned to nobody

[2017-08-01 22:21] jsevern55 commented on #851
No worries at all. I just got back from a vacation myself.

If you reference this [stack overflow help topic](https://stackoverflow.com/questions/7552169/test-if-an-element-is-focused-using-selenium-webdriver), you'll see that selenium webdriver has a solution for this. I'm aware that robot framework utilizes selenium2library, but there is a solution in the selenium world.

Essentially, this funct

[2017-08-02 07:45] aaltat commented on #851
I see your point. I think this would be good addition to the library. Few things to consider, from implementation point of view:
1) Now you are suggesting assert type of keyword, should there be also wait type of keyword?
2) Returning boolean is not necessary a good idea. If focus is not in the right element, raising error is better.

Would you be willing to submit a PR? If you are remember to wri

[2017-08-02 11:10] tuxayo opened #853 ""Textfield Value Should Be" applied on a textarea gives wrong error message"
The error message says something wrong about the value when it should complain about not finding the element or the element being of the wrong type.

Is the above correct?

Versions:
[code]

[2017-08-02 12:14] aaltat commented on #853
There would be different error if the element would not be found, it would raise ValueError if element is not found. Now it raises AssertionError because the text is not expected.

When text field does not contain text, Selenium returns Python `None`. Based on the error message I would assume that your text field is empty, locator is pointing to the wrong element or there is a timing issue.

[2017-08-02 12:20] aaltat commented on #853
Because Selenium2Library working as expected l, I am closing the issue. If you feel differently, please state why you feel so and we can reconsider opening the issue.

[2017-08-02 12:20] #853 closed, assigned to nobody

[2017-08-02 15:43] aaltat commented on #851
Keyword should not returning a boolean (True/False) value. Instead keyword should fail (raise an error/exception) if the element does not have a focus and keyword should pass if the element has a focus.

PR is a pull request, it's a way to contribute code to the github repository. More details in here: https://help.github.com/articles/about-pull-requests/

[2017-08-02 15:45] aaltat commented on #851
And creating PR explained in here: https://help.github.com/articles/creating-a-pull-request/

[2017-08-02 16:49] jsevern55 commented on #851
Creating a pull request would imply that I am contributing code. I do not have code to contribute. I was under the impression that I could request a change, and that a contributor could code the solution.

I do not have sufficient understanding of robot framework to code this solution.

[2017-08-02 17:37] HelioGuilherme66 commented on #851
Thanks @WinterSoldier55
I'll investigate and propose the code and tests.

[2017-08-02 17:38] jsevern55 commented on #851
@HelioGuilherme66, thank you very much!

[2017-08-02 17:41] aaltat commented on #851
Yes, me requesting a PR from you, means that you would also provide the code. But it's not mandatory, submitting issues and providing ideas how to enhance the library is great too.

If you don't want to provide the implementation, then it waits for someone else to provide the implementation. Currently I am focused to fix the final things for the next release [1] and I not taking anything else for

[2017-08-02 17:48] aaltat commented on #851
@HelioGuilherme66 Selenium documentation shows an example how to compare elements: http://selenium-python.readthedocs.io/api.html#selenium.webdriver.remote.webelement.WebElement.id

[2017-08-02 18:55] aaltat commented on #852
I did mean that Firefox support for Selenium is not fully ready. Therefore the problem, most likely, is in Selenium or somewhere in the browser specific implementation.

If the latest Firefox, geckodriver or Selenium doesn't solve the problem, please raise an issue to the Selenium or geckodriver side.

[2017-08-03 09:42] tuxayo commented on #853
Thanks for your answers, I hope to have the time in the next few days to respond.

But for now I'm found another problem that might be related.

While trying to debug a test that I'm writing, I ended up using a bogus css selector and a bogus locator.
And here the messages that I got:

[code]

[2017-08-03 10:28] tuxayo opened #854 "doc: "Textfield Value Should Be" should mention that it doesn't work on hidden fields"
Where `type="hidden"`

Is that behavior that I just found correct?

I guess it also applies to "Textfield Should Contain" ?

For anyone else trying to the same thing, here is a solution:
[code]

[2017-08-03 10:57] aaltat commented on #854
Yes, if element is hidden, underlying Selenium will always return `None`. This is because Selenium mimics what real users can do and real users can not not see or interact with hidden elements.

To solve your problem, you could try the `Get Element Attribute` keyword.

[2017-08-03 10:58] aaltat commented on #854
And to answer to your question, yes documentation can always be enhanced. Would you like to make a pull request?

[2017-08-03 16:35] hariprasadv-eng commented on #565
facing the same kind of errors while installing json library

[2017-08-03 16:43] aaltat commented on #565
It would be best to check the spelling and remember that in library imports case does matter.

If that doesn't not help, then please report the issue to the Json library issue tracker. This is Selenium2Library repository and we don't support Json library.

[2017-08-03 16:44] hariprasadv-eng commented on #565
Thanks @aaltat

[2017-08-04 02:16] juncsun commented on #852
Really Thank you aaltat. I will try again with latest Firefox/geckodriver/Selenium. And follow your suggestion if that still does not work.

[2017-08-04 06:48] vishalekhe commented on #690
I have used modified webdriver.py and it worked for me.

We use robot.run() function to start the automation tests. With mentioned solution, I need to get manually the session id & url i.e. command_executor with some program and then feed it to webdriver.py. If browser closes I need to it often.

Is there a way to pass session id and command_executor to robot.run() which will take care passing ses

[2017-08-04 08:33] aaltat commented on #851
@WinterSoldier55 please take a look #855 and is it what you expected.

[2017-08-05 00:15] jsevern55 commented on #851
@aaltat, the code seems to work as expected!

[2017-08-07 02:09] justcby opened #856 "Could not close browser with Selenium3"
Hi,
In my test webpage, use keyword "Close Browser" to close current browser , it meet error and failed message is only "quit"
But before upgrade firefox and selenium version , it's fine for my scripts.
Would you pls help to tell me whether there is something error in my env? Thanks so much

Firefox 52.2.1 (32-bit)  on windows,
Robot Framework 2.8.7
Selenium2Library: 1.8.0
Selenium: 3.4.3

[2017-08-07 03:33] justcby commented on #856
WebDriverException: Message: quit

[2017-08-07 05:55] ksmanoj commented on #677
@ngoyalx Thumbs up

[2017-08-07 08:10] HelioGuilherme66 commented on #856
Did you download and place in a PATH location, the "geckodriver" executable?

[2017-08-07 08:33] justcby commented on #856
yes. seem use geckodriver latest version v0.18.0 have this problem. but use oldest geckodriver version, after it close browser , it will alert that"Firefox has stopped working"  ...
due to firefox version ?

[2017-08-08 19:06] aaltat commented on #856
I did read the code and basically `Close Browser` keyword it does this:
[code]
Which is the standard way to close the browser.

But perhaps this was a problem with the Firefox because I can not reproduce the problem with 54 or 55 versions. Could you update your FF, try again and report back how it go.

[2017-08-08 19:07] aaltat commented on #852
Was your problem solved or did you report the problem to selenium/FF? If you did can we close the problem?

[2017-08-08 22:25] drumaster17 commented on #839
@aaltat Did you solve the problem ? because I'm also facing the issue

[2017-08-09 07:26] justcby commented on #856
@aaltat I update FF to 54 , it is work now.. Thanks

[2017-08-09 08:38] #856 closed, assigned to nobody

[2017-08-09 08:38] aaltat commented on #839
No, I am unable to reproduce the problem and therefore I am not able to fix it.

[2017-08-09 11:32] Zabi-Py opened #857 "Unable to install Robot framework. Getting error "except pkg_resources.VersionConflict, e:""
Im trying to install robotframework and i got the following error, Environment - Windows 10, Python 3.6.2, Selenium 3.4.3

C:\Users\Zabihullah>pip install robotframework-selenium2library
Collecting robotframework-selenium2library
  Using cached robotframework-selenium2library-1.8.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "

[2017-08-09 13:19] aaltat commented on #839
But you could my script from few posts above. If you get the same results with that Selenium script, then the problem is in Selenium. In that case you need to report that problem to the Selenium issue tracker.

[2017-08-11 14:16] imardari commented on #677
Thanks @kormbrek-rally
Do you know by any chance how to achieve the same result but with Safari on Mac?
When I use
`maximize browser window`
It just ignores that line(because it does not maximize it)
I'm using:
Python(PyCharm IDE)
robotframework==3.0.3.dev20170213
selenium==3.4.3

Thanks and Cheers!

[2017-08-11 14:30] kormbrek-rally commented on #677
sorry @imardari only working with Chrome in a Docker image lately.
[Set Windows Size](http://robotframework.org/Selenium2Library/Selenium2Library.html#Set%20Window%20Size) should help the testing to be consistent rather than relying on the desktop dimensions anyways.

[2017-08-11 16:03] pekkaklarck commented on #851
Somehow "Should Have Focus" would sound better to me than "Should Be Focused". Probably better to ask an opinion from some native English speaker, though.

Is there also a negative version of the kw like "Should Not Have Focus"?

[2017-08-12 19:36] aaltat commented on #851
The current keyword name is `element should be focused` which is similar than other keyword names.

There is not negative version.

[2017-08-12 20:04] aaltat commented on #857
The Python 3 is not supported by the 1.8.0 release. The good news is that the Python 3 support is available but not yet released. You can install with pip from GitHub repository, see more details in pip documentation: https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support

But because this is known issue and workaround exist, I am closing the issue.

[2017-08-12 20:04] #857 closed, assigned to nobody

[2017-08-12 20:05] aaltat commented on #851
Done is #855

[2017-08-12 20:05] #851 closed, assigned to HelioGuilherme66

[2017-08-12 20:06] aaltat commented on #719
This is done is #845

[2017-08-12 20:07] aaltat commented on #843
This is done in #845

[2017-08-12 20:07] #843 closed, assigned to aaltat

[2017-08-12 21:01] aaltat commented on #742
By looking the tests, the `${PY_VERSION}`  variable is not used in anywhere. Because it is not used anywhere, I think we could remove the variable and also remove the code that sets the variable.

If it starts to look that having that variable could be useful in some situation, we can add it back.

[2017-08-12 21:06] aaltat opened #860 "Fix slack invite link and picture in README.rst"

[2017-08-12 21:21] #742 closed, assigned to aaltat

[2017-08-13 06:58] aaltat commented on #609
Closing due inactivity

[2017-08-13 06:58] #609 closed, assigned to nobody

[2017-08-13 06:59] aaltat commented on #581
Closing due inactivity

[2017-08-13 06:59] #581 closed, assigned to nobody

[2017-08-13 09:34] Zabi-Py commented on #857
Kindly release Python3 support for Robot framework asap.

[2017-08-13 13:47] Zabi-Py commented on #857
Also can you please give the command here to install using vcs. Im still facing issues. May be im doing it wrong

[2017-08-13 16:19] aaltat commented on #857
See example here: https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch

[2017-08-15 07:35] cnyzgkn opened #862 "Are there selenium actions of 1) mouse wheel scrolling 2) hold mouse wheel for a while?"
I am using selenium to simulate mouse/key actions.
Everything is OK expect I can't do these things below:
1. simulate mouse wheel scrolling to control webGL scene scale.
note: Just want to simulate mouse middle button(wheel), not scroll the whole page up/down.
Currently Selenium already has click() for left mouse and context_click() for right mouse, but no

2. hold mouse wheel and drag-drop
drag_a

[2017-08-15 10:18] aaltat commented on #862
Those things don't exist in the Selenium2Library, but it might be possible to implement your own keyword for those ones. If I would need to do such things, I would look to the Selenium ActionChains documentation: http://selenium-python.readthedocs.io/api.html#module-selenium.webdriver.common.action_chains

[2017-08-16 05:30] cnyzgkn commented on #862
@aaltat Thanks a lot for your comment.
Unfortunately I am new on python.  I don't know how to implement my own version...
It seems all action commands are implemented inside \Lib\site-packages\selenium\webdriver but I can't find where to add it.
Could you please give some hints?

Than you

[2017-08-16 12:14] nnadarajah-resilient opened #864 "`Press Key` doesn't send hash character (#) to an input filed"
Hey y'all.

I think I may have found a bug on **Press Key** builtin method, reasonably confident :-), details as follows.
http://robotframework.org/Selenium2Library/Selenium2Library.html#Press%20Key

I've been sending keys like below for a input field
**01234\#56789+*** and
**01234#56789+*** and
**0123456789+*#** and
**\\\\35**
**\\35**
**0123456789+*\\35** where **\\35** is decimal value, please

[2017-08-16 12:35] aaltat commented on #719
The doc update is missing, reopening.

[2017-08-16 12:53] pekkaklarck commented on #719
Here's an example from a similar docs from XML library:
http://robotframework.org/robotframework/latest/libraries/XML.html#Boolean%20arguments

The main differences in S2L compared to XML are that also string `NONE` is considered false (this will change in RF/XML too) and that same logic applies also to `None` argument, not only to booleans.

[2017-08-16 15:15] aaltat commented on #864
The `#` is a special character in Robot Framework and you need escape it: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#escaping

If you still have problem after escaping the `#` could you place provide example which we all can run and see the result. Also telling the selenium, browser and browser driver version is useful information.

[2017-08-16 15:56] boakley commented on #864
@aaltat: # isn't special except when it's the first character at the start of a cell. It doesn't need to be escaped in the middle of a string.

[2017-08-16 15:59] boakley commented on #864
For what it's worth, I can't duplicate this issue with Selenium2Library 1.7.4 and selenium 2.53.6. For example, `press key  ${locator}   01234#56789+*`  correctly inserts all of the characters.

[2017-08-16 16:01] nnadarajah-resilient commented on #864
cheers for the swift response guys, much appreciated.
I'm setting everything up on windows now, let me try chrome & ff driver in windows and see what the outcome is.

the described incident here is experienced in
ubuntu 16.04,
ChromeDriver 2.31.488763
geckodriver 0.18.0

I shall report back the status on windows.

[2017-08-16 20:53] nnadarajah-resilient commented on #864
Hey guys,
Apologies for the delay.
I can confirm this is a linux bug,
works like a charm in windows 7.

Below are the linux specs where this bug can be reproduced.
ubuntu 16.04,
ChromeDriver 2.31.488763
geckodriver 0.18.0

here is my pip list on linux box

`Here's my pip list on linux box
[code]

Hope it helps.
Thanks
Niro

[2017-08-16 20:59] boakley commented on #864
how did you confirm it was a linux bug? Do you have the exact same version
of selenium and Selenium2Library on windows and on linux? I'm not able to
reproduce it on my linux box.

On Wed, Aug 16, 2017 at 3:53 PM, nnadarajah-resilient <
notifications@github.com> wrote:

[2017-08-16 21:06] nnadarajah-resilient commented on #864
Yes I do.
here's my pip list on windows

`
apipkg (1.4)
Appium-Python-Client (0.24)
certifi (2017.7.27.1)
chardet (3.0.4)
colorama (0.3.9)
coverage (4.4.1)
decorator (4.1.2)
docutils (0.13.1)
execnet (1.4.1)
idna (2.5)
mock (1.0.1)
pip (9.0.1)
py (1.4.34)
pytest (3.1.3)
pytest-cov (2.5.1)
pytest-pythonpath (0.7.1)
pytest-xdist (1.18.2)
requests (2.18.2)
robotframework (3.0.2)
robotframework-appium

[2017-08-17 14:11] nikhilrajgarhia commented on #588
Hi,

Even i face the same issue. In-spite of adding wait like 'Wait Until Page Contains Element', it didn't fetch the element text. I have used this statement just above the line where I am fetching the text.
Eg:
Wait Until Page Contains Element    ${elementsInList}    timeout=120
${textValue}    Get Text    ${elementsInList}

[2017-08-17 14:41] iradovanovic commented on #839
Sry for the late response. I was on vacation. :)

We have a workaround with using fix version of chrome. 58 and disabled chrome update. Using last chrome webdriver. Also on other our VM where is used win7 and/or win10 the problem is not presented. Only Win 8.1.

[2017-08-18 06:59] aaltat commented on #588
Could you open a new issue

[2017-08-18 07:05] nikhilrajgarhia opened #865 "Get Text in Sel2Lib not working"
Hi,

I am not able to get the text from element. Even though I added wait like 'Wait Until Page Contains Element', it didn't fetch the element text. I have used this statement just above the line where I am fetching the text.
Eg:
Wait Until Page Contains Element ${elementsInList} timeout=120
${textValue} Get Text ${elementsInList}

[2017-08-19 01:34] juncsun commented on #852
Hi,tatu,Sorry that I don't realize that I can close it.Will do that soon.

发送自我的三星盖乐世智能手机。
-------- 原始信息 --------由： Tatu Aalto <notifications@github.com> 日期: 2017/8/9  03:07  (GMT+08:00) 收件人： robotframework/Selenium2Library <Selenium2Library@noreply.github.com> 抄送： juncsun <aofei_2000@163.com>, Author <author@noreply.github.com> 主题： Re: [robotframework/Selenium2Library] Double Click Element does n

[2017-08-19 01:42] #852 closed, assigned to nobody

[2017-08-19 09:08] aaltat commented on #865
The Selenium returns Python `None` if the element is not visible or if the element does not contain any text. To be able to help you better, could you provide example which we all can run?

[2017-08-20 06:37] aaltat commented on #839
Because Selenium2Library is a thin wrapper on top of the Selenium, this definitely feels like a Selenium bug. @iradovanovic please open a issue to the Selenium side.

@drumaster17 and @glipautomationuser1 have you found a solution to your problem?

[2017-08-20 20:04] aaltat commented on #574
This is now implemented in #863

[2017-08-20 20:05] aaltat commented on #412
I think this is now implemented by #863. If you disagree, please send an update.

[2017-08-20 20:05] #412 closed, assigned to nobody

[2017-08-20 20:07] aaltat commented on #864
I would check that the selenium, browser and browser driver are exactly the same in both windows and linux. If they  are same then I would report the issue the Selenium issue tracker.

[2017-08-20 21:06] #719 closed, assigned to nobody

[2017-08-21 06:26] nikhilrajgarhia commented on #865
Yes, its returning None.
I am running the scripts on my application, So, it wouldn't be available for everyone to test. But, for an overview, I will provide with a piece of code and the screenshot.

'${ctcElements}  Get Webelements    xpath=//div[@colid='full_inc']/gt-grid-currency-cell
${ctcElemLength}    Get Length    ${ctcElements}
#Log To Console    ${ctcElemLength}
Sleep  10s

${ctcList}  Cre

[2017-08-21 06:59] Yoganand0708 opened #868 "Open browser with profile name as argument"
I am using Selenium2Library on one of my Linux machine and

I am launching different firefox sessions manually at the same time by using profiles concept.

Below is the command which I use in case of linux.

firefox -no-remote -P "<Profile_Name>"

So the same i wanted to try from Selenium using "**Open Browser**" which takes _<Profile_name>_ as an argument.

Could you please help me if it is possi

[2017-08-21 09:13] aaltat commented on #868
It's not possible to use the profile name, but it's possible to use a path to the profile which you want to use. Please see the `Open Browser` keyword documentation for more details.

[2017-08-21 09:18] aaltat commented on #865
Because I don't see the application I am flying blind, to be able to help you better, could you provide example which we all can run?

[2017-08-21 10:29] nikhilrajgarhia commented on #865
No, It wont work out of the Network.

[2017-08-21 11:52] Yoganand0708 commented on #868
Hi aalat,

Yeah, I can use the Profile path but my issue here is, I can't launch more than one firefox session in case of linux,

So to launch multiple firefox sessions, I was using profiles concept incase of linux.

Could you please help me with below info:-

1) Does using the path and launch using different profiles is one and the same?
(I see this as this value as this would overwrite the curre

[2017-08-21 14:11] aaltat commented on #868
Firefox should automatically create a new profile for each browser when used from selenium. If that does not work, then it is bug in selenium (not in Selenium2Library) or in Firefox side. The only limiting factor for how many browser you can have open should be the resources on your PC, not the amount of profiles for your Firefox.

Please open a new issue to the selenium or/and Firefox issue track

[2017-08-21 14:12] aaltat commented on #865
Well, could you create an example by using that is publicly available?

[2017-08-21 14:31] aaltat commented on #862
How to build you own library is explained in the user guide: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#creating-test-libraries

Also in user guide it's explained how to get the active Selenium2Library library instance from Robot Framework: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#getting-active-library-instance-from-robot-frame

[2017-08-21 14:31] #862 closed, assigned to nobody

[2017-08-21 18:26] anupamdas24 commented on #676
Unable to launch firefox 52.0 version with Geckodriver 32 bit or 64 bit in the Windows 64 machine.

Browser Version: Firefox 52.3.0 (32-bit)
Gecko version: 0.16, 0.17, 0.18 [Tried all these 3 versions]

[2017-08-21 18:29] anupamdas24 opened #869 "Unable to work on firefox remote browser with gecko browser 0.15, 0.16, 0.17 and 0.18"
Unable to launch the Firefox remote branch with the gecko driver.

[2017-08-21 18:45] aaltat commented on #869
Please read this: https://github.com/robotframework/Selenium2Library/blob/master/CONTRIBUTING.md#submitting-issues and fill the missing details.

As a side note, cross posting on several issues is not good practice.

[2017-08-22 05:15] aaltat commented on #676
This issue is already closed and most likely your issue is not the same as this one. Therefore please open a new issue or seek support from http://robotframework.org/#support

[2017-08-22 07:44] aaltat commented on #854
Closing due inactivity.

[2017-08-22 07:44] #854 closed, assigned to nobody

[2017-08-22 07:45] aaltat commented on #834
Closing

[2017-08-22 07:45] #834 closed, assigned to nobody

[2017-08-22 11:51] nikhilrajgarhia commented on #865
Sure, will create one and share.

[2017-08-25 08:08] #772 closed, assigned to pekkaklarck

[2017-08-25 08:26] aaltat commented on #777
Project is now renamed as SeleniumLibrary

[2017-08-25 11:07] pekkaklarck opened #873 "Enhance project documentation in README"
- [x] Add real usage example
- [x] More info about project history
- [x] Supported Python versions
- [x] Use by setup.py to get same content to PyPI (this was originally #254)

[2017-08-25 21:52] aaltat commented on #860
This is now done

[2017-08-25 21:52] #860 closed, assigned to nobody

[2017-08-28 06:57] aaltat commented on #869
Closing doe inactivity

[2017-08-28 06:57] #869 closed, assigned to nobody

[2017-08-28 06:57] aaltat commented on #868
Is this a still a problem or can we close the issue?

[2017-08-28 06:57] aaltat commented on #865
Is this still a problem or can we close the issue?

[2017-08-30 06:37] nikhilrajgarhia commented on #865
Yes, I am still facing the issue. Let me provide you an example.

[2017-08-30 19:57] aaltat commented on #118
I haven not heard complaints about this for a long time, in Mac or any other platform. There has been some installation problems, but they all have been for Python 3. I think we close the issue.

[2017-08-30 19:57] #118 closed, assigned to nobody

[2017-08-30 20:00] aaltat commented on #150
There are plenty of blog post available how to setup xvfb with selenium. Also there is Robot Framework library for xvfb: https://github.com/drobota/robotframework-xvfb I think this can be closed.

[2017-08-30 20:00] #150 closed, assigned to nobody

[2017-08-30 20:03] aaltat commented on #176
This should have deprecated this in 3.0 Alpha release. We will make at least one release candidate, perhaps deprecation could be done in there. Adding this to 3.0.0 milestone.

[2017-08-30 20:04] aaltat commented on #144
Closing due inactivity.

[2017-08-30 20:04] #144 closed, assigned to nobody

[2017-08-30 20:05] aaltat commented on #201
Closing due inactivity.

[2017-08-30 20:05] #201 closed, assigned to nobody

[2017-08-30 20:06] aaltat commented on #205
Closing due inactivity.

[2017-08-30 20:06] #205 closed, assigned to nobody

[2017-08-30 20:08] aaltat commented on #374
Closing due inactivity

[2017-08-30 20:08] #374 closed, assigned to nobody

[2017-08-30 20:09] aaltat commented on #255
Do we still need this? We are writing better documentation for the library but is the manual installation really needed?

[2017-08-30 20:11] aaltat commented on #254
I think this is now done in: https://github.com/robotframework/SeleniumLibrary/commit/a10a421bf8012d6d3927e66571c89ecd5d2571c8

[2017-08-30 20:11] #254 closed, assigned to nobody

[2017-08-30 20:12] pekkaklarck commented on #255
No.

[2017-08-30 20:12] #255 closed, assigned to nobody

[2017-08-30 20:15] aaltat commented on #441
I recall many fixes on chrome driver side and in the library it self to make the alert more stable. Also due inactivity, I am closing the issue.

[2017-08-30 20:15] #441 closed, assigned to nobody

[2017-08-31 13:52] aaltat commented on #873
I think this was done by #877

[2017-08-31 13:52] #873 closed, assigned to pekkaklarck

[2017-08-31 16:15] aaltat commented on #864
Because this seems like a Selenium bug or a OS problem, I am closing this issue because we can not fix it in the SeleniumLibrary side.

[2017-08-31 16:15] #864 closed, assigned to nobody

[2017-08-31 16:16] aaltat commented on #839
Because this looks like problem in Selenium side, I am closing the issue.

[2017-08-31 16:16] #839 closed, assigned to nobody

[2017-09-01 01:08] chaussen opened #878 "Firefox gecko driver cannot start with python3 and new selenium2library"
ARCH LINUX 4.12.8-2-ARCH
geckodriver 0.18.0
firefox 55.0.3
python 3.6.2
Robot Framework 3.0.2 (Python 3.6.2 on linux)
robotframework-selenium2library (3.0.0a3)

traceback:
[code]

cheers,
john

[2017-09-01 04:46] aaltat commented on #878
Thanks from the report. Could you please tell how you use `Open Browser` keyword and was the Selenium version you are using?

[2017-09-01 05:52] chaussen commented on #878
selenium (3.5.0)
Open Browser      ${URL}   browser=ff

[2017-09-01 06:26] pekkaklarck commented on #878
1. What's the actual exception you got? The included traceback shows where the exception occurs but not what the exception is.

2. Could you test with other Python 3 versions than 3.6?

3. Could you test this with Selenium only?

[2017-09-01 08:53] pekkaklarck opened #879 "Document that Jython and PyPy are supported but IronPython is not"
Now that SL 3 is getting ready, it's a good idea to test how it works with alternate Python interpreter versions. This issue is mainly a reminder to check the overall status and update README accordingly.

If non-trivial fixes are needed to support alternate interpreters, that must wait for later releases. Separate issues can be submitted about different interpreters like we already have #410 abou

[2017-09-01 18:01] aaltat commented on #878
I can reproduce this problem with Python 3.5 Selenium2Library. Need to think what causes the problem.

[2017-09-01 18:15] aaltat commented on #878
Fixed in #881

[2017-09-01 18:19] aaltat commented on #868
Closing due inactivity.

[2017-09-01 18:19] #868 closed, assigned to nobody

[2017-09-01 18:56] #878 closed, assigned to nobody

[2017-09-02 14:57] pekkaklarck opened #882 "Externally useful attributes should be declared public and documented."
Old Selenium2Library has several attributes that are useful externally from custom libraries and extensions:

[code]

We should indicate that using these externally is OK by removing the leading underscore. The current WebDriver instance should also be accessible as a normal attribute (i.e. without calling a method like `current_browser()`) and we should name the attribute `webdriver` to make it e

[2017-09-02 19:18] aaltat commented on #176
We are not going to deprecate the old functionality, instead we are going to change the functionality.

[2017-09-02 20:53] aaltat opened #883 "Remove SeleniumLibrary profile for Firefox"
The SeleniumLibrary has long contained a custom Firefox profile, but the profile is based on very old version of Firefox. Also the profile was last updated in 2011. I would be better to use the default profile provided by the Selenium [FirefoxProfile](https://seleniumhq.github.io/selenium/docs/api/py/webdriver_firefox/selenium.webdriver.firefox.firefox_profile.html?highlight=firefoxprofile#seleniu

[2017-09-02 21:53] aaltat commented on #883
It seems that `geckodriver.log` is diverted by default to execution path, which is not nice. It would be better to divert the `geckodriver.log` to `${OUTPUT_DIR}` which is more logical place.

[2017-09-02 22:06] pekkaklarck commented on #882
This is mostly fixed if #884 is merged. The remaining decisions to make are:

- Should deprecated attributes be unit tested somehow? Shouldn't be too hard, but adding tests for features that are going to be removed pretty soon feels a bit like waste.

- What do to with `_browsers`?

[2017-09-02 22:50] pekkaklarck commented on #176
My changes in #884 change the behavior like this:

- In addition to the previously supported string `'Nothing'` It's possible to use string `'NONE'` (case-insensitively) as well as `None` and anything else considered false in Python to disable the run-on-failure functionality.

- The keyword returns `None` if the functionality was previously disabled.

The change is to some extend backwards incomp

[2017-09-04 07:46] iradovanovic commented on #839
Maybe just update - since chrome releases the new update... the black/white
screenshots is not presented anymore!

On Thu, Aug 31, 2017 at 6:16 PM, Tatu Aalto <notifications@github.com>
wrote:

[2017-09-04 20:28] #176 closed, assigned to nobody

[2017-09-05 11:09] aaltat opened #888 "Fix CONTRIBUTING.md"
https://github.com/robotframework/SeleniumLibrary/blob/master/CONTRIBUTING.md i outdated. Taka a look on http://www.contribution-guide.org/ and decide how it can be used.
- [x] Convert to reST.
- [x] Update doc

[2017-09-05 13:33] youarelev opened #889 "How to extend SeleniumLibrary?"
How to do something like this - https://github.com/rickypc/robotframework-extendedselenium2library/blob/master/src/ExtendedSelenium2Library/__init__.py ?

I have extended Selenium2Library (<3.0 version) like in example above, because I need to override some default keywords. After update to 3.0.0b1 S2L my my tests tell me that there are no any keywords found in my S2L extended library. P.S, I have

[2017-09-05 14:17] pekkaklarck commented on #889
How to extend the new SeleniumLibrary depends on what you actually want to do. If you just want to access attributes provided by the library, they should still be avaialble although some are deprecated. If you want to add new keywords, then you need to use extension mechanism provided by the [PythonLibCore](https://github.com/robotframework/PythonLibCore) that SL nowadays uses internally. Unfortun

[2017-09-05 14:17] aaltat commented on #889
Starting from 3.0.0 Alpha release the architecture of the [SeleniumLibrary](https://github.com/robotframework/SeleniumLibrary/blob/master/README.rst) has changed. The [Selenium2Library](https://github.com/robotframework/Selenium2Library) was renamed as SeleniumLibrary and currently Selenium2Library is only wrapper on top of the SeleniumLibrary. Many things has changed and it is possible that libra

[2017-09-05 14:42] youarelev commented on #889
S2L 1.8.0 was uploaded on 2016-08-25. But I saw S2L 2.9.2 few moths ago. Also I can install it using pip install robotframework-seleniumlibrary==2.9.2. Why it is not the latest version?

Small code example:
<><><>
from SeleniumLibrary import SeleniumLibrary

class Selenium2LibraryExtended(SeleniumLibrary):
def __init__(self, ...):
SeleniumLibrary.__init__(self, timeout=timeout, implicit_wait=impli

[2017-09-05 15:03] aaltat commented on #889
As Pekka stated, the library has moved to use the Dynamic API and the PythonLibCore. If you follow his instructions you should be able to extend your libraries. If you can not, could you provide more details where you are having problems, example by providing a simple and runable example will help a lot.

There are SeleniumLibrary and Selenium2Library. The history of two libraries are explained in

[2017-09-05 17:14] youarelev commented on #889
Thanks for explanation and links. Closing this issue.

[2017-09-05 17:14] #889 closed, assigned to nobody

[2017-09-06 09:42] chenry35 opened #891 "Fix setting cookie expiry date"
Hey,

I saw you deleted the optionnal argument expiry date on the keyword : add cookie.

Is there any way to add this option again? I want to add an expiry date on my cookie.

Thanks

[2017-09-06 09:49] aaltat commented on #891
The `expiry` argument was there but as you can see from the code from below (from release 1.8.0), it was not used anywhere.
[code]
I happy to review a PR which adds the argument and a logic which actually sets the expiry for the cookie.

[2017-09-06 11:04] HelioGuilherme66 opened #892 "Improve Documentation of Select Frame and Select Window"
When selecting a child frame (for example inside a `frameset`), we must go back to the main frame. There is no keyword for this, except `Select Window` without arguments. I propose to add text to `Select Window` to explain this, and to `Select Frame` to have reference to `Select Window`.
Add a note that frame or iframe are the same :)

Alternatively, modify `Select Frame` to accept `locator=None`

[2017-09-06 11:33] makwanaparth94 opened #893 "Not able to Run Protractor Test on Firefox browser"
Failed:
[INFO]     Build info: version: '3.5.3', revision: 'a88d25fe6b', time: '2017-08-29T12:54:15.039Z'
[INFO]     System info: host: 'MC0XSZYC', ip: '10.87.197.153', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_131'
[INFO]     Driver info: driver.version:

Eclipse raised these issue while running test on firefox

![image](https://user-images.githubusercontent.

[2017-09-06 12:04] aaltat commented on #893
This is [Robot Framework](http://robotframework.org/) library/extension and I think you are reporting this issue to wrong issue tracker. This project does not support Protactor and therefore issue is closed.

[2017-09-06 12:04] #893 closed, assigned to nobody

[2017-09-06 21:02] #883 closed, assigned to aaltat

[2017-09-06 21:09] aaltat commented on #882
1) I think that it is waste too, lets not do unit test for those.
2) Is the cache for drivers. There already are public API to register driver, get the current driver and switch between drivers and close driver. With those API it might be better to leave it private.

[2017-09-07 05:40] aaltat commented on #892
There is `Unselect Frame` which should return to the main, if I recall the code correctly. If using the unselect keyword is not clear from the ` Select Frame` keyword, the documentation could be enhanced.

[2017-09-07 05:42] aaltat commented on #865
How is that example going on?

[2017-09-09 18:15] pekkaklarck commented on #882
If we aren't going to add more tests and we'll keep `_browsers` as-is, isn't this issue done?

[2017-09-09 18:17] pekkaklarck commented on #777
The project is now renamed. There are still some external tasks remaining, like updating the info at http://robotframework.org, but I don't think we should use this issue to track them. I'd be ready to close this!

[2017-09-10 10:30] aaltat commented on #882
Yes it's. Closing

[2017-09-10 10:30] aaltat commented on #777
Mee too

[2017-09-10 10:30] #777 closed, assigned to nobody

[2017-09-13 05:59] alexandrul commented on #816
What should it do in this case? Get a screenshot of the desktop (hoping for some helpful message dialogs) or create an empty file?

[2017-09-13 06:26] ponkar opened #896 "Enhancement - Open Element In New Window"
We have often seen couple of Buttons or Links or any option need to be tested in a new tab. So I need review over this enhancement to understand what all challenges can be addressed.

I will be working to contribute with following keyword

Open Element In New Tab - Which will open the Link, Button or any locator which supports opening itself in new tab.

Comments are most welcome !!

[2017-09-13 06:30] ponkar commented on #896
@pekkaklarck Please suggest me if I there is any thing more over this enhancement , is it worth ?

[2017-09-13 06:51] nikhilrajgarhia commented on #865
Sorry for the late response. Here are few observations.

1) The issue is faced when I am trying to extract the text from the table which has scroll down/up feature. Even though the elements are available on the UI, but, I am not able to get the text.
1) It works fine when we have a table without scrolls.

Unable to provide the example since I didn't get any demo site online for which I can write t

[2017-09-13 06:55] pekkaklarck commented on #896
AFAIK Selenium doesn't support this. Please study that yourself and provide a pull request if it is possible.

[2017-09-13 06:57] ponkar commented on #896
Yes I will come up with PR

[2017-09-13 07:21] ponkar commented on #896
@pekkaklarck I am just figuring out how to test the python method I implemented in <Home_DIR>/SeleniumLibrary/src/SeleniumLibrary/keywords/element.py and test it in files in acceptance/tests folder

[2017-09-13 07:28] pekkaklarck commented on #816
I was initially thinking it should just log a message that a screenshot cannot be taken because browser is not open. Taking a screenshot of the desktop is a valid idea too. Should probably somehow separate that from normal case anyway.

[2017-09-13 09:01] pekkaklarck commented on #816
The simplest solution could be adding something like this to the beginning of the keyword:

[code]

but, as already discussed, taking a screenshot of the entire desktop might be even better. Either way, I don't think this needs any documentation changes but a new acceptance test is needed.

Ar you @alexandrul interested to look at this?

[2017-09-13 09:05] pekkaklarck commented on #634
All checkboxes in the description checked.

[2017-09-13 09:05] #634 closed, assigned to pekkaklarck

[2017-09-13 15:19] aaltat commented on #896
Official Selenium does not support tabs: https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/5572 The question asked in the selenium issue tracker are valid one, does your application behaviour change if it's opened in a tab or in a new window? Also remember that user can always decide to separate the different tabs on new windows. Or user may configure the browser to open new

[2017-09-13 17:08] aaltat commented on #865
If the element is hidden, example you need to scroll to see the element, then Selenium will return `None`, because real users can not see the text which is hidden. This is way the Selenium works and the SeleniumLibrary can not change it.

But because this turning more a support issue than a bug report or a feature request, I am closing the issue. For seeking support, please see: https://github.com

[2017-09-13 17:08] #865 closed, assigned to nobody

[2017-09-13 17:22] aaltat commented on #816
Taking a screen shot from a desktop might be problematic, because there might not be a desktop running. Example if using headless chrome or PhantomJS. Also there are other scenarios which might prevent taking a screen shot from a desktop, although it might be running. Example running the browser using the Selenium grid causes some problems.

Perhaps it would be best to split the issue in two parts

[2017-09-13 18:00] pekkaklarck commented on #816
It's a good point that it's not always possible to take a screenshot of the desktop. Let's not complicate this unnecessarily and just do the simple thing that avoids the annoying warning. I would even open a separate issue about taking a screenshot of the desktop unless someone really needs such functionality. It's anyway possible to use Robot's Screenshot library for that purpose if needed.

[2017-09-13 20:24] aaltat commented on #454
This was fixed in: https://github.com/robotframework/SeleniumLibrary/commit/87b3bae99ce8737aa238d808cb284288476e150d

[2017-09-13 20:24] #454 closed, assigned to nobody

[2017-09-13 20:36] aaltat commented on #239
The Java Selenium2Library in more or less dead, instead we should test do we support Jython, IronPython and PyPy, see #879 for more details. Closing the issue.

[2017-09-13 20:36] #239 closed, assigned to nobody

[2017-09-13 20:38] aaltat commented on #224
This is now days documented in the README: https://github.com/robotframework/SeleniumLibrary/commit/87b3bae99ce8737aa238d808cb284288476e150d

[2017-09-13 20:38] #224 closed, assigned to nobody

[2017-09-13 20:41] aaltat commented on #175
Duplicate of #188

[2017-09-13 20:41] #175 closed, assigned to nobody

[2017-09-13 20:49] pekkaklarck commented on #224
Should this be explained also in keyword docs?

[2017-09-13 21:04] aaltat commented on #224
Well in keyword doc it says:

For information about installation, support, and more please visit the [project page](https://github.com/robotframework/SeleniumLibrary).

Which should be sufficient.

[2017-09-14 05:17] aaltat commented on #888
Noticed that some parts should be moved to `tests/README.rst` file. Therefore the issue was reopened.

[2017-09-14 07:59] hidebear opened #898 ""Set Selenium Speed" doesn't work when called before opening browser in release 3.0.0b1"
Hello,
I have some test cases wrote by RF script and Selenium2Library(1.8.0) and worked fine.
However after upgrading Selenium2Library to 3.0.0b1, the keyword "Set Selenium Speed" doesn't work anymore, operating the browser by selenium becomes so fast that cause my original test cases failed.

Using keyword "Get Selenium Speed" after setting it, the result is the one I set it:

But observing the r

[2017-09-14 09:12] ponkar commented on #896
@aaltat Thanks for coming with Multiple Browser Checks. Based on your comments, I figured out that "Open In New Window" keyword works good both on Chrome, Firefox however the "Open In New Tab" doesnt work good on Firefox but works good on Chrome.

So out of 2 Keywords -

Open In New Tab, Open In New Window

I have retained only "Open In New Window" keyword and pull request for it is #897

@pekkakl

[2017-09-15 06:23] aaltat commented on #898
This is possible because this part was refactored when library new architecture was created. But there are two [acceptance test](https://github.com/robotframework/SeleniumLibrary/blob/master/test/acceptance/keywords/set_selenium_speed.robot) which try to ensure that `Set Selenium Speed` works correctly.

Would you be able to demonstrate the problem whit a simple test case which we could also run?

[2017-09-15 11:35] pekkaklarck commented on #898
This definitely could be broken after all changes to the code. As @aaltat pointed out, there are tests for this, though, and I couldn't reproduce this with a simple example either when using 3.0 beta 1 either.

Tatu, the second test you linked to has, in my opinion, overly long delay slowing down execution. Could easily save like 4 seconds there, but I'm not sure does it really matter in the big p

[2017-09-15 15:05] aaltat commented on #898
Yes the timeout is too long, usually the Selenium commands happen in fraction of the second. I will change the timeout to something smaller and test it with sauce labs too.

[2017-09-15 15:13] aaltat commented on #435
Note is added for the new keywords in release 3.0.0. There CONTRIBUTING instructions needs to be updated, but there are few others things which needs to changed in the CONTRIBUTING instructions, so there is a separate issue for that. Closing this one.

[2017-09-15 15:13] #435 closed, assigned to aaltat

[2017-09-16 20:35] pekkaklarck commented on #879
Results from testing:

- PyPy 2 and PyPy 3 both work fine. Only tested on Linux where PyPy is much better supported than on Windows, though.
- Jython 2.7 works fine. Tested both on Linux and Windows.
- IronPython doesn't work at all. Couldn't get even a [simple Selenium example](http://selenium-python.readthedocs.io/getting-started.html#simple-usage) to work either. If IronPython doesn't support S

[2017-09-16 20:39] pekkaklarck commented on #879
PR #902 documents the current Jython/PyPy/IronPython support. In practice we support Jython and PyPy but not IronPython.

To make sure we don't accidentally break Jython or PyPy support, we needed to add CI tasks to run tests on them automatically. Should separate issue(s) be submitted about that?

[2017-09-16 20:48] #879 closed, assigned to nobody

[2017-09-16 20:50] aaltat commented on #879
Separate issues would be better.

[2017-09-17 19:11] aaltat commented on #888
This is now done.

[2017-09-17 19:11] #888 closed, assigned to aaltat

[2017-09-17 19:21] aaltat opened #903 "Move unit and acceptance test to own folders and improve runners."
The current test folder structure is little bit messy and makes writing the instructions somewhat difficult. Also the test runner could be enhanced to better support PyPy and Jython.
- [x] Move unit and acceptance test to individual folders in the project root folder, like `utest` and `atest`
- [x] When running acceptance tests, it is still good idea to run unit test first.
- [x] When running acce

[2017-09-17 19:25] aaltat opened #904 "Make travis to also test with Jython and PyPy"
Based on the #879 Selenium and therefore SeleniumLibrary supports running tests with Jython and PyPy, but IronPython is not supported because Selenium does not work with IronPython. We should keep this compatibility and test it with all PR. Find way to run test in travis by using Jython and Pypy.

- [ ] Run test with Jython in Travis
- [ ] Run tests with PyPy in Travis

[2017-09-18 03:48] hidebear commented on #898
I just did a simple test about typing keyword and click search button on Google search page.

It was tested on both Win7 64bits and Win10 64 bits and the issue is reproducible.

below are the steps:

`(step 3 is the result ran with 1.8.0, executing time = 23 seconds)`
`(step 5 is the result ran with 3.0.0b1, executing time = 1 seconds)`

1) Here is test case:
[SetSeleniumSpeedTest.zip](https://git

[2017-09-18 09:08] pekkaklarck commented on #898
I can reproduce the problem with the provided example. I also noticed that the problem occurs if you call `Set Selenium Speed` before opening the browser, but not if you first open the browser and only then set the speed. Can you @hidebear test do you see the same if you change the order?

Things we need to do:

1. Check how the old and new code actually differ in this regard. Did the old implemen

[2017-09-18 09:53] aaltat commented on #898
I remember making the change, but I didn't see this one coming. In the version 1.8.0 we did always monkey patch the driver during the driver creation. Therefore `Set Selenium Speed` works also before creating the browser/driver. In release 3.0.0  that monkey patch is not done by default, instead it's done only when the `Set Selenium Speed` is called.

This change causes this problem and also one a

[2017-09-18 10:00] aaltat commented on #898
In 1.8.0 this was done always: https://github.com/robotframework/SeleniumLibrary/blob/v1.8.0/src/Selenium2Library/webdrivermonkeypatches.py

But in 3.0.0 it's only done in here: https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/keywords/browsermanagement.py#L707

[2017-09-18 10:13] ponkar commented on #896
We will include this enhancement in CLick Element keyword soon

[2017-09-18 10:13] #896 closed, assigned to nobody

[2017-09-18 10:14] ponkar opened #905 "Support holding shift and control when using `Click Element`"
There should be an option to open link, button or any element in new Window. So Click Element keyword can be enhanced with it.
@aaltat @pekkaklarck

If you suggest I will come up with PR to enhance click_element method

[2017-09-18 10:28] pekkaklarck commented on #898
After thinking this a bit more, I think we have three possibilities:

1. Set Selenium Speed affects all browsers. This is same as in earlier versions so no backwards incompatibility (bwic) concerns.

2. Set Selenium Speed affects only the active browser. This is the current behavior. Trying to use the keyword when no browser is open should cause a failure or warning.

3. Set Selenium Speed affects

[2017-09-18 10:32] pekkaklarck commented on #905
This is based on PR #897, right, and the idea is holding shift while clicking an element? As I commented earlier, we cannot really control what a browser does when you do that, so I wouldn't use term "open in new window" when talking about this. A generic enhancement to allow holding shift, control, and possibly other modifiers would be useful, though. I'll update the issue title accordingly.

Not

[2017-09-18 10:34] ponkar commented on #905
ok sure

[2017-09-18 12:37] pekkaklarck commented on #905
I noticed you submitted PR #906 related to this. Although I already commented that I won't have time for this issue until SL 3.0 final is out, here are some general comment about the issue and that PR:

- The optional argument specifying which modifier to use shouldbe be something like `new_window`. Better use something generic like `hold_shift` or just `shift`. An additional argument then for con

[2017-09-18 13:02] ponkar commented on #905
Fine so when is 3.0 planned to rollout ? So that accordingly later to it we can sync up to understand points for redesigning the existing framework.

[2017-09-18 13:12] pekkaklarck commented on #905
I hope we'll get SL 3.0 out soon but we don't have any real dead line. It's ready when it's ready. If you want to work with a PR already now, you can use, for example, `shift=False` and `ctrl=False` as the optional arguments.

[2017-09-18 16:16] aaltat commented on #905
I am thinking should we support this by using variable number of arguments or by using the keywords arguments. It could be really handy to build generic solution which would map to Selenium `Keys`

[2017-09-18 18:05] pekkaklarck commented on #905
You mean something like `SHIFT=True`? That would be generic and ought to be pretty easy to implement, but I'm not sure are there enough modifiers that actually make sense to press while clicking to make it worth it. Is there anything else than shift, control and alt? Supporting all Selenium Keys is a must with `Press Keys`.

Adding `**keys` to the signature would also have an annoying effect that

[2017-09-18 18:41] aaltat commented on #725
This is actually fixed in the 3.0.0 release: https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/locators/elementfinder.py#L263

[2017-09-18 19:10] pekkaklarck opened #908 "New `strategy:value` syntax to specify locator strategy in addition to current `strategy=value`"
Currently when specifying a non-default locator for an element, the syntax is `name=value` like in `xpath=//h1` or `css=h1`. This works well otherwise, but the same syntax is also used by [Robot Framework's named argument syntax](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#named-argument-syntax) and this can cause confusion.

Using the same syntax also causes actua

[2017-09-18 19:31] aaltat commented on #898
Because others timeouts are always global, it would be best to make selenium speed also global.

I will write few tests and provide a PR to fix it.

[2017-09-19 11:09] aaltat commented on #905
Yes, something like `SHIFT=True`. There are many different kind of UI out there, which can use other than `Ctrl` and/or `Shift`keys when clicking element (although the `Ctrl` and/or `Shift`keys are most common ones). If/when this is going to expand in many keywords, it would be better to think more flexible solution than the current toggling of two modifiers and it would be better that the keyword

[2017-09-19 18:10] aaltat commented on #517
Because this issue seems resolved I am closing the issues.

[2017-09-19 18:10] #517 closed, assigned to nobody

[2017-09-19 18:11] aaltat commented on #462
Yes, it is. I am seeing the same problem also in my CI.

[2017-09-19 18:54] aaltat commented on #410
This is actually done. The current SeleniumLibrary works with Jython. Next step would be to ensure that state is kept by running the test in Travis with Jython. For that Travis changes, there is a separate issue #904  and therefore closing this issue.

[2017-09-19 18:54] #410 closed, assigned to nobody

[2017-09-19 19:24] pekkaklarck commented on #879
Decided to change the issue from task to enhancement to get the now official Jython and PyPy support listed also on release notes.

[2017-09-19 19:29] aaltat commented on #117
I do not quite understand why we could like to do this. If someone could share some light why this would be useful, I am happy to hear it. But in mean time I am closing the issue.

[2017-09-19 19:29] #117 closed, assigned to nobody

[2017-09-19 19:32] aaltat commented on #663
This is more or less done. Closing the issue.

[2017-09-19 19:32] #663 closed, assigned to nobody

[2017-09-19 19:35] aaltat commented on #596
There has not been activity on the issue for long time and we are doing some cleaning with the issues. Is this a valid problem? If it is a valid problem, could you provide a example test which we all could run?

If there is not response to the issue, I am assuming that this is not anymore valid issue and will close the issue.

[2017-09-19 19:38] aaltat commented on #342
Closing due inactivity.

[2017-09-19 19:38] #342 closed, assigned to nobody

[2017-09-19 19:39] aaltat commented on #341
The current release 3,0,0b1 has had reasonable rework, there this might be fixed.

But in any case, closing due inactivity.

[2017-09-19 19:39] #341 closed, assigned to nobody

[2017-09-19 20:07] pekkaklarck commented on #905
- Are there really any other keys that work while clicking than shift, control and alt? If not, adding generic support for all Selenium keys isn't worth it.

- The problem caused by `**whatever` is pretty severe. I wouldn't use this syntax in 3.0 unless it really brings big benefits. In 3.1 it's more acceptable as users have time to switch the the new syntax introduced by #908.

[2017-09-19 20:14] aaltat commented on #816
The original issue is now done. If there is a need to take a screen capture from the desktop, separate issue should be raised.

[2017-09-19 20:14] #816 closed, assigned to nobody

[2017-09-19 21:03] pekkaklarck commented on #903
I don't think this is mandatory for rc1. Would be nice before the final 3.0 release but not a blocker for it either.

[2017-09-20 05:35] aaltat commented on #905
When looking Chrome and Firefox supported shortcuts, the only used keys, when performing a click, are `Ctrl`, `Shift` and `Alt`. So I think we can go with that. Then the keyword syntax would look like:
[code]
The order of arguments is not ideal in the example, because `alt` is least used. Perhaps `ctrl` or `shift` as first ones would be better.

[2017-09-20 05:38] ponkar commented on #905
So the only challange I see for using ctrl is when Click Element will work on Mac OSX then it will expect COMMAND key and in case of Non-OSX Os it will work with CONTROL key

[2017-09-20 07:30] aaltat commented on #905
At least chrome shortcut seems to use `command` instead of the `ctrl`. Also `command` is also a unique key in Selenium Keys. Implementing both `ctrl` and `command` should not that much of extra work. Testing the `command` is problematic because CI runs on Linux and I don't own a Mac. But if the logic for keys is universal we can unit test the logic and have acceptance test on for small subset of t

[2017-09-20 19:41] aaltat commented on #898
The #910 provides a fix for the problem.

[2017-09-20 21:12] #898 closed, assigned to nobody

[2017-09-20 22:45] pekkaklarck commented on #905
Using `shift=False, ctrl=False, ...` works fine but adds quite many new arguments. Not a big problem with `Click Element` alone, but I'm not sure is it a good idea to add them to all click related keywords.

Another alternative is adding just `modifier=None` that can be used in test data like `modifier=SHIFT` or `modifier=SHIFT+CTRL`. This could easily be implemented so that all Selenium keys are

[2017-09-21 09:51] aaltat commented on #905
True, having that kind of modifier is a good option to go. Also it should be still not too difficult to implement.

[2017-09-21 11:19] aaltat commented on #898
@hidebear the fix is now merged to the master and if you want you can try it out by installing the latest version master. For that see the instructions from the README: https://github.com/robotframework/SeleniumLibrary/blob/master/README.rst#installation

[2017-09-21 15:28] GLMeece opened #911 "Continue to allow access to _table_element_finder class"
Per discussion with @pekkaklarck on the Slack group...

## Essential Issue

Having created some Python helper functions, using the **Selenium2Library**, I have been able to leverage some of the private methods to accomplish some useful things for my testing framework. An example below shows a function `get_column_number` which used to be able to return the column number of whatever (valid) column

[2017-09-21 16:28] aaltat commented on #911
Using the private methods is always a risky, because they are private and not meant to used publicly. But also I have to admit that the old architecture was not very good and many things which where private should have been public. Let's think what can be done with your problem and can we make some of the methods public. Ed example had a need for the `ElementFinder` class, because he did want to o

[2017-09-21 16:57] GLMeece commented on #911
Thanks @aaltat - I only recently returned to the project containing these methods and encountered the issues indicated. I will look through my code and see where my particular pain points are, and then try to extrapolate to more general "rules" as to what makes sense to expose publicly. Thanks for your thoughts and help on this.

[2017-09-21 17:13] pekkaklarck commented on #911
Yeah, we should have a goal to expose stuff needed when extending the library publicly. This includes adding tests to ensure we don't break the public API in the future.

We also can add, and have added, some of the old private APIs back for the time being with appropriate deprecation warning. I doubt that's feasible with all APIs, though.

[2017-09-21 19:11] aaltat commented on #911
By looking that code snippet, if SL library `__init__`  would have this ` self.table_element_finder = TableElementFinder(self)`, then @GLMeece could access the methods he needs from the SL and TableElementFinder. Only thing he would have to change in his code would be `_table_element_finder` to `table_element_finder`.

[2017-09-21 20:04] aaltat commented on #911
The #912 proposes a fix for the problem.

Also did notice that @GLMeece  needs access to the `ElementFinder` but that is already available in the public API. Only thing need which needs change, in @GLMeece side, is `sel2lib._element_finder.find(sel2lib._current_browser(), locator)` to `sel2lib._element_finder.find(locator)`

[2017-09-22 00:21] GLMeece commented on #911
OK, never mind [my P.R](https://github.com/robotframework/SeleniumLibrary/pull/913). Yours does effectively the same thing plus a test.

[2017-09-22 00:24] GLMeece commented on #911
FWIW, my revised function using the P.R. that @aaltat created:

[code]

[2017-09-22 05:18] aaltat commented on #911
@GLMeece did you have time to take a look in your code base to find out other possible API which you may need?

[2017-09-22 05:30] pekkaklarck commented on #911
The new `get_column_number` function is so much cleaner when it doesn't need to touch `_private_parts`!

That function actually looks pretty generic. Stuff like this could be easily added to SL itself.

[2017-09-22 12:33] GLMeece commented on #911
@aaltat - I was working late at work on this particular issue as well as some others, so I was not able to finish examining the rest of the code base. However, taking a look at it now - most of what I have cared about has been for table-related things, so for my limited use-cases, this enhancement is good! :clap:

[2017-09-22 12:36] GLMeece commented on #911
BTW, @pekkaklarck - you are more than welcome to modify what I've done and include it in :robot: I'd be happy to make even small contributions to a project (and the people behind it) that has helped me so much!

[2017-09-22 14:39] aaltat commented on #911
@GLMeece  there are some changes in the `ElementFinder` and `TableElementFinder` methods ä, most notably change is that SeleniumLibrary doesn't anymore pass the `browser`/`driver` from method to another. Instead library uses context object, which provides access to common attributes or methods, example to the `browser`.

The @pekkaklarck idea sounds good one, but we should raise a separate issue a

[2017-09-22 15:25] pekkaklarck commented on #911
Yeah, I didn't mean this issue to become an issue about adding `get_column_number`. I'm not even entirely sure would it be a good addition, would that be a good name, what arguments it should accept, etc. It looks like a useful keyword, though, and something like that would probably be good to have in the library built-in. Should at the same time think what other table related keywords there shoul

[2017-09-22 17:44] aaltat opened #914 "Desing better interface for table keywords"
The `TableElementFinder` is poorly designed and it needs refactoring. The  `TableElementFinder`  does not support all the same locator strategies which are supported by the rest of library. It would be better to redesign the whole class to be better unified with the rest of the library.

Improvements for `TableElementFinder`
- [ ] Add more acceptance tests
- [ ] It should not matter which locator

[2017-09-22 17:52] aaltat commented on #911
We did discuss with @pekkaklarck about the code quality in the `TableElementFinder` and because the code is, hmm interesting (in a bad way), we decided to make the `TableElementFinder` as a private method for the library. This mean that after 3.0.0 release, there will be some thinking, designing and refactoring (read rewrite) of the table keywords.  Therefore we do not want the `TableElementFinder

[2017-09-22 17:54] aaltat commented on #911
Did forget to mention that keyword API is not intended to change, but the changes are planned in the underlying code.

[2017-09-22 21:24] GLMeece commented on #911
I realize that RF and related libraries are for testing and assertions. Regardless, there's still a lot of utility that can be leveraged (and often _has to be_ leveraged) by a test engineer. That is why I wrote this and similar routines in the first place.

A typical scenario: depending on various factors (user login, environmental factors, changing design), the specific column number might change

[2017-09-23 09:27] aaltat opened #915 "Design better table keywords"
I many times have a need to verify that table column contains something, but instead of using the existing keyword, I do not care about the order of column. It would be useful the check based on the column name that column contains the needed item.

Instead of this:
[code]
I would like to do this:
[code]
Also with table row, I do not care about the row index, instead I know some cell values in the

[2017-09-23 09:28] aaltat commented on #911
Created issue #915 where discussion about the table keywords should continue.

[2017-09-23 09:36] aaltat commented on #911
The PR #912 is now merged in master, which provides a fix for this problem. Therefore closing the issue.

@GLMeece if you want to try out the changes, then you can install from source, example like this: https://stackoverflow.com/questions/15268953/how-to-install-python-package-from-github

[2017-09-23 09:36] #911 closed, assigned to nobody

[2017-09-23 09:39] aaltat commented on #915
Before the can be done, we should improve the `TableElementFinder`, we have separate issue #914 to enhance it.

[2017-09-23 09:46] pekkaklarck commented on #911
@GLMeece It's fine that libraries are used programmatically by other libraries or any other code. We just need to make the related APIs public and stable. Whenever you are using something that `_starts_with_an_underscore` there's a risk that the API changes in the future. It's great that Python doesn't prevent you from using such private APIs, but you should acknowledge the risk. Probably the best

[2017-09-23 09:47] pekkaklarck commented on #911
@aaltat Shouldn't this issue actually be marked as duplicate of #882? Not sure do we need both of these in the release notes.

[2017-09-23 09:53] aaltat commented on #911
Ah I did remember that one, difficult question. I did already put this issue number in PR text and the PR is already merged. It is true that this kind of duplicate of the #882.  If we want to mark this as duplicate, then we should put the information in #882.

[2017-09-23 10:36] aaltat commented on #905
Then the keyword should look like this:
[code]
I am not that familiar with the Mac keyboard but `ctrl` and `command` are different keys. I don't know how the use cases are different with those two keys, but looking the Chrome shortcut it looks like `ctrl` is replaced with `command`. So having them thigh for same alias us ok for me. And it can be always changed if it wrong decision.

[2017-09-23 10:46] pekkaklarck commented on #905
Selenium supports both `COMMAND` and `CONTROL`, right? I'd map `CONTROL` (and possible `CTRL` alias) always to the control key and let users use `COMMAND` if needed. It's easy to handle this using variables in the data itself. Adding some new alias that matches control or command depending on the OS is possible too, but `CONTROL` should, IMHO, always mean control, not command.

[2017-09-23 10:47] pekkaklarck commented on #911
Marking this as a dupe for #882 would basically mean removing milestone and adding `duplicate` label.

[2017-09-23 11:01] aaltat commented on #905
Miss read from my side, my bad. Pekka is correct

[2017-09-25 12:40] chevi opened #917 "def _handle_alert has hard coded 5 seconds of wait, but must use selenium timeout value"
Hi

There is hard corded 5 seconds waiting time in keywords for browser alerts.
For example keyword **Confirm action**, if there is no alert will take 5 second until will be failed. The same for **Alert should be present**, etc. The main problem: it slows down tests.

What I suggest:
this keywords must use **Selenium Timeout** which is defined within importing library or by **Set Selenium Timeout*

[2017-09-25 14:36] aaltat commented on #917
This is true and good suggestion. Would you like to make PR to fix it?

[2017-09-26 08:05] pekkaklarck opened #920 "Better names for `Current Frame Contains`, `Focus` and `Simulate`"
Keywords listed on the summary are all somewhat badly named.

- `Current Frame Contains` should be renamed to `Current Frame Should Contain` to follow Robot's general naming convention.
- `Focus` and `Simulate` are not explicit enough. Better names are `Set Focus To Element` and `Simulate Event`.

We can add these new names in SL 3.0, but actually getting them changed isn't too urgent so we don't

[2017-09-26 10:55] pekkaklarck opened #923 "Tables should be located using same logic as other elements"
Currently table related keywords have their own logic for finding tables, and this logic doesn't support all the same locator strategies and syntax than the logic for finding other elements. This means the usage of keywords isn't consistent and that the functionality needs to be separately documented. Better to change table locating logic to use the same logic that is used for locating other eleme

[2017-09-26 10:58] pekkaklarck commented on #908
This issue is now otherwise done, but table related keywords still support only the `strategy=value` syntax. This is due to table keywords having their own locator logic. That's a bad idea in general and #923 aims to fix it.

[2017-09-26 11:09] #920 closed, assigned to nobody

[2017-09-26 11:50] aaltat commented on #911
@GLMeece when where looking at the library documentation and the `TableElementFinder` class, we decided to refactor the `TableElementFinder` and `ElementFinder` classes. This was done to unify the locator strategy with table keywords to match with the rest of the library, PR in #921

This refactoring caused that some of the internal methods which your original code did rely on, do not anymore exis

[2017-09-26 13:00] pekkaklarck commented on #633
All docs seem to be reST nowadays. I guess this issue can be considered done.

[2017-09-26 13:00] #633 closed, assigned to aaltat

[2017-09-26 13:06] pekkaklarck opened #924 "Enhance general library documentation in keyword docs"
The generated keyword documentation has generic part describing locator syntax, timeouts, etc. This is one of the first docs new users look so it is very important, but there are currently several issues with it:

- Not all functionality is adequately documented.
- Some features are documented in generic documentation part, others in library import section.
- Lot of the styles are messed up.
- New

[2017-09-26 13:07] pekkaklarck commented on #924
This has actually already been done as part of documenting the new locator syntax (#908).

[2017-09-26 13:07] #924 closed, assigned to nobody

[2017-09-26 13:14] pekkaklarck commented on #97
These docs have been highly enhanced as part of #924 and enhancements will be part of SL 3.0 rc 1. The latest version of the docs are here at http://robotframework.org/SeleniumLibrary/SeleniumLibrary.html.

[2017-09-26 13:14] #97 closed, assigned to nobody

[2017-09-26 13:15] pekkaklarck commented on #287
This has been fixed as part of #924. Hopefully we get rid of differences between table locators and other locators in general as part of #923.

[2017-09-26 13:15] #287 closed, assigned to nobody

[2017-09-26 13:18] pekkaklarck commented on #404
Related docs have been heavily enhanced by #924.

[2017-09-26 13:23] pekkaklarck commented on #455
- Taking a screenshot or running some other keyword is a really nice feature.
- Related docs have been updated heavily as part of #924.
- Having a way in Robot itself to easily run an action *only* when there's a failure would be nice, but discussion about such functionality belongs to Robot's tracker, not here.
- If such functionality would be added to Robot, then we could consider what to do wit

[2017-09-26 13:23] #455 closed, assigned to nobody

[2017-09-26 13:37] pekkaklarck commented on #809
#479 covers Python 3 support.

[2017-09-26 13:40] pekkaklarck opened #925 "Cleanup and enhance keyword documentation"
Issue #924 covered enhancing generic library documentation. Similar problems as described in it also in the actual keyword docs. Would be great to go through them too before SL 3.0 final.

[2017-09-26 13:40] pekkaklarck commented on #389
General library docs have been enhanced as part of #924 and we have #925 about going through docs of each keyword too. This issue can be closed in favor of them.

[2017-09-26 13:40] #389 closed, assigned to nobody

[2017-09-26 13:44] pekkaklarck commented on #925
Part of this issue is going through open issue related to documentation and see can they be fixed at the same time.

[2017-09-26 17:45] pekkaklarck commented on #274
This issue has nothing to do with this library.

[2017-09-26 19:52] #914 closed, assigned to nobody

[2017-09-26 19:53] aaltat commented on #908
After the #923 is merged the #926 updates the documentation.

[2017-09-27 11:38] ponkar commented on #905
Is any one of you going to work on this , Or shall i give a try so you guys can review it

[2017-09-27 11:40] aaltat commented on #905
Please go ahead with the PR, our development efforts are tied on the 3.0.0 release.

[2017-09-27 11:58] ponkar commented on #905
My Observations on chrome and fireofox browser on Mac / Unix / Win OS -

ctrl or cmd + click = Opens new tab but does not focus on new tab
ctrl or cmd + shift + click = opens new tab with focus on new tab
shift + click = Opens link in new window and focuses on new window

[2017-09-27 13:05] chevi opened #927 "Get Alert Message | dismiss=False --- doesn't work"
**Run test:**
[code]
**Result:**
With legacy Selenium2Library 1.8.0 - works fine, test passes
with 3.0.0b - fails, because dismiss=False doesn't work

[2017-09-27 13:17] pekkaklarck commented on #927
The reason for the behavior change is that when you use `dismiss=False`, you end up passing `False` as a string to the keyword and in S2L 1.8 its implementation is this:

[code]

String `False` is considered true in Python, so `self._close_alert()` is executed.

In S(2)L 3.0 the library considers string `False` to be false (#719), so nowadays the `else` branch is executed instead.

We've actually

[2017-09-27 15:42] pekkaklarck commented on #908
PR #923 fixed inconsistencies with table locators and #926 updated related docs. This issue can be considered done.

[2017-09-27 15:42] #908 closed, assigned to nobody

[2017-09-27 15:43] pekkaklarck commented on #923
This has been implemented by PR #921.

[2017-09-27 15:43] #923 closed, assigned to nobody

[2017-09-27 17:00] aaltat commented on #805
Let's change the functionality in that way keyword will not fail if the elements are not found.

[2017-09-27 18:37] pekkaklarck commented on #805
Yeah, returning an empty list is much better than failing. It's easy to validate list is not empty with `Should Not Be Empty` if needed.

I don't think this behavior needs to be configurable in test data level. I'm not against it either but don't think it:s worth the effort.

[2017-09-27 20:01] aaltat opened #929 "Check and fix `Get ... s` keyword not to fail if return value is empty"
Check keywords:
- [x] Get Cookies
- [x] Get List Items
- [x] Get Locations
- [x] Get Selected List Labels
- [x] Get Selected List Values
- [x] Get Window Identifiers
- [x] Get Window Names
- [x] Get Window Titles

[2017-09-27 20:08] aaltat commented on #927
As Pekka did explain, the library functionality has changed how Boolean arguments are handled. This is also explained in the keyword documentation: http://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Boolean%20arguments

I also agree that we should take a closed look with `Alert ...` keywords in near future.

[2017-09-28 06:23] eweseong opened #931 ""Open Browser" keyword crashes without error"
I've been getting intermittent error when running a robot script, the intermittent error happens during the "Open Browser" keyword. From the VNC, the browser seems to be opened but the URL wasn't inserted into the browser. Below is the robot log and output.xml. Do note that it is intermittent error.
[log.zip](https://github.com/robotframework/SeleniumLibrary/files/1339679/log.zip)

Environment Inf

[2017-09-28 06:46] aaltat commented on #931
The geckodriver log options are not changed in the selenium side, but if I recall correctly, the log goes to the folder where test execution starts.

Perhaps most easiest way to debug the problem is to write a small Python script which does the same thing as `Open Browser`. Example this could work nicely
[code]
Save it to a file and run it from the Linux. If you experience with same kind of proble

[2017-09-28 06:48] eweseong commented on #931
So currently there's no options to modify the log level from selenium side?

[2017-09-28 07:01] aaltat commented on #931
Here is the Selenium API: http://selenium-python.readthedocs.io/api.html#module-selenium.webdriver.firefox.webdriver

Only thing that directly relates to the geckodriver is setting the log file name.

[2017-09-28 07:04] eweseong commented on #931
Is using the **firefox_options** argument with https://seleniumhq.github.io/selenium/docs/api/py/webdriver_firefox/selenium.webdriver.firefox.options.html#module-selenium.webdriver.firefox.options a viable option?

[2017-09-28 07:09] aaltat commented on #931
I haven't looking into that direction for a long time,  because I don't actively test with Firefox in my day work. Reading the documents and trying out different options will give you better understanding than I have. Sorry that I can not help on this problem more.

[2017-09-28 07:11] eweseong commented on #931
no worries, thanks for the comment and advice, i will try to identify the root of the issue between selenium v selenium-robot first

[2017-09-28 07:11] #931 closed, assigned to nobody

[2017-09-28 07:19] pekkaklarck commented on #891
As @aaltat commented, expiry was removed by #847 because it wasn't used. It would be a lot better to fix it instead. PR #930 looks so promising that I assign this issue to SL 3.0 rc 1 scope.

[2017-09-28 07:22] pekkaklarck commented on #847
Issue #891 is about adding expiry back so that it actually works. If that gets done, then this issue should be removed from SL 3.0 scope.

[2017-09-28 07:37] pekkaklarck opened #932 "Add keyword to get all cookie information"
We currently have `Get Cookie Value` but it only returns the value, not other information such as expiry. We have few possibilities how this could be implemented:

1. Enhance the existing `Get Cookie Value` to allow returning other info too. For backwards compatibility reasons its default behavior cannot change, but it could get a new optional argument like `info='value'` that could be used like t

[2017-09-28 07:39] pekkaklarck commented on #932
I add this into SL 3.0 rc 1 scope because some kind of a way to get the expiry value would be needed by #891. If adding a new object and deprecations it would require is too much work, we can in SL 3.0 simply enhance the existing `Get Cookie Value`.

[2017-09-28 07:41] pekkaklarck commented on #891
This issue requires a way to get the current cookie expiry time. PR #930 proposed introducing new `Get Cookie Expiry` keyword, but I'd rather add a keyword for getting all cookie information and added separate issue #932 about that.

[2017-09-28 08:10] pekkaklarck opened #933 "Clean up keywords related to alerts"
The current alert related keywords are a mess. Biggest problems:

1. Selecting should the alert be dismissed by pressing `Ok` or `Cancel` needs to be done using separate `Choose Ok/Cancel On Next Confirmation` keywords. I think there used to be a technical reason to do it this way, but looking at the current code this doesn't seem to be the case. Much better to just pass this information as a norm

[2017-09-28 08:11] eweseong commented on #931
In case anybody wishes to change the geckodriver log level, the following steps managed to do it for me:

`${options}=   Evaluate   sys.modules['selenium.webdriver.firefox.options'].Options()    sys, selenium.webdriver`
`Call Method   ${options}    add_argument    "log": {"level": "trace"}`
`Create Webdriver    Firefox   firefox_options=${options}`
`Go To   http://www.python.org`

[2017-09-28 08:14] pekkaklarck commented on #933
The current situation is so bad that I assign this tentatively to SL 3.0 scope. If there's too much work, it may slip to 3.1. In that case we should at least enhance the docs a little.

[2017-09-28 11:45] pekkaklarck commented on #933
My initial proposal for a list of alert keywords is below. It's based on the actions you actually can do with alerts and influenced also by the existing set of keywords and how they behave.

1. `Alert Should Be Present [expected_message=None]`: Existing keyword but changed argument name. Old functionality is OK, but could also return the actual alert message. Can also consider adding negative vari

[2017-09-28 12:10] pekkaklarck commented on #933
My proposal above would mean that many of the existing keywords would need to be deprecated and removed later. My proposed actions and reasoning is below. Notice that with term *loud deprecation* I mean emitting a deprecation warning right now and *silent deprecation* means documenting that keyword is deprecated but not yet emitting a warning. Loudly deprecated keywords could then be removed alrea

[2017-09-28 13:19] aaltat commented on #932
I think that option 2 would be best but it might be challenging to do in the 3.0 scope. Then doing the option 1 would be nice.

[2017-09-28 13:26] pekkaklarck commented on #932
One thing to decide, regardless how we decide to return the information, is how to represent the expiry time. Apparently browsers store them in seconds (since EPOCH?) except for Safari that uses milliseconds. We should always use the same format, regardless the browser, and I don't think a plain integer (or float) is the best representation.

Probably the best idea would be using Python's standard

[2017-09-28 13:28] aaltat commented on #931
Nice to see that it's possible. If this turns to be a Selenium bug or something else related to underlying tools, would it be possible to get reference to the other project issue.

[2017-09-28 13:28] boakley commented on #933
How about instead of multiple new keywords, you add a single new keyword with a name  like `With the next alert` that takes actions as arguments.

For example:

[code]

Another possible name might be `When the alert pops up`

[code]

Note: "Click", "input text", "message should be" aren't keywords, though they could have the same as existing keywords I suppose.

[2017-09-28 13:39] aaltat commented on #932
I don't have knowledge how the expiry date of the cookie is stored. Is it possible that other formats than epoch is supported? By quickly googling it looks like that: https://stackoverflow.com/questions/6556930/python-persistent-cookie-generate-expires-field and
https://en.m.wikipedia.org/wiki/HTTP_cookie

[2017-09-28 14:47] pekkaklarck commented on #933
Examples by @boakley look nice but I see two problems with them in this context:

- The style is inconsistent with other kws in this lib.
- It's a bit strange to say `With next alert` when the alert is likely to have occurred at that point.

I wouldn't thus use this style here, but in some other context it could work really well. Also, I propose adding just one totally new keyword `Handle Alert`.

[2017-09-28 16:02] boakley commented on #933
The name could be `with the current alert` instead of `with next alert`, to
satisfy  your second concern. I certainly think it looks better in a test
than "Handle Alert", but I realize that's pretty subjective.

On Thu, Sep 28, 2017 at 9:47 AM, Pekka Klärck <notifications@github.com>
wrote:

[2017-09-28 17:01] pekkaklarck commented on #933
Yeah, these examples look nice. But as I said, the style they use is totally different than what other keywords use and I really like consistency. Also, the keywords provided by this library aren't really meant to be used directly on the test case level. They should be used by higher level keywords created as Robot's user keyword or by higher level libraries.

[2017-09-28 17:04] #805 closed, assigned to nobody

[2017-09-28 19:31] pekkaklarck commented on #927
I added #933 about cleaning up alerts and have been looking at the current and v1.8 code related to them. It seems we have broken `Dismiss Alert` at some point, but `Get Alert Message` works like earlier except that string `False` is now handled differently. That part is covered by #719 which is already marked as backwards incompatible. I think this issue can be closed.

[2017-09-28 19:31] #927 closed, assigned to nobody

[2017-09-28 21:44] pekkaklarck opened #934 "Regressions in `Dismiss Alert` and `Confirm Action` compared to 1.8"
At the moment (SL 3.0 beta 3) there are some regressions compared to version 1.8:

1. `Dismiss Alert    accept=${FALSE}` leaves the alert open but it in 1.8 it closes it regardless the value of `accept`. It's behavior to accept by default and require configuration to dismiss is strange, but we already have #933 about that and other alert related oddities.

2. `Dismiss Alert` always returns the mes

[2017-09-28 21:47] pekkaklarck commented on #934
Added new `regression` label. The idea is to use that label so that issues labeled with it will be seen in release notes of preview releases but not anymore in the final release notes.

[2017-09-28 22:08] pekkaklarck commented on #933
After some more investigation I noticed that some of the things I considered really strange were in fact repressions (#934). At the same time I found some new strange things, like `Input Text Into Prompt` not accepting the alert automatically. I have updated my earlier comments based on this new insight.

[2017-09-30 01:19] hidebear commented on #898
Hi, I just tried 3.0.0b2.dev1, set selenium speed before opening browser worked fine, thanks.

[2017-10-02 07:25] Zabi-Py opened #937 "Keyword definition and Variable definition not found error"
1. Keyword definition not found error is being raised for SeleniumLibrary keywords.
2. Autocomplete is also not working.
3. Variable definition not found error is raised even after importing resource file.
Can you please resolve this issue.

 RobotFramework = 3.0.2  robotframework-seleniumlibrary = 3.0.0.b3

[2017-10-02 09:53] aaltat commented on #937
Is this a problem in some editor or plugin you are using? And this is not related when test are run?

[2017-10-02 10:30] andreabisello commented on #533
@aaltat with @HelioGuilherme66 and another user in the slack channel , the need of a "Click Element Where Text Is" raised again. Due a solution can be the use of a xpath, maybe we can add this example in the documentation of Click Element with xpath locator?

[2017-10-02 10:46] pekkaklarck commented on #533
Searching "by label" is not same as searching "by text". When searching by label you'd find first a label element and based on it then the actual element. Then searching by text, you find the element directly based on its text content.

I'd be fine adding built-in support for both labels and text, but they both require someone to need them badly enough to provide a PR. Adding a new example to docu

[2017-10-02 11:44] Zabi-Py commented on #937
Not sure. Some keywords like "sleep,log, should be equal as strings,set global variable, run keyword if" are recognized while some other keywords like "click element,get text,page should contain element" throw Keyword defi

[2017-10-02 11:49] Zabi-Py commented on #937
*throw keyword definition not found error.  Some tests ran fine, while some failed. Just fyi these test cases ran fine in older versions of SeleniumLibrary

[2017-10-02 13:03] aaltat commented on #937
If this is a plugin related problem, then please raise an issue to the plugin developer issue tracker.

There has been lot of changes since release 1.8.0 and therefore it's possible that you have found a real problem in the library itself. For further assist we would example need a simple example, which I can run, that demonstrates the problem.

[2017-10-02 13:54] Zabi-Py commented on #937
I have raised an issue there as well. I couldn't figure where could be the issue (Library or plugin). I just rolled back to Selenium2library 1.8.0 and things are working fine now.

Have attached the script i'm using.
[Robots.zip](https://github.com/robotframework/SeleniumLibrary/files/1349107/Robots.zip)

[2017-10-02 14:21] andreabisello opened #938 "[Documentation] - Add how to use xpath to click text"
based on https://github.com/robotframework/SeleniumLibrary/issues/533 ,
i suggest to add this example that permits to Click Element where text contains

Click Element By Text
	[Arguments]			${text}
	Click Element 		xpath=//*[contains(text(),'${text}')]

[2017-10-02 14:34] aaltat opened #939 "Investigate glance and could it be used as one locator strategy"
Investigate could [glance-dom](https://github.com/quasimatic/glance-dom) used as one of the locator strategies.

[2017-10-02 14:40] berkis commented on #498
Hi everyone, what is the actual state of this issue please? So many commnets but cant see the resolution. Is it already implemented in sellenium2library? Or how can I track when the functionality (press multiple keys, e.g. CTRL+Z, CTRL + S) will be released? It is esential for upcomming work on my test cases. Thank you :)

[2017-10-02 14:46] aaltat commented on #498
If you feel that this is important for you, then please consider contributing. Currently this is out of scope of the 3.0.0 release. The next step would, for someone else than me, be draft acceptance test cases, to make sure that we agree on the design. Then the implementation could start by someone else than me and in some point we would have PR.

[2017-10-02 14:58] aaltat commented on #938
Would you like to provide a PR to fix the issue?

[2017-10-02 15:04] andreabisello commented on #938
@aaltat sure. i would to do this, but i don't know what i should to edit because https://github.com/robotframework/SeleniumLibrary/blob/master/docs/SeleniumLibrary.html is autogenerated. How i can learn how to improve documentation? You make a big work, and i want to help too, but i don't know how to do. Can you help me? thanks.

[2017-10-02 15:07] berkis commented on #498
OK, how can I contribute, what exactly can I do about this? I am very very new to this forum and all this stuff, but I am willing to contribute best I can. What do you mean by PR?

[2017-10-02 15:10] aaltat commented on #938
The keyword documentation is generated from the source code and from the methods which implements the keywords. Example `Click Element` is here: https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/keywords/element.py#L423

If you edit the method doc string, it will also update the keyword documentation in the next release.

[2017-10-02 15:11] andreabisello commented on #938
@aaltat very good.

[2017-10-02 15:43] aaltat commented on #938
The keyword documentation currently uses different mixture of styles, unfortunately. If you need to take an example, please see the library [__init__.py](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/__init__.py) and more details can be found from the User Guide: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#documenting-libraries

[2017-10-02 15:46] andreabisello commented on #938
@aaltat in fact i'm editing __ init __.py

[2017-10-02 15:58] andreabisello commented on #938
@aaltat not sure if this is correct, but i created a pull request https://github.com/robotframework/SeleniumLibrary/pull/940

[2017-10-02 18:32] aaltat commented on #937
The report looks like all test did succeed, so it does not look like a problem with the SeleniumLibrary.

SeleniumLibrary internal architecture has been changed a lot and example Robot Framework Library API has been changed to [Dynamic Library](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#different-test-library-apis) API. I have heard that many plugin or editors do

[2017-10-02 22:11] Tset-Noitamotua commented on #498
@berkis PR = pull request

[github pull request youtube](http://lmgtfy.com/?q=github+pull+request+youtube)
[how to github pull request](http://lmgtfy.com/?q=how+to+github+pull+request)

;-)

[2017-10-03 05:18] Zabi-Py commented on #937
Aaltat that test report belongs to Selenium2library 1.8.0.

[2017-10-03 05:36] aaltat commented on #498
Also if the feature is important for your company, consider asking from your company could they allow to do it on working hours. Also it's possible to pay someone to do the feature: https://github.com/robotframework/SeleniumLibrary/blob/master/README.rst#support

For contributing instructions, please first read: https://github.com/robotframework/SeleniumLibrary/blob/master/CONTRIBUTING.rst

[2017-10-03 18:55] berkis commented on #498
Thank you for the information provided.
Finally, I have found a workarround for my problem which might solve it, adhoc for me - I can remap in our app combined hotkeys to only single hotkey, e.g. CTRL + B = B.. Not very smart, since you have to be carefull what chars to use in text, but fast and cheap and working :D
As far as seleting text is concerned I have found out that javascript can be used

[2017-10-03 21:43] pekkaklarck opened #942 "Support configurable timeout with alert related keywords"
In S2L 1.8 alert related keywords use hard coded one second wait when looking for alerts. Currently in SL 3.0 beta 3 the timeout has been increased to 5 seconds but is still hard coded. As #917 already proposed, this timeout should be configurable.

We've made a decision that these keywords will use the same timeouts as `Wait ...` keywords by default, but they also have `timeout=None` argument to

[2017-10-03 21:43] pekkaklarck commented on #917
Closing this in favor of #942.

[2017-10-03 21:43] #917 closed, assigned to nobody

[2017-10-04 11:58] aaltat commented on #937
Is there something that you need from us, more details perhaps? Or is there some other reason why you did reopen the issue?

[2017-10-05 06:04] aaltat commented on #932
Done in #930

[2017-10-05 06:04] aaltat commented on #891
Done in #930

[2017-10-05 07:58] pekkaklarck commented on #891
Keyword documentation should still be enhanced:

- Link to DateTime would be nice.
- Should add examples.
- Should have a note that prior to SL 3.0 expiry didn't actually work.

[2017-10-05 07:59] pekkaklarck commented on #932
Attributes provided by the returned object should be documented. Using a table for attributes and adding some usage examples similarly as with [Process library's Result object](http://robotframework.org/robotframework/latest/libraries/Process.html#Result%20object) ought to work well.

Should also add a note that this keyword was added in SL 3.0.

[2017-10-05 08:31] Zabi-Py commented on #937
Please read my previous comment. It seems to be an issue with the library as well I guess.

[2017-10-05 08:56] pekkaklarck opened #943 "`Wait For Condition` should validate that condition contains `return`"
`Wait For Condition` requires the condition to return the value to be evaluated. For example, I just used

    Wait For Condition    document.title == 'Example'

and it didn't work. After reading the docs I changed it to this working variant

    Wait For Condition    return document.title == 'Example'

The keyword should check that there is `return` in the condition. This change can cause problem

[2017-10-05 09:26] pekkaklarck commented on #937
I read the comments and didn't find anything indicating this would be an issue in SeleniumLibrary. Notice also that libraries aren't in general responsible on locating keywords or variables.

I close this issue again. Please reopen it *only* if you have concrete information that indicates that the problem would be in SeleniumLibrary.

[2017-10-05 09:26] #937 closed, assigned to nobody

[2017-10-05 11:23] aaltat commented on #937
I am sorry but I am not able to understand what is your problem. Could you explain the problem more clearly? Example provide the stack trace of the error you are getting when you execute the test. Also example which we can also run and demonstrates the problem are really useful too.

[2017-10-05 15:27] #933 closed, assigned to nobody

[2017-10-05 15:27] #934 closed, assigned to nobody

[2017-10-05 15:27] #942 closed, assigned to nobody

[2017-10-05 16:34] #943 closed, assigned to nobody

[2017-10-06 03:42] eweseong commented on #931
it is a bug related to marionette, detail description of the issue can be found at [issue #979](https://github.com/mozilla/geckodriver/issues/979)

[2017-10-06 04:59] aaltat opened #946 "Change self.browser to self.webdriver"
Because ElementFinder supports finding elements also with WebElement it would be good to refactor `browser` to `webdriver` or `driver` in code side.

Deprecate the `browser` in next release candidate and remove it in release after that.

[2017-10-06 08:29] pekkaklarck commented on #882
We decided to change `browser` to `webdriver' still. We'll deprecate `browser` in 3.0 rc 1 so that early adopters aren't punished, but we'll remove it still before the final release.

[2017-10-06 08:34] pekkaklarck commented on #946
Public API is covered by #882. I reopened it with a comment that we are going to rename `browser` to `webdriver`. This issue can now be closed as its duplicate.

[2017-10-06 08:34] #946 closed, assigned to nobody

[2017-10-07 18:30] aaltat opened #949 "Enhancements to getting and validating element counts"
- Deprecate `Locator Should Match X Times`, `Xpath Should Match X Times` and `Get Matching Xpath Count`.
- Instead `Locator Should Match X Times` and `Xpath Should Match X Times` users should use: `Page Should Contain Element` keyword with `limit` argument.
- Instead of `Get Matching Xpath Count` create `Get Matching Locator Count`.

[2017-10-08 20:47] aaltat opened #951 "Add support for `find_element` and `find_elements` in `ContextAware`"
This could be handy to remove the need to use `first_only`argument.

[2017-10-08 20:54] pekkaklarck commented on #951
`find_elements` can be added also without touching `find_element`. In the long run I'd like `find_element` to work so that it fails if there isn't exactly one element. This would be backwards incompatible and definitely not worth the effort in SL 3.0. Adding the safe `find_elements` already now is, IMHO, a good idea.

[2017-10-08 20:57] pekkaklarck commented on #715
This is included in SL 3.0, right? Notice also that we have decided to deprecate `Get Matching XPath Count` in favor of more generic `Get Matching Locator Count` (#949) and the plan is that the new keyword will always return an integer.

[2017-10-08 21:00] pekkaklarck commented on #949
As discussed in comments of PR #950, the plan is that `Get Matching Locator Count` returns an integer, not string. This is different to `Get Matching Xpath Count`.

[2017-10-10 04:57] aaltat commented on #892
Done in #919

[2017-10-10 04:57] #892 closed, assigned to nobody

[2017-10-12 17:22] pekkaklarck commented on #574
I looked the implementation of this keyword a bit more closely and noticed several problems:

1. `Get Log` is a very generic name. The keyword should be renamed to `Get Selenium Log`.

2. Return value, at least when getting `browser` logs, is a list of dictionaries. This kind of format is not at all clear in Robot's logs and it's also inconvenient to use in Robot's data. A better solution would be

[2017-10-13 07:33] #932 closed, assigned to nobody

[2017-10-13 07:36] pekkaklarck commented on #891
Final issues have been fixed by 17a24ffc4bd87cd54ec30afa672003b51e30ee66.

[2017-10-13 07:36] #891 closed, assigned to nobody

[2017-10-14 22:56] aaltat commented on #882
I think it would be better to use `driver` instead of `webdriver`. `webdriver` is module in selenium, which might confuse people, which we are referring to. Also all example in selenium uses word `driver` when the refer to `selenium.webdriver.Chrome`

It would be good idea to change also `BrowserCache` to `DriverCache`

[2017-10-16 07:24] accesslubos commented on #574
@pekkaklarck When will this be released please?

[2017-10-16 07:59] pekkaklarck commented on #574
I don't know when this will be released. It requires someone who needs it to implement it so that the functionality is easy to use, well documented and adequately tested.

[2017-10-16 17:13] aaltat commented on #574
Perhaps we should look at the use cases point of view. For me the most interesting use case is not to get the Selenium logs, but to display the logs when error happens. I don't want to perform any checks on the log, instead I want to read the Selenium logs from the log.html when an error happens in the SeleniumLibrary keyword. Example I would like to do something like this:
[code]
And then the `Ge

[2017-10-17 18:16] aaltat commented on #949
Discussed with Pekka and we did decide the following:
- Rename `Get Matching Locator Count` to  `Get Element Count`
- Deprecate silently also `Locator Should Match X Times` and enhance `Page Should Contain Element` to take in optional `count` argument
- When `Page Should Contain Element` keyword `count is None` it should match to one or more elements. Just like the current keyword works
- When `co

[2017-10-17 19:04] pekkaklarck commented on #520
Good news, this keyword has already been renamed! See #920.

[2017-10-17 19:04] #520 closed, assigned to nobody

[2017-10-17 19:06] aaltat commented on #523
This is actually now done

[2017-10-17 19:06] #523 closed, assigned to nobody

[2017-10-17 19:14] pekkaklarck commented on #523
See #805 for details.

[2017-10-18 08:54] pekkaklarck opened #958 "`Wait Until Element Is Enabled` should also check `readonly` status"
`Element Should (Not) Be Enabled` validates that element is enabled and not read-only, but `Wait Until Element Is Enabled` only checks is the element enabled. For consistency reasons we should change the latter to also validate read-only status.

At the moment `Element Should (Not) Be Enabled` also checks is the element type is 'input', 'select', 'textarea', 'button' or 'option'. That's a bad idea

[2017-10-18 09:15] pekkaklarck commented on #226
IMHO the current `Page Should (Not) Contain` behavior is wrong. It shouldn't be documented but instead fixed. That is covered by #959.

[2017-10-18 09:15] #226 closed, assigned to nobody

[2017-10-18 09:26] pekkaklarck opened #959 "Fix and cleanup logic related to frames"
There are currently several problems with handling frames that should be resolved. Some of these problems are already covered by existing issues, but this new issue list all these highly related problems in one place. The whole frame handling logic should be rewritten and all these problems resolved at the same time.

1. `Page Should (Not) Contain` searches text from frames, but only searches from

[2017-10-18 09:29] pekkaklarck commented on #201
IMHO this is a very valid problem. Nowadays covered by #959.

[2017-10-18 09:30] pekkaklarck commented on #98
This is nowadays covered by #959 along with other frame related problems.

[2017-10-18 09:30] #98 closed, assigned to nobody

[2017-10-19 09:35] andreabisello opened #960 "Command line server for the IE driver has stopped working (upgrading to 3.6 from 3.4) using Open Browser. it works using Create Webdriver"
Initially i opened the bug report on SeleniumHQ because i thought the crash was related to the driver, but now i moved here becase i think the crash is related to seleniumlibrary.

You can take a look at this bug report https://github.com/SeleniumHQ/selenium/issues/4901 for the screenshot and all software version, anyway with this test case

[code]

you obtain a crash, but splitting Open Browser i

[2017-10-19 10:11] aaltat commented on #960
Could you provide more details?
- What did you actually upgraded?
- What was the used IE, IEDriver, Selenium and SeleniumLibrary versions?
- What Windows version you are using?
- Would you have an stack trace from the log file available?

[2017-10-19 10:27] andreabisello commented on #960
system :

OS:
Microsoft Windows 10 Pro 10.0.15063 build 15063
Selenium Version:
robotframework (3.0.2)
robotframework-ftplibrary (1.4)
robotframework-requests (0.4.7)
robotframework-selenium2library (1.8.0)
robotframework-seleniumlibrary (3.0.0b1)
robotframework-SikuliLibrary (0.1.5)
![image](https://user-images.githubusercontent.com/2149815/31766559-2bc456bc-b4c8-11e7-9d23-f2694af1fc22.png)

i'm

[2017-10-19 11:24] pekkaklarck opened #961 "Make it an error to unregister a locator strategy that hasn't been registered"
Currently if you try to unregister a locator strategy that doesn't exist, there's only a notification in the log file that no such strategy exists and nothing is done. This can lead to problems if, for example, there's a typo in the strategy name and the actual strategy is accidentally not unregistered. Better make this situation an error so that users see if there has been a problem.

[2017-10-19 11:26] pekkaklarck commented on #961
This is implemented by f3834708aa3dde1c60ac126ca14c1aaf22e20c1f and will be fixed if/when PR #956 is merged.

[2017-10-19 12:53] aaltat commented on #960
I was interested to see the stack trace on the log.html. One can see it when using --loglevel trace option from command line. Also what is the Selenium version you are using?

[2017-10-19 13:20] andreabisello commented on #960
@aaltat sure.
Selenium (3.6.0)
I attached the log in the zip file with the test.robot file
[log.zip](https://github.com/robotframework/SeleniumLibrary/files/1398484/log.zip)
.

[code]
![image](https://user-images.githubusercontent.com/2149815/31772928-5d063e84-b4e1-11e7-8880-f9cf56ebfa6a.png)

[2017-10-19 15:17] pekkaklarck commented on #960
I cannot open that zip on mobile. Could you copy the error and traceback here? Could you also translate errors to English?

[2017-10-19 15:48] andreabisello commented on #960
@pekkaklarck sure.

This is output.xml

[code]

i put here https://codepen.io/anon/pen/QqYJgz/ log.html to be readable

This error message "error: [Errno 10054] Connessione in corso interrotta forzatamente dall'host remoto" means  " Running Connection closed by the remote host".

i tried to

* run as administrator
* shutdown windows firewall

[2017-10-19 17:15] Zabi-Py opened #962 "Some checkbox keywords work also with radio buttons"
Kindly fix the issue for all Checkbox related keywords as to operate by its type.

For more info Refer https://groups.google.com/forum/#!topic/robotframework-users/GtgCudb5Ew0

[2017-10-19 19:02] aaltat commented on #960
Thank you from the input. I can reproduce the problem, but I think it is a Selenium problem. I will write pure selenium implementation and attach it to the Selenium issue.

[2017-10-19 19:08] aaltat commented on #960
It is a Selenium or an IEDriverServer.exe problem, with IEDriverServer.exe 3.5.0 and 3.6.0 this does not work:
[code]
But same code works with IEDriverServer.exe 3.4.0 it works fine. I will raise an issue the Selenium issue tracker and close this one.

[2017-10-19 19:08] #960 closed, assigned to nobody

[2017-10-19 19:18] aaltat commented on #960
Commented to the https://github.com/SeleniumHQ/selenium/issues/4901 issue that this looks like a Selenium or IEDriverServer.exe problem. Asked them to reopen the issue and lets follow what happens. But in any case, it is for Selenium maintainers to fix the problem.

[2017-10-19 19:19] pekkaklarck commented on #960
This is clearly an issue in the IEDriverServer.exe. Does it have its own issue tracker?

[2017-10-19 19:25] aaltat commented on #960
The difference, which causes the issue that `Open Browser` keyword calls the `set_script_timeout()` method by default. And calling this method causes the problem. The `Create Webdriver` does not call `set_script_timeout()` method and therefore the error does not happen.

@pekkaklarck as far I recall Selenium also makes the IE driver (Edge driver is made by Microsoft) and I do not know where that s

[2017-10-19 19:35] #958 closed, assigned to nobody

[2017-10-19 19:48] pekkaklarck commented on #960
Isn't it kind of a bug that Create Webdriver doesn't call set_scriot_timeout?

[2017-10-19 19:55] aaltat commented on #960
Well, good question. I do not have good opinion on the matter because the I do not use the keyword.

[2017-10-19 20:00] #961 closed, assigned to nobody

[2017-10-19 20:10] aaltat opened #963 "All silently deprecated keyword in 3.0 should be deprecated with warning."
In 3.0 release there was lot of keyword which where silently deprecated. In 3.1 they must be deprecated with proper warning to the users.

[2017-10-19 21:16] aaltat commented on #962
Would you mind to summer what you want to be fixed?

[2017-10-19 21:24] pekkaklarck commented on #962
According to the code, checkbox relates keywords actually operate with any input element and don't check is the element actually a checkbox. Haven't tested this and don't know has @Zabi-Py actually encountered this in real test.

Fixing ought to be trivial. It would be a similar change than my recent cleanups.

[2017-10-20 05:54] aaltat commented on #962
Having restrictions has it's good and downsides. There are many ways to create html elements that look and behaves in same way but when looking from the DOM they are totally different elements or have different attributes. That being said, I really hate those kind of elements, which does not follow standard and make life hard.

I am not aware that can check box be be created in any other way than

[2017-10-20 05:56] aaltat commented on #962
Did forget to ask, @Zabi-Py was this the problem which you wanted to be fixed?

[2017-10-20 06:04] Zabi-Py commented on #962
@pekkaklarck Yes I encountered this in my test. @aaltat Select Checkbox method should work after identifying the element type 'checkbox' similar to Select Radio button method

[2017-10-20 07:36] pekkaklarck commented on #962
Keywords that are affected are `Checkbox Should (Not) Be Selected` and `Select/Unselect Checkbox`. They use `_get_checkbox` helper which does `self.find_element(locator, tag='input')`. Other checkbox related keywords seem to use `tag=checkbox`.

The affected keywords use `is_selected` method on the returned element. The method has this documentation:

Based on this it seems that these keywords wor

[2017-10-20 13:42] pekkaklarck commented on #882
I actually prefer `webdriver` instead of `driver`. The former makes it explicit that this is a `WebDriver` object, not some other driver. I don't thing anyone would confuse `SL.webdriver` attribute with the `webdriver` module.

My guess is that Selenium examples use `driver` because in their context `WebDriver` can be assumed. Also, in their examples `webdriver` could actually clash with the `webd

[2017-10-20 21:14] pekkaklarck commented on #951
This is already done.

[2017-10-20 21:14] #951 closed, assigned to nobody

[2017-10-21 21:39] pekkaklarck commented on #938
This has been fixed by 4724be0.

[2017-10-21 21:39] #938 closed, assigned to nobody

[2017-10-21 21:55] boakley commented on #882
I agree with @aaltat - driver and browser both seem better than webdriver. I would prefer you stick with browser since the code is already in release candidate status and public interfaces shouldn‘t be changing.

[2017-10-21 22:06] pekkaklarck commented on #882
We aren't in RC yet. In earlier versions this attribute was `_browser` and thus it wasn't really public. The reason I'd call it `webdriver` is that it is an instance of `WebDriver` and tbe idea is that external users can use its functionality as needed. That name would make the situation explicit even without much documentation.

[2017-10-21 22:44] boakley commented on #882
Well, even in beta these types of changes shouldn’t be happening.

--bryan

[2017-10-22 19:53] #962 closed, assigned to nobody

[2017-10-23 09:59] pekkaklarck opened #966 "Cleaning up locating windows"
How to locate windows is pretty complicated and not very well documented. There are also lot of undocumented and untested features. This issue covers cleaning up the functionality and, very importantly, documenting it adequately.

As part of the cleanup, undocumented features that are not considered useful are deprecated or removed. Such changes are obviously backwards incompatible, but because th

[2017-10-23 10:46] aaltat opened #967 "Add sphinx style python signatures to important methods"
Adding sphinx style definitions helps users of the methods and IDE's to provide auto completions for arguments and return values.

- [ ] Change ContextAware class `param` to `param` and `type`to better support Sublime Anaconda plugin
- [ ] Add [find_elements](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/__init__.py#L407) to contain similar type of definitions a

[2017-10-23 14:59] aaltat commented on #882
Adding sphinx style definitions helps users of the methods and IDE's to provide auto completions for arguments and return values.

- [x] Change ContextAware class `param` to `param` and `type`to better support Sublime Anaconda plugin
- [x] Add [find_elements](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/__init__.py#L407) to contain similar type of definitions a

[2017-10-23 15:00] aaltat commented on #967
Decided that this is better be part of #882

[2017-10-23 15:00] #967 closed, assigned to aaltat

[2017-10-23 15:09] aaltat commented on #882
I prefer using `driver`, because that is defacto way of referring to the `WebDriver` instance.

I agree that making changes this late in release pipeline is causing problems for the end users who have extended SL with their own libraries. I am one of those users, too. But I also agree that the old public API, or lack of it, is also a big problem. I hope that we can now implement a better public AP

[2017-10-23 15:15] aaltat commented on #882
Did forget to say that the plan is to keep some of the old non public API interface in place, to ease the transition from S2L 1.8.0 to SL 3.0.0. If I recall correctly, @boakley requirements for the old API are pretty much the same as mine. But I know that if users have used `ElementFinder`, `TableElementFinder` or some other internal functionality, the code is not anymore backwards compatible.

[2017-10-24 20:11] aaltat commented on #949
Decided not to do `x..y` support in this issue. It is useful feature but, it is more important to get 3.0 rc1 out.

[2017-10-26 15:49] andreabisello opened #973 "win 10 ie 11 webdriver 3.6 Capture Page Screenshot doesn't capture what the browser is rendering"
This is what the browser is rendering

![image](https://user-images.githubusercontent.com/2149815/32062641-5ecccaf0-ba75-11e7-8727-4ade6e02e216.png)

this is the Captured image

![image](https://user-images.githubusercontent.com/2149815/32062804-da8c37a2-ba75-11e7-928b-9b2a0926d828.png)

Whare are the left and right colum gone?

this is a my customer web application, so i cannot share a test page.

[2017-10-26 15:58] aaltat commented on #973
It could be timing issue, if you put a sleep before the screen capture, does is the image then correct?

[2017-10-27 08:39] andreabisello commented on #973
I already wait a lot of seconds before creating the screenshot on a interface that needs no more than 2-3 seconds to be loaded.

Baseline Creation
	[Arguments]				${WHAT}
	Sleep					10s
	Log To Console 			Creando ${WHAT}
	Sleep					15s
	Capture Page Screenshot			img${/}${BROWSER}${/}${WHAT}
	Sleep					5s
    Reload Sikuli Image

i also wait 5 seconds after the screenshot creation to avoid write on

[2017-10-27 14:25] aaltat commented on #973
I see, then it's not a timing issue. The`Capture Page Screenshot` is really thin wrapper on top of the Selenium and I would suspect that is, again, problem in the IEDriver. Would you happen to be able to create an example which we all can execute. Then it would be easy to see where the problem is and most likely to push on the Selenium issue tracker.

[2017-10-27 14:33] andreabisello commented on #973
@aaltat yes. i'll make a test on a public website searching for somewhere the issue can be reproduced

[2017-10-27 15:22] InBugsWeTrust opened #974 "How to not wait for a page to load?"
Trying to find a way to e.g. click a button and continue with the next action without waiting for the page to load. Tried using Simulate (Simulate Event) and Mouse Down/Mouse Up but none of these helped.

Thanks a lot in advance!

[2017-10-27 15:34] andreabisello commented on #973
https://github.com/SeleniumHQ/selenium/issues/4973

[2017-10-27 15:34] #973 closed, assigned to nobody

[2017-10-28 07:28] aaltat commented on #974
One can not. The underlying Selenium is blocking type of API. Selenium will wait for the onload event from browser before it allows more interactions with the browser. Also Selenium is not thread safe and therefore that doesn't work either.

If you want to change the functionality, please raise an issue to the Selenium issue tracker. And because this is a feature of the Selenium, I am closing the

[2017-10-28 07:28] #974 closed, assigned to nobody

[2017-10-30 09:28] pekkaklarck commented on #949
The original issue description is outdated and needs to be updated. The title isn't ideal either as it doesn't mention the newly added `Get Element Count` nor enhancements to `Page Should Contain Element`. Perhaps the title should be something generic like `Enhancements to getting and validating element counts`. I reopen this issue until we get at least the misleading description fixed.

[2017-10-30 09:59] aaltat commented on #949
Fixed title and initial description. Closing issue.

[2017-10-30 09:59] #949 closed, assigned to aaltat

[2017-10-30 16:14] jsevern55 opened #975 "Wait until element is focused"
I created 'Wait until element is focused' in waiting.py. It works well, and I was hoping it could be added to the SeleniumLibrary

[code]

Is it possible to have this added?

[2017-10-30 16:30] aaltat commented on #975
Your needs is a valid one and sounds like a good idea to have. Next you have to choose from few options.
1) You will create a pull request to contribute.
2) Wait someone else to create the pull request.
3) Pay someone to create the pull request.

If you want to go with option one, then next step is explained in here: https://github.com/robotframework/SeleniumLibrary/blob/master/CONTRIBUTING.rst#co

[2017-10-30 17:21] pekkaklarck commented on #975
Could this be implemented somehow using Javascript so that the existing `Wait For Condition` could be used instead? Or could we add waiting support to the existing focus keywords? I don't have anything against adding this keyword, but I'm a bit concerned how many `Wait ...` keywords should we add to the library.

[2017-10-30 20:51] #966 closed, assigned to nobody

[2017-10-30 21:30] aaltat commented on #975
There is actually Selenium method which returns the currently active element: [switch_to.active_element](http://selenium-python.readthedocs.io/api.html?highlight=switch_to.active_element#selenium.webdriver.remote.webdriver.WebDriver.switch_to). Although it seems work little bit [differently in FF than in Chrome](https://github.com/SeleniumHQ/selenium/issues/4983) I would still prefer using the Sel

[2017-10-31 12:26] aaltat commented on #929
Only `get_selected_list_values` and `get_selected_list_labels` fails if list is empty. Write new issue about fixing  those keywords.

[2017-10-31 12:26] #929 closed, assigned to nobody

[2017-10-31 12:30] aaltat opened #977 "`Get Selected List Values/Labels` keywords should not fail if list has no selections"
`Get Selected List Values` and `Get Selected List Labels` keywords should return an empty list, not fail, if there is no selection

[2017-10-31 12:30] pekkaklarck commented on #929
New issue is #977.

[2017-10-31 12:32] aaltat opened #978 "When multiple elements are found by the locator and keyword interacts with single element, generate a warning in the logs"
Now if there are multiple elements found by the locator, then SL silently takes the first elements. This is not good implementation and we should want users about multiple elements found by the locators. We should perhaps display warning in the console and in the log.html that multiple elements. are found by the locator. Making this change is too late for 3.0 release.

Display warning in release 3

[2017-10-31 12:51] pekkaklarck opened #979 "`Get Cookies` should support returning cookies as objects and have better logging"
Currently `Get Cookies` returns a cookies as a string in format `cookie1=value1; cookie2=value2`. This isn't very useful if you need to actually handle all cookies somehow, and the return format isn't even documented anywhere. We should change the keyword to return cookies as a list (or ordered dictionary) of CookieInformation objects that were introduced as part of #932.

Changing keyword return

[2017-10-31 12:59] aaltat commented on #882
Document public properties and `find_elements` with sphinx documentation. At least document the types and if method document return types.

[2017-10-31 15:10] Mohorelien commented on #979
The current formatting is nice to be used directly as is (in headers) with the RequestsLibrary.
[code]
So I vote to not completely remove it later 👍

[2017-10-31 16:08] aaltat commented on #979
There seems to be real use case for the current format, we did not know that. Thank you for the input. We did have a different use case in mind and it's seems that we have to think this little bit more.

Because there is a good use case for the current format, we should provide support for it. Either by this keyword or by some other means. But it would be good to enhance keyword to actually return

[2017-11-01 10:48] pekkaklarck commented on #979
Thanks @Mohorelien for letting us know about this use case! Since the current format actually is useful, I think it's better we leave it like it is and add an optional argument like `objects=False` that can be used if CookieInformation objects are needed. This simplifies things a lot as adding such functionality is not backwards incompatible and we don't need to deprecate anything. Implementation

[2017-11-01 16:17] aaltat commented on #631
The documentation has been improved and there are links to the Selenium documentation and therefore I am closing the issue.

[2017-11-01 16:17] #631 closed, assigned to nobody

[2017-11-01 17:44] aaltat commented on #526
I did not remember that we did have this issue but this problem has been fixed in #972

[2017-11-01 17:44] #526 closed, assigned to nobody

[2017-11-01 17:48] aaltat commented on #462
But I can reproduce the problem with Selenium code also and therefore this is a Selenium bug. Please raise an issue to the Selenium issue tracker.

[2017-11-01 17:48] #462 closed, assigned to nobody

[2017-11-01 17:50] aaltat commented on #525
This is done #921 and therefore closing this issue.

[2017-11-01 17:50] #525 closed, assigned to nobody

[2017-11-01 17:54] aaltat commented on #384
The documentation had been updated in multiple PR and this is done. #877

[2017-11-01 17:54] #384 closed, assigned to nobody

[2017-11-01 19:01] HelioGuilherme66 opened #980 "New keyword "Get Browser Capabilities"."
This keyword was initially named "Get Browser Info" developed in PR #482 .
This keyword will be the base for the keyword "Get Browser Version" as requested on #569 .

The keyword by design returns a dictionary of Capabilities. This dictionary is DotDict, meaning that capabilities can be addressed either by index or by attributes. For example:
[code]

[2017-11-02 06:21] aaltat commented on #980
The enhancement proposal looks good.

[2017-11-02 06:23] aaltat commented on #569
Getting all the capabilities is better idea than having separate keywords to return only one value. Closing due #980.

[2017-11-02 06:23] #569 closed, assigned to nobody

[2017-11-02 06:35] aaltat commented on #444
We are doing this as part of #925, therefore closing this issue.

[2017-11-02 06:35] #444 closed, assigned to nobody

[2017-11-02 06:39] aaltat commented on #360
The window management keywords have been refactored as part of #968. Therefore I am closing the issue. If problem is still present, please send an update on the issue.

[2017-11-02 06:39] #360 closed, assigned to just-be-dev

[2017-11-02 06:41] aaltat commented on #513
This might be fixed with the current code in the master. @Tset-Noitamotua would you give it try and see if you are happy with the results?

[2017-11-02 06:43] aaltat commented on #486
This is only possible if we use Travis cron feature. For regular PR this is not possible and therefore I don't think we are going to use this. Closing.

[2017-11-02 06:43] #486 closed, assigned to nobody

[2017-11-02 06:45] aaltat commented on #340
We made improvements as part of #968. Please retest with the code in master.

[2017-11-02 15:00] ehhc opened #982 "GeckoDriver randomly returns Connection refused"
Hi,
I have the following issue and am a little bit clueless what might cause it: In my test environment my tests randomly fail because connection refused exceptions (see stacktrace below).
I’m using a CentOS 7 System with the newest available Firefox Version (Firefox 52) and the belonging GeckoDriver Version (geckoDriver v0.17).
I have found your discussion here: https://groups.google.com/forum/#!

[2017-11-02 17:36] aaltat commented on #982
Based on the error it looks like you are running Java version of the Selenium2Library. If I am correct, it would be better to ask from https://github.com/MarkusBernhardt/robotframework-selenium2library-java or from Robot Framework user group.

[2017-11-02 17:42] ehhc commented on #982
Hi,
Thanks for your quick reply. Yes, I am running a Java version of the Library (actually it is https://github.com/Hi-Fi/robotframework-seleniumlibrary-java). But if i understood it correct that's only a (Java) wrapper for your library. So i guess (even though it's wrapt by the seleniumlibrary-java) it's still a problem with your library.. So i guess here is a better place to ask for help..

[2017-11-02 17:45] aaltat commented on #982
At least the error points to the different library:

at com.github.markusbernhardt.seleniumlibrary.keywords.BrowserManagement.openBrowser(BrowserManagement.java:201)

[2017-11-02 17:49] ehhc commented on #982
Maybe you're right and i missunderstood it and it's not simply a wrapper.. Thanks for your help anyway :) I will close this issue therefor..

[2017-11-02 17:49] #982 closed, assigned to nobody

[2017-11-02 17:53] aaltat commented on #982
There are two ports to the Java, one from Markus and other from Hi-Fi.

[2017-11-02 17:55] ehhc commented on #982
The one from Markus is deprecaded and will not be maintained. The one from Hi-Fi continued the work from Markus (and renamed the Library). A lot of thinks (e.g. the classes -> the stacktrace) is still the same frome Markus..

[2017-11-02 17:58] aaltat commented on #982
Ah. Hi-Fi forked and also kept the name space. Good to know, although it's confusing. But in any case, please ask from the Hi-Fi issue tracker.

[2017-11-02 18:00] ehhc commented on #982
I did by now. Thanks again for your help. Unfortunatly Hi-Fi don't seems to be very active so i'm not quite sure if i will get such a quick answer like i got here. Thanks :)

[2017-11-03 09:53] pandabat commented on #498
You can still use my original "hack" from here if you're stuck and waiting for an official solution:

https://github.com/robotframework/SeleniumLibrary/issues/275

You may need to re-hack things after updates to the library but it will let you automate with such key presses until such time as this is formally adopted. Just be aware that you may need to update your code at that time so perhaps use

[2017-11-05 22:34] pekkaklarck commented on #892
Enhancing documentation in general is covered by #925. I'll mark this as its duplicate.

[2017-11-05 22:45] pekkaklarck commented on #925
This issue has taken ages to get done because there are so many keywords and some of their docs require a total rewrite. There have also been several nasty surprises with functionality, requiring us to do fixes such as #933, #966, #923, #958 and #942. I hope we've uncovered most of these surprises and it doesn't take too much time to finish this.

Below is a list of files under `src/SeleniumLibrar

[2017-11-05 23:25] pekkaklarck commented on #176
On a second though I don't think it is useful to support any value considered false on Python when disabling this functionality. Supporting just `None`, including strings `NONE` and `NOTHING` ought to be enough (and easier to document).

[2017-11-06 12:11] pekkaklarck opened #985 "`Set Screenshot Directory` is inconsistent with other `Set ...` keywords"
Keywords that set configuration values like `Set Selenium Timeout` and `Set Selenium Implicit Wait` simply change the value in library and return the old value to allow restoring it later if needed. `Set Screenshot Directory` works differently and instead tries to restore the old value automatically. This is problematic for various reasons:

- This behavior is inconsistent with other `Set ...` key

[2017-11-06 12:54] pekkaklarck commented on #513
I don't think this has changed. List related keywords only work with select elements.

[2017-11-06 12:55] pekkaklarck commented on #722
I think `values` is better name for the optional argument than `value`. I'll change it while doing cleanup to list related keywords and their docs in general. I'll also add a note that this argument is new in SL 3.0.

[2017-11-06 13:17] pekkaklarck commented on #977
I'll take care of this while going through the docs and code of list related keywords in general.

[2017-11-06 17:02] pekkaklarck opened #987 "New `Unselect All From List` keyword"
Currently all list selections can be unselected by using `Unselect From List` without any items like

    Unselect From List    mylist

This is pretty confusing, and adding separate `Unselect All From List` makes usage much more clear. We also already have `Select All From List`.

[2017-11-06 17:12] pekkaklarck opened #988 "Deprecate `Select From List` and `Unselect From List`"
`Select From List` and `Unselect From List` keywords try to select/unselect items both by values and labels. This makes their implementation complex and slow, and the code also seems to have some subtle bugs.

In addition to these keywords, we have dedicated keywords `(Un)select From List By Label`, `(Un)select From List By Value` and `(Un)select From List By Index` which are much more simple. We'

[2017-11-07 17:40] pekkaklarck opened #990 "Bugs finding table cells when row has both `td` and `th` elements"
Two somewhat related bugs:

1. `Get Table Cell` and `Table Cell Should Contain` fail to find cells if table row has `th` cells after `td` cells. This isn't too common.

2. `Table Column Should Contain` doesn't work with `th` cells at all when using negative indexes.

[2017-11-07 17:44] pekkaklarck commented on #419
@divfor was right, there shouldn't be `//tbody/tr/td[position()=last()-(%s-1)]` twice. I guess the original idea has been to use `th` instead `td` in one of them. That wouldn't have worked correctly with rows containing both `th` and `td` elements.

This problem caused bug that `Table Column Should Not Contain` doesn't work with `th` cells when using negative indexes. That's now reported as part o

[2017-11-07 19:46] aaltat opened #991 "Table keywords should not log source if they fail"
Currently table related keywords logs the page source and user can define the level on which the logging happens. But the logging the source and defining logging level are not useful features. It would be better to remove the source logging and logging level definition. Instead it might be useful to allow user to define custom error message, if they want, if the table related keywords fails.

Exam

[2017-11-07 20:06] #985 closed, assigned to nobody

[2017-11-07 21:43] pekkaklarck commented on #991
Should in general go through which keywords log the source, see does it make sense with them, and also see if some other keyword should get that functionality. In addition to that, should check how `message` functionality is used in general. Perhaps we should add it to all `Should` keywords?

[2017-11-08 00:03] pekkaklarck commented on #202
PR #984 is going to add this note to Input Password's documentation:

        Difference compared to `Input Text` is that this keyword does not
        log the given password on the INFO level. Notice that if you use
        the keyword like

        | Input Password | password_field | password |

        the password is shown as a normal keyword argument. A way to avoid
        that is using vari

[2017-11-08 00:03] #202 closed, assigned to nobody

[2017-11-08 00:04] pekkaklarck commented on #188
This could/should be done as part of #925. Closing this issue.

[2017-11-08 00:05] #188 closed, assigned to nobody

[2017-11-08 00:07] pekkaklarck commented on #925
Issue #188 proposed adding examples to `Wait For Condition`. Sounds like a good idea to me but I don't have any good examples in my mind. Any ideas @aaltat or others?

[2017-11-08 00:10] pekkaklarck commented on #925
All keyword docs have now been reviewed and cleaned up, but not all PRs with the changes (see [my comment above](https://github.com/robotframework/SeleniumLibrary/issues/925#issuecomment-342012257)) have yet been merged. Once they are, we need to still regenerate the docs and see there are no obvious problems. Otherwise this issue is about to be done.

[2017-11-08 14:57] aaltat commented on #991
Generally I feel that logging the source is useless, although there might be some rare cases where it could be useful. I have to say that my run on failure keyword, maximize the browser, take screenshot and logs the source, but I usually never actually look at the source dump. Therefore I feel that we should remove the source logging from all keywords. Also unifying the `message` argument is a goo

[2017-11-08 15:05] #990 closed, assigned to nobody

[2017-11-08 15:09] #722 closed, assigned to aaltat

[2017-11-08 15:09] #977 closed, assigned to pekkaklarck

[2017-11-08 15:09] #987 closed, assigned to nobody

[2017-11-08 15:09] #988 closed, assigned to nobody

[2017-11-09 08:58] pekkaklarck commented on #925
This issue is finally about to be ready. Still need to review the generated docs and fix possible problems. The docs can be found from http://robotframework.org/SeleniumLibrary/SeleniumLibrary.html

[2017-11-14 07:47] aaltat commented on #925
The documentation looks OK for me. Closing the issue.

[2017-11-14 07:47] #925 closed, assigned to nobody

[2017-11-14 20:22] aaltat commented on #882
The sphinx documentation is done in #994

[2017-11-14 20:35] #882 closed, assigned to nobody

[2017-11-15 14:22] antho03 commented on #292
It's ok for type in first username textfield but how can i input on password field ?

[2017-11-15 14:29] aaltat commented on #292
Please ask the question in the Robot Framework user group or open a new issue. First one is preferred.

[2017-11-17 03:48] ybian19 commented on #574
is there any plan for this issue? I think it's really helpful if we have a keyword for getting the log about console errors when load a page.

[2017-11-17 07:15] aaltat commented on #574
Yes it's useful feature. To implement this in better way we would need information about your use case. My use case is that I only want to put the all logs provided by the keyword in to the log.html report in info level. But I just want to log the Selenium logs and I don't want perform any checks against the Selenium logs. Is your use the same or is it different? If it's different, could you descr

[2017-11-18 11:33] outcatcher opened #997 "Strange exception class for not finding element in waitings"
SeleniumLibrary v. 3.0.0rc1

For waiting keywords implemented using ``waiting._wait_until``, ``ElementNotFound`` is caught and replaced with `AssertionError`.
It's bit misleading, as ``ElementNotFound`` is pretty expectable error in case element can't be found.

So intuitive (e.g.):
[code]
won't catch exception in this case, as it is instance of `AssertionError`

[2017-11-18 12:04] aaltat commented on #997
I agree that exception is not in all cases the most describe one. But there are few reasons why exception is `AssertionError`.

 - Backwards comparability is the one reason, as far I can remember it always have been the same exception.
 - The exception is actually ok for some keywords, example for `Wait Until Page Contains` keyword.

But all that doesn't not mean that it could not be enhanced. We

[2017-11-18 19:02] outcatcher commented on #997
Thanks for your reply. Will it be convenient to close this issue in this case?

[2017-11-18 19:12] aaltat commented on #997
Please leave the issue open. I need to think about the problem for a while and the issue is a good way to remind me about the problem.

[2017-11-18 19:16] outcatcher commented on #997
Also, as I can see in Selenium2Library v.1.8.0 there was no handling of `ElementNotFound`(have it existed at all?)  or `WebDriverException`.  Keyword `wait_until_element_is_not_visible` is calling `_wait_until_no_error` raising `AssertionError` only on timeout (`_is_visible` inside was using `self._element_find(locator, True, False)` and returning `None` if no element is found).
Maybe I've missed

[2017-11-18 19:27] aaltat commented on #997
The underlying ElementFinder (which almost all keywords are calling in one way or another) is, in 3.0 and also in earlier releases, calling Selenium `find_elements_*` methods, which will never raise an error from Selenium side (almost true, there are some corner cases when exception is raised from Selenium side). The `find_elements_*` methods are returning list of `WebElements` and if nothing is f

[2017-11-18 19:29] aaltat commented on #997
Here is a link to the Selenium documentation which explains about the locating elements:  http://selenium-python.readthedocs.io/locating-elements.html

[2017-11-18 21:49] aaltat opened #998 "Element Should Be Focused keyword should use driver.switch_to.active_element also with Firefox"
With selenium 3.6.0 (or smaller) and when using Firefox (with geckodriver) this `driver.switch_to.active_element` returns a dictionary which contains the a `WebElement`. Starting from Selenium 3.7.0 this is fixed and `driver.switch_to.active_element` returns directly a `WebElement`. Change the SeleniumLibrary:
1. Use `driver.switch_to.active_element` always
2. Support both Selenium 3.6.0 and 3.7.0

[2017-11-20 03:17] ybian19 commented on #574
In my use case, I need check if there any js errors or warnings in browser console when I load the page, and I think another keyword for logging the Selenium logs in log.html is also very helpful

[2017-11-20 06:21] aaltat commented on #574
So you want to get the console log content from browser and make checks against the contract. In practice, do you want something like this:
[code]

[2017-11-20 08:11] chevi commented on #574
For me this case is useful too. For example keyword with this code can be run with **Run Keyword If Test Failed**

[code]

When analyze Fail of the test within Log file I can see, were there any errors in console or not

[2017-11-20 09:05] pekkaklarck commented on #574
Are all logs returned by Selenium as lists of dictionaries? Do these dictionaries contain information about each logged message like the level and the actual message? Do they always have same information?

Assuming the answer to the above questions is yes, I would propose implementing this as follows:

1. Implement a custom class like `LogMessage` that can be populated based on information in the

[2017-11-20 17:55] aaltat commented on #574
I could not find details about the different logs. I would assume that logs are returned as Json, but each browser driver may return different things. I think the only sure way is to test with different browsers and see what is returned.

[2017-11-20 21:15] aaltat opened #1000 "Improve exception raised by the library"
In most of the cases we raise `ValueError` or `AssertionError`. The exceptions where improved in 3.0.0 release, in commits: 4e481994, 51e2c2d1, cb40630a and dc875cfe, but it would be good to take closer look on the exceptions the library raises. It would be best to unify the exceptions that we raise and make them more useful also the be used in the programmatic way. One example of where the except

[2017-11-20 21:17] aaltat commented on #997
Closing on favor of #1000

[2017-11-20 21:17] #997 closed, assigned to nobody

[2017-11-20 21:51] pekkaklarck commented on #1000
My opinion about exception is as follows:

1. We should use the standard [ValueError](https://docs.python.org/2/library/exceptions.html#exceptions.ValueError) if a user provides an argument that has invalid value. If it's of invalid type altogether, we can use [TypeError](https://docs.python.org/2/library/exceptions.html#exceptions.TypeError). This is the same logic Python uses. We shouldn't try t

[2017-11-21 12:32] aaltat commented on #574
I did perform some testing and it looks like the content is list of dictionaries.

[code]

[2017-11-23 09:34] aaltat opened #1001 "Can not call methods which uses @keyword decorated methods to change the keyword name from the library instance when extending library"
When doing this:
[code]
the print should not display `False`, instead it should return the method. Now the `print lib.keywords.get('Get WebElements')` return the method, which is hard to use in Python side.

This needs fixing in the https://github.com/robotframework/PythonLibCore/issues/2 side

[2017-11-23 09:37] aaltat opened #1002 "Support Selenium 3.6.0 and 3.7.0 with driver.switch_to.active_element"
Firefox did return dictionary when driver.switch_to.active_element when Selenium 3.6.0 was used. But in Selenium 3.7.0 it return a WebElement, Fix the `Element Should Be Focused` keyword to work with Selenium 3.6.0 and Selenium 3.7.0 with Firefox.

[2017-11-23 09:37] #998 closed, assigned to nobody

[2017-11-23 09:38] #1002 closed, assigned to aaltat

[2017-11-23 21:35] pekkaklarck commented on #574
Tested the above and noticed that the actually logged messages look somewhat strange. Also noticed that this doesn't work at all with Firefox. Supporting this in generic manner requires a bit more thinking. Those just interested to get the logs in the current format could use the following keyword compatible with SL 3.0 RC 1:

[code]

[2017-11-25 08:44] aaltat commented on #321
This is actually done in #992.

[2017-11-25 08:44] #321 closed, assigned to nobody

[2017-11-25 09:16] aaltat commented on #282
Closing due inactivity. If this is still a problem, please report back.

[2017-11-25 09:16] #282 closed, assigned to nobody

[2017-11-25 23:29] aaltat commented on #91
The library architecture has changed quite a lot since the last post. Although original idea is valid on, I am going to close this one on favor of #642

[2017-11-25 23:29] #91 closed, assigned to nobody

[2017-11-28 19:52] #1001 closed, assigned to nobody

[2017-11-30 11:35] cay914 opened #1006 "Confirm Action Dead Lock in New Window"
My web app has some js that like this:
1) main window open child window, via
window.open(url,..)

2) in child window when I click submit button of the child window that calls function;
function childWindowFunction(){
  top.window.close();
  //call the function of the main window.
}

function mainWindowFunction(){
  //this function does some confirm('') and wait for user input
}
3) when I click OK,

[2017-11-30 12:52] aaltat commented on #1006
Would you be able to run the test with `--loglevel trace` and `--debugfile debug.log` enable from the test. Also could show us the output from the debug file where the keyword gets stuck. Please remember that this is a public repository and therefore you should remove any sensitive information.

[2017-11-30 23:49] pekkaklarck commented on #1001
This was a regression during 3.0 development so it doesn't really belong to final 3.0 scope.

[2017-11-30 23:57] pekkaklarck commented on #998
Element Should Be Focused was a new keyword added in 3.0 (#851). Fixes to it don't really belong to 3.0 release notes.

[2017-11-30 23:58] pekkaklarck commented on #351
This is nowadays implemented. See #851.

[2017-12-01 00:02] pekkaklarck commented on #847
Expiry nowadays works.

[2017-12-01 00:21] pekkaklarck commented on #719
I don't see any reasonable use case where this could cause backwards incompatibility problems.

[2017-12-01 01:27] pekkaklarck opened #1007 "Document how to extend the library"
The new architecture in SL 3.0 (#771) is likely to break lot of external libraries using SL internally somehow. Explicitly exposing and documenting the public API (#882) helps, but we should still document different approaches how to interact with the library and how to safely extend it. Examples are going to be very valuable.

[2017-12-01 01:30] pekkaklarck commented on #1007
If you are a maintainer of a library that is broken due to the changes in SL 3.0, please report your problems here, on robotframework-users mailing list, or on Slack.

https://groups.google.com/group/robotframework-users
https://robotframework-slack-invite.herokuapp.com/

[2017-12-01 01:47] pekkaklarck commented on #898
Regressions compared to 1.8 that are already fixed don't belong to 3.0 release notes.

[2017-12-01 01:48] pekkaklarck commented on #934
Regressions compared to 1.8 that are already fixed don't belong to 3.0 release notes.

[2017-12-01 04:06] cay914 commented on #1006
![image](https://user-images.githubusercontent.com/6037435/33467426-56fb66fc-d68f-11e7-8365-4e6ade4af32d.png)

This is some part of my log file.
Because my log file has some sensitive information, sorry for this inconvenience.
Click element of child window will never finish, until I click it in the background.

[2017-12-01 12:26] aaltat commented on #1006
Ah, now I understand. The `| Click Element | //input... |` keyword is stuck? And when you call the keyword, it also closes the child window, right? This might be problem on Selenium side. Selenium provides a blocking type of API and in practice Selenium listen the `onLoad` event from the browser before it returns (when performing interaction with the elements in the browser). Now if you close the

[2017-12-03 22:30] #642 closed, assigned to aaltat

[2017-12-03 22:30] aaltat commented on #1007
There are many libraries which already extend the Selenium2Library in one way or other. It would be good to have links to point to other projects which go nicely together with SL. Like in #638

1) How to extend the library by providing PR with GitHub. This is mostly done in CONTRIBUTING.rst but should provide link to the right place.
2) How to extend the library with inheritance
3) How to get the

[2017-12-03 22:31] aaltat commented on #642
Closed on favor of #1007

[2017-12-04 02:19] cay914 commented on #1006
yes, The | Click Element | //input... | keyword is stuck.
When I click the element, it calls a function that
window.top.close to close the child window and call the function of the parent window.
Now, parent window does a browser confirm('are you sure submit').
The | Click Element | //input... | keyword is stuck and never return.
So, there is no way to click confirm 's OK of the parent window by r

[2017-12-04 05:40] aaltat commented on #1006
Instead of clicking the element, you could try to call the underlying JavaScript function which handles the interaction with parent window.

[2017-12-04 08:42] aaltat opened #1008 "Change between 1.8.0 and 3.0.0 when using Wait Until Element Is Not Visible. In 3.0.0 element is consider visible if the element does not exist in the DOM."
When I have this:
[code]
Then wen I run it with 1.8.0 release, then the test passes. But when I run the test with 3.0.0 release the test fails. More details in [logs_with_differet_versions.zip](https://github.com/robotframework/SeleniumLibrary/files/1526243/logs_with_differet_versions.zip). In the 1.8.0 the element is considered as not visible when the element does not exist in the DOM. But there

[2017-12-04 09:03] pekkaklarck commented on #1008
Could you clarify?

[2017-12-04 11:02] pekkaklarck commented on #1008
Read the discussion on the mailing list. Did I got it right that with earlier versions `Wait Until Element Is Not Visible` succeeded if element didn't exist at all, but nowadays it needs to exist and be invisible? If yes, I would say the old behavior makes more sense. From the end user perspective it doesn't really matter is an element invisible or not there at all.

Assuming I've understood this

[2017-12-04 12:39] aaltat commented on #1008
Yes, you are correct.

I also agree that it should not matter that is element in the DOM or not. If the element is not in the DOM, it is not visible and keyword should not fail.

[2017-12-04 13:38] ghost commented on #1008
Hello,

I can confirm we also do have issue with this method.
Here you can see logs with wait 1s and 60s

[Logs.zip](https://github.com/robotframework/SeleniumLibrary/files/1527055/Logs.zip)
We are talking about custom suite setup in the log files.
We have modified our code to found out the root cause.
We enhanced Wait until element is not visible with Run keyword and Continue on failure to see mo

[2017-12-04 15:45] boakley commented on #1008
I disagree. To be consistent with other keywords, I think if the element is not present in the DOM then the keyword should throw an error.

Consider the case where you have a typo in the locator. Do you want the keyword to just silently pretend the locator is there and not visible? I think if you give it an invalid locator, it should tell you.

[2017-12-04 15:50] boakley commented on #1008
Perhaps that is true, but from the perspective of the test developer, that's a critical difference. If I have a typo in my locator, I don't want the keyword to silently accept the locator as valid. Think of the simple case of `id=progres` instead of `id=progress`. If we silently assume that no element == invisible element, the test might continue on even though a progress indicator is still visibl

[2017-12-04 18:42] geist-scm commented on #1008
I like the behavior that if not in DOM than not visible.  I was using it this way as it made some logic simpler.

For example on the embedded systems I test on some are not very powerful; it can take up to 10 secs to generate keys for https negotiation.  This can causes delays like this:
- I load a TLS cert to DUT to be used for https.
- The GUI will return success but the DUT is restarting its we

[2017-12-04 18:44] boakley commented on #1008
So, you're not concerned about the case where you might accidentally give
it an invalid locator?

On Mon, Dec 4, 2017 at 12:42 PM, Geist <notifications@github.com> wrote:

[2017-12-04 18:53] geist-scm commented on #1008
No.  That reflects a bug in the code and I am not one that thinks the language should try to protect one against such things.  (just my opinion, old UNIX guy ;-) )

In my case if I used the wrong locator and the Wait passed when it should not another error would happen since the element would still be there.  In my case most are pop-ups that are modal.

[2017-12-04 19:27] aaltat commented on #1008
To check that something is not there is generally a difficult problem. I understand both views and can think use cases for both implementations. Perhaps it would be best to make it configurable, should the keyword fail, if the element is not in the DOM.

[2017-12-04 19:50] geist-scm commented on #1008
I had also thought about making it configurable but hesitated to suggest something that is more work.  I like this idea.

[2017-12-04 20:53] pekkaklarck commented on #1008
I'm in general fine with either behavior, but for backwards compatibility reasons think we should restore the old behavior. Most importantly the behavior needs to be documented.

I'm not really against configuration, but don't think it's
worth the effort. If the old behavior is the default, possible typos in locators aren't detected anyway. If you really want to test element exists but is invisibl

[2017-12-04 21:51] aaltat commented on #1008
The #1009 proposes a quick fix to the problem, but I am not happy with all the code so it needs some more work. I did look also at the `Element Should Not Be Visible` keyword and it does not suffer from the same problem. The #1009 does not make the behavior configurable, it restores the functionality in 1.8.0 and new creates tests to ensure that functionality works.

I need to think little bit mor

[2017-12-04 22:52] HelioGuilherme66 commented on #1008
Could we add an option, say `strict=False` by default would keep old behaviour and if True would error if element not in DOM?

[2017-12-04 23:52] jimpriest commented on #242
Would it be worth re-opening this given that both Firefox and Chrome both now natively support a headless mode?

[2017-12-05 00:54] geist-scm commented on #1008
Tatu, Yes, I will test it.

[2017-12-05 01:06] geist-scm commented on #1008
Tatu, pardon my ignorance, I have not done this before.  I tried to follow the steps in PR locally but it states there should be a link 'command line instructions' in the merge box but I do not see that.

At this point I have cloned the repo locally but stuck at this point.

-Paul

[2017-12-05 08:35] Tattoo commented on #202
:raised_hands: :pray:

[2017-12-05 08:49] pekkaklarck commented on #1008
Did you checkout the PR? You can then install it by using `python setup.py install`. I think you can install a PR using pip without even creaking a local clone. There ought to be instructions on the Internet somewhere.

[2017-12-05 11:55] aaltat commented on #1008
Pip is so versatile now days, @geist-scm  you can install with pip by doing this: `pip install git+git://github.com/aaltat/SeleniumLibrary.git@fix_is_visible_keywords` Please be patient with the installation, pip will checkout the repository to temp directory and SeleniumLibrary repo is quite big so it will take some time.

[2017-12-05 15:41] geist-scm commented on #1008
I used PIP as Tatu outlined and reverted my code in the two places I had 'fixed' back to Wail...Visible kw and it worked with SL 3.0.1.dev1 fix.  Yea.

Pekka, my experience with GIT is still low and I never had to deal with a Pull Request, but I desired  to learn.  In my cloned repo of SL I can list all of the tags and all of the branches (both remote and local) but do not see what I would use wit

[2017-12-05 19:39] aaltat commented on #1008
Good that the fix did work. I think I will make the behaviour configurable in both `... Not Visible` keywords, because there is need for it. Just need to think little bit how the code should look like and should the situations be logged differently.

[2017-12-05 20:42] pekkaklarck commented on #1008
Are you sure there's need for configuration? Nobody asked it earlier when non-existing elements were considered non-visible.

[2017-12-05 21:06] Sjain01 opened #1010 "Keyword navigation using Ctrl +B and inline prompting of Selenium keywords not working with recent update of Selenium library"
I recently updated my Selenium library and suddenly the keyword navigation using Ctrl +B has stopped working. With this, the inline prompting of Selenium keywords has also stopped.

For example when I type in Open keyword - it is not recognised and shows me an error stating definition not imported. something like this :-
![image](https://user-images.githubusercontent.com/28809161/33630751-baefd95a

[2017-12-05 21:12] aaltat commented on #1010
The library internal architecture moved to use Robot Framework dynamic library API in 3.0.0 release. It seems that many IDE do not support dynamic library API. Please raise issue to your plugin provider.

As a workaround, example Sublime Text 3 Robot Framework Assistant plugin and the Eclipse RED plugin do support dynamic library API.

Because this is not SeleniumLibrary issue, I am closing the is

[2017-12-05 21:12] #1010 closed, assigned to nobody

[2017-12-05 22:46] boakley commented on #1008
I know I didn't ask for it because I didn't realize it had that behavior. I
had always assumed it would throw an error with an invalid locator, like
almost all of the other keywords. Fortunately for me I almost never use
that keyword.

On Tue, Dec 5, 2017 at 2:42 PM, Pekka Klärck <notifications@github.com>
wrote:

[2017-12-08 06:29] aaltat commented on #242
Yes it could be a good idea. There actually is a PR for the fix proposal in #1011

[2017-12-08 21:31] SmashManiac commented on #1008
This issue caused more than half of my test suite to suddenly fail. I have to revert to v1.8.0 as a workaround. A quick resolution would be appreciated.

[2017-12-09 00:10] geist-scm commented on #1008
Not sure if Tatu Aaltat would mind but the PIP install of fix branch he outlined above worked for me.  See comment 3 days ago (why are comments not labeled ;-) )

pip install git+git://github.com/aaltat/SeleniumLibrary.git@fix_is_visible_keywords

It installed RF Selenium 3.0.1.dev1

[2017-12-09 21:37] #1008 closed, assigned to nobody

[2017-12-09 22:46] aaltat commented on #242
After reading the issue, it is better to create a new issue, because this issue contains details which creates noise and that is not required.

[2017-12-09 22:46] #242 closed, assigned to nobody

[2017-12-09 22:50] aaltat opened #1014 "Add option to start browser headless in Open Browser keyword"
Add support for Firefox and Chrome to start with headless mode in `Open Browser` keyword. The headless is quite common need within the user base of the SeleniunLibrary. The headless can be done, by using the `Create WebDirver` keyword but the code in the Robot Framework data is quite horrible. With the Selenium 3.8.0 it is easy to modify the `Open Browser` to support headless mode with Firefox and

[2017-12-10 08:25] pekkaklarck commented on #242
Always a good idea to refer to the new issue as well. In this case #1014.

[2017-12-10 21:33] aaltat commented on #1006
Did you happen to find a workaround for your problem? If yes, could you share the solution with us too?

[2017-12-11 21:24] Sanchit-20 commented on #676
Java                                  :openjdk version "1.8.0_151"
OS                                    : Ubuntu (16.04 LTS)
Browser                            : Mozilla Firefox 57.0.1 (64-bit)
Selenium java jar file        : 3.8.1
Mozilla Gecko webdriver  :0.19.0
Browser is opened but unable to open the URL.

Code
public static void main(String[] args) {
		//System.setProperty("webdriver.gecko.d

[2017-12-11 21:34] aaltat commented on #676
This issue is already closed and most likely your issue is not the same as this one. Also it looks like you are using a Java version of the SeleniumLibrary: https://github.com/Hi-Fi/robotframework-seleniumlibrary-java please open the issue to the right issue tracker.

[2017-12-12 08:06] aaltat opened #1016 "Make Travis run test with headless Chrome"
The #1011 provides support for headless Chrome and Firefox browsers. There seems to be problem with Geckodriver and acceptance test do not work with Geckodriver 0.19.1 release in decent manner. But headless Chrome works fine and change Travis configuration to run test with headless Chrome.

[2017-12-13 10:31] cay914 commented on #1006
@aaltat Sorry, I don't want to break my code. Because workaround makes test script complex.
I think robot framework should be powerful. It can do the thing like a human does.
So I develop a simple demo of this issue.
Can you use robot framework to test "choose number" in the demo?
thanks

[demo.zip](https://github.com/robotframework/SeleniumLibrary/files/1555097/demo.zip)

[2017-12-13 21:49] aaltat opened #1019 "Follow up Travis Trusty update problems and change to latest Trusty image in Travis."
Travis Trusty update on 12-Dec broke the acceptance test running with Firefox. Changed our Travis builds to use previous version of Trusty image, in #1018. Also raised an issue to the Travis issue tracker: https://github.com/travis-ci/travis-ci/issues/8913 When issue gets resolved, update our Travis build to use the latest Trusty image from Travis.

[2017-12-13 22:09] aaltat commented on #1014
Done in #1011

[2017-12-13 22:09] #1014 closed, assigned to nobody

[2017-12-14 16:45] aaltat opened #1021 "Some keywords do not work if text argument is not string"
If I have this page:
[code]
When I have this test case:
[code]
When I run the test case with Selenium2Library 1.8.0 the test passes. When I run the same test case with 3.0.1 release, then I see this error:
[code]

[2017-12-16 01:44] chaussen opened #1022 "Selenium2Library import changed to SeleniumLibrary triggers some warnings"
OS: Win10 Pro build 15063
python: 2.7.13
robot:
robotframework==3.0.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.0.1

got warning when running tests
`C:\Python27\lib\site-packages\SeleniumLibrary\utils\seleniumversion.py:19: ImportWarning: Not importing directory 'C:\Python27\selenium': missing __init__.py`

but the tests can pass.

`%PYTHONPATH%` is empty

`%PATH%` i

[2017-12-16 18:06] aaltat commented on #1022
For some reason, the `C:\Python27\` is in your module search path. Are you any chance running tests from `C:\Python27\`? When starting Robot Framework execution, are you using `--pythonpath` option and does it point to the `C:\Python27\`?

[2017-12-17 06:12] chaussen commented on #1022
no. my command is run from sublime text:

`["python","-W","once", "-m", "robot.run","-d","outputs", "-T", "--include", "complete", "--debugfile", "debug.log","$file_path"]`

the `-W` is used ignore the requests warnings.

[2017-12-17 09:40] aaltat commented on #1022
Ah, Sublime has it's own settings for resolving modules. Are you using some plugin or a build system?

[2017-12-17 09:42] aaltat commented on #1022
And could you run the same test from Windows command line.

[2017-12-17 22:03] aksenov007 commented on #699
As @aaltat [requested](https://github.com/robotframework/SeleniumLibrary/pull/702#issuecomment-352174529), here is a possible acceptance test for this issue. It's the same as in the #702 and I think it is enough to describe how this keyword should work.

[code]
The only case is worrying me: get parent of the `<html>` web element... Should I write a separate acceptance test for that case or not?

[2017-12-17 22:29] aksenov007 commented on #672
As @aaltat [requested](https://github.com/robotframework/SeleniumLibrary/pull/702#issuecomment-352174529), here is a possible acceptance test for this issue.

Because this functional can be a little bit tricky to understand and implement, I think it makes sense to make acceptance tests for any type of locator. Also, may be it makes sense to create a separate file for these tests, what do you think

[2017-12-18 17:29] illume opened #1023 "Not wait for page to fully load?"
I have to test a web page that has javascripts on it that often take a long time to load. External JavaScripts outside of my control. However, the rest of the page is loaded, and I use Wait Until everywhere. Also the page is fully functional when these scripts have not finished.Sometimes these external script take a loooooooong time. So I set timeout= to 40 seconds or so.

Anyone have any ideas on

[2017-12-18 18:39] aaltat commented on #1023
This is quite typical problem with dynamic web applications. Usually it is bets to ask this type of question in the support channels: https://github.com/robotframework/SeleniumLibrary#support

But here are some pointers:
1) Wait for a element which you know that is loaded last in the page by using the [Wait Until Page Contains Element](http://robotframework.org/SeleniumLibrary/SeleniumLibrary.html

[2017-12-18 18:40] aaltat commented on #1023
I am closing the issue because this is not a problem in the SeleniumLibrary but is more of support request and support is handled in other forums.

[2017-12-18 18:40] #1023 closed, assigned to nobody

[2017-12-18 18:50] illume commented on #1023
Yeah, I don't really want to pay for support. But thanks anyway.

[2017-12-18 18:53] aaltat commented on #1023
The user group mailing list and slack are really good places for support and in there you get wider audience for your support request. I just want to limit the issue tracker for bugs and feature request and I do not have time response to all support request because I run this project on my free time (and I am not looking for money).

[2017-12-18 19:04] illume commented on #1023
Cheers!

[2017-12-18 19:09] pekkaklarck commented on #1023
I don't think polling works if time is spent in by Open Browser. It having an option not to wait for the initial page to load would be a valid enhancement.

[2017-12-19 06:38] aaltat commented on #1023
The timeout would be good thing to have, although I did understand that his page gets loaded with JavaScript (and `Open Browser` keyword gets successfully executed) and he has to use `Wait...` keywords to poll that the page is fully loaded. @illume could you explain the problem with more details? Perhaps showing a simple example and explaining where time is spent could clarify the problem.

[2017-12-20 06:45] aaltat commented on #672
I think creating a new keyword for getting the child element is not good idea. Instead we could enhance the `Get WebElement` and `Get WebElements` keywords to support child element. The keyword could look like this:
[code]
The keyword would first search the element with `parent` argument locator and then it would use the parent element to find the child element by using the `locator` argument loca

[2017-12-20 07:25] aksenov007 commented on #672
@aaltat Thanks for the answer!

I am agree with you absolutely. Our team use the same overload approach in our wrappers over Selenium methods.

If so, then according to the table of supported explicit locator strategies from [SeleniumLibrary documentation](http://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Locating%20elements) if there are two arguments are passed (`locator` and `paren

[2017-12-20 10:54] aaltat commented on #1021
I did read code and noticed that we are not constant on the matter. With some keywords number is OK and with other it is not OK to have a number.

This would be good time to decide what object types we do actually support. I my opinion, we should support  `str`. Then I might be willing support `number` and nothing else.  Nothing else covers `False`, `None` and other Python object types. Also for n

[2017-12-20 15:23] pekkaklarck commented on #1021
I'm afraid validating types is too much work compared to benefits. At least until we can drop Python 2 support and add type annotations to the code and do validation automatically. Until that I'd simply use arguments that are expected to be strings directly as strings (e.g. `arg.upper()` not `str(arg).upper()`).

[2017-12-20 15:33] aaltat commented on #1021
That is true, Python 3 only support would make this more easier to implement and support. But that is not going to be implemented until core framework drops Python 2 support. Will we return to the issue in 2020?

[2017-12-20 15:43] pekkaklarck commented on #1021
I'd say so.

[2017-12-21 17:08] #1016 closed, assigned to aaltat

[2017-12-27 20:06] aaltat commented on #1022
This was discussed in slack channel and the warning is OK. Therefore closing this issue.

[2017-12-27 20:06] #1022 closed, assigned to nobody

[2017-12-28 10:50] lyqingme opened #1028 "Focus keyword does not work on chrome"
(Session info: chrome=63.0.3239.84)
  (Driver info: chromedriver=2.33.506120 (e3e53437346286c0bc2d2dc9aa4915ba81d9023f),platform=Windows NT 6.1.7601 SP1 x86)
    @keyword
    def find_element_focus(self, locator):
        element = self.find_element(locator)
        self.driver.switch_to_active_element()
        self.driver.execute_script("return arguments[0].scrollIntoView();", element)

the keyw

[2017-12-28 11:51] aaltat commented on #1028
SeleniumLibrary doesn't have keyword `Find Element Focus` keyword, so the above code is from your own library. Also I don't quite understand what is the problem that you are trying to solve, could you explain your problem with more details?

[2017-12-29 01:20] lyqingme commented on #1028
My problem is that the focus keyword in SeleniumLibrary has no effect in my environment, and Find Element Focus is my custom keyword that works in this way.

[2017-12-29 08:12] aaltat commented on #1028
Do you get an error, if yes, what error you get(use --loglevel trace option to run the test)? Where do you know that `Set Focus To Element` keyword does not work? Would it be possible to see an example that demonstrates the problem and also we can run?

[2018-01-03 03:12] lyqingme commented on #1028
error trace：
20180103 11:05:19.912 : TRACE : Arguments: [ "Xpath=//div[@class='innebox']//div[1]//div[2]//div//div" ]
20180103 11:05:19.913 :  INFO : Clicking element 'Xpath=//div[@class='innebox']//div[1]//div[2]//div//div'.
20180103 11:05:19.913 : DEBUG : POST http://127.0.0.1:49182/session/9ed01561704eae9690d724b97eebb499/elements {"using": "xpath", "sessionId": "9ed01561704eae9690d724b97eebb49

[2018-01-03 03:17] lyqingme commented on #1028
A list of operations I want. The current situation is that the first two elements are clicked, the third element is not in the current page display area, the third element clicks wrong. I did Focus before clicking the element, but it does not work for now.

[2018-01-03 07:33] aaltat commented on #1028
But your problem is not with the focus keyword. It's with the Click Element keyword and the exception gives you clear reason why the click fails:
[code]
There are many reasons why the test might have stopped working for you, but based on the error message it doesn't have anything with the Focus keyword or the SeleniumLibrary. The Focus keyword does not ensure that element is visible and can be cli

[2018-01-03 07:33] #1028 closed, assigned to nobody