[2014-02-04 02:59] ombre42 commented on #271
@emanlove Do you have any ideas on how to speed it up? I do not see how we could without reducing information in the failure message or sidestepping the API and using JavaScript. Maybe I am just missing something.

[2014-02-05 16:06] emanlove commented on #271
@ombre42 I was thinking of additional keywords like 'Is List Option Selected' or 'Check List Option Selected' with possible some specific 'Check List Option By Value Selected' or 'Check List Option By Label Selected' - I haven't worked out any good keyword names for these  ('get option selected attribute by value'... ). Essentially what I'm thinking is that with a single select list one should be

[2014-02-05 18:06] emanlove commented on #271
... a better way like simply checking the selected attribute of the option. Adding to the internal tests, [acceptance\keywords\lists.txt](https://github.com/rtomac/robotframework-selenium2library/blob/master/test/acceptance/keywords/lists.txt), for example

[code]

[2014-02-10 23:27] dpsfrishberg opened #274 "Improve Decoupling between S2L and Robot"
Hi there. I'm working at a large government organization that has been evaluating Selenium2Library as our testing framework. After trying to write our own library on top of Selenium's WebDriver API for use in unittests, we discovered RF and S2L and were really impressed with S2L's modularity and with how easy it was to use S2L outside of Robot framework (i.e. with a Python unittest). Why would we

[2014-02-11 02:05] kahunacohen commented on #274
To clarify why we want to be able to run SE2Lib outside of Robot Framework...

We love Robot Framework and will, in fact, encourage our organization to write Robot tests using our page objects, but it's a much easier sell if we can tell them they can either use Robot or write Python test cases based on unittest...as long as there's one code base for our page objects, not one for Robot tests and on

[2014-02-14 16:08] pandabat opened #275 "Press Key does not support non-ASCII, non-typeable characters such as ARROW_RIGHT"
Current implementation of Press Key does not seem to support sending an ARROW_RIGHT press to the webdriver.

Example, web app that allows navigation via up-down-left-right keys.

Registered keycode in app for right arrow is "39" but this is not the ASCII code 39 ('). Sending "Press Key <ELEMEND_ID> \39" just results in a ' being typed. Can't find any constant table to reference for code for arrow

[2014-02-14 18:58] ombre42 commented on #198
#200 describes the fix for what this issue was about

[2014-02-14 22:38] ombre42 commented on #162
Here is a way to do it as of 1.5. I noticed that the proxy settings are not always restored after the teardown. This is an issue with Selenium and not Selenium2Libary.

[code]

[2014-02-18 12:53] pandabat commented on #275
Ok, so first I tried Execute Javascript to do an arrow key press like follows but these failed:

[code]

[2014-02-18 13:07] pandabat commented on #275
Tried a few other things before finally deciding to try extending the existing library.

I'm using Fedora and I edited

/usr/lib/python2.7/site-packages/Selenium2Library/keywords/_element.py

(could be different on Windows/Mac/Other Linux)

and made a modification to check for a double-double-escaped (or quadruple-escaped) code (e.g \\\\ARROW_RIGHT). ASCII codes remain double-escaped only (e.g. \\

[2014-03-05 07:58] cookie314 commented on #52
Hi, Guys, For this issue, I think it's not the selenium issue. A workaround is disable the certificate check on IE. You can set this in IE->Tool->Internet Option->Advanced, disselect the check-box: Warn about certificate address mismatch*.
That's what I'm doing when testing self assign certificate website in IE.

[2014-03-05 17:26] ombre42 commented on #52
@cookie314 are you sure that is self-signed? The workaround you mentioned will help if the sys admins took the real cert off the production server and put it on a test server. With a self-signed cert, there is no entity in the chain of trust that the client trusts, so it will never trust that cert.

[2014-03-11 14:27] bluezhaocai opened #282 "firefox is lunched,then it is not responding when selenium2library work on windows7 32bit with windows domain account"
execute keyword: "Open Browser  www.baidu.com"
firefox is lunched,then it is not responding when selenium2library work on windows7 32bit  with windows domain account.
but when I login in windows with administrator account, selenium2library works well. firefox can be lunched and open web site.

[2014-03-17 12:08] oscarh commented on #177
Long time and no action, but for what it's worth. If the line:
`user_pref("browser.privatebrowsing.autostart", true);`
is changed to:
`user_pref("browser.privatebrowsing.autostart", false);`
in Selenium2Library/resources/firefoxprofile/prefs.js
it works for me.

[2014-04-12 11:33] emanlove opened #287 "Table lookup stratergies documentation incorrect"
The Selenium2Library documentation when describing the look-up strategies states
"More complex table look-up strategies are also supported:

<table border="1">
<tbody><tr>
<td><b>Strategy</b></td>
<td><b>Example</b></td>
<td><b>Description</b></td>
</tr>
<tr>
<td>css</td>
<td>Table Should Contain <span class="name">|</span> css=table.my_class <span class="name">|</span> text</td>
<td>Matches by @i

[2014-04-14 09:57] emanlove commented on #287
In addition the description of the default table locator is vague in regards to what is the current used, css selector. The documentation states

This makes it sound like it searches by id as we do with the element locator (i.e. driver.find_element_by_id) when in fact it searches by css selector using the id (i.e. driver.find_element_by_css_selector) or css=table#_id_locator_.

[2014-04-17 03:57] anilreddy opened #289 "Add a keyword which highlights elements"
add keywords which highlights text and elements like success messages, etc

**Highlight Element**
**Highlight Text**

and also for every selenium command when executing like

**Set Element Highlight**

[2014-05-12 19:22] boakley opened #292 "Add ability to type into a prompt"
Right now it is not possible to type into a javascript prompt -- the only options are to confirm or cancel an alert.

I would like support for a keyword like "Insert into prompt" that would type into a prompt.

I did a quick prototype on my mac, and it seemed pretty easy to implement:

<pre>
    def insert_into_prompt(self, text):
        alert = None
        try:
            alert = self._current

[2014-05-14 11:26] emanlove commented on #292
Sounds like a good suggestion.

[2014-05-14 11:36] pekkaklarck commented on #292
Should probably be named like "Input Text Into Prompt" to be consistent with "Input Text".

[2014-05-16 14:35] Kristina001 commented on #292
Hey guys..
Will it helps me for my probleM?

My problem is the following:
I have an upload form, and when I do upload file and click a button - my web-application automatically send me a new file for downloading. I can't handle this firefox downloading window  :(

Im fighting with this for like a several days ...

[2014-05-16 16:49] ombre42 commented on #292
@Kristina001 I do not think this will help for your situation unfortunately. This is for the JS method Window [prompt](http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_prompt).

[2014-05-19 07:53] mkorpela opened #293 "Couple of places with 'Element is no longer attached to the DOM'"
Hi,

I visited one of my customers last friday and he had an "interesting" app under test. Anyway in some places it seems to update the DOM in a funny way (element is first there with a specific ID and then it is removed and added again).

At least two keywords caused problems:
Wait Until Element Is Visible ==> _element.py:608 _is_visible (element is first fetched and only after it is asked if it

[2014-05-19 08:09] mkorpela commented on #293
Some related stuff:
http://stackoverflow.com/a/17175986/308189

[2014-05-19 18:06] ombre42 commented on #293
The JSON wire protocol makes it impossible to do anything with a WebElement without knowing its ID. Getting the ID is a separate call, thus it cannot be atomic.
My solution to this problem was to extend Selenium2Library to add the ability to ignore certain exceptions during the Wait \* keywords by monkeypatching _wait_until. This can only solve the problem when using the Wait keywords. Of course i

[2014-05-30 18:41] emanlove opened #294 "Extract WebDriverException error message and raise as Robot Framework error"
For keywords that use execute_script or execute_async_script it might be a good idea to catch webdriver exceptions and raise the error message to the level of a error message within robot framework and add the traceback to the trace/debug message.

For example I got the following error message from a test of a new 'Clear Text' keyword. This keyword uses the underlying execute_script function from

[2014-06-18 14:16] Kristina001 commented on #177
Wierd, but Oscarhs solution doesn't work for me :(

Can anybody told me is it an RF or Sel issue or no? So should we expect some new build fith fiz or just leave this and start looking for ... workaround except using coockies ?

[2014-06-19 03:52] ombre42 commented on #177
<this was totally rewritten>
I think @oscarh is onto something.
On ESR 24, with browser.privatebrowsing.autostart = true, cookies set with Add Cookie show up in Get Cookies, but other cookies do not.
Here's a test that passes if private browsing autostart is false, but not when it is true:

[code]

[2014-06-20 02:33] ombre42 commented on #177
I noticed that even in the latest release of FF (29), the GCLI/Developer Toolbar (Shift+F2) has a command "cookie list" that will not show cookies that are visible via document.cookie when private browsing. I think the native interface that Selenium uses simply will not work during private browsing except to retrieve cookies set through that same cookie manager.

I think we should stop using priva

[2014-06-20 15:15] skipkent opened #299 "S2L and Selenium 3 protocol?"
We have a large existing codebase using Appium 0.18.2 along with Robot Framework and the Selenium2Library. The testing centers around an Android wrapped application, and works great with the Appium 0.18.2 server.

This breaks, however, when upgrading to Appium 1.x.  In this case, the switch to webview fails because doing so now requires the use of driver.contexts, which is not currently available

[2014-06-30 13:34] aaltat commented on #177
I have similar problem. I tweaked FF profile:
`user_pref("app.update.auto", false);
user_pref("app.update.enabled", false);
user_pref("browser.preferences.advanced.selectedTabIndex", 3);
user_pref("browser.migration.version", 22);
user_pref("browser.startup.homepage", "about:blank");
user_pref("browser.tabs.warnOnClose", false);
user_pref("network.cookie.prefsMigrated", true);
user_pref("privacy.s

[2014-07-03 15:42] skipkent commented on #299
It would be great to get some input on this.  Is there any other information I can offer to clarify my question?

[2014-07-03 21:22] pekkaklarck commented on #299
I know nothing about Selenium 3 nor Appium, but apparently someone has already implemented a library for it:
https://pypi.python.org/pypi/robotframework-appiumlibrary/1.0.13

[2014-07-03 22:28] skipkent commented on #299
We're pretty closely tied to the current Selenium2Library, but that looks very promising.  Thanks for sending it along!

[2014-07-22 09:04] HelioGuilherme66 commented on #275
This is very useful.

How can we get this in next release?

[2014-07-22 09:19] pandabat commented on #275
I have no idea :)

I'm glad that someone found it useful though and I was very surprised that it hadn't been done before (that I could find online) and that it wasn't part of standard release as it seems so straightforward.

It's the first bit of Python that I ever coded! :)

[2014-07-23 15:38] Leoooob commented on #67
Instead of clicking on the locator you are currently using, change the locator to point to the container or the inner element

[2014-07-25 12:57] tisto commented on #24
+1

[2014-07-26 23:57] HelioGuilherme66 opened #305 "Test for Choose File expects full path but returned value is only the filename"
To have Travis build green, it would require the decision to change the test to expect only the filename. The returned value from the browser in not under our control.

Test with firefox:
Value of text field 'file_to_upload' should have been '/home/helio/robotframework-selenium2library/test/acceptance/keywords/temp.txt' but was 'temp.txt'

Test with PhantomJS and Google Chrome:
Value of text field

[2014-07-30 09:08] mulmschneider commented on #268
I've created a pull request for more unique screenshot names, but a quick workaround is to just redefine the 'Run on Failure' keyword:

[code]

[2014-07-30 20:26] know1nos opened #307 "Firefox becomes unresponsive"
Some of our testers have been seeing their Firefox test cases/ keywords cause the browser to become unresponsive in multiple suites that had been running fine for months.  The same keywords are used for internet explorer and chrome and still work fine.  Has anyone else experienced this issue/ know what is causing it or how to resolve it?

[2014-08-05 02:22] xiongjiaji commented on #307
I also came across this problem.

[2014-08-06 13:57] emanlove opened #311 "Included test files within source distibution"
It is my philosophy that the test directory should be part of the distributed Selenium2Library package. That way one can run the test files with their package and don't need to clone or download the src package to get/run these tests.

This might not be everyone's preference so i wanted to introduce the idea here and start a discussion on this idea.

[2014-08-06 21:54] HelioGuilherme66 commented on #311
I absolutely support that initiative. I can only see advantages on it because:
- It does not add much size to package (around 900KB)
- users can test their installation, setup, or environment
- users can learn a lot by studying the tests

(I am adapting the tests to pass with firefox, google-chrome and phantomjs and possibly with other browsers)

[2014-08-07 00:21] ombre42 commented on #311
I agree with everything @HelioGuilherme66 said. I think the information in BUILD.rst should go along with the tests if this happens.

[2014-08-07 13:16] pekkaklarck opened #312 "Rename acceptance tests to use `.robot` extension instead of `.txt`"
This makes it easier to distinguish between test case files and possible normal text files. In practice that means that many RF editor plugins will recognize them automatically, and also GitHub will syntax highlight them.

This change was recently done for Robot Framework itself (robotframework/robotframework#1766). That required more work because we also wanted to convert remaining HTML files to

[2014-08-07 13:16] pekkaklarck commented on #311
I don't have strong opinion either way. With Robot Framework itself we haven't distributed tests because they took so much space in HTML format. Now we have converted everything to plain text format, except for test data for actually testing HTML, they take 4,4MB. It wouldn't be that bad but it's still twice as much as source code. For everyone just using `pip install robotframework` any space inc

[2014-08-16 12:05] KD1102 opened #315 "needed a Get Weblement(s) keyword"
Hello,

I was working on a test for selecting a date from datePicker. By mentioning simply the xpath of the webelement from the calendar, but to requirement is to select (Now+2d) add 2 days to the current day.
Right now, i have to hard code the table cells (tr and td) to select the date.
But to create a dyanmic xpath, i need to work on webelements, which is missing right in current version of Sele

[2014-08-24 18:30] HelioGuilherme66 commented on #312
I have renamed tests in this commit: https://github.com/HelioGuilherme66/robotframework-selenium2library/commit/c264f5fa5af1bec21d7a66f3f4999acd499f3d52 (this commit also changed travis.yml to pass tests).

You could use only the shell script in the end of the commit.

[2014-08-24 18:33] HelioGuilherme66 commented on #305
This is fixed by https://github.com/HelioGuilherme66/robotframework-selenium2library/commit/532295cbce3c27d83d003ea07aaf5130ea685cfe and https://github.com/HelioGuilherme66/robotframework-selenium2library/commit/cddb4fca0094be83c59ed5fde097bccebe12ffe9 .

[2014-08-24 18:40] HelioGuilherme66 commented on #305
Choose File fails in IE because its result may contain capitalized letters, and there is an exact comparison in the text box.
This https://github.com/HelioGuilherme66/robotframework-selenium2library/commit/ae494a863eec9b2b227d767554e3ca7219965f6d fixed Choose File test by adding a casesense option (True by default) to TextField Value Should Be.

[2014-08-25 17:52] ombre42 commented on #315
@emanlove has proposed doing this in the [forums](https://groups.google.com/d/msg/robotframework-devel/MbYs1y_1WkQ/EX0B9yoW7xAJ) so this functionality will probably be coming somewhat soon. In the mean time, you should be able to construct an XPath selector that will select the correct element, something similar to `//table[@class='ui-datepicker-calendar']//td[.='13']/a`. For help on that please p

[2014-08-29 01:34] ombre42 commented on #146
was in 1.4 release and left open

[2014-08-29 05:11] ombre42 opened #321 "Table Cell Should Contain does not mention negative indices"
This seems to be an omission in #317 since this keyword calls Get Table Cell, which does support negative indices.
And I misspelled indices in CHANGES.rst.

[2014-08-29 15:03] mulmschneider opened #322 "'Capture Page Screenshot' does not fail if it cannot save the screenshot"
'Capture Page Screenshot' does not tell you when it failed to create/save a screenshot - if you for example pass it a path with a nonexistant directory, the keyword will pass without any indication that something is wrong.

Example code:

[code]

(I ran into this because I missed the fact that the screenshots are saved relative to the log file, and spent quite some time before I could track my iss

[2014-08-29 15:52] ombre42 commented on #322
Thanks for reporting this. The method we call returns a bool to indicate success/failure, but we are not checking the return value.

[code]

[2014-08-29 16:41] ombre42 opened #323 "Allow arguments to be passed into JavaScript scripts"
Selenium allows arguments to be passed along with JavaScript that can be referenced in the script using the injected List variable named `arguments`. _Execute Javascript_, _Execute Async Javascript_, and _Wait For Condition_ do not support this feature. This would be useful for passing WebElements and data structures into scripts

When we implement _Get Webelement(s)_, people will naturally want t

[2014-08-29 17:47] ombre42 commented on #262
The library documentation does not mention that jQuery selectors require jQuery to be provided by the AUT and referenced in the variable named jQuery. We need to document this as Jeremy's code to automatically provide jQuery was not merged.

[2014-08-29 17:56] ombre42 commented on #273
The problem is that when running in private mode, the cookie manager Selenium uses is disconnected from the browser - this is an upstream issue. This is affecting GCLI/Developer Toolbar (Shift+F2) as well. The solution is to use a non-default FIrefox profile that does not have in private browsing enabld until #177 is fixed. Closing as this is essentially the same issue. See more in #177

[2014-08-29 18:40] ombre42 commented on #220
Has your situation improved with a newer version of chromedriver?

[2014-08-29 19:46] pekkaklarck commented on #323
Requiring RF 2.8 shouldn't be a problem because it's not that new release anymore. I don't think minimum RF requirement needs to be raised, though, but obviously that needs to be documented in kw doc.

[2014-08-30 01:11] ombre42 opened #324 "'Capture Page Screenshot' should create directories as needed"
If the output directory has a directory named _foo_,
`Capture Page Screenshot    foo/bar.png`
will work.

If the directory _foo_ does not exist in the output directory, the screenshot will not be saved (quietly so due to #322).
This is a bit of a gotcha that could easily be solved with `os.makedirs`.

[2014-08-30 05:02] ombre42 commented on #248
Create Webdriver has been implemented, which allows you to control the log file and log level for IE. [An example](http://rtomac.github.io/robotframework-selenium2library/doc/Selenium2Library.html#Create%20Webdriver) in the keyword doucmentation covers your use case. Selenium now has a get_log method to fetch the browser logs, which may be more convenient than accessing a file. There is no keyword

[2014-08-30 05:58] ombre42 commented on #315
One option that may be worth considering is to add an argument first_only, which would control whether Get Webelements returns a single WebElement or a list of them. For example,
`${elem}=    Get Webelements    xpath=//*    True` returns a single WebElement, but `${elems}=    Get Webelements    xpath=//*` returns a list of WebElements (possibly a list of one WebElement).
This would help avoid keyw

[2014-08-30 06:44] pekkaklarck commented on #315
More generic `index` could be even better.

[2014-08-30 10:44] emanlove commented on #248
@ombre42: Do you see a way of adjusting the log level without having to use _Create Webdriver_?

[2014-08-30 11:16] emanlove commented on #315
[Here is my implementation](https://github.com/emanlove/robotframework-selenium2library/compare/webdriver-element), as it currently stands from about a month ago. I like @pekkaklarck's idea of 'index'. Listening to your suggestion @ombre42 I was thinking we had several of these dual perform action on one and perform action on many keyword pairs. So I was thinking why not. But reviewing the keyword

[2014-08-30 11:19] emanlove opened #325 "Clarify differences in keyword documentation"
There are a couple of similar keywords _Get Selected List Label_/_Get Selected List Labels_ and _Get Selected List Value_/_Get Selected List Values_ for which one can not easily tell the difference between the pairs. It would be helpful to clarrify the difference and possible make reference to the other.

[2014-08-30 17:24] ombre42 commented on #315
I agree @pekkaklarck 's idea is good. The difference being that with first_only (or a separate Get Webelement), returning None if no elements were found is the behavior I was thinking. With an index, it would make more sense to have the keyword fail. With XPath, one could do `Wait Until Page Contains Element    xpath=(//div[@name='foo'])[3]` to wait for at least 3 matches before trying to fetch th

[2014-09-01 02:48] ombre42 commented on #323
After getting far into adding this feature using keyword arguments, I realized there is a serious backwards incompatibility issue. Assignments or comparisons in JavaScript are triggering Robot Framework's free keyword argument processing. Example:
`Execute Javascript    var elem = document.getElementById('foo'); elem.selected = true;`
Fails with message _'var elem ' is not a valid keyword argument

[2014-09-01 03:03] ombre42 commented on #323
I just thought of one thing that would make option 2 less painful. If arguments were passed and _code_ does not contain the string _arguments_ then fail with message _Arguments were passed and not referenced. Splitting the script into multiple cells is no longer supported_

[2014-09-01 07:22] pekkaklarck commented on #323
Comments to analysis by @ombre42:

1) The motivation to allow splitting the script to multiple arguments in old SeleniumLibrary was to ease executing longer scripts. This was especially important in old HTML test data days when you couldn't easily have a long string even in one row due to columns. Even today splitting multiple lines of JavaScript like below can be handy:

[code]

2) Passing argume

[2014-09-01 10:52] aaltat opened #327 "Waiting untill element is not in the page."
Sometimes, example waiting for ajax calls that filters a table, it would nice to poll the page that the element is not in the page. I know that I can already do this by for loop, "page should not contain" and "run keyword if" keywords but it would be really nice if S2L would come out of the box with "Wait Until Page Does Not Contain Element" keyword

[2014-09-02 17:39] ombre42 commented on #323
Thank you so much for your input Pekka. I never understood why the code-split feature. We use RIDE exclusively where I work and any formatting like you mentioned will be re-written by RIDE.
Maybe I'm short-sighted, but I do not foresee adding arguments to this in the future, so I'm leaning towards this solution, which can go into 1.6:
Change to `def execute_javascript(code, *arguments):`

[code]

[2014-09-02 17:44] ombre42 commented on #138
Submitter did not respond and no one else is reporting this issue

[2014-09-02 20:19] pekkaklarck commented on #323
Hmm, `execute_javascript(code, *arguments_or_code)` is definitely awkward but also a pretty clever idea. Not losing the ability to split long code and thus also avoiding backwards-incompatible changes (except if code contains `arguments`) would be a big win. I don't see why this wouldn't work if it is clearly documented with examples.

[2014-09-03 05:22] wlnpu commented on #220
Yes, now I have used seleniume2Library and chromedhriver for a long time. No more issue yet.

Thanks,
Rocky

在2014年08月30 02时40分，"Kevin Ormbrek"notifications@github.com写道：

Has your situation improved with a newer version of chromedriver?

—
Reply to this email directly or view it on GitHub.

[2014-09-03 14:39] ombre42 commented on #220
Thank you for responding @wlnpu

[2014-09-03 18:06] ombre42 commented on #323
@emanlove - Thoughts? The reason behind *arguments_or_code was that there does not seem to be much gained by removing the backwards compatibility code. That, and warnings should be used with caution. Warning about not supporting functionality in a future version is not good unless you have a plan on when and why.

[2014-09-03 23:50] emanlove commented on #323
@ombre42: I'm still reading through this and thinking about different solutions. I tend to think having arguments will be useful and a functionality that we would want to add. There will be an issue with using your idea in that the string 'arguments' is what the javascript uses within the script to 'call' the argument. For example see [some of my AngularJS additions](https://github.com/emanlove/ro

[2014-09-04 00:58] emanlove commented on #323
Looking at the examples above I noticed the Javascript code is not delineated. For some reason, possibly because my recent use of Python webdriver, I was expecting quotes around the script to be executed. Why not use this as the delimator or separator between script and arguments. If the first argument begins and ends with a quotation mark then this marks the script and the remaining arguments are

[2014-09-04 16:47] emanlove commented on #323
In trying to see if an unassigned string literal would conflict in anyway with the Javascript specification I did come across the [_"use strict";_ directive](http://ecma-international.org/ecma-262/5.1/#sec-10.1.1) and more generic concept of [Directive Prologues](http://ecma-international.org/ecma-262/5.1/#sec-14.1). Noting in the specifications for [Directive Prologues](http://ecma-international.

[2014-09-05 07:17] pekkaklarck commented on #323
After thinking about possible solutions a little more, simply implementing new `Execute Javascript With Arguments` and `Execute Async Javascript With Arguments` start to sound pretty tempting.

Pros:
- No backwards-compatibility issues whatsoever.
- Clean and easy to document API.

Cons:
- Two more keywords.
- New keyword names are pretty long.

[2014-09-06 05:16] ombre42 commented on #323
@emanlove Thanks for pointing out that the "arguments" trick won't work. I was not thinking of async JS where it would always be in the script to call the callback.
If we are going to add keywords, I think "args" is an acceptable abbreviation to make the keyword name a _little_ shorter - its OK for PyCharm's spell-check and its used in the DatabaseLibrary.
I still think deprecating splitting the s

[2014-09-06 05:23] ombre42 commented on #315
Hmmm...after @pekkaklarck comments elsewhere I'm having some doubts about whether Get Webelements is better then Get Elements....
- _Get Element Text_ already conflicts with a keyword in XML
- Get Element is more generic, in line with how Selenium is being used outside of HTML and HTML-based applications (e.g. native apps with Appium)
- As noted before, _Get Elements_ is more consistent with exist

[2014-09-06 08:03] pekkaklarck commented on #315
It's a good point that there are already conflicts with XML library and that also other keywords talk about _Element_. In this case the benefit of _WebElement_ would be that it makes it more clear the keyword deals with exactly those Selenium objects. That can easily be explained in the documentation, though, and talking about _Web_ would definitely be weird outside HTML context.

[2014-09-08 18:50] ombre42 commented on #294
`WebDriverException`s also have a `screen` attribute that may have a value. Just recently, due to [an issue I raised](https://code.google.com/p/selenium/issues/detail?id=7745), there is also an `alert_text` attribute added for `UnexpectedAlertPresentException`. We do not want to lose the information stored in these attributes when trying to get a cleaner fail message. Putting this here as a remind

[2014-09-16 16:17] ponkar commented on #315
Hello ,

This is something I was looking to iterate accross few elements to check their attributes. What is the status of this implementation. Is it pushed to the repo ?

[2014-09-27 04:12] juacompe commented on #106
I tried implicit_wait=5 but it did not do the magic in my case. I get around the problem by using keyword "Focus  <locator>" to get the new element reference before selecting the option. That works for me.

[2014-09-27 06:56] ombre42 commented on #270
I am thinking of changing
`atts = [ att if att is not None and len(att) else 'undefined' for att in atts ]`
to
`atts = [ unicode(att) if att is not None and len(unicode(att)) else 'undefined' for att in atts ]`
rather than what was proposed in #272
All of these attributes should be strings, except for window.id, which could be anything. I still have no idea where window.id came from. Select Window

[2014-09-30 13:08] IlfirinPL opened #333 "SmartClient and SmartGWT"
SmartClient and SmartGWT its not possible to use locator like  'scLocator'
Maybe its possible to port keyword "Add Location Strategy" from SeleniumLibrary or extent this this type of strategy to common available strategy. Other solution to allow import of user-extensions.js/user-extensions-ide.js.

Below some links related to this topic

http://www.smartclient.com/smartgwtee-latest/javadoc/com/sma

[2014-10-01 15:49] ombre42 commented on #177
It looks like the capability to access the cookie manager used in private browsing via an API has not been implemented, so I am not going to bother the Selenium developers.
See Mozilla bugs [823941](https://bugzilla.mozilla.org/show_bug.cgi?id=823941) and [777620](https://bugzilla.mozilla.org/show_bug.cgi?id=777620)

[2014-10-01 23:11] emanlove commented on #333
Looking at the [codecentric article](https://blog.codecentric.de/en/2010/12/testing-smartgwt-applications-with-selenium-and-robot-framework/) it looks as if the locators are simply xpath locators. Is there anything unique with SmartClient and SmartGWT elements? Does one use javascript to find those elements?

[2014-10-02 03:24] ombre42 commented on #333
I think they just look like XPath. See the JavaScript implementation for [Selenium 1](https://code.google.com/p/smartmobile/source/browse/trunk/mobile/WebContent/tools/selenium/user-extensions.js?r=36).

[2014-10-02 03:36] ombre42 commented on #135
From what I can tell this issue was fixed. Feel free to re-open if I am mistaken.

[2014-10-02 03:58] ombre42 commented on #208
This type of question is better asked in the user forums for Selenium, Robot Framework or others.
You could use nfs, mapped network drives, rsync, robocopy, sync with a SCM, and other solutions.
Closing this as it cannot be handled in this project.

[2014-10-02 04:00] ombre42 commented on #209
this was fixed in 1.3

[2014-10-02 04:02] ombre42 commented on #242
Jeremy has provided a sufficient answer.

[2014-10-02 04:27] ombre42 commented on #315
@ponkar have not heard from Ed. His last commit was at the end of August.
As a temporary workaround, you can use Execute Javascript to return elements or invoke _element_find.

[2014-10-02 08:50] IlfirinPL commented on #333
I have example  like recorded from selenium IDE
type |scLocator=//ListGrid[ID="ChainList"]/filterEditor/editRowForm/item[name=name||title=Chain%20Name||value=test||index=0||Class=TextItem]/element | test

used in robot like
Wait Until Page Contains Element    xpath=//ListGrid[ID="ChainList"]/filterEditor/editRowForm/item[name=name||title=Chain%20Name||value=test||index=0||Class=TextItem]/element
I

[2014-10-02 14:25] ombre42 commented on #333
This isn't the first time adding a custom strategy has come up, but I can't remember where it was discussed. Adding custom strategies would be a nice feature to have, and I do not think it would be very hard to implement.
@IlfirinPL I would be able to recommend a workaround until adding custom strategies is supported, but I cannot find the production code used for the scLocator - closed source may

[2014-10-02 20:02] ponkar commented on #315
Ok Can any one comment if it is in development plan that anyone is working on it

[2014-10-03 02:04] ombre42 commented on #287
Also jQuery/sizzle support has been added for table locators but do not appear in this table.

[2014-10-03 08:22] IlfirinPL commented on #333
There are sources http://smartclient.com/builds for smart client but only included driver as jar

below sources for isomorphic-webdriver with Class ByScLocator
http://www.speedyshare.com/qBABJ/isomorphic-webdriver.src.zip

[2014-10-03 13:19] ombre42 opened #337 "jquery,sizzle,dom locator strategies do not honor implicit wait setting"
This issue is not affecting me, but I noticed this inconsistency.
Since these strategies use `execute_script` instead of selenium's built-in methods to locate elements, the implicit wait code in Selenium is not used. This could be handled on the client side by adding a polling/timeout mechanism.

Fails immediately instead of after 20 seconds:

[code]

[2014-10-03 16:16] ombre42 opened #338 "Choose File mentions non-existent argument 'identifier'"
`identifier`

[2014-10-04 03:37] ombre42 commented on #177
I am still working on a fix.

I'm pretty sure my fix works but it is causing failures which are due to `Get Cookies` not working as described. It uses Selenium's `get_cookies` to fetch cookies which claims are 'of the current page' but it is not filtering. Chrome and Firefox (when not private browsing) return cookies set on the empty path (host?) as well. The same cookie set for /html is also sett

[2014-10-04 09:35] aaltat commented on #177
I am OK with that. Specially if the documentation points to Mozilla doc/bug which explains that in the private browsing one can not access cookies and gives an example ff profile where private browsing is disabled.

[2014-10-04 18:42] emanlove commented on #333
In the back of my head I see using something like [Zope interfaces](http://docs.zope.org/zope.interface/) (named "Zope" because it came from Zope but they are not unique to or require Zope to be used). Basically giving people a plug and play interface to add their own locators. Probably overkill but still a thought...

[2014-10-05 15:20] ombre42 commented on #176
I think that changing the return value is an unnecessary and a riskier change. When this was first implemented, it should have returned "nothing", but it seems too late to change that. If we consider "No keyword" and "nothing" to be synonymous, the warning will go away.

[2014-10-05 15:45] ombre42 commented on #333
I looked at how the Java bindings handle this and how elementfinder works. In the Java bindings, a custom By receives a search context, which could be either a WebElement or WebDriver. The jQuery, your angularJS locators receive nothing but the driver. The filtering is done the same for every locator. For a user locator, S2L should take care of that (and it should probably be refactored if there's

[2014-10-06 12:46] IlfirinPL commented on #333
I think this adding locator strategy should be sufficient, other part is rising error when element is not found for some reason  method like "Wait Until Page Contains Element " shouldn’t rise those type of errors

[2014-10-06 13:24] ombre42 commented on #333
Wait Until Page Contains Element only raises an error on timeout. If there is an unexpected error, though, it is not caught and will bubble up and cause the wait keyword to fail.
After mulling over, I don't think only having a single callable is good. It leads to boiler plate code checking if the search context is a web element or a driver. Would be cleaner if the user code has separate methods li

[2014-10-07 01:27] emanlove commented on #315
@ponkar, @ombre42: I have [added some initial documentation changes](https://github.com/emanlove/robotframework-selenium2library/commit/41982661996877ebd014bda042b2ba14f6f59db6) to the Selenium2Library Introduction and section about locators. I am still working out formating and wording so any suggestions are welcome.

[2014-10-07 13:59] ombre42 commented on #315
Still analyzing, but wanted to suggest changing Get Element Attribute to support using a webelement as a locator. It would be easy to do in a backwards compatible way by adding a `name` argument that supersedes parsing `attribute_locator` for an attribute name.

[2014-10-08 08:58] gjemp commented on #244
sry for commenting this  but I was really confused with returning value.
was trying following:
1) function a(){ var b = 1; return b;}
2) function a(){ var b = 1; return b;}  return a();

were not working and then I tried this:
1) return b=1;
 and it worked. But in JS you can return something only in function so I was expecting that if functions returns something then that is it  :)
https://develop

[2014-10-08 09:04] gjemp opened #340 "select window handling needs some improvement"
Hi my case is described here:
https://mail.google.com/mail/u/0/#inbox/148413cdf87ee7c9

In short.  Select window (or any other  keyword that is trying to select window ) will fail if window that is focused will be closed before window focus is changed to other window. Same case will happen with Capture Screenshot keyword where it is not able to find the window and will fail.

My suggestions are:
a

[2014-10-08 11:41] IlfirinPL commented on #333
I don`t think we should split method into two based on what we search for WebElement or WebDriver.
As end user I want to specify xpath and it should be search both areas.

[2014-10-08 12:34] ombre42 commented on #244
Sounds like we need more clarification.
Add this text (from the Javadocs for Se): The script fragment provided will be executed as the body of an anonymous function.
Add an example with a return statement to _both_ execute keywords.

[2014-10-08 20:24] dpsfrishberg opened #341 "Prevent on-failure keyword from running more than once"
I would like to contribute a change to _runonfailure.py and keywordgroup.py to prevent multiple screenshots from being taken on failure. This could happen if one keyword calls another. The way Selenium2Library is currently implemented, this will not happen, but if another library extends Selenium2Library, and it defines a keyword that calls a Selenium2Library keyword, and the inner keyword fails,

[2014-10-09 01:39] ombre42 commented on #341
We love contributions, especially with tests. Avoiding duplicate on failures is good.
It sounds like your solution is only for when Selenium2Library is extended through inheritance. I'm thinking for extending the library by using a separate class, we could provide a ExtensionKeywordGroup people could inherit from that would provide on failure in the outside library and disable S2L's on failure dur

[2014-10-09 02:44] ombre42 commented on #244
@gjemp I updated per my comments above - see d993370207ecf5ed6feaa4024bd8bf4abd1d10e3.

FYI you can find more examples in [this Javadoc](http://selenium.googlecode.com/git/docs/api/java/org/openqa/selenium/JavascriptExecutor.html)

[2014-10-09 11:29] ponkar commented on #242
May i know what is the sufficient answer provided here ?

[2014-10-09 15:04] dpsfrishberg commented on #341
Thanks! I will try registering a different keyword as you suggest. Do you see any downside to just keeping track, in the decorator in keywordgroup.py, of whether a screenshot has been taken yet? The code I am thinking of is this. In _runonfailure.py, add to `__init__`:

[code]

And in keywordgroup.py:

[code]

[2014-10-09 17:16] dpsfrishberg commented on #341
Also:

[code]

I am wondering where I should define "Custom Selenium Keyword". I could put it in a custom library that extends Selenium2Library, somewhere under the test/acceptance directory, and import it in my test, but the test runner needs to set the pythonpath accordingly, and it appears that that is already set to the src directory so that Selenium2Library can be imported.

[2014-10-10 05:08] ombre42 commented on #341
Overall, this looks good and will fix the issue.
If the very first keyword invocation failed, `and not self._has_run_on_failure:` would cause AttributeError as it doesn't exist yet.
You could do this before the try, avoiding changing the main class:

[code]

Normally creating instance attributes outside `__init__` is considered a bad practice, but with decorators, I think separation of concerns ta

[2014-10-10 10:01] tramora opened #342 "Browser Capabilities handling : need to fix boolean values for remote webdriver - need to use capabilities for local webdriver"
Hi all,
On a webapp I have to use a popup only shown on mouse hover.

For this purpose I need to give the requireMouseFocus parameter in the capabilities for Internet Explorer. This works well in pure python/selenium.

Unfortunately when using robot and selenium2library (1.5.0) it makes the IEDriverServer.exe (2.43.0) crash violently
## Boolean capabilities parsing

I found that the parsing in Sel

[2014-10-10 14:17] dpsfrishberg commented on #341
Great, thanks! Good catch re. `hasattr`; I will make that change and add a test.

[2014-10-10 15:05] ombre42 commented on #342
The issue with booleans interpreted as strings was addressed in 1.3. You can pass in a real dict instead of a specially formatted string.
This is mentioned in the doc for Open Browser:

[code]

Hmmm... I think that could be improved by mentioning how it differs from when the argument is a string.

#139 is tagged future release. I'm not sure when it will get fixed, but it should be.

I think your b

[2014-10-12 21:01] ombre42 commented on #91
#341 made me think about my experience with creating extensions to S2L and the trouble I had with on-failure. I believe the best way to extend stateful libraries is accessing the current instance [as documented in the user guide](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#getting-active-library-instance-from-robot-framework).

I think we can go one more than just

[2014-10-13 06:56] pekkaklarck commented on #91
1) I like the idea to make extending easier in general.

2) More examples showing how everything works would be nice.

3) I generally prefer propertys over getters, but getters have a benefit that they can later get optional arguments without breaking existing code. If we go with `s2l` property, it's obviously easy to add `get_s2l()` getter later if there actually are needs for arguments.

4) Wher

[2014-10-13 08:00] tramora commented on #342
Hi Kevin,
Thank you for your answer and the proposed workaround for the booleans (Create dictionary). However I think it's is better to fix also the code so that the behaviour is the same when using a string and a real dictionary.
Ok for #139. Create Webdriver is an usable workaround before an acceptable way to fix the code is found.

[2014-10-13 16:12] boakley commented on #270
I did a little more debugging of this and discovered some very odd behavior that I don't understand. Consider this line of code in get_current_window_info:

[code]

I'm finding that sometimes this won't return a list of four elements. Instead, it returns a single WebElement object. Then, the later code fails because it tries to iterate over the single WebElement object when it expects a list. I do

[2014-10-13 17:36] ombre42 commented on #341
@frishberg quite by accident i discovered that the issue you brought up here can be solved by just setting the on-failure keyword to None before invoking the keyword. See: https://github.com/rtomac/robotframework-selenium2library/commit/3e233ac2fa5e96538f540723dfb9fa9ee0db76b4#diff-884eab145461eeab24866767b1b202a4R18

[2014-10-13 18:16] ombre42 commented on #342
There are other issues too...
proxy's value is a dict - this has been a problem for a lot of people and fixing that is not as simple as the bool issue.
int-type capabilities are being sent as strings - I'm assuming that is no good either.

We gladly accept patches with tests if you want to improve the string parsing.

[2014-10-13 18:34] ombre42 commented on #270
Bryan, thank you so much for all that information. Unfortunately, I have seen wonky [behavior like this](https://code.google.com/p/selenium/issues/detail?id=4999) before.
Probably a bug in the server-side of Se. Which browser/driver verion did you see this behavior in?
Originally I considered not getting or returning `window.id` in `get_current_window_info`, but then thought someone might be calli

[2014-10-13 21:39] boakley commented on #270
We are seeing the behavior with IE 9. It's the only browser we're trying
right now.

I don't think the id is the culprit here. Like I said, the entire list is
coming back as a single WebElement. From a pdb prompt I did
`self.execute_script("return [ 1, 2 ]")` and that also came back as a
WebElement. Very odd. It seems like `self.execute` was converting any list
to a WebElement.

I wish I could dup

[2014-10-14 15:44] dpsfrishberg commented on #91
For what it's worth, we struggled with whether to extend Selenium2Library or access its instance for our implementation of page objects on top of Selenium2Library. The nice thing about extending it is that, through simple OO inheritance, you get all of Selenium2Library's methods. From a Robot test (which of course Selenium2Library is designed for), this distinction does not really matter, as long

[2014-10-14 15:57] dpsfrishberg commented on #341
Yes, that looks like a much simpler solution. Pardon my Git illiteracy, but is this commit part of a branch? I cannot check out the commit in detached head state when I clone the repo, and I cannot tell what branch it might belong to through the Github interface.

[2014-10-14 16:22] ombre42 commented on #341
The commit belongs to a branch in a fork that is not in master. I do not think you have to pull it down - its only a couple of lines and it belongs to a decorator specifically for user libraries. I'm a git novice myself.

[2014-10-14 17:19] ombre42 commented on #91
No one here is going to attempt to stop you from extending Selenium2Library :)
Thank you for your comments.

If you want to write a keyword that is specific to one part of an app, but needs to use advanced things like ActionChains, do you put it inside Selenium2Library?
I would not like that because it pollutes the namespace - in a large automation project, I would not like to be forced to have ke

[2014-10-14 19:29] ombre42 commented on #270
Thanks Bryan. I guess I'll just leave it as is. We have problems with IE8 where once you go to a particular page, Input Text stops working in that window and we have to set text via Execute Javascript and use Simulate.
I also have had to use scrollIntoView when Selenium failed to scroll for me. I extracted out a standalone page to demonstrate the issue to the Selenium team, but the standalone page

[2014-10-14 21:23] boakley commented on #270
Instead of leaving it as-is, can you implement the change I suggested? That
is, getting each value individually? It's a tiny performance hit but seems
to make the keyword more stable.

On Tue, Oct 14, 2014 at 2:29 PM, Kevin Ormbrek notifications@github.com
wrote:

[2014-10-14 22:43] pekkaklarck commented on #270
This keyword could also be enhanced to allow selecting what info to return similarly as [Process.get_process_result](https://github.com/robotframework/robotframework/blob/master/src/robot/libraries/Process.py#L655).

[2014-10-15 15:26] dpsfrishberg commented on #91
Understood, thanks.

We just import whatever we need and put the methods inside the page objects.

OK, thanks, I understand.

[2014-10-15 15:27] dpsfrishberg commented on #341
Sure, that makes sense. Just wasn't sure if this was something you were already planning on committing to the next version, in which case I wouldn't need to do my own contribution, I assume.

[2014-10-15 16:55] ombre42 commented on #91
Do your page objects inherit from S2L, but hide the S2L keywords by using the dynamic library api to only expose your page methods? Do you override `_current_browser()` to point to the S2L instance created by RF?
I looked at @kahunacohen's comment, but this part was not shown.

[2014-10-15 17:01] dpsfrishberg commented on #91
Yes, basically. Though I am experimenting with taking out the part that hides S2L's keywords, because we also, in `run_keyword`, call `BuiltIn().set_library_search_order("____")`, passing it the name of the "current page". By default, that's S2L, but once you've called the `Open <Page Name>` keyword (which we expose in `get_keyword_names` for each page object class) for a given page - e.g. "Open G

[2014-10-15 19:13] DevSX opened #343 "IE driver is getting crashed on executing long scripts"
Hi,

We are using IEdriver (version 2.32.3.0) with robotframework-selenium2library-java-1.4.0.6-jar-with-dependencies to run our tests through command window using Jybot.

We are using IE 10 on win 7 and 8.

Please let me know if there is any work around.

Things which I have already tried -
1. Setting registry values.
2. Killing all instances of IE driver
3. Breaking the test suite into smaller c

[2014-10-16 04:18] ombre42 commented on #91
@pekkaklarck thanks for the feedback. Haven't thought of where to host. If its just the extensions, we could put on GitHub pages, but the whole project than one of the ones you mentioned would be more desirable.
I differed proper documentation until we at least had some consensus.
Thanks for the tips on reST doc-style.
Do you think providing setters for the properties is a good idea? The use case

[2014-10-17 09:48] pekkaklarck commented on #91
The problem with reST and Sphinx on GitHub pages is that you need to handle HTML conversion yourself. Using http://pythonhosted.org/ or https://readthedocs.org/ avoids that problem.

I would say that adding setters only to ease mocking sounds a bit weird, especially if there are no concrete use cases that require it. I'm surprised not all mock frameworks support mocking properties out-of-the-box.

[2014-10-18 02:11] ombre42 commented on #91
Thanks. I will forget about supplying setters. mockito is a port from Java and I think is based on `__call__`, so that's why it does not support it as far as I know.  Also it has not been updated in 4 yearys. Will go with readthedocs then.

[2014-11-03 16:56] dpsfrishberg commented on #341
Hi. So as I'm implementing this change, I am trying to run the tests against it. I would like to know how I can run only the tests in a specific file. I can limit it to a directory like this:

pybot --doc SeleniumSPacceptanceSPtestsSPwithSPfirefox --outputdir /path/to/se2lib/test/results --variable browser:firefox --escape space:SP --report none --log none --loglevel DEBUG --pythonpath /path/to/se

[2014-11-03 17:35] ombre42 commented on #341
You can pass options to RF after the browser name. For what you are trying to do, select the suite to run. For example:
`C:\>python run_tests.py python ff --suite textfields`
will run tests in `acceptance/keywords/textfields.txt`.

[2014-11-03 17:49] dpsfrishberg commented on #341
Great, thanks!

I discovered that, using the approach you propose, the "Register Keyword To Run On Failure" keyword breaks. That keyword refers to `self._run_on_failure_keyword`. When I turn off running on failure by setting that attribute to `None`, the method ceases to return the old value.

Any objection to just using `self._has_run_on_failure` and `already_in_keyword`?

[2014-11-03 18:23] ombre42 commented on #341
Is there a valid use case for a Selenium2Library (or extension) keyword calling `Register Keyword To Run On Failure`?

[2014-11-03 19:17] ombre42 commented on #341
Oh. The bit about setting it to None was written from an external point of view. Go ahead and do your original fix. `Register Keyword To Run On Failure` should not be decorated, but its not really hurting anything except the scenario you just ran into.

[2014-11-05 17:15] hellmanj opened #346 "Open Context Menu not working with phantomjs"
This appears to be a phantomjs issue (see https://github.com/ariya/phantomjs/issues/11429) but it doesn't seem to be getting fixed.  There is a javascript-based workaround in the issue comments which does seem to work.  Is it appropriate to alter `Open Context Menu` with special logic for phantomjs that uses this workaround?

[2014-11-06 17:23] dpsfrishberg commented on #341
@ombre42, I have written the code and tests, and they pass, but I am seeing unrelated failures in master, both in my local (CentOS) environment, and on our Linux CI agents (all tests passed on the same agent in late August). Wondering if this makes any sense to you. The failures:

[code]

[code]

[2014-11-06 22:31] HelioGuilherme66 commented on #341
Those tests need to be adjusted.

Please compare with my forked file prepared to PASS with different browsers.

Attached test/acceptance/keywords/async_javascript.robot

Full path is here:
https://github.com/HelioGuilherme66/robotframework-selenium2library/blob/master/test/acceptance/keywords/async_javascript.robot

On Thu, Nov 6, 2014 at 5:23 PM, frishberg notifications@github.com wrote:

[2014-11-06 22:56] dpsfrishberg commented on #341
@ombre42, I am not seeing the file attachment.

[2014-11-07 02:43] ombre42 commented on #341
@emanlove has already addressed these failures in ef3f67dd978530b786ac75896b75207b775e33a5. Your fork/branch is behind master.

The failures are caused by a change in the very latest version of Selenium. The way exceptions are printed(__str__ method of WebDriverException) changed:
[2.44.0](https://code.google.com/p/selenium/source/browse/py/selenium/common/exceptions.py?name=selenium-2.44.0#31)
`e

[2014-11-07 14:37] chevi opened #347 "Add argument [index_or_alias] to the Keyword "Close browser""
Hi,

It would be great to add argument [index_or_alias] to the  Keyword "Close browser" as already is in keyword Switch Browser.

[2014-11-08 13:17] emanlove commented on #341
@frishberg You should be able to update your fork/branch with something like

[code]

The "--rebase" will prevent alot of "Merge branch 'master' into <MyForkOrBranch>". Don't recommend this all the time but in this case where you have a fork/branch that is cloned from another and both yours and the other have been updated then you can merge in the remote changes "inline" with your own using rebase

[2014-11-10 15:55] dpsfrishberg commented on #341
OK. I followed your instructions and created #349.

[2014-11-11 17:40] aaltat opened #350 "Add help on docs about common tools how to find correct xpath"
Most/many of the new users questions are related to validating the selector that they have used. It would ease the pain of new users if we would list some of the default tools that would ease the pain of creating selectors in the web world. Like Firebug and firepath for ff and developer tools for chrome.

[2014-11-13 15:02] dpsfrishberg commented on #341
Tests are passing in #349. Does it look good to merge?

[2014-11-21 12:37] IlfirinPL commented on #333
Maybe its possible to implement in python similar to code below
"selenium.setExtensionJs("src/main/resources/user-extensions.js");"

more example code
protected static DefaultSelenium selenium;

[code]

[2014-11-23 09:03] email2vimalraj opened #351 "Add a keyword to check focus"
Add a keyword to assert the focus of the element. Currently we have a keyword 'Focus' to focus on the given locator, but missing the assertion for the same.

[2014-11-27 07:46] sunithas313 commented on #131
I have a similar issue. I want to retrieve the text on pop up which changes on hovering, I tried with
Mouse Over  xpath1
Focus  xpath2
Get Text  xpath2

But displays blank.
When i tried to get the attribute value it displays, i.e i tried getting id value, but does not display the text.

Could any one please help?

[2014-12-03 22:26] boakley commented on #270
I realize this issue is closed (without being fixed?), but I got sidelined with an illness before I could post this, and then forgot all about it. We have a monkeypatch that seems to work around this issue quite nicely. Any chance you could add this to the next release of Selenium2Library?

We replace get_current_window_info with the following code, which is the barely-slower-but-more-robust sugge

[2014-12-05 12:05] IlfirinPL commented on #333
I have method that would have to be added to elementfinder.py to allow support of scLocator.

it required 2 modification add next strategy
in method _init_
 'scLocator': self._find_by_sc_locator,

and add method itself

def _find_by_sc_locator(self, browser, criteria, tag, constraints):
        js = "return isc.AutoTest.getElement('%s')" % criteria.replace("'", "\'")
        return self._filter_el

[2014-12-05 14:18] IlfirinPL commented on #333
pull request 352
https://github.com/rtomac/robotframework-selenium2library/pull/352

[2014-12-17 19:29] dpsfrishberg commented on #341
Ping.

[2015-01-01 23:36] emanlove commented on #275
@pandabat: Thank you for contributing this code. Sorry for the very long delay in responding.

I'm not sure why we can't simply allow one to use the selenium key variable, like

Press Key    ARROW_DOWN

If press key expects a single character with the idea that one can really only press a single key then if it is not a single character then it must be something else. No need to have a special synt

[2015-01-01 23:53] pandabat commented on #275
At the time I was just happy to find something that works but I don't know
what the best solution here is. I suppose the case where someone actually
wants the chars "ARROW_RIGHT" output by Press Key must also be considered.
i.e. How would the difference between the character sequence and the
selenium key variable be detected. I suspect many people (myself included
most likely) will use Press Key's

[2015-01-02 01:41] emanlove commented on #275
@pandabat: Keeping backwards compatability is important here. Currently this keyword does allow someone to "Press" or enter several keys at once which at one point it was prevented in doing so.  It looks like that change allowing more than one key to be pressed was inadvertently introduced back around version1.0.0 or early 2012 timeframe. The underlying code runs the same webdriver command as the

[2015-01-02 16:58] ombre42 commented on #275
We use Press Key to input text without clearing in some spots where clearing a field makes the AUT angry, so I agree with @pandabat about the breakage.
We still lack a solution for performing chords, like Ctrl+C and for pressing keys without specifying an element/locator (hmalphettes/robotframework-selenium2library-extensions provides both).

I think if you match the key against the key codes in t

[2015-01-02 18:25] HelioGuilherme66 commented on #275
Hi,

This is a reminder that I am working in a Press Keys keyword that allows to
send Ctrl-C or even Ctrl-Shift-Home.
I have already some acceptance tests working.

https://github.com/HelioGuilherme66/robotframework-selenium2library/tree/expand_press_key

Can you take a lock at it?

(The behavior in IEDriver is really slow.)

Thanks,
Hélio

On Fri, Jan 2, 2015 at 4:58 PM, Kevin Ormbrek notificatio

[2015-01-06 00:07] emanlove commented on #275
Hélio, yes I am looking at your implementation too.

[2015-01-09 01:20] cyllouis opened #353 "On IE9, "click element" does not work after switch from other window"
On IE9, opened 2 windows (A, B). Try to switch window from B to A, use command: Select window | title=A;
And then try to click on one element in A to logout, cmd: click element | css=a.layer-picture-link[title="Sign out"]
it does not work.
While, it works well with Firefox, but when turn to IE9, it does not work.
There is not error reported in this step, but the "click" operation did not work, the

[2015-01-09 01:47] cyllouis commented on #353
Sorry, seems it has been fixed in 1.6.0

[2015-01-09 12:46] alexhaller opened #354 "Add keyword "Wait Until Page Title Contains""
Hi,

I miss the given keyword in the heading. I want to wait till a page is loaded but I don´t want to check if there´s a certain element on the site. I need the page title.

It would be great if you can add this keyword.

Thx a lot!

Best regards,
Alex

[2015-01-29 22:09] pmhalder opened #355 "Mouse hover mouse down does not work in various browser like safari or IE11 and IE10"
Mouse Over --- does not throw any error but does not work either on
IE 10 or 11
all other does not work on safari 8 with mac osx 10.10

[code]

Throws following error
0 Stacktrace: 23:44:00 at sun.reflect.NativeConstructorAccessorImpl.newInstance0 (NativeConstructorAccessorImpl.java:-2) 23:44:00 at sun.reflect.NativeConstructorAccessorImpl.newInstance (NativeConstructorAccessorImpl.java:57) 23:44:

[2015-01-30 07:18] cloverluo commented on #229
Hi N1t1nA,
I have the same question that  how to Start further and Create Test Suite and write Robot Tests, and the content assist function is not working in eclipse for the keyword of robot.
Could you help me ,thanks.

[2015-02-03 13:34] emanlove opened #357 "'Get List Items' keyword documentation should reference 'labels'"
The 'Get List Items' keyword documentation states "Returns the values in the select list " when it really should read "Return the labels" and not "values". For example if the page contains the following

[code]

then a call to 'Get List Items' would return Email Telephone and Direct Mail not email, phone, and directmail. Or it would return the option text and not "value" attribute.

[2015-02-08 17:34] aminK1 commented on #4
you would need to escape first backslash in RF.
This should solve your issue..

"Press Key    login_button    \13"

[2015-02-10 00:33] #177 closed, assigned to nobody

[2015-02-10 04:46] mgrijalva commented on #322
In this case the return value should be checked, and raise an exception if it is False?

[2015-02-11 06:39] pmhalder opened #359 "Add Cookie failed on IE9"
WebDriverException: Message: Unable to add cookie to page (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 24 milliseconds
Build info: version: '2.40.0', revision: 'fbe29a9', time: '2014-02-19 20:54:28'
System info: host: 'Sauce-Win7', ip: '172.20.41.148', os.name: 'Windows 7', os.arch: 'x86', os.version: '6.1', java.version: '1.7.0_65'
Session ID: XXXX

[2015-02-11 13:48] schwalldorf opened #360 "Close window Problem"
If you close a pop-up window using close window, all further Selenium2 keywords fail with an exception:
NoSuchWindowException: Message: Window not found. The browser window may have been closed.
Even keywords as "get window names" fail.
The same problem arises when the pop-up window is closed by mouse click or using Javascript window.close().

Minimal set-up for testing: Simple local html file wit

[2015-02-11 15:30] emanlove commented on #360
Trying Python Selenium on

OS: Linux Ubuntu 14.04
Browsers: Firefox 31.0
Selenium 2.44
Selenium2Library 1.6

Using the test page, test.html

[code]

I have no issues with just selenium

[code]

 but do see the issue with the library (1.6)

[code]

[2015-02-11 16:24] emanlove commented on #353
If this issue reappears open a new ticket.

[2015-02-11 16:24] #353 closed, assigned to nobody

[2015-02-11 16:39] emanlove commented on #343
For general support please email the robot framework users group at robotframework-users@googlegroups.com.

[2015-02-11 16:39] #343 closed, assigned to nobody

[2015-02-11 17:06] emanlove commented on #359
Any steps to reproduce? I see you are running a proxy, correct?

[2015-02-11 17:11] emanlove commented on #360
Just looking into the backlog of issues for any other open/close/switch window related ones. Noting (in no particular order) #205, #340, #213. Not sure if these still valid. Please feel free to add any I have missed. Maybe we can tackle these altogether.

[2015-02-11 19:43] pmhalder commented on #359
using saucelab to run test

Open Browser
Got to URL
Add Cookie

and the test fails on the Add cookie step. with the above error . Fails only on IE9  works with IE10

[2015-02-13 12:09] emanlove commented on #359
You might try the robotframework user's group as well as selenium user's group. If you do post in either it is best to give full information (OS, browsers, selenium versions, etc). You could also try a quick pure python and selenium check to narrow down where the problem might lie ([instructions on how can be found here](https://github.com/rtomac/robotframework-selenium2library/blob/master/BUILD.r

[2015-02-18 00:59] emanlove commented on #202
Won't Robot Framework log the password no matter what? Even if we used the above code won't the log still have a line that says

[code]

I'm not seeing that this keyword is of an use. Yes, it would be helpful if we posted information to the console during test runs. That is, if the obfuscated line we log "Typing password into text field ..." was displayed somewhere other than the log file and thus

[2015-02-18 19:58] Tattoo commented on #202
@emanlove ,

If you do write like you said, then of course that is visible in the log file. However, the use case here is that you get somehow the actual password to a variable as shown (poorly) in my original example. In this case, `Input Password` is the only thing that leaks the value of the variable to the log with sufficient log level

As detailed before by @ombre42 , setting the log level to

[2015-02-18 23:58] pekkaklarck commented on #202
First of all, I think `Input Password` has its usages. As @Tattoo wrote, you can get the password so that it's not visible in the test data (e.g. from the command line or from a variable file) and thus not visible in logs either unless explicitly logged.

The above said, I don't think it makes sense for Selenium2Library or any other library to fight against automatic trace level logging by Robot F

[2015-02-19 00:16] emanlove commented on #202
@pekkaklarck Thank you for those thoughts. I've been searching for the right words so we can explain in the keyword docstring what one normally sees and how one can obscure to a point.

[2015-02-19 14:49] ombre42 commented on #202
I agree with @pekkaklarck's assessment.

[2015-02-23 14:42] winko commented on #327
I can confirm that the "Wait Until Page Does Not Contain Element" keyword is a very useful and required one!

[2015-02-24 07:02] rickhau commented on #18
I also have a similar issue to deal with autosave using the selenium2library. However, I do not want to copy the entire profile directory as selenium2library only eats the profile directory. What I want is as following to set the preference for specific settings in the preference then pass that to the webdriver. Would like to know if selenium2library offers this capability to pass the firefox_prof

[2015-02-24 18:25] just-be-dev opened #364 "Add Location Strategy Keyword"
The first selenium library had the `Add Location Strategy` keyword. It essentially allowed for instances like [this](https://github.com/MarkusBernhardt/robotframework-selenium2library-java/blob/master/src/test/robotframework/testsuites/UnitTests/ExtJS.txt) which is exactly what I happen to need at the moment.

Is there a particular reason why it isn't present? I found the [java implementation](htt

[2015-02-25 00:25] emanlove commented on #364
We were actually having a discussion within #333 about allowing user specified locator strategies. Just curious what type of element are you trying to locate that is already satisfied by the current strategies?

[2015-02-25 03:00] emanlove commented on #18
We added a while back an alternative to 'Open Browser' keyword, that is 'Create Webdriver' though I am not sure you can accomplish exactly the above code. Might give that a try. What do you mean by "eats the profile directory". If you provide the directory/profile it shouldn't eat this one up; only the temporary one if you don't provide one. Actually if I remember correctly it copies the one you p

[2015-02-25 04:01] rickhau commented on #18
Hi, emanlove

   Many thanks for your advice and more information. What I meant by 'eats the profile directory' is the ff_profile_dir only accepts a directory where the profile(permission.sqlite and pref.js) resides. What I am looking for is to set the preference by using webdriver.FirefoxProfile() then pass that preference instance to open_browser(). Then, I can have my browser open with some pre

[2015-02-25 12:25] emanlove commented on #18
You could just check in these two files and just make them part of the build process; either the build process which creates the test machine or the build process which checks out the code and runs the tests.

There are some issues submitted to the selenium project and discussions online requesting from the selenium team to allow people to keep the profile around. The selenium developers have, I t

[2015-02-25 13:19] just-be-dev commented on #364
I want to locate using ExtJs' component query (see the _this_ link above. What I have in mind is basically a javascript locator. Already working on a PR.

It's pretty much exactly what's implemented in the Java version I linked to.

[2015-02-25 14:27] emanlove commented on #364
Looking at that [example](https://github.com/rtomac/robotframework-selenium2library/issues/333) what I see is this is a javascript locator. Just wandering if there is other locator type that we can implement with a very similar keyword/argument syntax that is not javascript based. The reason I ask is to see if we need to add an argument that states which method the locator code implements. Somethi

[2015-02-25 14:43] just-be-dev commented on #364
Well, I suppose that's entirely possible. You could just provide it with a python function to run. It wouldn't be all doable from within RF, but I feel like this is somewhat of a special case anyway so I think that'd be acceptable.

Edit: After thinking about it a bit I've got a pretty good idea of how we can implement general, reusable solution. I'll get back to you when I have a basic implementa

[2015-02-27 13:38] ktarasz opened #366 "Add set and get window position keyword"
There is a Selenium WebDriver command for setting the window position.

[2015-02-27 13:46] ktarasz opened #367 "Add get window position keyword"
There is a Selenium WebDriver command for get the window position.

[2015-02-27 14:46] ktarasz commented on #366
Test for 'Get and Set Window Position' passed... (https://github.com/rtomac/robotframework-selenium2library/pull/368)  It's looks strange...

[2015-02-27 14:47] #367 closed, assigned to nobody

[2015-02-28 05:33] rickhau commented on #18
Hi, emanlove
  Thank you very much for all the advice.

[2015-03-02 01:04] emanlove commented on #229
As Kevin noted:

This is an issue tracker for Selenium2Library.
If you need help with SeleniumLibrary or Robot Framework usage, please post to the [user group for Robot Framework](http://groups.google.com/group/robotframework-users).

I will also note this is a really old thread so ii is best to ask within the [user group](http://groups.google.com/group/robotframework-users).

[2015-03-05 07:08] vladisakov88 opened #369 "click element twice not working"
Hello,

Trying to do "Click Element" like in this example :

[code]

But the output is : 0549683 , Every element that appear twice click only once...

[2015-03-05 10:32] emanlove commented on #369
@vladidi: Do you have a sample test page that you're using in the above example?

[2015-04-07 07:21] klemmster commented on #327
it's one of the waiting keywords referenced in  #246

[2015-04-07 11:51] stevejefferiesIDBS opened #372 "Choose File does not fail on invalid file path"
Currently "Choose File" checks for the files existence (os.path.isfile) and will log an info statement if the file does not exist, but does not fail the keyword. This causes issues when the browser is interacting with a native select file dialog, such as the IEDriver does. In the case of IE the test then hangs since the native dialog cannot be closed.

[2015-04-10 00:28] asitishere commented on #227
I stated using the Java port and found the same problem.
The workaround for now is in when you call the keyword "Open Browser" nit calls createLocalWebDriver function inside BrowserManagement.java.

I have downloaded the chrome or ie driver exe as per you system ( 32 or 64 bit) then copy to any location and point it in code

} else if ("gc".equals(browserName) || "chrome".equals(browserName) || "g

[2015-04-10 21:20] just-be-dev opened #374 "Get window titles failing for FF, py 2.6"
A lot of PRs have failures on travis because `Get Window Titles` failed on python 2.6. It's possible this is because of a change in the selenium 2 dependency that dropped some 2.6 support.

[2015-04-14 21:27] just-be-dev commented on #372
@stevejefferiesIDBS I'll take a look at this for you.

[2015-04-14 23:05] just-be-dev opened #376 "Investigate removing unreleased non-native selectors"
@IlfirinPL Added location support for SmartClient and SmartGWT in the (currently pending) 1.7 version. Being that I've added the ability to create custom locators, this may be a candidate for removal/refactoring before release.

I have similar goals of integrating ExtJS and I was able to accomplish that using a custom locator. I'll publish it in a new repository for you to compare with soon.

@Ilf

[2015-04-15 13:32] IlfirinPL commented on #376
It what way removing custom locators would improve you solution ?
For my point of view its better to have more, both custom locators and having integrated ExtJS

[2015-04-15 14:03] just-be-dev commented on #376
I think you've misunderstood me.

I've added the ability to create a custom locator through keywords (see #365). With this ability, the SmartClient selector isn't necessary to have in the core. You could create a keyword `SmartClient Locator` and register it in the selectors list by doing `Add Locator Strategy | scLocator | SmartClient Locator`

[2015-04-15 14:09] just-be-dev commented on #246
`Not Contains` is improper English. I recommend `Does Not Contain` as an alternative.

[2015-04-16 09:12] IlfirinPL commented on #376
I your example    "Click Element    custom[example=true]" you have to pass argument in different way then the rest of locators custom=something, second you have to remember to add to all test suites both keyword Smart client locator and later register it , in current solution everything is out of the box, I like possibility of adding custom locator but I would like to most of commonly used to work

[2015-04-16 15:18] just-be-dev commented on #376
That was a typo, I've updated the original post.

This is straight from the docs:

Custom locator keyword example:

[code]

Usage example:

[code]

Currently, you only have to register it once and it will stay registered for the entire duration of the test execution. So, you register it in the setup of your top level suite and then all suites can use it from there on in.

[2015-04-16 19:16] jaloren opened #377 "Support Keyword for Finding Elements"
If you are on a web page in which there are multiple elements with the same identifier (e.g class attribute name etc) and the ONLY difference is the element text, then you are likely to execute the webdriver's find_elements function and then iterate through the element, checking the text of each element.

There is no easy way to do this in the selenium2library however. The most straight forward wa

[2015-04-20 08:25] chevi opened #378 "Choose file sends file as application/octet-stream, but needs text/csv"
Hi,

I want to test functionality where user uploads csv file. And on server there is verification of the uploaded file type:

[code]

When I make "Choose file" with Selenium2Library and submit, I get error from server that file type is incorrect. Basically it was sent as **application/octet-stream** type, but when I do the same manually, browser sends **text/csv** type.

Is it possible to add add

[2015-04-20 11:42] IlfirinPL commented on #376
I tried to check your solution but I have some problems
in suite setup
Add Location Strategy   scLocate2   Custom Locator Strategy ScLocate

Custom Locator Strategy ScLocate
    [Arguments]    ${browser}    ${criteria}    ${tag}    ${constraints}
    ${criteria}    Replace String    ${criteria}    '    \\'
    ${retVal}=    Execute Javascript    return isc.AutoTest.getElement('${criteria}');
    [

[2015-04-20 15:17] just-be-dev commented on #376
Why are you replacing `${criteria}` with `\\`? You might want to `Log` your arguments to make sure you're getting everything you expect to get.

Also, are you sure you're actually accessing the `isc` object? With `Execute Javascript` you have to explicitly use `window` if you want to access something in the global scope. That should probably be `window.isc.AutoTest.getElement(...);`. I assume that

[2015-04-21 07:32] IlfirinPL commented on #376
keyword "Custom Locator Strategy ScLocate" its equivalent of code below of python implementation
additional \ are to escape RF masking , code below its working correctly.  Standard \ are required to mask / in java script

[code]

[2015-04-21 15:16] just-be-dev commented on #376
Do you happen to have a test written for this against one of the SmartClient examples? If not, I'll try to write one at some point today.

[2015-04-22 09:00] IlfirinPL commented on #376
example use
open , wait for element , type single char

 Open Browser   | http://www.smartclient.com/smartgwt/showcase/#featured_tile_filtering
    Wait Until Page Contains Element  |  scLocator=//testRoot[]?/member[Class=VStack||index=0||length=1||classIndex=0||classLength=1]/member[Class=DynamicForm||index=1||length=4||classIndex=0||classLength=2]/item[name=commonName||title=Animal||value=a||ind

[2015-04-22 21:42] just-be-dev commented on #376
So I've implemented a test case to test what you gave me above and I found that both methods work.

I just commited a test that covers this in my [custom-smartclient-locator](https://github.com/zephraph/robotframework-selenium2library/blob/custom-smartclient-locator/test/acceptance/locators/smartclient.txt) branch.

You can try it out yourself by running:

[code]

You can change `firefox` to the b

[2015-04-23 15:45] just-be-dev commented on #374
I've marked this as a known issue on #379. This should probably still be investigated though.

[2015-04-23 22:02] just-be-dev commented on #378
I'll take a look at this.

[2015-04-24 08:12] IlfirinPL commented on #376
I tried your solution it raised some errors  but over all steps were executed correctly
[ ERROR ] Calling listener method 'start_keyword' of listener 'C:\Python27\lib\site-packages\robotide\contrib\testrunner\TestRunnerAgent.py' failed: TypeError: <selenium.webdriver.firefox.webdriver.WebDriver object at 0x0000000004623940> is not JSON serializable

[ ERROR ] Calling listener method 'end_keyword'

[2015-04-24 12:16] just-be-dev commented on #376
That appears to be some issue with RIDE. I run my tests directly from the command-line so I don't have a whole lot of experience with that. You might try reporting that as an issue on the RIDE repo, but it seems like it isn't really actively maintained anymore so you mileage may vary. All I can tell you from looking at ride code is that it's trying to serialize some data to send across a socket (f

[2015-04-24 13:12] IlfirinPL commented on #376
No, I want to have support of smart client as part of selenium, and as you see method using Custom Locator rise errors, over all i don't know why you want to remove it, where is advantage of it ?
In current solution you can use smart client out of the box.

[2015-04-24 14:22] just-be-dev commented on #376
It's more of an argument of separation of concerns. Having a SmartClient locator (or any custom locator) baked in means that knowledge of the SmartClient library is needed to maintain and support that locator. If SmartClient updates to change it's querying scheme then the Selenium2Library will have to update as well to mark that change. If you're still using the old query scheme after the library

[2015-04-24 19:02] just-be-dev commented on #55
This issue hasn't garnered any attention in a while, but I'd like to address this issue soon. This is more of a robotframework specific task though, so I'm going to close this and open an issue on the main repository.

[2015-04-24 20:08] #55 closed, assigned to rtomac

[2015-04-24 20:18] pekkaklarck commented on #55
How is this Robot Framework specific? Are you planning to create an installer that also contains Robot itself? I would be fine with that, but such installer should anyway be a separate project if it bundles various other projects.

Personally I see the need for separate Windows installers pretty small in general nowadays when Python 2.7.9 contains pip bundled in.

[2015-04-24 20:22] just-be-dev commented on #321
@ombre42 Can you add another PR for whatever corrections are necessary?

Thanks.

[2015-04-24 20:25] just-be-dev commented on #55
Yeah, that's more or less what I meant. A standalone installer with a few of the commonly used RF packages bundled in for ease of use. The primary use for this is installing in locations without an external network connection (like a lot of corporate testing environments).

[2015-04-24 20:46] just-be-dev commented on #369
@vladidi What was your browser and browser version?

[2015-04-24 20:49] pekkaklarck commented on #55
OK. It would be useful, but there are several non-trivial problems:
- How to select what are the most commonly used libs and tools.
- How to handle binary dependencies (pycrypto w/ SSHLibrary, browser drivers with Se2Lib, etc.)
- Installer needs to be updated every time new version of any package or package dependency is released.
- All users may not want to have latest versions of all packages.
-

[2015-04-27 23:28] just-be-dev commented on #376
I'll leave your solution in. In the future though, I want to avoid baking in locators.

[2015-04-27 23:28] #376 closed, assigned to nobody

[2015-04-27 23:31] just-be-dev commented on #364
See #365 for progress on this issue.

[2015-04-27 23:31] #364 closed, assigned to nobody

[2015-04-28 17:23] just-be-dev commented on #378
Okay, so I haven't messed with form uploads in a while and I was reading up on this.

I assume when you did this manually you pulled up the file browser dialog and selected the file that way. When the RF-S2L selects a file it simply types the file name into the upload dialog box. My hypothesis is that your browser then doesn't specify what the mime type for whatever reason and just falls back to _

[2015-04-28 17:30] just-be-dev commented on #372
@stevejefferiesIDBS Assuming there are no objections you can expect to see this in the coming 1.7.0 release.

[2015-04-28 17:30] #372 closed, assigned to just-be-dev

[2015-04-28 17:40] just-be-dev commented on #377
@jaloren if you want to create a PR I'll definitely work with you to get it merged in. You may want to take a peek at #356. @emanlove was working on a feature similar to this. It looks like this may be a non-trivial implementation though.

[2015-04-28 18:35] chevi commented on #378
Thanks for you response

After you commented, I've checked with other browsers that I have and results are:

Works on:
- Firefox 37.0.1

Doesn't work on:
- Chromium 41.0.2272.76 (webdriver 2.15)
- google-chrome-stable 42.0.2311.135-1 (webdriver 2.15)

OS environment:
Ubuntu 14.04

[2015-04-28 22:21] just-be-dev commented on #378
Thanks for getting me that info @chevi!

After doing some more investigation into this it seems it's a issue with the chrome webdriver. This issue has also been reported on their ticket tracker [here](https://code.google.com/p/chromedriver/issues/detail?id=915&#makechanges). I've mentioned that you're having an issue with it as well, but you're more than free to make a comment on that issue.

Ther

[2015-04-28 22:21] #378 closed, assigned to just-be-dev

[2015-04-28 23:17] just-be-dev commented on #366
This is now merged.

[2015-04-28 23:17] #366 closed, assigned to nobody

[2015-04-29 00:36] emanlove commented on #377
@jaloren The problem you describe is more of a locator problem than one to be solved by grabbing elements and then acting upon them. I personally find CSS class a poor location strategy and if there is no unique id then you might try xpath. There is a lot of tricks you can do with xpath to find elements.

@zephraph If you get a chance can you review #356 and then merge it if you find it satisfacto

[2015-04-29 02:05] just-be-dev commented on #377
Hey @emanlove, good to have you back! I've been doing a little house cleaning in your absence, I hope you don't mind too much. If you have any issues just email me.

I'll definitely take a look at it. On the topic of listeners, I'd also like you to look at #365.

[2015-04-30 04:34] just-be-dev commented on #322
I've wrapped everything in if statements, but there isn't a whole lot of information I can give. All I know is that if failed, not why it failed.

I've also addressed #324 so hopefully that should alleviate most of the failures. I just need to add some tests for this and hopefully I can close out this issue.

[2015-04-30 05:30] just-be-dev commented on #322
This issue is being addressed in #381 and is slated for release in 1.7.0.

[2015-04-30 05:30] #322 closed, assigned to just-be-dev

[2015-04-30 05:30] just-be-dev commented on #324
This issue is being addressed in #381 and is slated for release in 1.7.0.

[2015-04-30 05:30] #324 closed, assigned to just-be-dev

[2015-04-30 05:34] just-be-dev commented on #359
Speaking of saucelab, we really need to set up testing on there.

I'll make that my priority after the 1.7 release.

[2015-04-30 05:38] just-be-dev commented on #131
This issue hasn't seen any action in a while. I'm going to close it.

If anything new comes up please open a new issue.

[2015-04-30 05:38] #131 closed, assigned to nobody

[2015-04-30 05:41] just-be-dev commented on #24
Is there any desire for this still?

[2015-04-30 05:53] just-be-dev commented on #119
Looking at the API it looks like we would have three keywords
- `Move Mouse by Offset`
- `Move Mouse to Element`
- `Move Mouse to Element with Offset`

[2015-04-30 05:54] #121 closed, assigned to nobody

[2015-04-30 05:57] just-be-dev commented on #52
Is this still an issue?

[2015-04-30 06:12] just-be-dev commented on #312
I'm very much in favor of this. I'll try to target this after the 1.7 release.

[2015-04-30 06:13] just-be-dev commented on #311
I have no opinion on this topic. I think we should leave it however it is now and focus on bug fixes and functionality. We can reopen this issue in the future if it really needs to be addressed.

[2015-04-30 06:13] #311 closed, assigned to nobody

[2015-04-30 06:16] just-be-dev commented on #351
@email2vimalraj What do you mean specifically? Like `Element Should Be Focused`?

[2015-04-30 06:22] just-be-dev commented on #350
Hey @aaltat, thanks for your input!

Right now we're going to hold off on this issue. While I agree there could be more information about selectors and how to use selectors, I don't necessarily agree that the docs for this library is the best place for that kind of tutorial.

With that being said, if you see a place where you think more documentation would be appropriate, feel free to submit a PR

[2015-04-30 06:22] #350 closed, assigned to nobody

[2015-04-30 06:25] just-be-dev commented on #307
I don't really have a whole lot to go on here so I'm going to close this issue. If you're still having these issues and can narrow down the problem let me know and I'll reopen his issue.

[2015-04-30 06:25] #307 closed, assigned to nobody

[2015-04-30 06:29] just-be-dev commented on #346
I believe this may have already been (resolved)[https://github.com/n1k0/casperjs/commit/8e83c265ac895cfca58b8e02eeefa655c94ec0fa]. If this issue comes back up when we migrate over to saucelabs I'll investigate it more.

[2015-04-30 06:29] #346 closed, assigned to nobody

[2015-04-30 06:31] #333 closed, assigned to nobody

[2015-04-30 06:34] just-be-dev commented on #293
It seems this is a corner case. If it comes back up we'll reopen the issue.

[2015-04-30 06:34] #293 closed, assigned to nobody

[2015-04-30 06:39] just-be-dev commented on #327
Since this kinda duplicates the #246 request I'm going to close this in favor of that.

[2015-04-30 06:39] #327 closed, assigned to nobody

[2015-04-30 06:43] just-be-dev commented on #305
It looks like this issue was resolved.

[2015-04-30 06:43] #305 closed, assigned to nobody

[2015-04-30 06:47] just-be-dev commented on #289
So, I'm not really sure what you're trying to do here.

Do you want some text element selected? Are you trying to change the styling of something?

Until I know more I'm going to close this issue. There's probably a method build in that can do whatever it is you want to do.

[2015-04-30 06:47] #289 closed, assigned to nobody

[2015-04-30 06:57] just-be-dev commented on #274
Thanks for your input!

This is an extremely creative usage of the library, and I'm pretty impressed. I'd be willing to review any PRs you guys put in, but otherwise I can't really spend too much development effort following this path.

If you're interested just let me know and I'll reopen the issue.

[2015-04-30 06:57] #274 closed, assigned to nobody

[2015-04-30 14:08] jaloren commented on #377
@emanlove

Due to actual web UI implementations, especially legacy interfaces built over a decade ago (i have to test such a one), there are many pages that do not have any unique identifiers that can be hooked into with the exception of XPath.

I do not want to use XPath for the following reasons:
1. the xpath locator id can be (and almost always will be) hideously long, complicated and easy to m

[2015-04-30 14:11] jaloren commented on #377
#365 does look promising though its not clear to me whether this would be a good fit for addressing the use case i've described or not. I'd be interested on waiting for that PR to get merged and then take that functionality for a test drive before I do anything with this issue.

[2015-05-01 21:58] just-be-dev commented on #270
I got a notice on Twitter that this issue hasn't been fixed. I'm going to reopen it and take a look at @boakley's last suggestion.

[2015-05-01 23:27] just-be-dev commented on #377
I've got a better handle on what you want now. The good news is that we're already working towards this in some ways. @emanlove's #356 PR will allow you to pass in a webelement instead of a locator and have things like click events happen.

EDIT: This PR currently has `Get WebElements` which is equivalent to Selenium's `Find Elements`.

[2015-05-02 03:51] just-be-dev opened #383 "Implement Testing on SauceLabs"
Right now we're only testing against firefox. We need to integrate Travis with SauceLabs so that we can get a larger browser coverage.

[2015-05-02 04:53] just-be-dev opened #384 "Add section on BUILD.rst about the proper PR workflow."
Right now I'm not exactly sure how we're supposed to handle PRs. Do we want to squash the changes to have a simpler git history for master? Whatever the case, it might be useful to add a section in BUILT.rst on the proper procedure for merging PRs.

[2015-05-02 12:00] jaloren commented on #377
@zephraph with #356 combined with Find Element and Find Elements Keywords would be perfect. As you said, I can easily implement custom keywords on top of it to fit my usage.

I'll reduce the scope of this issue accordingly.

[2015-05-02 12:44] emanlove commented on #119
Seeing that I opened this ticket a while ago and there has not been a lot of rumbling or requests to implement I not sure of the need. Similar to the discussion raised within #344 and elsewhere about keyword overload I question whether we should create these three keywords just for the reason of creating them.

I think @aaltat's point under #344 that some of these additional keywords could actuall

[2015-05-02 12:58] emanlove commented on #377
@jaloren Good arguments as to why not to use xpath.

What is the difference between Get WebElements and Find Elements? Not sure I see the difference...

[2015-05-02 13:26] emanlove commented on #384
What do you mean by "Do we want to squash the changes to have a simpler git history for master"? Are you talking about fast fowarding merges?

I agree we should add a note about merging PRs with maybe how to make PRs and what makes up a "good" PR.

[2015-05-02 13:40] just-be-dev commented on #384
Some people make it a policy to issue `rebase -i` before accepting a pull request. That squashes all the changes from that branch in to one change and allows you to make a commit message for the whole thing.

I'm not necessarily saying that we do or don't do that, I just think how we do things should be added. Mostly for clarification for myself too, since I've made a few merges and want to make s

[2015-05-02 13:43] just-be-dev commented on #377
@emanlove, they're the same thing, I just forgot they existed when I was writing that. ^_^

[2015-05-02 13:48] just-be-dev commented on #119
The only reason I suggested these is because they directly translate from the Selenium API. It'd pretty much be as simple as `driver.move_by_offset` `driver.move_to_element` `driver.move_to_element_with_offset`.

See [here](http://selenium-python.readthedocs.org/en/latest/api.html#selenium.webdriver.common.action_chains.ActionChains.move_by_offset).

[2015-05-02 16:04] emanlove commented on #384
I prefer to see changes. Usually there are not a lot and it helps gives a history and thus understanding to what changes were made. how they were made, etc. Basically it gives good insight into one's thinking. My other concern with rebase is that is an advanced git command and can cause issue if not done properly.  I know I have over time done screwy things with git so I prefer to keep it simply.

[2015-05-02 17:55] just-be-dev commented on #384
Well, I agree that seeing changes are good, but it all depends on where you want to see the changes. After a PR is completed it needs to be rebased back into master anyway (if any changes have been made.) If we made it a policy to do a rebase -i before merging a PR and list the PR # in the commit comment then while looking through master you could go back and see what changes were made by looking

[2015-05-05 15:16] just-be-dev commented on #338
Fixed in #385.

[2015-05-05 15:16] #338 closed, assigned to nobody

[2015-05-06 03:04] just-be-dev opened #386 "Support user created action chains"
Selenium has a concept of [action chains](http://selenium-python.readthedocs.org/en/latest/api.html#module-selenium.webdriver.common.action_chains) which supports complex user interactions.  If we could somehow facilitate the creation of action chains we could give the ability to accomplish things like #249 without modifying the base library.

My initial thoughts go something along this line

[cod

[2015-05-06 04:44] just-be-dev commented on #323
I'd like to revive this conversation as it seems like some people may need it.

I like some of the ideas @ombre42 had. I think I have an idea that would kinda fit in the best of both worlds but it's still a little hacky.

I'm imaging something like this

[code]

(Look over my really rough psudo-code. I think you get the idea.)

So, it is a little hacky. If the argument is a string then it must be

[2015-05-06 12:41] emanlove commented on #323
Have not yet had a chance to review your idea, will do so sometime in the next few days, but I agree that this change should be reconsidered.

[2015-05-06 17:42] just-be-dev commented on #179
It's probably because the linux box didn't have an active display and thus couldn't activate the webdriver. One method to get around this would be to test using the phantomjs webdriver which is headless. Otherwise you'll need to investigate X11 forwarding over an SSH tunnel.

[2015-05-06 17:42] #179 closed, assigned to nobody

[2015-05-06 20:26] just-be-dev commented on #323
It was a pretty easy implementation so I went ahead and made it happen.

When you get a chance look it over and tell me what you think.

[2015-05-07 08:07] pekkaklarck commented on #323
I agree passing arguments to the code can be useful. Passing args before the code feels a bit odd, though. It's unfortunate this keyword accepts varargs so having a clean API without breaking backwards compatibility isn't possible. One possibility would be using kwargs like:

[code]

Unfortunately using kwargs has a drawback that all normal equal signs in arguments need to be escaped with a backsl

[2015-05-07 08:22] pekkaklarck opened #388 "Outdated docs in `doc` directory"
The `doc` directory in project root has keyword docs for version 1.4. Apparently docs are nowadays hosted somewhere else (under gh-pages?) and these docs should probably be deleted. I'm not sure are the helper scripts in the `doc` directory used for anything anymore either.

[2015-05-07 08:42] pekkaklarck opened #389 "Inconsistent styles in keyword documentation"
Keyword docs mainly use Robot Frameworks own documentation format but there are several places where reStructuredText is used instead. This is far from optimal because now the docs aren't valid in either of these formats.

[Libdoc supports both Robot's own format and reST](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#documentation-syntax) so either of them can be us

[2015-05-07 08:49] pekkaklarck commented on #386
What benefits this would have compared to creating a user keyword with same functionality?

If this is considered a useful feature, I'd still like keyword names to be a bit more explicit. `Create Action Chain` is good, but would change `Chain` to `Add to Action Chain` and `Perform` to `Perform Action Chain` or `Execute Action Chain`.

[2015-05-07 15:01] just-be-dev commented on #323
Any assumptions I made on have often equal signs were present would just be conjecture. Likewise with the multi-line support. I was just trying to fit something within the scope of what would work with the old implementation without implementing new keywords.

Also, I actually think it's not bad to pass the args first.

Consider this user keyword (which is cross posted from #288):

[code]

Having

[2015-05-07 15:51] just-be-dev commented on #389
To be honest I haven't looked into either format. I've basically been copying the precedent.

With that being said, I'm all for moving more towards Robot's format. I plan on tackling some documentation related stuff for the next release so I'll just add this to the list.

[2015-05-07 17:55] ombre42 commented on #386
@zephraph Have you looked at [robotframework-selenium2library-extensions](https://github.com/hmalphettes/robotframework-selenium2library-extensions)?
I'm not implying anything here. I just wanted to make sure you were aware of that project.

[2015-05-07 18:26] just-be-dev commented on #386
@ombre42, good call. I hadn't seen that. That hasn't really been touched in a while though, so it's still something we could look at doing.

@pekkaklarck, there may be no benefit to it. Creating keywords may be the way to go. That's why I've labeled this as an investigation.

The reason I created this ticket to begin with is #249 was essentially wanting to add a keyword that I thought should be co

[2015-05-07 21:29] pekkaklarck commented on #386
Yes, it's definitely worth investigating is there difference between running `key down`, `click` and `key up` separately and as an action chain. If there is, it would be great to be able to chain normal keywords somehow, but that is probably quite a bit harder than just registering and executing lower level Selenium commands.

[2015-05-07 21:34] pekkaklarck commented on #389
reST can definitely be a good choice too, but mixing reST and Robot formats is bad. These formats ought to be pretty much equivalent in this particular usage. Only limitation that I'm aware is that reST format doesn't support [creating and linking to custom section titles](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#linking-to-custom-sections), but I could take a l

[2015-05-07 21:52] pekkaklarck commented on #389
reST usages I've noticed in general library docs:
- Line 41 tries to use [literal blocks](http://docutils.sourceforge.net/docs/user/rst/quickref.html#literal-blocks) with `::` at the end. Could use Robot's [preformatted text](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#preformatted-text) instead.
- Line 72 seems to have same issue as above but only has `:` at the e

[2015-05-07 22:02] just-be-dev commented on #389
I went ahead and removed the generated doc from master. The actual docs are stored in the `gh-pages` branch.

I'll create an `update-documentation` branch and we can start chipping away at it on there.

[2015-05-07 22:05] pekkaklarck commented on #323
Good points. Perhaps it would just be easiest to implement new `Execute Javascript with Arguments` keyword with signature `code, *args`.

If having two highly related keywords is considered a problem, using `Execute Javascript` so that code is split to multiple arguments could even be deprecated. This would take quite many releases, though:
1. Give a deprecation warning if `len(code) > 1` in 1.7.

[2015-05-07 22:05] just-be-dev commented on #389
@pekkaklarck, feel free to make any changes against that branch. Let's focus on moving everything to robot's style too.

[2015-05-07 22:09] pekkaklarck commented on #323
If we consider splitting code to multiple arguments a useful feature (it works fine in [above example](https://github.com/rtomac/robotframework-selenium2library/issues/323#issuecomment-99900171)) but still would like to allow passing arguments to the code separately in the same call, we could possibly allow that by having a special marker like `ARGUMENTS` telling where arguments start:

[code]

Th

[2015-05-07 22:14] just-be-dev commented on #323
You know what would be really nice?

[code]

What if we did that? The implementation would be more tricky, but it's so nice and it solves all our problems without weird argument placements or killing backwards compatibility.

Also, @pekkaklarck, I think you forgot your example, haha.

[2015-05-07 22:16] pekkaklarck commented on #389
@zephraph great! I'm burning midnight oil here and trying to get some emails answered but could have time for that tomorrow or during weekend.

[2015-05-07 22:31] just-be-dev commented on #323
In hindsight, that actually comes with its own set of problems. Besides the complexity, it doesn't work for passing arguments to JavaScript files.

I don't want to take away the ability to execute multi-line javascript code inline. I'm biased here though, because I use that quite often. I guess technically the tester could use `Catenate` to join the lines of JavaScript together and pass that to `E

[2015-05-07 22:37] #388 closed, assigned to nobody

[2015-05-07 22:39] pekkaklarck commented on #323
If passing the code as multiple arguments is that useful, it's definitely not a good idea to remove that functionality. Using `Catenate` would be as annoying as using `Create List` to create arguments.

Yes, I accidentally submitted my previous comment before it was finished. Edited now.

[2015-05-07 22:59] pekkaklarck commented on #384
First of all, having better contribution guidelines is definitely a good idea. It's better to have them in `CONTRIBUTING.rst` than `BUILD.rst`, though, because GitHub automatically references the former if someone is creating a PR or submitting an issue.

We have robotframework/robotframework#1805 about creating contribution guidelines and plan to actually get them done (or at least started) in RF

[2015-05-08 02:42] just-be-dev commented on #384
Ahh, you're right about that. Our BUILD file goes beyond the scope of a CONTRIBUTING document though. It actually goes into the steps needed to actually maintain the project.

We may need to review the BUILD file and move anything that refers to general contributing over to a dedicated CONTRIBUTING file. I also can see the value in working together with the core RF team on this. Many of the sectio

[2015-05-08 21:27] pekkaklarck commented on #384
I agree that typically it's better to have commits squashed. I can see two exceptions for this, however:
- The whole PR implements one functionality but that functionality is really big. Having separate steps showing how the final result was accomplished would often be good. This might require squashing some intermediate commits together, though.
- The person submitting the PR isn't that familiar

[2015-05-08 21:57] just-be-dev commented on #384
I completely agree on the second point. If there's only a handful of commits it's often easier just to merge it than to try to explain how to do it correctly.

To your first point though, I think this is where a feature branch comes in. Merging multiple squashed PRs against the different logical parts of the overall feature and the merging the whole branch in. That's the workflow I prefer for a la

[2015-05-10 15:04] divfor opened #390 "'no such window' due to windowmanager.py/_select_matching()"
'no such window' exception will be received if a test calls select window by name/title right after a 'close window' call. it is due to _select_matching() calls get_current_window_handle() which is undefined after   'close window' call, this can be found in http://www.w3.org/TR/webdriver/#defining-window-and-frame,

6.4 Close Window
The close command closes the window that commands are currently b

[2015-05-10 15:09] divfor commented on #360
This issue is due to call keyword with 'browser.get_current_window_handle()' right after call 'close window' which will not change current window handle to something else.

see 6.4 in http://www.w3.org/TR/webdriver/#defining-window-and-frame
Once the window has closed, future commands must return a status code of no such window until a new window is selected for receiving commands.

[2015-05-10 15:25] divfor commented on #340
===from windowmanager.py =======
    def _select_matching(self, browser, matcher, error):
        starting_handle = browser.get_current_window_handle()
        for handle in browser.get_window_handles():
            browser.switch_to_window(handle)
            if matcher(browser.get_current_window_info()):
                return
        browser.switch_to_window(starting_handle)
        raise Value

[2015-05-10 16:28] just-be-dev commented on #340
@divfor, thanks for narrowing this down more. I'm on vacation, but I'll try to address this tomorrow sometime.

[2015-05-11 01:46] divfor commented on #340
NoSuchWindowException will be received if a test selects window right after a 'close window' call, if name/title prefix was given to select window which will lead to call _select_matching() ->　get_current_window_handle()．the root cause is that browser.get_current_window_handle() will fail after browser.close(). This reason can be found in '6.4 Close Window' section from http://www.w3.org/TR/webdri

[2015-05-11 03:02] divfor commented on #340
As for enhancement ‘Select Window’, I have raised a PR #395

[2015-05-11 13:16] divfor commented on #213
According to 6.3 section in http://www.w3.org/TR/webdriver/ which says:

[code]

I gave my suggestion in #340:

[code]

change the second line to:

[code]

[2015-05-11 14:58] just-be-dev opened #392 "Add 'Wait Until Page Does Not Contain Element' to the changelog."
@molsky, you forgot to do this and I missed it before it went through.

[2015-05-11 15:04] just-be-dev commented on #377
@jaloren, All this will be doable on the 1.7 release which I hope to have out soon. I'm trying to get #356 merged in today if @emanlove is available, and then there's only a few more things to wrap up before release.

[2015-05-11 16:50] molsky commented on #392
See pull request #393.

[2015-05-11 16:50] just-be-dev commented on #354
This is already listed under #246. I'm closing it as a duplicate.

[2015-05-11 16:50] #354 closed, assigned to nobody

[2015-05-11 16:51] #392 closed, assigned to nobody

[2015-05-11 21:31] just-be-dev commented on #390
@divfor, being as you've looked so closely into this would you be interested in doing a PR?

I have some stuff I'm working on at work right and I'm going to be out of town Thursday Through Sunday so I won't be able to tackle this until at least next week.

[2015-05-12 03:33] divfor commented on #390
submitted in PR #394

[2015-05-12 18:47] bmannix commented on #213
@divfor - while this will likely work most of the time, the return of get_window_handles() is unordered.  So while it may work now, there is no guarantee that the implementation won't change later such that the "main" window handle isn't generally returned in the first position.

[2015-05-12 18:56] just-be-dev commented on #213
@bmannix, would you take a look at @divfor's implementation in #349 and tell me what you think? I'd like some more eyes on it.

[2015-05-14 12:48] divfor commented on #213
It is safe to think the first & top level browsing context, the root of tree-order of browsing contexts, will be at index[0] in list-order returned window handles. If a WD session has multiple top level browsing contexts, there will be multiple short lists joined together to form a single big list to return WD's local end, in this case the first top level browsing context will still be at index[0]

[2015-05-15 17:05] ombre42 commented on #52
I'm sure its still an issue. But I do not think it is one that could or should be solved in this project. The issue even extends beyond automated testing as it is an environmental issue.
Another workaround is using a proxy server that re-encrypts HTTPS traffic using a certificate that does not change. Fiddler does this but there are probably others.

[2015-05-15 17:05] #52 closed, assigned to nobody

[2015-05-15 17:11] ombre42 commented on #24
I would love this feature. The Selenium project has been sitting on this for seven years. If it was an easy solution, I'm sure they would have implemented it. Until Selenium implements, I'm not sure what the point of keeping this open is.

[2015-05-16 05:51] just-be-dev commented on #24
I'll work on something next week. I have some ideas.

[2015-05-16 17:21] just-be-dev commented on #24
I was thinking we could pull in a library like pycurl that can essential download a Web page or resource given a specified url. It would add a dependency but kinda achieve the basic functionality that we're seeking.

[2015-05-18 03:56] just-be-dev opened #398 "Set Window Position test failing on Ubuntu 15.04 / Latest FF 40.0a2"
When attempting to set the Y position on a FF window that opens "snapped" to the top menu bar and full length (not full screen) the window will not be moved.

[2015-05-18 04:31] just-be-dev commented on #398
Upon further investigation I found that both `Set Window Size` and `Set Window Position` aren't given enough time to properly execute. When adding a delay, `Set Window Size` fails on  my Ubuntu setup because the window can't be sized above the maximum screen height if the window is snapped. I fixed this by simply reducing the overall resize height.

The issue I reported above is fixed by resizing

[2015-05-18 04:52] just-be-dev commented on #323
@pekkaklarck, What if we just always passed in a map of the currently defined variables?

Going back to that old example:

[code]

Though I'll admit that I don't yet know what the performance ramifications this could have. I'll have to research if there's a heavy cost for passing in a potentially large object.

I'll probably just post on the user-group tomorrow and get some feedback from them.

[2015-05-18 22:08] pekkaklarck commented on #323
How would `v['${element}']` be interpreted in this example?

Asking feedback from users is definitely a good idea.

[2015-05-18 22:11] pekkaklarck commented on #398
Is it possible to poll and wait until windows is resized/moved? If not, then documenting this behavior ought to be fine.

[2015-05-18 22:53] just-be-dev commented on #323
It would be the web element returned from Get WebElement. I expect that `argument[0]` would look something like

[code]

[2015-05-18 23:21] just-be-dev opened #400 "Correct Drag and Drop by offset documentation"
The example in drag and drop by offset shows the wrong keyword.

[2015-05-19 01:29] just-be-dev commented on #398
It does seem possible for the move, but the resize immediately reports the correct size but gets updated again after the resize occurs. I don't know what's up with the inconsistent behavior, it's just something on the webdiver's side.

[2015-05-19 03:52] just-be-dev commented on #377
#365 is merged!

[2015-05-19 03:52] #377 closed, assigned to nobody

[2015-05-19 03:53] just-be-dev commented on #315
Resolved with #365

[2015-05-19 03:53] #315 closed, assigned to nobody

[2015-05-19 16:40] #147 closed, assigned to nobody

[2015-05-19 16:40] #228 closed, assigned to nobody

[2015-05-19 16:53] emanlove opened #404 "Document that WebElements can be used as locators"
As [suggested by](https://github.com/rtomac/robotframework-selenium2library/issues/315#issuecomment-58188151) @ombre42,

[2015-05-19 17:58] just-be-dev commented on #400
Fixed in #402

[2015-05-19 17:58] #400 closed, assigned to nobody

[2015-05-19 17:58] #390 closed, assigned to just-be-dev

[2015-05-19 19:46] pekkaklarck commented on #323
I don't understand how this would actually work. Is `${element}` interpreted as a normal Robot variable or somehow specially in this context?

[2015-05-19 19:47] pekkaklarck commented on #323
Ooooops, who put "Comment and close" button next to "Comment" button??? Reopening.....

[2015-05-19 22:02] just-be-dev commented on #323
Well, the theory was to use built in to get a dictionary of the currently defined keywords. I could then pass that to `execute_script` as an argument which would (in theory) convert that dict to a javascript obj. Then, on the client side all the variables would be available by keys.

I played with it a little last night, but I haven't got that implementation working yet. I'm not even sure it can p

[2015-05-21 03:44] just-be-dev opened #406 "Allow custom locators to define a default criteria"
In [elementfinder](https://github.com/rtomac/robotframework-selenium2library/blob/ea384de3885b905a306c12de50d788c5a2a14ae1/src/Selenium2Library/locators/elementfinder.py#L125) we have functionality to have certain criteria to automatically use a default locator if met. Our current implementation allows the specification of `//` to automatically use an xpath locator. It would be good if custom loca

[2015-05-21 12:04] mithundinil commented on #49
How to control robot java class on remote machine (selenium-grid). Please advice to resolve this issue.

[2015-05-28 10:21] email2vimalraj commented on #351
@zephraph, really sorry for replying you late.

Yes I'm expecting a keyword like `Element Should Be Focused`.

[2015-05-28 15:22] just-be-dev commented on #351
Okay, I'll take a look.

[2015-05-29 13:44] Tset-Noitamotua opened #409 "Error while installing using pip + Jython 2.7.0 on Windows 8.1"
In Windows 8.1 cmd / shell `jython -m pip install robotframework-selenium2library` leads to this error:

[code]

[2015-05-29 14:43] just-be-dev commented on #409
This library doesn't support the Jython version of robotframework. There is a [java port](https://github.com/MarkusBernhardt/robotframework-selenium2library-java) of this library, but we have no direct association with it.

[2015-05-29 14:43] #409 closed, assigned to nobody

[2015-05-29 16:22] pekkaklarck commented on #409
Is there a reason not to support Jython 2.7? Has anyone tested does Selenium itself work with it? Old SeleniumLibrary supported Jython and I don't think we had any special code for it. The initial reason Jython support was dropped was that Selenium dropped Python 2.5 support and Jython 2.7 was still in alpha phase. Now that Jython 2.7 is released things are different.

[2015-05-29 17:01] just-be-dev commented on #409
I'm not honestly sure. I've done no tests with it myself. I'll open an investigation issue on it.

[2015-05-29 17:04] just-be-dev opened #410 "Test compatibility with Jython 2.7"
It would be good to determine if we can support Jython 2.7 with this library. I don't have much experience in this area, so this is primarily an investigation to determine any roadblocks in that support.

This was originally brought up during #409.

[2015-05-29 17:31] just-be-dev opened #411 "Document network capture options and examples on the wiki"
~~Selenium has the ability to capture network traffic for whatever site it runs against. If the library can currently accomplish this (I'm assuming it can),~~ Investigate writing a test to detect any 500 errors on a given site. After determining how the test should be written, document the test case on the wiki.

[2015-05-31 03:10] divfor commented on #406
today I found related states in pages:
http://www.seleniumhq.org/docs/06_test_design_considerations.jsp#location-strategies
http://www.seleniumhq.org/docs/06_test_design_considerations.jsp#ui-mapping

[2015-05-31 05:41] datakurre opened #412 "Capture browser console.log"
Is it possible to capture console.log messages with Selenium and expose that to selenium2library? Dumping captured console.log would also be great addition to onError behavior.

[2015-05-31 05:53] datakurre commented on #412
Selenium Wiki mentions plans for this and inclusion in "Wire" protocol. Woul you know, are those already implemented and usable through selenium library?

https://code.google.com/p/selenium/wiki/Logging
https://code.google.com/p/selenium/wiki/JsonWireProtocol#/session/:sessionId/log

[2015-05-31 05:57] datakurre commented on #412
In addition, gettin JS stacktrace would be nice, if it's possible.

[2015-05-31 06:44] datakurre commented on #412
It seems that Selenium Logging is implemented at least in Firefox WebDriver. It provides log types 'browser' and 'driver'. Yet, that command is not configured in python selenium bindings yet, but it must be manually configured.

[code]

Unfortunately, it seems that at least for FX this returns only 'Browser console' messages. Because it won't return messages from 'Web console' it's not very useful

[2015-05-31 21:32] just-be-dev commented on #412
I've done some investigation into this myself, but I haven't figured anything out yet. I'll let you know if I come up with something.

[2015-05-31 21:35] just-be-dev commented on #406
Could you clarify what these resources are supposed to help address? I looked through the links, but I feel like I'm missing something.

[2015-06-01 07:48] datakurre opened #413 "How to know which keyword triggers run on failure?"
"Register keyword to run on failure" almost helps debugging difficult test errors by allowing to add an "automatic break point" where the errors happens. For example, by using "Debug" keyword from robotframework-debuglibrary or just custom keyword triggering PDB.

Except that when that break point happens, one has no idea, what has failed. (That can only be seen from the test log.)

Any idea, how

[2015-06-01 08:24] datakurre commented on #413
Run on failure -behavior is implemented here https://github.com/rtomac/robotframework-selenium2library/blob/master/src/Selenium2Library/keywords/keywordgroup.py

[2015-06-01 10:01] laurentbristiel opened #414 "add "Wait Until Page Does Not Contain" keyword"
I can see that "Wait Until Page Does Not Contain Element" and "Wait Until Element Is Not Visible" were recently added by @molsky and @deiga. Would it be possible that someone adds the "Wait Until Page Does Not Contain" keyword?

(note that I realise that currently I can do a Wait until keyword succeeds  10s  1s  Page Should Not Contain)

[2015-06-01 13:03] just-be-dev commented on #413
Have you investigated listeners? That would probably best help you in this situation.

[2015-06-01 15:56] datakurre commented on #413
@zephraph I was hoping something simpler, but listeners would definitely work. Yet, they would require saving state into threadlocal variable into some module to access that state information from a keyword.

Another known alternative would be to use inspect and step back some frames, because "run on failure" code knew which keyword was being called.

[2015-06-01 16:02] pekkaklarck commented on #413
@datakurre Library listeners ought to avoid storing global state:
http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#test-libraries-as-listeners

That's a new feature in RF 2.8.5. In RF 2.9 we are going to support multiple listeners per library:
https://github.com/robotframework/robotframework/issues/1970

[2015-06-01 16:17] just-be-dev commented on #413
@pekkaklarck, do you have any other ideas for this? I'm not too sure what to suggest, because I haven't had to do this before.

[2015-06-01 16:54] pekkaklarck commented on #413
I haven't done this earlier either. Just wanted to comment that if listeners work in this context, it's probably a good idea to use the newish library listener functionality. Otherwise communication between the library and the listener is much more complex.

[2015-06-01 17:19] ombre42 commented on #409
The error message is occuring when trying to build a nice error message, which blows up when not on *nix.
PIP is trying to create a folder with marker file in the temp folder an an OSError is being raised. I would try deleting
%TEMP%\pip_build_* and trying again.
Also check that you have disk space available.

[2015-06-01 17:28] just-be-dev commented on #409
@ombre42, was I mistaken? Do we support the Jython version?

[2015-06-01 17:31] just-be-dev opened #416 "Push 1.7 Update"
We've got some major new functionality and several new keywords that are waiting to be pushed out.

@ombre42, @emanlove, @pekkaklarck is there anything any of you think should be added for the next release? Do we need to do anything (more stringent testing, etc) before the release?

I'm still new to this project so I didn't want to do something like a version push without getting your consensus.

[2015-06-01 20:08] pekkaklarck commented on #416
I have never been that actively involved with this particular project so cannot help much with releasing. Great work with 1.7 so far @zephraph!!

[2015-06-01 21:27] just-be-dev commented on #416
I still like to include you because I feel you have a good working knowledge of the whole infrastructure and may see things that we miss. Thanks! I'm doing my best. Always room for improvement though, heh.

[2015-06-01 21:37] ombre42 commented on #409
I can't really answer as to whether we support it, but I think its a good idea.
I have not even tried to use Jython 2.7 Final. It just seemed like it could be a machine-specific issue and I was trying to help. As far as I know the only reason Jython was not supported was Selenium started using Python 2.6/7 syntax and/or features and decided not to keep compatability with 2.5 like Pekka said (see h

[2015-06-01 21:39] just-be-dev commented on #409
Cool, let me know the results.

[2015-06-01 23:13] pekkaklarck commented on #409
@ombre42, we have actually been able to remove most if not all Jython workarounds from RF. Jython 2.7 has much better Python compatibility than Jython 2.5 had in general, and also Java integration has got better:

[code]

This doesn't mean Se2Lib would work on Jython 2.7 out-of-the-box. My guess is that possible problems on the library side would be easy to fix, but possible problem on Selenium mi

[2015-06-02 09:20] divfor opened #418 "Confused row/column definition in table keywords"
Table Cell Should Contain: row/column start from 1 counting thead, tbody and tfoot
Table Row Should Contain: row starts from 1 but only counting tbody

actually, tfoot may be either before tbody or after tbody in the html document order, but in web UI  table footer is always present after table body. so it make sense that these keywords should only take count of tbody into table row number.

[2015-06-02 09:25] divfor opened #419 "wrong xpath suffixes for last-col"
in tableelementfinder.py, there is _locator_suffixes defined.
for ('xpath', 'last-col'): [' //tbody/tr/td[position()=last()-(%s-1)]', ' //tbody/tr/td[position()=last()-(%s-1)]']
it has two identical tr/td suffixes. should they be tr/td and tr/th?
('xpath', 'last-col'): [' //tbody/tr/td[position()=last()-(%s-1)]', ' //tbody/tr/th[position()=last()-(%s-1)]']

see css part, it is:
('css', 'last-col')

[2015-06-02 13:22] just-be-dev commented on #414
Added in #415.

[2015-06-02 13:22] #414 closed, assigned to nobody

[2015-06-02 15:28] ombre42 commented on #409
I tried to install using pip and reproduced this issue. I followed my own instructions (deleted
`%TEMP%\pip_build_*` and retried) and fortunately that was all it took. Not sure if its a bug in Jython, PIP, or S2L's setup. Afterwords I ran a hello world kind of test and it ran fine. I invoked RF from RIDE using a script `jython -m robot.run %*`.

So there's hope. Selenium claims Jython 2.7 compatab

[2015-06-02 21:36] pekkaklarck commented on #409
I tested installing Se2Lib on Jython with pip and didn't have any problems. Could it be that if you install Jython itself (and pip with it) as an administrator, it leaves a temp dir that normal user cannot actually use?

@ombre42, it definitely was great to remove old workarounds. =)

[2015-06-03 13:59] ombre42 commented on #409
I investigated some more. The error in the OP didn't just occur when installing S2L, it also occured when trying to check pip's version `jython -m pip --version` or doing `import pip` in the interpreter. After every single task using pip, I had to delete a temp folder to get it to run. The version reported was 1.6.dev1, which is pretty old. Looking at the traceback in the OP, @Tset-Noitamotua had

[2015-06-03 14:26] ombre42 commented on #411
The ability to capture network traffic using Selenium alone was lost when moving from RC to WebDriver A.K.A. Selenium 2. Was this feature added back and I just am not looking in the right places?
See #25

[2015-06-03 14:40] just-be-dev commented on #411
It seems you may be right about. I'd at least like to figure out possible solutions and document it on the wiki. I need this for work, so it's pretty important to me.

[2015-06-03 14:48] just-be-dev commented on #411
I've renamed the issue and changed its scope to reflect your feedback @ombre42. I also found #319, which is related.

[2015-06-03 15:00] SteveHarrison82 commented on #25
I would like to share the following link:
https://github.com/Work4Labs/selenium-simple-test/blob/72569ee775425273859b36c201508a973ce2db00/src/sst/actions.py.

I came across browser mob some days back from this link and was not aware of its requirement at that time. From the glimpse, the snippet appears to use webdriver

[2015-06-03 15:05] just-be-dev commented on #25
That would be a good reference for a BrowserMob Proxy library. They're using BrowserMob's restful api. Thanks for the resource @rama-bornfree, I might do something with this!

[2015-06-03 15:09] SteveHarrison82 commented on #25
Welcome, I will try to understand the snippet

[2015-06-04 07:41] pekkaklarck commented on #409
My understanding is that Jython, similarly as Python, contains a certain bundled pip version in the installer package, but that version ought to be automatically updated to the latest version as part of the installation.

[2015-06-04 14:21] just-be-dev commented on #416
I've given this a few days and I haven't heard anything back, so I'm going to move forward with plans to release 1.7.

If there are any objections, please say so ASAP.

[2015-06-05 17:46] Tset-Noitamotua commented on #409
I tried @ombre42 ´s suggestion. But it didn´t help in my case. Now no matter what follows after

`jython -m pip`

e.g. `jython -m pip --version` or `jython -m pip install <package-name>` etc.

I get this output:

[code]

[2015-06-05 17:52] Tset-Noitamotua commented on #409
@ombre42  @pekkaklarck
BTW: I opend a question on this matter on [stackoverflow](http://stackoverflow.com/questions/30530976/how-to-install-selenium2library-for-robot-framework-using-pip-jython).

[2015-06-05 18:58] ombre42 commented on #409
@Tset-Noitamotua I had the same problem as you (is_package error). I was not able to resolve it and ended up experimenting on a cleaner machine (no Java, Python, or Jython). [Pekka ran into this too](http://bugs.jython.org/issue2345), but was able to resolve it.

[2015-06-05 20:53] Tset-Noitamotua commented on #409
I took a look in installation folder of Jython (`C:\Jython27 in my case`) after unsetting JYTHON_HOME, restarting my machine and reinstalling Jython. This is the content of the site-packages folder:

![image](https://cloud.githubusercontent.com/assets/5635462/8013985/2501c608-0bcd-11e5-9343-5e5ded9661d8.png)

Seems that outdated dev versions of pip and setuptools are installed by default.

I tried

[2015-06-05 21:21] jjwipf opened #423 "Drag and Drop not working"
I'm need to simulate a drag and drop and am not seeing the expected result in s2l
## If I run the following code

**\* Settings ***
Library    Selenium2Library    run_on_failure=Nothing
Library    HttpLibrary.HTTP

**\* Test Cases ***
Google Image Drag Check
    Open Browser    https://www.google.com    gc
    sleep  .2
    #Drag And Drop    id=hplogo    id=sb_ifc0
    Mouse Down On Image    hplog

[2015-06-05 21:29] just-be-dev opened #424 "Add better release documentation"
The release process didn't go nearly as smoothly as I would've liked. Also, some parts are just out of date. We should really update these documents.

[2015-06-05 21:30] just-be-dev commented on #423
What version of RF, SL2, Chrome?

[2015-06-05 22:01] just-be-dev commented on #416
Update progress
- [x] Publish package to pipy
- [x] Publish release to github
- [x] Update documentation

[2015-06-05 22:02] just-be-dev commented on #416
Welcome to 1.7?!

[2015-06-05 22:02] #416 closed, assigned to nobody

[2015-06-06 05:38] just-be-dev commented on #423
I'll take a look at this sometime tomorrow.

[2015-06-06 06:01] pekkaklarck commented on #409
Check also do you have a directory named pip (any dir, no need to have ,`__init__.py`) where you run `pip`. Jython my end up importing it as a Java package. You can also try `import pip` on the Jython console and inspect is the `pip` that you get legit.

Additionally you could try running `path/to/jython2.7/bin/pip` directly.

Has anyone submitted a bug report about these issues to http://bugs.jyt

[2015-06-08 12:28] jjwipf commented on #423
Apologies for the late response, I'm using:
RF 2.8.7
S2L 1.6.0
Chrome 43.0.2357.81
Thanks for looking into this!

Edit: Thinking about it this morning I wasn't sure if the google example was the best since the logo isn't explicitly draggable (as my eventual item to test will be). I wrote this up to test for that:

W3S Image Drag Check
    [Tags]    w3s
    Open Browser    http://www.w3schools.com/

[2015-06-10 14:07] janduris87 opened #427 "Capture Page Screenshot take screenshot without unrolled list of element "select""
Hi,
I need to take a screenshot of firefox page with unrolled element "select". After click on "select" element, full list of options is visible. When I take a picture with keyword "Capture Page Screenshot", this screenshot contain my "select" element... this element have focus also, but list of options is not visible on the picture. Why?

Example:

[code]

On the left side of picture is screen cr

[2015-06-15 21:46] just-be-dev commented on #427
I have a feeling that this isn't something I'm going to be able to fix. It's likely that this is browser dependent behavior.

I'll investigate some other browsers to see how they function. I'll let you know if I come up with anything.

[2015-06-16 20:09] jjwipf commented on #423
I just wanted to give you an update.

I found a div only draggable object and ended up with this:

Div Based DnD Example

[code]

Which behaves as expected in chrome with the red box moving into the outlined box. (both drag and drop as well as mouse down and mouse up)

So drag and drop appears to be behaving as expected. (assuming that draggable is explicitly required)

This does however raise the

[2015-06-17 08:36] pekkaklarck opened #429 "Incompatibility with forthcoming RF 2.9 alpha 3"
That I get this exception when using Selenium2Library with the latest Robot Framework code:

[code]

Apparently the library uses Robot's internal `GLOBAL_VARIABLES` that we just we able to remove as part of robotframework/robotframework#532. I don't have time to investigate where and why `GLOBAL_VARIABLES` are used right now, but I hope the usage could be replaced with something else. I would assu

[2015-06-17 08:38] pekkaklarck commented on #429
Notice that our plan is to get RF 2.9a3 released already tomorrow. I doubt a new Se2Lib version can be released before that. One possibility is that we add `GLOBAL_VARIABLES` back now, even as an empty dict or similar, and remove it in the next preview release.

[2015-06-17 18:36] just-be-dev commented on #429
Um, I can do a minor update with just that in it if you consider it really critical.

[2015-06-17 18:56] just-be-dev commented on #429
@pekkaklarck, No changes have went in since the 1.7.0 release, I'm more than willing to push out 1.7.1 with just this in it.

Would that be acceptable to you?

[2015-06-17 19:04] jussimalinen commented on #429
I added GLOBAL_VARIABLES to robot.variables for backwards compatibility. https://github.com/robotframework/robotframework/commit/75568dd61cd6e56d331d8e31d310ec83463d247e

We would like to remove this in future, so a new release sooner rather than later would still be great.

[2015-06-17 19:09] emanlove commented on #429
I think a 1.7.1 release would be justified.

[2015-06-17 19:58] pekkaklarck commented on #429
1.7.1 release would be great but now that we added `GLOBAL_VARIABLES` back it's not urgent. Do you have something else planned for it that should be included? 1.7.1 some time next week would definitely be good enough for us.

[2015-06-17 21:45] just-be-dev commented on #429
Well, I've already made the necessary changes. It wasn't actually listed in many places.

I've got other things planned, but there isn't any substantial changes planned until the next major release. 1.7.\* stuff from here on in will be mostly documentation and test updates.

[2015-06-17 21:48] just-be-dev commented on #429
This is fixed as of #431. I just need to bump the release which I can do in a few hours.

[2015-06-17 21:48] #429 closed, assigned to nobody

[2015-06-18 06:51] pekkaklarck commented on #429
If creating 1.7.1 is not much work, getting it out ASAP would be awesome. We'll still keep `GLOBAL_VARIABLES` in RF 2.9a3 to give users some time to upgrade, but we will remove it once a3 is out.

[2015-06-18 18:05] just-be-dev commented on #429
I'm working on it now. Having some difficulties with the build process though, I'll get back with you soon.

[2015-06-18 23:27] just-be-dev commented on #429
@pekkaklarck, It's done now.

Sorry it took so long, I've been busy with work.

[2015-06-23 20:05] chevi opened #432 "Test stuck when can't find text by keyword "Page should contain""
Hi

I got such simple test-case

| - | - |
| --- | --- |
| Go to | http://google.com |
| Page Should Contain | unavailabletextonpage |

**Problem:** Test stuck on Page Should Contain.
If I put text that exists on page - test Passed. But I don't know why it doesn't throw Fail. And similar situation is with Page Should Not Contain.

Trace log if searched existing text (Passed test):

[code]

Trace l

[2015-06-23 22:18] just-be-dev commented on #432
I tested this with S2L 1.7.1 and RF 2.8.7 on IE 8 and Firefox 31.

Here's just a quick test I threw together:

[code]

What does your whole test look like? It may be a configuration error of some sort...

I can't attest to the functionality of 1.6 though, it's likely that it could have been broken there.

[2015-06-23 22:30] just-be-dev commented on #427
After a bit of research this [link](https://groups.google.com/forum/#!msg/selenium-users/eWYRig7c1C4/azFDkLjWK8wJ) is all I found.

Ultimately it boils down to the fact that the select box dropdown is actually a native element that exists outside the page (much like an alert). As such, there's no way for selenium to capture an image of it.

With that being said, I'm sure you could use a library li

[2015-06-23 22:30] #427 closed, assigned to nobody

[2015-06-24 06:44] chevi commented on #432
Thanks! I found that problem is in my project, because of set up of a huge Implicit wait

[2015-06-24 16:28] just-be-dev commented on #432
Cool, glad you figured it out.

[2015-06-24 16:28] #432 closed, assigned to nobody

[2015-06-25 22:29] #312 closed, assigned to nobody

[2015-06-26 19:22] emanlove opened #434 "Research and update documentation on matching criteria for select from list"
The documentation on select from list by label should state whether case matters (which I think it does) and whether it succeeds with only an exact match (again which i think it will).

[2015-06-26 21:10] emanlove opened #435 "Note version added to recently added keywords."
It might be worth wild to add a note on the keyword documentation noting under what versions recently added keywords were added. For example,

[code]

[2015-06-26 21:26] just-be-dev commented on #435
Agreed.

[2015-06-30 21:27] just-be-dev opened #436 "Discuss transfering S2L to the Robotframework Organization"
With the formation of the Robotframework foundation and the fact that @rtomac is no longer involved with this project, I think now would be a good time to begin discussing moving the Selenium2Library under the umbrella of the Robotframework organization.

My proposal is to see if @rtomac is willing to transfer repo ownership to RF and have the RF maintainers create a S2L team in the RF org.

This

[2015-06-30 21:49] rtomac commented on #436
I'm happy to transfer it, if/when that's desirable.

[2015-06-30 21:50] pekkaklarck commented on #436
Moving S2L under `robotframework` organization on GitHub sounds good to me. It's easy to assign different different teams for different projects.

Notice that the role of the new Robot Framework association is still somewhat unclear. Similarly it is unclear what role Nokia wants to have in the future. We've started the GitHub organization while working for them as consultants, and in a sense they

[2015-06-30 22:15] just-be-dev commented on #436
Thanks for the response @rtomac! I'm glad to hear that you're open to the suggestion.

@pekkaklarck, thanks for the input. Given the state of the ecosystem I'm assuming it would be beneficial to NSN to keep the organization in the hands of the foundation. I would like to know the details of what role the foundation plays and how NSN plans to deal with RF in the future. When you find that out pleas

[2015-06-30 22:23] pekkaklarck commented on #436
Sure, we'll inform the community once we know more. So far we've just founded an association but haven't even yet got papers back from the office that handles them. Due to the holiday season it will take a little time before we have the first meeting and start to really plan for the future.

[2015-06-30 22:34] just-be-dev commented on #436
When does the holiday end?

[2015-07-01 07:02] pekkaklarck commented on #436
June is generally the holiday month in Finland, but people have holidays in different times and many are on holiday in early August.

I don't think we need to care much about the association when thinking should S2L be moved under robotframework organization here on GitHub, though. If we all agree that's a good idea, we can do it immediately.

[2015-07-01 13:22] just-be-dev commented on #436
Okay, sounds good. Let's at least give it a few more days for @emanlove and @ombre42 to pitch in.

[2015-07-02 12:33] jjwipf opened #437 "Click element and safari"
I'm noticing that if I use the following code

`*** Settings ***`
`Library    Selenium2Library    run_on_failure=Nothing`
`Library    HttpLibrary.HTTP`
`Library  String`

`*** Test Cases ***`
`Safari Button Tied To Alert Check`
`[Tags]    safari`
`Open Browser    http://www.javascriptkit.com/javatutors/alert2.shtml    safari`
`sleep  2`
`Assign Id To Element  //*[@id="contentcolumn"]/form/p/input

[2015-07-02 19:41] just-be-dev commented on #436
Unless we hear negative feedback from someone can we go ahead and plan the move for next week sometime?

It should be a relatively painless process. We'll just need a S2L team set up on the RF side and to have the repo transferred. @pekkaklarck, you could go ahead and set up the team when you have some spare time. I assume it'd be comprised of me, @emanlove, @ombre42, and anyone you want to add to

[2015-07-03 11:51] emanlove commented on #436
I'm all for the concept of a larger governing body playing a role.

First this, ...

This conversation needs to take place first before anything is moved to NSN.  The community needs to have a discussion about what role does it want of this, for this "parent" organization. You need to look at, things like, how it will be structured, what will it's role be in guiding or controlling, or influencing

[2015-07-03 16:22] just-be-dev commented on #436
I wasn't necessarily meaning that the RF association or NSN would have anything to do with S2L. The core developers that maintain this library will stay the same at the very least. It's more for organizational purposes.

On the flip side of that, I do agree with some of the points you made. There's a lot of uncertainty around NSN, the association, and because of that for RF itself.

[2015-07-03 17:39] emanlove commented on #436
Let me be clear, I don't have any uncertainty or unease about the future of Robot Framework. It has a healthy, yes small, but significant and passionate core group of developers. Also I see that group growing as more end users become contributors and maintainers of the Robot Framework open source project.

Where I am unsure is what you mean by either the Robot Framework Association or the Robot Fr

[2015-07-03 18:02] just-be-dev commented on #436
Ah, there was actually an announcement on twitter about the formation of an actually robotframework "association." I haven't been very consistent with my terminology (I first referred to it as a foundation).

Ultimately though, I concede to your judgement. This isn't an issue that needs to be rushed, nor is there really any need to rush it. We can just wait until the dust settles and we figure out

[2015-07-03 18:04] just-be-dev opened #439 "Add a CLA"

[2015-07-03 19:12] emanlove commented on #436
See I missed [that](https://twitter.com/robotframework/status/613474696424722433) [announcement](https://twitter.com/OmeniaOy/status/613370499951931393) on the [twitter feed](https://twitter.com/robotframework). Hearing this I am even more encouraged. From the announcement it looks like there are six companies and @pekkaklarck forming the association. There is no uncertainty here in my mind.

Yes

[2015-07-03 22:33] pekkaklarck commented on #436
I agree with everything that has been said here about the importance of community. The community around Robot Framework and the ecosystem the community has built is awesome and in itself much more important than the core framework. Robot Framework core itself hasn't been that much community driven because there has been NSN sponsored team working with it, but I hope to change that in the future. M

[2015-07-03 23:10] pekkaklarck commented on #436
I'm sorry for not keeping the community better informed about the situation around NSN (or Nokia as they nowadays again want to call themselves...) sponsoring, the recently founded association, and so on. The two main reasons have been lot of the details being open and me just being too busy with work and being dad for two hyperactive small boys. It probably would be best for me to send a mail to

[2015-07-06 21:27] SteveHarrison82 commented on #429
Dear all, in 2.9b2 for the following setup I would like to report the following error:

A. OS: Windows version 7
B. Package installed:
a. Python 2.7.9 :: Anaconda 2.2.0 (64-bit)
b. robotframework-pageobjects==1.3.2
c. robotframework-selenium2library==1.7.1
d. robotframework==2.9b2

On iPython, on importing Page, I get the following error:

**In [1]: from robotpageobjects import Page**

C:\Users\rr

[2015-07-06 21:45] pekkaklarck commented on #429
@rama-bornfree, that seems to be a problem with robotframework-pageobjects. As you can see above, I submitted an issue about RF 2.9 compatibility to its tracker.

[2015-07-06 21:46] just-be-dev commented on #429
Ha, @pekkaklarck, you beat me to it.

[2015-07-07 06:50] SteveHarrison82 commented on #429
@pekka and @ Zephraph, thank you very much for the findings on PO, i will
be more accurate while reporting error

On Monday, July 6, 2015, Zephraph notifications@github.com wrote:

[2015-07-09 14:14] jjwipf opened #441 "Alert Should Be Present and PhantomJS"
I'm having issues with the keyword `Alert Should Be Present` and PhantomJS. I am running the same test against chrome/firefox/internet explorer/safari with no complaints but PhantomJS returns:

`Fail There were no alerts`

It's like phantom isn't sensing javascript popups

Looking into it more, here (Ivan De Marino's message specifically):
https://groups.google.com/forum/#!topic/phantomjs/w_rKkFJ0

[2015-07-09 15:53] just-be-dev commented on #441
I think phantomjs is a special case. It really doesn't handle alerts all that well.

I'm not entirely sure if there's actually a javascript representation of the alert built out or if it only triggers the `onAlert` event. In any case, I would use [onAlert](http://phantomjs.org/api/webpage/handler/on-alert.html) like Ivan stated.

Perhaps you could create a hidden div with the class alert or someth

[2015-07-09 23:20] just-be-dev opened #442 "Convert Travis CI configuration over to container based setup"
Travis has done some work to make builds faster by using containers. The upgrade guide is [here](http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade).

[2015-07-11 12:34] MitchK commented on #439
Maybe https://cla-assistant.io can help with this.

[2015-07-11 13:39] emanlove commented on #439
@MitchK Thanks for the suggestion! By the way how did you learn about our little project? Just curious...

[2015-07-13 13:09] jjwipf commented on #441
After communicating with the team more I have learned that the approach will eventually take out these types of popups. (They were put in place for expediency more than anything) For the moment I have thrown the keyword in another keyword that calls it through run keyword and continue on failure. The test fails yes, but it should be failing as that is not expected behavior so it's properly failing

[2015-07-13 16:04] just-be-dev commented on #441
I'll try to see if I can make the handling a little more graceful.

[2015-07-14 02:12] just-be-dev opened #444 "Convert all variable references in document strings to double backticks."
The preferred style of referencing variables or function parameters is double backticks. Our documentation can be inconsistent on this point, so we should make an effort to correct that.

[2015-07-15 06:00] ghost opened #445 "remote file upload"
thank you so much for this great library. Very helpful!

I want to use the Webdriver mechanism to upload files remotely (since version 2.8). The junit fraction does it like this:

[code]

Would that be possible in selenium2library, too. Did anybody look into that already?
The python bindings (file_detector.py) already implements this:

[code]

Details here:
http://stackoverflow.com/questions/16205

[2015-07-15 13:57] just-be-dev commented on #445
I'll look into it, thanks for the suggestion.

[2015-07-17 14:54] chevi opened #448 "Handling "Leave Page" popup created by defining window.onbeforeunload function"
There is a popup on page when user trying to leave page
![c9ip2](https://cloud.githubusercontent.com/assets/1729590/8749741/2abc3a42-2cac-11e5-82ad-b2bc7c27f000.png)

Existing keyword in Selenium2Library **Choose Ok On Next Confirmation** doesn't handle this alert.
The keyword **Confirm Action** just hide alert, but I need to accept it and leave the page.

There is a resolved issue in [webdriver i

[2015-07-17 15:50] just-be-dev commented on #445
Have you tried just selecting the upload element and using `send_keys` (`Input Text`) with the path to the local file? It seems like the python api has some magic to facilitate that.

https://github.com/SeleniumHQ/selenium/blob/f5b4f1c693f9598050e6f507eb1441a0b77c2943/py/selenium/webdriver/remote/webelement.py#L283-L285

[2015-07-17 15:51] just-be-dev commented on #448
It looks like it should work properly. Can you show me that part of your test?

[2015-07-17 16:15] chevi commented on #448
This is my test:

[code]

And log file from chrome

![screenshot at 19-12-24](https://cloud.githubusercontent.com/assets/1729590/8751765/eb861a6c-2cb7-11e5-8ff4-b9f57a94564e.jpg)

[2015-07-17 21:02] just-be-dev commented on #448
Try this

[code]

[2015-07-17 21:23] ghost commented on #445
I guess I trusted your documentation on that "Choose File ... The file specified with file_path must be available on the same host where the Selenium Server is running." I just tried and like you said it magically works. That is great news! Thanks for pointing that out. I suggest that you update the documentation.

[2015-07-17 21:29] just-be-dev commented on #445
This project has a long history with a lot of people involved. Things like this fall through the cracks from time to time.

Thanks for testing it out though! I'll make an issue to update the documentation.

[2015-07-17 21:29] #445 closed, assigned to nobody

[2015-07-17 21:32] just-be-dev commented on #445
Also, did you just try it with `choose file`? I forgot that that keyword even exists, it should essentially do the same thing.

[2015-07-17 21:35] just-be-dev opened #449 "Update documentation on Choose File to show that it supports remote uploading"
The documentation for `Choose File` states that the filepath must be available on the same host where the Selenium Server is running. #445 revealed that this statement is false.

Selenium is setup to send files remotely to a server, but the files must be located on the system from which the test is running.

[2015-07-17 21:58] just-be-dev commented on #25
I'm working on a [BrowserMob Proxy library](https://github.com/zephraph/robotframework-browsermoblibrary) that would be more appropriate for this. As far as I'm concerned this is outside of the scope of S2L so I'm going to close it.

[2015-07-17 21:58] #25 closed, assigned to nobody

[2015-07-17 22:00] just-be-dev commented on #24
This isn't a feature I can support through selenium, but could be easily added to RF simply using a library like pycurl.

[2015-07-17 22:00] #24 closed, assigned to nobody

[2015-07-17 22:05] just-be-dev commented on #160
Added in #373

[2015-07-17 22:05] #160 closed, assigned to nobody

[2015-07-17 22:07] just-be-dev commented on #164
Is this still an issue?

If so, would you please open a new task?

Thanks!

[2015-07-17 22:07] #164 closed, assigned to nobody

[2015-07-18 05:33] ghost commented on #445
yes, I used `choose file` and it worked perfectly.
Again thank you for your support!

[2015-07-18 05:40] just-be-dev commented on #445
Cool. Sorry again about the documentation! I'm working on it.

[2015-07-18 09:24] chevi commented on #448
Fantastic! Thanks, zephraph

[2015-07-18 09:24] #448 closed, assigned to nobody

[2015-07-21 08:56] hasmukh opened #451 "Firefox opens but does not load any page"
Hello Everyone,
I am running Robot Framework RIDE in testing machine.
Automatic testing was going smoothly with Firefox 31
Recently my firefox gets updated automatically and all my test cases are getting failed.
By reverting to Firefox 31 it works.
I don't know what really happened after updating firefox.
It looks like there is a problem in patching with selenium library and firefox.

Could  someo

[2015-07-21 15:27] just-be-dev commented on #442
Fixed in #453.

[2015-07-21 15:27] #442 closed, assigned to nobody

[2015-07-21 15:56] emanlove commented on #451
There is usually a lag in between the time Firefox is released and when selenium supports that version. Most people I know tend to turn off auto-updates so this breakage doesn't occur. To see what version is supported I view the [CHANGES log](https://github.com/SeleniumHQ/selenium/blob/master/py/CHANGES#L17).  Note sometimes there is a [further lag for native actions](https://github.com/SeleniumHQ

[2015-07-21 19:03] #292 closed, assigned to nobody

[2015-07-21 21:40] just-be-dev opened #454 "Review add cookie keyword"
Some points were brought up in #286 that all arguments may not be used for `add cookie`. We should investigate that keyword and ensure it's properly implemented.

If anything is lacking in the documentation that should also be updated.

[2015-07-21 23:02] dragonfyre13 opened #455 "run_on_failure handling is confusing to new users"
Discussed with zephraph on slack, this is a bit of a placeholder issue for run_on_failure duplication of RF's test teardown functionality, in addition to difficulties it causes with new users to robotframework and/or selenium2library.

Test teardown appears to already have the same functionality created by run_on_failure (at least at the global/import level) and pre-existing builtin keywords withi

[2015-07-21 23:23] just-be-dev commented on #455
@pekkaklarck what do you think about this? Is run_on_failure really unnecessary?

@emanlove, do you know any of the motivation for adding it to begin with?

[2015-07-22 01:44] emanlove commented on #455
This code goes back a long way and listening to @dragonfyre13 comments above (as it looks like one has to register to see discussion on slack) I would venture to say it was used for browser screenshots _at the point of failure_. Reviewing the Robot Framework built-in keywords for failure they all pretty much occur at test teardown and if one has nested test suites I would think the test execution

[2015-07-22 01:56] just-be-dev commented on #455
On a slightly related note, @emanlove you should join our slack channel! (I've updated the readme of this project with a badge that links to the signup page).

I agree with what you've said too, but shouldn't the first step after a keyword has failed be the teardown? It would explicitly require that the test author place whatever action they wanted to occur at the end of every test that they wante

[2015-07-22 07:14] molsky opened #456 "Some of the keywords won't work with the latest Selenium 2.46.1 -library"
![test](https://cloud.githubusercontent.com/assets/1943521/8820144/9644f274-305b-11e5-890b-bc8fdec034ae.png)
Our Jenkins build updated Selenium library automatically to version 2.46.1 and that caused all tests to fail. So far looks like the issue is with `Wait Until ...` -keywords.

Wait Until Page Contains Element id_password: `AttributeError: 'NoneType' object has no attribute 'id'`

Reproduced

[2015-07-22 07:23] Chaser commented on #456
I also had the same issue with RF 2.8.7. Rolling back to Selenium python bindings 2.46.0 the issue is nonexistent.

[2015-07-22 10:08] emanlove commented on #455
That is one of the problem's of removing this, maintenance overhead. You have to put this in a lot of places on large suites and what is you failed to do so in some or a few. To a certain degree you do want it to fail only with Selenium2Library keywords. Again I've taken some selenium action and and it fails. What is the current state of my webpage?

Thinking this morning we could add more documen

[2015-07-22 10:15] emanlove commented on #456
Going to see if I can find some time today to look at this. I am thinking we need to release a hot fix for this. Note the change log for selenium can be found [here](https://github.com/SeleniumHQ/selenium/blob/master/py/CHANGES)

[2015-07-22 11:30] emanlove commented on #456
@hgarus's [change](https://github.com/rtomac/robotframework-selenium2library/commit/c0b12ef52f7d56ba185f350354b85aee37968383) has fixed this. I will see if I can get out a fix later today. In the meantime people should be able to patch their systems to fix this problem. Sorry for the issue and delay.

[2015-07-22 13:18] just-be-dev commented on #456
Yeah, this was fixed yesterday but I didn't have time to push a release. It's already in master though.

@emanlove are you going to do the release, or would you like me to?

[2015-07-22 13:55] emanlove commented on #456
I can do it sometime this evening, early evening.

[2015-07-22 14:18] just-be-dev commented on #456
I can do it now if you'd like.

[2015-07-22 16:02] just-be-dev commented on #456
Update is being tracked in #457.

[2015-07-22 19:26] just-be-dev commented on #456
1.7.2 is out now. This should be fixed after you update.

If you have any issues, let us know.

[2015-07-22 19:26] #456 closed, assigned to nobody

[2015-07-23 06:29] hasmukh commented on #451
Thank you @emanlove
Actually I wanted to know whether is there any specification mentioned patches with the versions of Selenium and Firefox browser ?

[2015-07-23 13:40] just-be-dev commented on #451
@hasmukh, what version of firefox are you running now?

[2015-07-23 14:16] markwinspear opened #458 "Capture Page Screenshot is displaying HTML with RF 2.9rc1"
Hi
Running Selenium2Library v1.7.1 and Selenium 2.46.0 with Robot Framework 2.9rc1 and Capture Page Screenshot is outputting the HTML source in my report file, rather than the screenshot

Unfortunately I can't downgrade to verify if this is related to RF 2.9rc1 or not at the moment, but wanted to get this one on the radar quickly

[2015-07-23 14:25] just-be-dev commented on #458
That's a new one... Try upgrading to 1.7.2.

[2015-07-23 14:39] markwinspear commented on #458
Thanks. I've just tried that and get the same result...
![screenshot](https://cloud.githubusercontent.com/assets/6747519/8853083/91345f3e-3148-11e5-8258-dfdfa2d7c51a.png)

[2015-07-23 14:53] just-be-dev commented on #458
What browser/version are you using?

[2015-07-23 14:58] markwinspear commented on #458
To view the robot framework report, I've tried chrome 43, ie11 and Firefox on Win 8.1 with the same results

[2015-07-23 15:24] just-be-dev commented on #458
Could you rerun the test and pass in the arguments `--test your_test_name --loglevel DEBUG` and post the log file somewhere I can look at it?

You can also email it to me if you'd like. I just don't have enough information on what's going on.

[2015-07-23 19:45] just-be-dev opened #459 "Capture Page Screenshot not correctly linking in log when using a custom root directory"
When using the new keyword `Set Screenshot Directory` in 1.7.2, the screenshot that's appended to the log isn't pointing to the correct location.

[2015-07-24 00:35] just-be-dev opened #461 "Update keyword documentation for 1.7.2"
I seem to have forgotten to update the documentation.

I'll try to get to that tonight.

@emanlove, feel free to go ahead and do it if you have a free minute or two.

[2015-07-24 02:56] just-be-dev commented on #461
Done.

[2015-07-24 02:56] #461 closed, assigned to nobody

[2015-07-24 02:56] just-be-dev commented on #459
#460 addresses this.

[2015-07-24 06:37] hasmukh commented on #451
@zephraph @emanlove
I am using FireFox 31 on one machine and Firefox 31 ESR on second machine.
http://stackoverflow.com/questions/31645783/ride-selenium-patch-management-with-firefox
Where can I see the versions of Selenium2Library and supportable Firefox version ?

Regards as soon as possible.

[2015-07-24 07:18] aaltat commented on #455
I actually love run on failure functionality. When you have lot of libraries that interact with SUT, it comes almost impossible to keep track which keyword did fail and how to gather required info in the suite/test/keyword tear down. I am in the opposite view, all libraries should have run on failure functionality, then it comes easy to run specific keywords that garb correct information with that

[2015-07-24 07:36] markwinspear commented on #458
Hi - I've just sent the log file by email. Let me know if I can do anything else

[2015-07-24 12:03] tarand opened #462 "Temporary directory for WebDriver not removed after run"
After several (many) rounds of testing with Selenium2Library 1.7.0 my machine complains about /tmp getting full.
There are a lot of /tmp/tmpXXX-directories which are obviously created by the WebDriver. They never get removed.
I googled a bit and found out that if one would call driver.quit() instead of driver.close(), this temporary directory would be removed.
What does the Selenium2Library call?

[2015-07-24 12:37] tarand opened #463 "Need "Table Should Not Contain" keyword"
There are a bunch of "Should Contain" keywords for tables (Table Should Contain, Table Should Not Contain, ....) For all of them also a "Should Not Contain" version should exist.

(Of course you can use a workaround, e.g.
Run Keyword And Expect Error    Table identified by 'xpath=.//table[@id='credentialList:dataTable']' should have contained text 'HTTP Access'.  selLib.Table Should Contain xpath=

[2015-07-24 13:01] tarand opened #464 "Table Should Contain keyword doesn't throw proper error if the selected table (via xpath) cannot be found"
I'm using "table should contain" with the following syntax:
Table Should Contain    xpath=.//table[@id='credentialList:dataTable']  HTTP Access

If (by mistake) I pass a non-existent id, I get the same error as if the id is correct but the text is not contained:
Table identified by 'xpath=.//table[@id='credentialList:dataTabe']' should have contained text 'HTTP Access'.

What is needed is an error

[2015-07-24 13:34] just-be-dev commented on #458
Thanks, I'll take a look.

[2015-07-24 13:41] just-be-dev commented on #463
Easy enough, I'll add it to the todo list.

[2015-07-24 13:42] just-be-dev commented on #462
I'm not sure, but that's a very valid concern. I want to say yes, that is included, but let me double check.

[2015-07-24 15:59] just-be-dev commented on #462
It seems that we do indeed do this. Check [browserchache](https://github.com/rtomac/robotframework-selenium2library/blob/master/src/Selenium2Library/utils/browsercache.py#L23).

You just need to ensure that after you've finished your test you call `Close All Browsers`. I'm not sure that that's called automatically.

[2015-07-24 21:30] pekkaklarck commented on #455
This functionality existed already in the original SeleniumLibrary. @yanne already [enumerated on Slack](https://robotframework.slack.com/archives/selenium2library/p1437538306000076) why it was added. I'm not sure is that discussion visible for everyone so I quote him:
1. We wanted to have a screenshot whenever a Selenium test failed because the test setup we had was really slow.
2. Taking screens

[2015-07-25 03:00] emanlove commented on #455
You apparently need to be signed in (and thus a registered user) to see the conversation in slack. I think we should without a doubt do recommendation #1 including adding information into the main introduction section. Although implementing recommendation #2 might seem like a good idea I think we would be breaking too many scripts that take this action for granted and expect it to happen by defaul

[2015-07-25 04:48] just-be-dev opened #467 "Consider adding more automated test coverage to the Travis builds"
To prevent issues like [this](https://github.com/rtomac/robotframework-selenium2library/commit/e43e782a5a0173a4dce2d60ce5f46e6ce3b78f78) from occurring, we really need greater test coverage.

This includes determining what versions of RF that we will support and running the tests for each of those versions.

We also need better browser coverage. I mentioned using SauceLabs in #383, and I still thi

[2015-07-25 04:52] pekkaklarck commented on #467
Sauce is promotinc RF and S2L via blog posts and video tutorials. I'm fairly sure they'd give us free credits if asked.

[2015-07-25 04:59] just-be-dev commented on #467
Hmmm... I may have been wrong about that.

I have an account, but it turns out it wasn't for their open source program? I feel like they've transitioned to a new payment scheme recently. Regardless, I'll keep that in #383.

[2015-07-27 07:47] tarand opened #469 "Documentation error for desription of "Using webelement""
The keyword documentation has:
Starting with version 1.7 of the Selenium2Library, one can pass an argument that contains a WebElement instead of a string locator. To get a WebElement, use the new Get WebElements keyword. For example:
${elem} =   Get WebElements     id=my_element
Click Element   ${elem}

This can obviously not work, as Get WebElements returns a list. I think it should be
${elements

[2015-07-27 07:51] tarand opened #470 "Please change heading formatting in "Locating or specifying elements" section"
Within this section there are sub-sections. (e.g. "Using 'locator'", "Using 'webelement'", ...)
These cannot be distinguished by normal paragraph text, and it is thus confusing to read this section. This can be seen best at:

This can be fixed by changing the locator to:

Click Link    default=page?a=b

Using 'webelement'

Starting with version 1.7 of the Selenium2Library, one can pass an argument

[2015-07-27 13:39] just-be-dev commented on #469
Ugh, yeah, you're right. We'd planned on adding a `Get WebElement` keyword that just returned a single item. That slipped through the cracks though.

I'll look at rewording the documentation and possibly introducing that keyword.

[2015-07-27 16:03] hellmanj opened #471 "_is_visible causing StaleElementReferenceException"
Hi, we have a test which needs to verify that an element has been removed from the page.  `wait_until_element_is_not_visible` (https://github.com/rtomac/robotframework-selenium2library/blob/master/src/Selenium2Library/keywords/_waiting.py#L130) seemed like the right choice, but we get a `StaleElementReferenceException` intermittently.   I traced the issue to `_is_visible` (https://github.com/rtoma

[2015-07-27 21:54] hellmanj commented on #471
Never mind, I see now I should be using wait_until_page_does_not_contain_element

[2015-07-27 21:54] #471 closed, assigned to nobody

[2015-07-28 04:06] just-be-dev commented on #469
Should I add `Get WebElement`or just suggest people use `Get WebElements` combined with `@{list}[0]`?

[2015-07-28 04:09] just-be-dev commented on #469
@pekkaklarck, is there any precedence for this? Having two keywords, one that returns a list of items and the other that returns just the first.

[2015-07-28 06:15] pekkaklarck commented on #469
I think it would be convenient to have `Get WebElement` separately.

For example, XML library has both `Get Elements` and `Get Element` keywords. The former returns a list of elements and the list can be empty. The latter fails if there is not exactly one element. Would that make sense in S2L context?

[2015-07-28 08:53] tarand commented on #469
I would say, yes.

Thomas

---

Thomas Arand
Tel.  +49 (89) 5159 36328 / +49 (160) 90888023
thomas.arand@nokia.commailto:thomas.arand@nsn.com

Nokia Solutions and Networks Deutschland GmbH

From: ext Pekka Klärck [mailto:notifications@github.com]
Sent: Tuesday, July 28, 2015 8:16 AM
To: rtomac/robotframework-selenium2library
Cc: Arand, Thomas (Nokia - DE/Munich)
Subject: Re: [robotframework-seleni

[2015-07-28 14:07] just-be-dev commented on #469
I thought it was needed originally, and I still think it'd be nice to have.

[2015-07-29 22:55] #275 closed, assigned to nobody

[2015-07-30 11:02] GitBartek commented on #18
Hi
Full code to set up Firefox Profil and use it in Selenium2Library.

[code]

[2015-07-30 12:58] aaltat opened #475 "StaleElementReferenceException with Wait* keywords"
With Chrome 44.0.2403, Chrome driver 2.16 Selenium2Library 1.7.2 and selenium 2.46.1 when I use Wait\* keywords, the StaleElementReferenceException might occur. Documentation says that keyword should only fail if condition is not met before the timeout, example for Wait Until Page Contains Element keyword, documentation says: Fails if timeout expires before the element appears.

But if StaleElemen

[2015-07-30 13:44] HelioGuilherme66 commented on #475
Please verify your ChromeDriver version, from the Trace we see:
(Session info: chrome=44.0.2403.125)
(Driver info: chromedriver=2.14.313457 (3d645c400edf2e2c500566c9aa0960

On Thu, Jul 30, 2015 at 1:58 PM, Tatu Aalto notifications@github.com
wrote:

[2015-07-30 13:47] gotcha opened #476 "1.7.2 is not compatible with robotframework 2.8.4 anymore."
because 2.8.4 does not have `RobotNotRunningError` which is added in 2.8.5

[2015-07-30 13:48] gotcha commented on #476
When this type of incompatibility is introduced, it should be stated in `setup.py`

[2015-07-30 16:48] just-be-dev commented on #476
That dependency will be resolved in the next release. It wasn't intentional.

[2015-07-30 21:18] gotcha commented on #476
I know you know. I filed the issue in order to help other people understand their issue.

[2015-07-30 23:54] just-be-dev commented on #476
It's fixed in master. I just don't have a windows machine with me to do a new build.

[2015-07-30 23:55] pekkaklarck commented on #476
If you haven't been able to upgrade to newer RF versions due to DateTime library introduced in RF 2.8.5 that conflicts with Zope2 DateTime module, you should be now finally be able to upgrade to RF 2.9. It was just released and it contains a fix to this bug:
https://github.com/robotframework/robotframework/issues/1737

[2015-07-30 23:57] just-be-dev commented on #476
1.7.3 should be released on Saturday and will resolve this issue.

[2015-07-31 06:56] aaltat commented on #475
Ah, did accidentally copy from wrong log file. Here is the correct example:

[code]

[2015-07-31 08:04] gotcha commented on #476
@pekkaklarck Yup, using RF 2.9 release is compatible again with Plone/Zope2. Then I can use 1.7.2 without issue.

[2015-07-31 20:40] aaltat commented on #475
I was reading the code and I do not quite understand, where the other selenium errors (like NoSuchElementException) are suppressed, but I was thinking could this resolve the problem: https://github.com/aaltat/robotframework-selenium2library/commit/9df1e8e132c63c67c771d9b0f45582fc4b35ca6c

Just a raise a discussion and me to figure out, am I in the right track?

[2015-07-31 21:14] pekkaklarck commented on #476
It's great that Plone/Zope2 people can finally upgrade their RF installations! There have been lot of enhancement since 2.8.4.

[2015-08-01 01:45] just-be-dev commented on #475
Hey @emanlove, can you help me take a look at this? I know there were some similar issues floating around when you were first implementing using web elements as locators.

@aaltat, I'm actually on vacation right now. As soon as I get home I'll try to help you resolve this.

[2015-08-01 07:04] aaltat commented on #475
My idea is not actually good, because it wont fix the other Wait\* keywords. Therefore finding a better solution is needed. In my case the StaleElementReferenceException happen most often with Wait Until Element Is Visible keyword, because I use it also quite often.

@zephraph I returned from my holidays this week, so enjoy yours. Shutting down the email (+other social media apps) usually helps :-

[2015-08-02 12:18] emanlove commented on #475
Actually @aaltat I was thinking something similar, although I would have first tried catching the error up within `wait_until_element_is_visible`. Not saying it should be here instead; it's just where I would have tried it first.

I am not sure it is proper to exclude this error in all the Wait\* keywords. I think one needs to ask what is a proper error and maybe what is not. This was part of the

[2015-08-02 12:50] emanlove commented on #475
[Thinking out loud...] What if _waiting._wait_until_no_error() had an additional parameter for errors to ignore...?

[2015-08-02 16:06] aaltat commented on #475
@emanlove Well, sounds a good idea to me...

[2015-08-03 02:08] emanlove commented on #475
I am wandering if there is a better method for waiting. Looking at some of the [methods](https://github.com/rickypc/robotframework-extendedselenium2library/blob/master/src/ExtendedSelenium2Library/__init__.py#L385) within @rickpc's [angular](https://github.com/rickypc/robotframework-extendedselenium2library/blob/master/src/ExtendedSelenium2Library/__init__.py#L395) extended [library](https://githu

[2015-08-03 04:34] aaltat commented on #475
Those methods do look similar as what the selenium API now days recommends to use with explicit waits: http://selenium-python.readthedocs.org/en/latest/waits.html?highlight=waiting#explicit-waits And there is ready made conditions that would suite in many of our needs (just an assumption), like:visibility_of_element_located. But I do not know the codebase that well to estimate, how big change that

[2015-08-03 15:22] emanlove commented on #475
Concerning the minimum required selenium version, I see several points in the [CHANGES](https://github.com/SeleniumHQ/selenium/blob/master/py/CHANGES) log,

[code]

I think we can get by with what we currently require. The [change in 2.45.0](https://github.com/SeleniumHQ/selenium/commit/da1a83cbe43c466f730e37f02b1eb1b397417588#diff-527cb42125a43648de24c0ff3c5d1894) looks to just add debuging infor

[2015-08-03 16:48] just-be-dev opened #478 "1.7.3 Release checklist"
- [x] Removes dependency on latest for `RobotNotRunningError` #476, ~~#466~~
- [x] Fixes screenshot links in the logs being broken in some conditions ~~#460~~
- [x] Add named keys to `Press Key` ~~#474~~

That's in this release thus far. Does anything else need to be added? I don't necessarily want to rush this out, but I do want it get it out before too long. #466 really needs to be pushed out.

[2015-08-03 17:06] aaltat commented on #475
If we can get by using current selenium version, which way you would like to proceed?

1) Use existing S2L wait logic and just do some sort of try/ expect on required places in Wait\* keywords
2) Change the internal S2L waits to use selenium waits

I can think many pros/cons for each way.

[2015-08-03 17:28] just-be-dev commented on #475
Just my two cents, but I'd prefer getting as close to the webdriver as possible, so I'd vote 2. Granted, that may come with a greater risk than option 1.

[2015-08-03 17:51] HelioGuilherme66 commented on #478
I am working on a Press Keys keyword. But it is not ready (some tests fail) [https://github.com/HelioGuilherme66/robotframework-selenium2library/commit/3b46328967bf86ab28ab3411aa96e3f6a5ec0dc4]

Maybe someone could make a review to see if would enter in 1.7.3?
Thanks.

[2015-08-03 17:57] just-be-dev commented on #478
I'll work with you on that @HelioGuilherme66, but if it's not really ready I don't think we should hold up 1.7.3 for it.

I really want to get this release out today to fix the broken backwards compatibility.

[2015-08-03 19:21] aaltat commented on #475
If I could freely choose, I would go also for option 2, Also from the same reason which @zephraph mentions. Also I think, it could make the code much easier to read and maintain. At least for me the waiting/finding logic in S2L was not so easy to read and understand. Of course the option 2, is lot more work and my gut feeling says that there are many things which will cause a pain in...

Of course

[2015-08-03 22:55] emanlove commented on #475
I too think that 2 is the better option. We should prototype something up and see what the difference is. I think also a good explanation of what the wait is doing all the way through would be good to have.

[2015-08-04 19:46] aaltat commented on #475
OK, I will try to muster up some sort of prototype, perhaps I get something done at the end of the week. But I was thinking that this means the separation between the Waiting\* and other keywords in means how the element is located. Other keywords would still use the existing functionality to locate/interact with elements but Waiting\* keywords would be moved closer to the selenium 2 world. Just t

[2015-08-05 00:45] davidjb opened #479 "Python 3 support"
Are there any plans for this library to look at supporting Python 3?  The biggest blocker appears to be the fact that robotframework itself isn't yet Python 3.x compatible (though there is a Py3 fork available on PyPI; https://github.com/robotframework/robotframework/issues/1506).

For this package, though, it looks as though there'd need to some changes around the packaging (ez_setup.py), and min

[2015-08-05 10:31] emanlove commented on #479
Feel free to submit a pull request. My only concern is that we maintain support for Python 2.7 (and possibly 2.6).

[2015-08-05 18:50] aaltat commented on #475
@emanlove @zephraph It seems @rtomac did give me Collaborator access, is there some sort dev channel where you ppl discuss and decide things or how this works?

[2015-08-05 21:23] just-be-dev commented on #475
Well, I created the slack channel and am always available through there. @emanlove, you should definitely give it a go too if you haven't already.

[2015-08-05 21:36] HelioGuilherme66 commented on #475
There is an instant messaging site with nice features like file posting and
channels creation, public or private:
https://robotframework.slack.com/

You will have to create an account, after that you may request access at
https://robotframework-slack.herokuapp.com/ (status button on github's RF
projects)

On Wed, Aug 5, 2015 at 7:50 PM, Tatu Aalto notifications@github.com wrote:

[2015-08-07 01:43] HelioGuilherme66 commented on #478
There is now a PR for Press Keys. I changed CHANGES.rst because there was repeated entries. This is causing conflicts. I marked Press Keys for 1.7.3 because it should go as experimental, and I would like for users to try it (since there could be side effects, that should be well documented).

[2015-08-07 09:45] vikulin commented on #429
The issue occurs for selenium RC1 library v2.9.1:
Error in file '/data/edtest/resource/setup.txt': Importing test library 'SeleniumLibrary' failed: ImportError: cannot import name GLOBAL_VARIABLES
Traceback (most recent call last):
  File "/usr/jython-2.7-rc3/Lib/site-packages/SeleniumLibrary/**init**.py", line 24, in <module>
    from robot.variables import GLOBAL_VARIABLE

[2015-08-07 13:15] just-be-dev commented on #429
@vikulin, you need to update S2L.

[2015-08-07 15:01] pekkaklarck commented on #429
You are @vikulin still using the old SeleniumLibrary, right? I highly recommend switching to Selenium2Library, but I guess we need to fix this incompatibility in the old and deprecated library too. Issues related to it should be submitted to its tracker, though.

[2015-08-07 16:08] rickhau commented on #18
Hi,
   I was looking for a way to pass the firefoxprofile to open_browser()
   Today, I found the solution for myself.
   So, I'd like to share with anyone who might struggle in the same problem.

Here comes the code snippet:

[code]

   This can offer a way to support FirefoxProfile() instance and use **fp.path** to use open_browser for your convenience.

Hope this helps anyone who might need.

[2015-08-07 17:19] vikulin commented on #429
Sent issue to the tracker https://code.google.com/p/robotframework-seleniumlibrary/issues/detail?id=273

[2015-08-07 17:20] vikulin commented on #429
zephraph, S2L update is not an easy task. All RC1 keywords are not compatible with S2L.

[2015-08-07 17:38] just-be-dev commented on #429
Sorry, I looked over the RC1 part.

I don't have any involvement in that project so I won't be any help.

[2015-08-07 17:40] vikulin commented on #429
zephraph, I'm not asking you any help.

[2015-08-11 20:25] just-be-dev commented on #478
1.7.3 released as of d4560b5.

[2015-08-11 20:25] #478 closed, assigned to nobody

[2015-08-11 20:25] just-be-dev commented on #476
This is fixed for 1.7.3.

[2015-08-11 20:25] #476 closed, assigned to nobody

[2015-08-11 20:36] just-be-dev commented on #470
It's a little better as of the 1.7.3 release.

We'll try to continue to improve it in the future.

Feel free to submit a PR.

Thanks.

[2015-08-11 20:36] #470 closed, assigned to nobody

[2015-08-13 00:55] HelioGuilherme66 opened #484 "Editing of acceptance tests for consistency"
In #483 the test files had their sections (**\* Settings ***, ...) in a consistent format (the same produced by RIDE). The spacing was changed to 4 spaces. Some spelling typos were also corrected.
Tests were also checked with robotframework-lint (rflint). I will post the reports of before and after the editing.

[2015-08-13 02:54] just-be-dev opened #485 "Write up a collaborators guideline"
As our team has recently expanded, it would be good to have a goto list of guidelines for collaborators.

Here's a few things I think it should have
- Never commit directly to master
- Never merge a PR that fails CI
- Never merge a PR that adds functionality but doesn't properly test it
- Ensure the changelog is updated if any notable change is made
- Try to get others to review changes before mer

[2015-08-13 03:33] just-be-dev opened #486 "Investigate using AWS S3 to serve result files"
Currently in our travis setup there's no way to see the log/result files that are generated by RF from our CI tests. I would like to configure our travis setup to store log/result files on an AWS S3 instance.

My envisioned setup:
- Travis is configured to store log/result files in an S3 bucket. (Read [here](http://docs.travis-ci.com/user/uploading-artifacts/)).
- Add a static landing page that us

[2015-08-13 19:48] markussammallahti commented on #270
I found out the reason for this issue.

I had input element on a page that had attribute id with value id.

[code]

This element is assigned to _window.id_ and therefore it has unexpected type. In my case the error was "TypeError: object of type 'WebElement' has no len()".

I guess for @pr0chy the reason is that somewhere on the page in javascript code you assign boolean value to undefined variabl

[2015-08-13 21:24] pekkaklarck commented on #485
First of all, we just recently got contributing guidelines written for Robot Framework itself. One of the goals was that other project could refer to them from their guidelines and just list things they do differently. All kind of comments and enhancement ideas related to them are highly appreciated. You can find them here:
https://github.com/robotframework/robotframework/blob/master/CONTRIBUTING.

[2015-08-13 22:02] just-be-dev commented on #485
That's absolutely a great resource, but I was gearing this to be directly for our team members who have write access to the repository. I feel like this should be a separate document from the contributors guidelines, though not necessarily mutually exclusive.

To be honest, I've committed to master a few times on this project as well. Generally though, those commits have only been one or two lines

[2015-08-13 23:03] HelioGuilherme66 commented on #484
Merged

[2015-08-13 23:03] #484 closed, assigned to nobody

[2015-08-13 23:24] HelioGuilherme66 commented on #398
I also got tests failing with Firefox (34.5) and Chrome (44.0.2403.155)  in Fedora 19 (but not in Windows 7).
Firefox:
`Get and Set Window Size :: Get and Set Window Size                    | FAIL |
846 != 800`
`Get and Set Window Position :: Get and Set Window Position            | FAIL |
100 != 0`

Chrome:
`Get and Set Window Position :: Get and Set Window Position            | FAIL |
100 != 102

[2015-08-14 06:34] aaltat commented on #485
I am huge fan of code reviews, they help spot many kind of issues (where the author is usually blind). Also it helps share the knowledge of the product within the team and may lead to different/better implementation.

The other items in @zephraph list are good too.

[2015-08-14 06:38] aaltat commented on #486
I like the idea, no idea how to do it though. But if someone does it, I gladly accept

[2015-08-14 08:35] pekkaklarck commented on #485
I would include process documentation for the team members in `CONTRIBUTING.(rst|md)` along with other such guidelines. It's easy to have separate sections and a table of contents. I'd only have building/releasing instructions separately in `BUILD.(rst|md)`. Also, S2L having a policy that nothing is committed to master directly is just fine.

[2015-08-14 11:17] just-be-dev commented on #486
I plan on being the one to implement it. Heh, I'll have to pay for the S3 service anyway.

[2015-08-14 14:54] alexeylubyanoy commented on #429
Guys, any updates?
Recent version still contains this error.

[2015-08-14 14:57] just-be-dev commented on #429
@alexeylubyanoy, recent versions of S2L?

[2015-08-14 15:06] just-be-dev opened #488 "Raise minimum RF version to 2.8"
Supporting all the way back to 2.6 is a bit challenging, and I'm not even sure we actually do support versions that old.

In the next major release we're going to set the minimum supported version of RF to 2.8.

[2015-08-14 15:07] #459 closed, assigned to nobody

[2015-08-14 15:23] alexeylubyanoy commented on #429
@zephraph, sorry - I was sure I am posting this to android library repository

[2015-08-14 15:25] just-be-dev commented on #429
Haha, no problem.

[2015-08-14 15:53] just-be-dev commented on #469
Fixed in 1.7.3

[2015-08-14 15:53] #469 closed, assigned to nobody

[2015-08-14 16:15] just-be-dev commented on #404
Should be implemented as of 1.7 release.

[2015-08-14 16:17] just-be-dev commented on #386
This probably isn't necessary anymore with the work we're doing on `Press Key` and `Press Keys`. In the other cases we can probably just implement specific keywords.

[2015-08-14 16:17] #386 closed, assigned to nobody

[2015-08-17 08:57] spooning opened #1 "Copyright information missing from source files"
Testing the issue tracker.

[2015-08-17 08:57] #1 closed

[2015-08-17 08:57] spooning opened #2 "Demo for download"
Make demo available for downloda

[2015-08-17 08:57] #2 closed

[2015-08-17 08:57] spooning opened #3 "Support for konqueror, opera"
Aliases and acceptance test support for above browsers

[2015-08-17 08:57] spooning commented on #3
We've tested that these browsers do work at lest to some extent, but real acceptance
testing is still to be done.

[2015-08-17 08:57] spooning commented on #3
These are already supported as much as the selenium-server supports them, so no further
action needed.

[2015-08-17 08:57] #3 closed

[2015-08-17 08:58] spooning opened #4 "Information about starting/stopping Selenium server ought to be in library doc"
See this thread for more information:

<a href="http://groups.google.com/group/robotframework-users/browse_thread/thread/d0113f193da28a8a" rel="nofollow">http://groups.google.com/group/robotframework-users/browse_thread/thread/d0113f193da28a8a</a>

Should be done latest for 2.1, but it would be better to add this to doc in
trunk immediately. Probably should mention this also in
<a href="https://co

[2015-08-17 08:58] spooning commented on #4
Added a note about this to installation instructions, but this needs to be mentioned
also in library documentation.

[2015-08-17 08:58] spooning commented on #4
Few more things to add/fix in the library doc. They aren't that much related to the
original issue but it's easy to fix them all at once and then there's less issues to
be closed.

1) Mention that library supports both Python and Jython. This is an important feature
and it might be a good idea to mention in the front page too.

2) Mention supported/tested libraries. This is good to add to front pa

[2015-08-17 08:58] spooning commented on #4
Ooops, it should be "Mention supported/tested browsers" not "libraries" in point 2)
of my previous comment.

[2015-08-17 08:58] spooning commented on #4
Fixed, expect for 4) it seems that we don't have such an alias.

[2015-08-17 08:58] spooning commented on #4
Was done already for 2.0.1. That IE alias should still be added (if not done yet).

[2015-08-17 08:58] #4 closed

[2015-08-17 08:58] spooning opened #5 "rundemo.(sh|bat) don't work out-of-the-box from the standalone demo"
Both rundemo.sh and rundemo.bat, as well as startapps.sh and startapps.bat,
have path to the selenium-server.jar in format
'../src/SeleniumServer/....', which does not work when using the standalone
demo.

The best solution is probably rewriting these scripts in Python, since then
we can get the path to the installation directory e.g. with "from
SeleniumLibrary import __file__ as selpath". Additio

[2015-08-17 08:58] spooning commented on #5
Fixed.
Rewrote starter scripts in Python
New demo available for download

[2015-08-17 08:58] #5 closed

[2015-08-17 08:59] spooning opened #6 "Click Button does not work with <button> tag"
Current implementation of Click Button works
only with buttons implemented as with &lt;input&gt; tag.
To actually click &lt;button&gt; tag, Click Element has to be used.

[2015-08-17 08:59] spooning commented on #6
Fixed in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=68">r68</a>

[2015-08-17 08:59] #6 closed

[2015-08-17 08:59] spooning opened #7 "Documentation enhancements"
1) Update to use new libdoc.py styles (internal linkin etc.)

2) Possible browser name formats in 'Open Browser' should be explained in a
list or table so that it is easier to find that information.

3) 'Open Browser' should mention that also 'IE' works as browser name. (At
least it should!)

4) Both comments in 'Click Link' example should be in third column.

[2015-08-17 08:59] spooning commented on #7
5) Possible add more examples and cross-linking between keywords.

[2015-08-17 08:59] spooning commented on #7
Some quite big improvements are available in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=65">r65</a>, <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=66">r66</a>.
Proofreading and suggestions are still welcome.

[2015-08-17 08:59] spooning commented on #7
Looks great! Some comments:

About libdoc.py:
Should we set width (or min-width) for the keyword column? It's pretty small on my
1280 width monitor.

Locating elements:
Is 'domexpression' correct term or should it be 'DOM expression' like in the example.

Handling page load events:
- nonempty -&gt; non-empty
- Some keywords also take 'wait' argument which should be explained similarly like
'dont_w

[2015-08-17 08:59] spooning commented on #7
Most of the suggestions have been implemented in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=73">r73</a>,
I still insist on keeping ff, for my own convenience

[2015-08-17 08:59] #7 closed

[2015-08-17 09:00] spooning opened #8 "Authentication info not kept during a testcase. Submit Form makes selenium to ask again for password."
**What steps will reproduce the problem?**
1. Use apache with LDAP or Basic authentication
2. Have a cgi-bin that opens a page and use selenium to login to that by
   entering the username and password into the url (user:pass@&#8288;http://etc...
3.   Some of the fields in the form are then filled in and the form
cofiguration is submitted using the 'Submit Form' Keyword. Then the
authentication po

[2015-08-17 09:00] spooning commented on #8
I was not able to reproduce in the simplest of cases.
My setup was as follows:

I had a directory 'auth' which I configured to have access protection by basic
authentication. I then created a page with form under authentication, and submitting
the form redirected to another page under 'auth'.

You probably have a somewhat more elaborate authentication scheme in use.
Can you send me relevant parts

[2015-08-17 09:00] spooning commented on #8
Yes this is true I cannot replicate it again. I believe it was an error with our
httpd.conf

[2015-08-17 09:00] #8 closed

[2015-08-17 09:00] spooning opened #9 "Cannot slect and test Modal Dialogues. When popup test is frozen"
**What steps will reproduce the problem?**
1. Try to use a page that will display a popup window. i.e an
authentication dialogue
2. Cannot select it and enter the required info , thus test is stack...
**3.**

**What is the expected output? What do you see instead?**
Should be able to select the popup and enter required info and submit it

**What version of the product are you using? On what operat

[2015-08-17 09:00] spooning commented on #9
Implemented 'Select Window' keyword in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=58">r58</a>.
This keyword is able to select the popup window.

[2015-08-17 09:00] #9 closed

[2015-08-17 09:01] spooning opened #10 "Confirm Action -keyword"
Add new keyword Get Confirmation, based on this:

   def get_confirmation(self):
       """
       By default, the confirm function will return true, having the
same effect
       as manually clicking OK."""
       return self._selenium.get_confirmation()

[2015-08-17 09:01] spooning commented on #10
Get Confirmation is somewhat confusing as a keyword name.

Implemented keywords Confirm Action and Choose Cancel On Next Confirmation in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=93">r93</a>

[2015-08-17 09:01] spooning commented on #10
Is there some technical reason for using a combination of 'Choose Cancel On Next
Confirmation' and 'Confirm Action' keywords for canceling an action? Having just
'Cancel Action' feels quite a bit more logical, but I don't know is it possible to
implement such a keyword.

[2015-08-17 09:01] #10 closed

[2015-08-17 09:10] spooning opened #11 "Click image keyword should also work for images inside form"
**What steps will reproduce the problem?**
1. click image in a page with source similar to the following

&lt;FORM ACTION='/opt/cgi-bin/example.cgi' METHOD='POST'&gt;
&lt;H3&gt;Example&lt;/H3&gt;
&lt;TABLE BORDER=1&gt;
&lt;TR&gt;&lt;TD&gt;&lt;B&gt;A List&lt;/B&gt;&lt;/TD&gt;&lt;TD&gt;
&lt;SELECT NAME='1' SIZE=1&gt;&lt;OPTION VALUE='(empty)'&gt;No selection&lt;/OPTION&gt;
&lt;OPTION SELECTED VALUE=

[2015-08-17 09:10] spooning commented on #11
Thanks for reporting, I'll take a look at this next week

[2015-08-17 09:10] spooning commented on #11
Click Image normally works on images that are inside &lt;a&gt; tag, ie. links.
In this case, the image is inside a form, and in an input tag.
You can already submit the form with Submit Form keyword, but I will add a support
for clicking images directly inside a form to next version of SeleniumLibrary

[2015-08-17 09:10] spooning commented on #11
The fix that makes the original case to pass is implemented in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=86">r86</a>.

[2015-08-17 09:10] spooning commented on #11
This was included in 2.1, right?

[2015-08-17 09:10] #11 closed

[2015-08-17 09:10] spooning opened #12 "'Page Should Contain ...' should have 2 arguments, including text to display when failed"
I have some locators who have meaningless names, like:
//div[@&#8288;id='bodycontent']/div/span[3]/div[1]/a/img
When I use 'Page should contain Element' keyword, I'd like to have the
possibility to describe the element better when the action fails.

The easiest way would be to add a second optional argument, like in
'BuiltIn.Should Contain' keyword. The second argument would be a text to
display w

[2015-08-17 09:10] spooning commented on #12
should be type: enhancement

[2015-08-17 09:11] spooning commented on #12
I think this is reasonable, and will be included in the next release,
hopefully released next week.

[2015-08-17 09:11] spooning commented on #12
The possibility has been added to all 'Page Should...' keywords in r 112

[2015-08-17 09:11] spooning commented on #12
Could this piece of code to handle div be sent across, as I am in a critical release
and I need this piece of code to proceed further.
I need to click on 'Entire States' from the below Code
&lt;div class="row labelTextArial"
style="text-align:left;margin-top:10px;margin-left:47px;width:60&#37;"&gt;
            &lt;div class="column" style="width:30&#37;;text-align:left; font-weight:normal;"&gt;

[2015-08-17 09:11] #12 closed

[2015-08-17 09:11] spooning opened #13 "Enhancement: Add support for Selenium's cookie manipulation methods"
I implemented this and have attached the modified __init__.py file.  Feel
free to incorporate it into the next revision of
robotframework-seleniumlibrary.  The only method I really needed for my
testing was "delete_cookie", so that's the only one I've actually tested
under robotframework-seleniumlibrary.  Since the other methods in the
_Cookies class are just direct wrappers for the corresponding

[2015-08-17 09:11] spooning commented on #13
These keywords will be in the next release of SeleniumLibrary, which will be
released on friday, 5th December

[2015-08-17 09:11] spooning commented on #13
After looking through this more thoroughly, I decided to change the names of some of
the keyword. Also, since I am loathe to add any keywords without tests, I didn't
actually add them all. These are implemented in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=109">r109</a>:

Get Cookies
Get Cookie Value
Delete Cookie
Delete All Cookies

[2015-08-17 09:11] spooning commented on #13
Documentation for these keywords has been finalized in <a href="https://code.google.com/p/robotframework-seleniumlibrary/source/detail?r=110">r110</a>

A separate issue may be opened if the rest of the cookie functionality is needed.

[2015-08-17 09:11] spooning commented on #13
Could you list what cookie functionality was not implemented?

[2015-08-17 09:11] #13 closed

[2015-08-17 09:12] spooning opened #14 "Rename demo to robotframework-seleniumlibrary-demo"
Makes it easier to separate this demo from others when there are multiple
demos in one directory.

[2015-08-17 09:12] spooning commented on #14
added a simple package.py script under demo, which does the zipping automagically.
Uploaded new zip

[2015-08-17 09:12] #14 closed