[2016-10-14 22:54] #673 closed, assigned to nobody

[2016-10-14 23:23] aaltat commented on #676
We should still think how to support geckodriver and the older versions of the which does not use the geckodriver by the Open Browser keyword.

But I agree with Ed too.

[2016-10-17 12:39] molsky opened #677 "Maximize Browser Window with Chrome doesn't work as expected on OSX"
`Maximize Browser Window` keyword only maximizes browser window height or doesn't even do that at all (looks like Chrome opens by default with max height). When setting window size with `Set Window Size` keyword  browser's width and height changes correctly. So it looks like `Maximize Browser Window` is partially or completely broken with Chrome on OSX.

OS: macOS Sierra
Chrome 53 & chromedriver 2

[2016-10-17 14:12] pikkumursu commented on #676
Seems to start in Win7 with FF49.0.1, (backed up by RF3.0, S2L 1.8.0, selenium (pythonbindings) 3.0.1, and geckodriver 0.11.1 Win32bit without any additonal tuning.   (64-bit geckodriver just fails miserably in a 64-bit env at least)). And Python 2.7.xx

Then whether it(=marionette) actually works is a completely different story.

[2016-10-17 14:14] aaltat commented on #677
I don't have Mac available but the bug may be on selenium side. If you execute the following code l:

[code]

is the browser then maximised correctly? If it's then there is a bug in the Selenium2Library side. If it's not then the bug is on the selenium and we cannot fix it.

[2016-10-18 05:06] drobota commented on #677
I noticed this issue as well. I believe that is known bug and it is related specifically to chromedriver implementation.
Here I found this bug
https://bugs.chromium.org/p/chromedriver/issues/detail?id=985

[2016-10-18 15:38] kormbrek-rally commented on #677
The root problem appears to be that maximize in Chromium is not maximize.
https://bugs.chromium.org/p/chromium/issues/detail?id=14185
So even starting Chrome with `--start-maximized` doesn't help.
If `Set Window Size` is not an alternative for you, here is a workaround that runs Chrome full screen:

[code]

[2016-10-19 17:49] aaltat commented on #677
@molsky Because this seems to be problem with selenium and not problem with Selenium2Library I am going to close the issue. If need more information/help or disagree on the matter, we can always reopen the issues and see if we could do something.

[2016-10-19 17:49] #677 closed, assigned to nobody

[2016-10-20 02:40] drobota commented on #676
This is simple if selenium version is 3.0  and above you have to use geckodriver if below - old firefox driver. I would rather keep it as it is. But we might document it in selenium2library as well.

[2016-10-20 05:03] aaltat commented on #676
The selenium 3 is an drop in replacement for selenium 2. The changes how to launch different Firefox versions are, as far I understand, not dependent on the selenium version. Example In my understanding FF 49.0.1 requires always the geckodriver setup, with selenium 2 and 3.

Therefore it should be possible fix the `Open Browser` keyword to support FF before and after geckodriver and without making

[2016-10-20 05:13] aaltat commented on #676
Did forget to say that with `Create Webdriver` keyword, I am currently thinking that do nothing is better way. But I currently don't feel strongly on matter.

[2016-10-20 09:49] Bouqui opened #679 "Two elements with same id, xpath and class."
Hello All,

I am currently having an issue running a test. There are two elements sharing using same id, xpath and class and so the test fails everytime I try to click a specific element.

Can someone please help with this as I need to complete the test script ASAP

Thanks

[2016-10-20 13:33] pekkaklarck commented on #679
Isn't two elements on a same page having same id a real bug?

[2016-10-20 15:24] aaltat commented on #679
There could be many ways to solve the problem. One of them being a unique id to the element and the most easiest way from your point of view.

To be able to help you better, could share the relevant parts of the DOM and explain what element you actually want to click.

[2016-10-20 17:24] drobota commented on #676
Actually users can control what they want to use though custom capabilities

[code]

Starting from selenium 3.0 marionette option became True, so if set it False you still can use old firefox driver with the latest selenium version.
In my view we need to merge this pr https://github.com/robotframework/Selenium2Library/pull/552
So users can control it thought capabilities as they wish.

[2016-10-20 17:27] drobota commented on #676
To add more, I also agree to add browser option sth like `firefox_with_marionette` and only in this case use geckodriver.

[2016-10-20 20:33] Bouqui commented on #679
@aaltat The issue here is that 2 different elements share same id, xpath and class. Below is part of the DOM and a screenshot of the page

**\* Settings ***
Library           Selenium2Library

**\* Test Cases ***
Log in
    Open Browser    "url of application under test"  Chrome
    Maximize Browser window
    Title should be    Cheap Flights, Vacation Packages, Affordable Holidays
    Element Tex

[2016-10-20 21:07] HelioGuilherme66 commented on #679
I don't see a bug here. When selenium is locating your element, it probably stays focused on the last occurrence (the Support).

I think you should be able to clearly identify your element by incorporating the text value in the xpath expression (i.e. contains('Accept')).
Other possibility is to use `Get Web Elements` and iterate with them (or refine search like I mentioned before).

[2016-10-20 21:10] drobota commented on #679
I see only one issue here you don't know how to use xpath, css selector etc.
I would recommend you to have a look into these tutorials
http://www.w3schools.com/cssref/css_selectors.asp
http://www.w3schools.com/xml/xpath_intro.asp

[2016-10-20 22:07] Bouqui commented on #679
@HelioGuilherme66  Could you pls give the right xpath to use? i.e how to incorporate text value in the xpath.

Thanks

[2016-10-20 22:36] drobota commented on #679
`//button[., "expected_button_text"]`

[2016-10-21 05:09] aaltat commented on #679
@Bouqui do you still have a problem or can we close the issue.

[2016-10-21 05:55] aaltat commented on #676
From developer point of view controlling Firefox with some new argument or by tuning the desired capabilities makes sense. But from a user point of view it's annoyance. Each time user uses a FF before or after the marionettedriver driver, user must change the test. Or at least set variables differently from command line. Which is really annoying, when the environment is complex.

But is it annoyin

[2016-10-21 06:13] Bouqui commented on #679
@aaltat Still couldn't find my way around it. :(

[2016-10-21 08:03] pekkaklarck commented on #676
I don't know the problem well enough to comment about exact details, but I have few higher level comments:
- Support for latest Firefox releases is pretty urgent.
- We should also support older Firefox versions at least for now.
- The less configuration users need to do when opening the browser the better.
- The current configuration system is not very user friendly:
  - There are separate `Create

[2016-10-21 08:25] Bouqui commented on #679
I finally found a solution to it by using //*[@id="dropdownMenu1"][contains(string(),'Account')]

Thanks everyone.

[2016-10-21 08:25] #679 closed, assigned to nobody

[2016-10-23 18:23] chmccue opened #681 "Geckodriver error message after running command to update to latest selenium2library version"
I'm not sure if this issue should be entered here or in the Gecko Driver issue list.

**Error received:**
WebDriverException: Message: Expected browser binary location, but unable to find binary in default location, no 'moz:firefoxOptions.binary' capability provided, and no binary flag set on the command line

**System information:**
Windows 8.1
Firefox 47.0.1 and 49.0.2
Python 2.7.10
Robot Framew

[2016-10-23 18:29] aaltat commented on #681
Duplicate of #676 and therefore closing.

[2016-10-23 18:29] #681 closed, assigned to nobody

[2016-10-24 05:34] vinaybond commented on #625
Hi @aaltat (or anyone),
I am stuck here. I can see in page screenshot on which I can see the element on which I want to click. Click element keyword is also not giving any error. But the action is not triggered. As discussed, it is random and happening at multiple places. How can I handle this situation. I tried these
- I am already using waits which is passing and after that "Click Element" is ex

[2016-10-24 05:37] aaltat commented on #625
Reopened, so that better answer is given. But have do to my day job first.

[2016-10-24 08:34] aaltat commented on #681
Did forget to say that if need help to actually solve the problem, which can done. Please send the question to the issue #676

[2016-10-24 17:34] chmccue commented on #676
The issue I documented got closed out (#681) so wanted to make sure I put the error message that I received in this thread, which I didn't see mentioned here. The firefox browser doesn't open at all when trying to run my tests after latest Selenium update.

**Error message in command line:**
WebDriverException: Message: Expected browser binary location, but unable to find binary in default locatio

[2016-10-24 19:28] pikkumursu commented on #676
That was the error message with the 64-bit geckodriver in win7 too, the 32-bit version seemed to work =(start up), as mentioned above.  Seems to start with FF49.0.2 too.  (Based on a very quick glance on the code, new driver seems to be fairly picky on the default browser directory, and the current mechanism to provide non-default path seems to be somewhat tricky.)

[2016-10-24 21:22] chmccue commented on #676
@pikkumursu Thanks for the comment, you helped a great deal with my understanding of what's going on with that error message. On my main work computer I have Firefox located right on the C drive at C:\Mozilla Firefox instead of in a Program Files folder. I have it set up like this because I don't have admin privileges on my work computer, so any time I need to do anything in a Program Files folder

[2016-10-25 05:18] aaltat commented on #625
Sometimes, also in my application, it's not enough to wait that the element is in the DOM or even visible in the page. This is also true when the application is dynamic by using JavaScript. I did write my own element clicker library, which wait that the element is not in stale state and tries to wait that JavaScript is not anymore running in the background. By checking these two conditions, it did

[2016-10-25 05:23] aaltat commented on #625
Leaving the issue open, for a while at least, in case more questions arise from my high level technical jargon.

[2016-10-25 05:39] vinaybond commented on #625
Can't the improved done in Selenium2Library itself? I dont remember facing any such issue when I did automation in Selenium WebDriver + Java. It was smooth sailing always (it was a different application though).

[2016-10-25 05:52] aaltat commented on #625
I do not think that universal solution could be found to cover at even the most common situations. For example there are many [explicit waits](http://selenium-python.readthedocs.io/waits.html#explicit-waits) in the selenium side and it easy extend with a custom wait to support user special case. For my experience these types of things are application specific (although my experience does not cover

[2016-10-25 06:58] vinaybond commented on #625
One question. Is there a generic way to check if the JS is loaded or not. We are not using JQuery but multiple frameworks.

[2016-10-25 10:10] aaltat commented on #625
Well, I did in a try/expect block. Selenium will raise an exception if it can not execute JavaScript.

[2016-10-25 18:45] aaltat commented on #625
Sometimes, also in my application, it's not enough to wait that the element
is in the DOM or even visible in the page. This is also true when the
application is dynamic by using JavaScript. I did write my own element
clicker library, which wait that the element is not in stale state and
tries to wait that JavaScript is not anymore running in the background. By
checking these two conditions, it did

[2016-10-26 04:11] vinaybond commented on #625
Two question about using Try/Catch block
1. Since my click is not working as my JS not loaded. I wonder if my browser will throw any error
2. Even if the browser throws error, How does adding try catch block in code will help as error is there in browser.

Do you know any way in which can tel if there is any JS file is yet to load or in progress.

[2016-10-26 04:44] aaltat commented on #625
The error is raised also in selenium side and that's the try/expect waiting.

[2016-10-26 04:47] vinaybond commented on #625
Oh ok. Somehow I never got this error. Thank for the information. BTW, Any solution to detect if the JS call completed or not on the page?

[2016-10-26 05:04] aaltat commented on #625
Surprisingly many pages have JavaScript and therefore error is not raised by the selenium.

There is not a 100℅ sure way to detect is all JavaScript run. This is because of asynchronous nature of the JavaScript and because one script can load new scripts for running. The best way I did found was to execute `return jQuery.status` and wait that it's zero two times in a row.

[2016-10-26 09:06] hirsivaja commented on #676
Since Selenium has been upgraded to version 3.0 should a new robot library be created for the new Selenium version? Selenium3Library?

[2016-10-26 12:03] aaltat commented on #676
No. Selenium 3 is drop in replacement for selenium 2. Although it is good question should the library be named as SeleniumLibrary.

[2016-10-26 12:40] Tattoo commented on #529
I'm not sure if this is a bug or a documentation issue so please comment and I'll open a new issue if needed.

The same identifiers for browser that work with `Open browser` do not work with `Create webdriver`. For example:

`Create webdriver    chrome`

This produces quite frustrating error: `TypeError: 'module' object is not callable`

This, however works:

`Create webdriver    Chrome` (notice t

[2016-10-26 13:07] aaltat commented on #529
@Tattoo it's by design and documented in the [Create Webdriver](http://robotframework.org/Selenium2Library/Selenium2Library.html#Create%20Webdriver) keyword. It must match to objects defined in the selenium side.

[2016-10-26 13:38] Tattoo commented on #529
Ah, I see. Sorry I missed that

Could that be similar table as with `Open browser`? :)

[2016-10-26 14:05] aaltat commented on #529
It is possible, but it would required some work to be done, nothing too complex though. Now the code is quite simple on that side:
https://github.com/robotframework/Selenium2Library/blob/master/src/Selenium2Library/keywords/_browsermanagement.py#L174

And if new browsers emerge or new ways to launch existing browsers, it does not require changes from S2L side.

[2016-10-27 06:08] aaltat commented on #529
All the above does not mean that I am against the chance, but in the other hand I don't have a need to make the change either. If you want to change it, cloud you raise a separate issue about it and even better if there is a PR to support the issue.

[2016-10-27 13:57] aaltat commented on #577
Closed because of inactivity

[2016-10-27 13:57] #577 closed, assigned to nobody

[2016-10-27 13:58] aaltat commented on #586
There has not been activity for this issue for long time and we are planning to close the old issues if they are not anymore valid ones. If you feel that this is still valid issue, could you send an update. If update is not received in a month, we will assume that this is not anymore an issues and we will close this issue.

[2016-10-27 14:01] aaltat commented on #591
There has not been activity for this issue for long time and we are planning to close the old issues if they are not anymore valid ones. If you feel that this is still valid issue, could you send an update. If update is not received in a month, we will assume that this is not anymore an issues and we will close this issue.

[2016-10-27 14:02] aaltat commented on #579
There has not been activity for this issue for long time and we are planning to close the old issues if they are not anymore valid ones. If you feel that this is still valid issue, could you send an update. If update is not received in a month, we will assume that this is not anymore an issues and we will close this issue.

[2016-10-27 14:35] idgserpro commented on #591
We did a workaround for this issue in this commit https://github.com/plonegovbr/brasil.gov.tiles/commit/0fea8c22e0f57c1f8a2b64433bb6e1fad05970c7, we'll test if it's still valid.

[2016-10-27 16:31] idgserpro commented on #591
This is the broken build to show the "Drag and Drop" problem: https://travis-ci.org/plonegovbr/brasil.gov.tiles/jobs/171142485

This is the robots file: https://github.com/plonegovbr/brasil.gov.tiles/blob/d2d404285fba268dd14e30b23ce7618cd672b92e/src/brasil/gov/tiles/tests/test_mediacarousel_tile.robot#L134 the problem happens in the line

[code]

The "workaround" is to make robots insert a string

[2016-10-27 19:05] emanlove commented on #676
Sorry I was hovering over that thumb, trying to see if it told me who approved what I believe is @aaltat's suggestion that the library be renamed to SeleniumLibrary and apparently clicked the thumbs up. I don't agree. And I can't figure out how to remove my thumbs up. Sure I could give it a thumbs down but to me that is a super strong statement without discussion. So I am not ready to give that id

[2016-10-27 22:47] emanlove commented on #625
@aaltat has great suggestions here. I have read about others who have faced similar issues, for example [this article written by Al Scott](https://spin.atomicobject.com/2015/05/12/testing-asynchronous-behavior-javascript-selenium/). This is a problem faced by those of us who test angular sites using Robot Framework for which we have some [interesting](https://github.com/rickypc/robotframework-exte

[2016-10-28 05:31] aaltat commented on #591
Thank you from the detailed analysis. We will have to take a look and see can it be resolved in the Selenium2Library side or is this a problem in the selenium side.

[2016-10-28 09:03] Ethies opened #683 "'Screenshot' library - [ WARN ] Keyword 'Set Screenshot Directory' found both from a custom test library"
When I use both the "Take Screenshot" and "Set Screenshot Directory" keywords, have to import the 'Screenshot' library.
But system throws warning message as
"[ WARN ] Keyword 'Set Screenshot Directory' found both from a custom test library 'Selenium2Library' and a standard library 'Screenshot'. The custom keyword is used. To select explicitly, and to get rid of this warning, use either 'Selenium2L

[2016-10-28 09:15] Ethies commented on #683
For reference to my testcase:
I have resolved my execution case by as below:
...
    Click Button    id=btnSave
    Set Screenshot Directory    ${OTHER_DIR}${/}TC Screenshots    #Path
    ${file1}=    Capture Page Screenshot    seleniumSC-1.jpeg    #FileName
    File Should Exist    ${OTHER_DIR}${/}seleniumSC-1.jpeg
...
This uses only Selenium2Libarary.

[2016-10-28 10:58] emanlove commented on #683
I feel this is the fault of the Selenium2Library. A good resolution would be to create a second keyword, uniquely named -maybe `Set S2L Screenshot Directory` or  since I find it bad to use abbreviations `Set Custom Screenshot Directory` which either simply calls the current Selenium2Library's  `Set Screenshot Directory` or is a copy of the code and add a depreciation notice to the current Selenium

[2016-10-28 13:00] aaltat commented on #683
It's quite common, at least in my world, that library keyword names will collide. There is at least two possible solutions.

1) Prefix keyword with libraries. Example:

[code]

2) Use library search order

See the user guide for more details: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#handling-keywords-with-same-names

[2016-10-28 17:58] aaltat commented on #676
With 49.0.2 and selenium 3.0.1 and marionette driver v0.11.1, even this does not work properly:

[code]

There is a dialog opened by Firefox which displays error about loading profile: `Your Firefox profile cannot be loaded. It may be missing or inaccessible.` Which could be related to the selenium default profile. But if I define a my Firefox profile, the same dialog is displayed. If I manually a

[2016-10-31 13:21] idgserpro commented on #591
The pinned versions are at https://github.com/plonegovbr/brasil.gov.tiles/blob/d2d404285fba268dd14e30b23ce7618cd672b92e/buildout.cfg#L52

Feel free to ask anything about this package since it's in brazilian portuguese.

[2016-10-31 17:50] aaltat commented on #591
Seeing the config reminds me few things. Do you always use the same browser (and version) or have you tried to test with multiple different browsers? Have you tried with newer selenium version? Have you tried newer browser driver, example Chrome driver, version?

[2016-10-31 18:18] idgserpro commented on #591
We're using the Travis infrastructure, with Firefox. We're testing the last version of selenium 2.x branch since 3.x givers other errors.

[code]

[2016-11-01 05:43] Ethies commented on #676
I accept Tatu's comment.

Thank you...

[2016-11-01 06:41] aaltat commented on #683
@emanlove because this is quite typical problem in Robot Framework and there are solutions in the Robot Framework side, should we make an effort to and change the keyword name. In my world this not a problem, because I prefix all the library keywords with the library name. I do it for two reasons
1) To avoid the keyword name collision.
2) Easier to find the keyword with IDE using completion suppor

[2016-11-09 07:22] lamcee opened #685 "How to switch to the new tab with the same title of the original tab?"
For example, new tab opened by clicking a `a` tag:

[code]

The title of the new tab is the same with the original, I was wondering how to switch to it?

[2016-11-09 07:41] lamcee commented on #685
I find an ugly way to make it

[code]

But I don't know if it was the best solution.

[2016-11-09 08:08] mzbedat opened #686 ""No Browser is open" - new Issue"
Hi,
I had selenium2Library (version 1.8) working from my robotframework tests, but suddenly I start getting the following when trying to open browser:

**Chrome**:

| FAIL |
WebDriverException: Message: session not created exception
from unknown error: Runtime.executionContextCreated has invalid 'context': {"auxData":{"frameId":"2192.1","isDefault":true},"id":1,"name":"","origin":"://"}
  (Session

[2016-11-09 09:25] aaltat commented on #686
#Chrome
Update to the latest Chrome driver

#Firefox
See https://github.com/robotframework/Selenium2Library/issues/676

[2016-11-09 10:30] mzbedat commented on #686
Hi,
I was trying before getting your response and it worked for me with
pip install selenium=2.53.6 (last one before 3.0.xx)

Thanks

[2016-11-09 10:35] HelioGuilherme66 commented on #685
First of all, this is an Issue tracker. We have different channels for helping with questions, like the [Google Group](https://groups.google.com/group/robotframework-users) or [Slack](http://robotframework.org/#support-contact).

A browser Tab is a Window, so you have to see the [Select Window](http://robotframework.org/Selenium2Library/Selenium2Library.html#Select%20Window) and other Windows keyw

[2016-11-09 10:35] #685 closed, assigned to nobody

[2016-11-09 10:37] aaltat commented on #686
Is the problem solved and we can close the issue?

[2016-11-09 10:55] mzbedat commented on #686
It's confusing... in order to make it all working you need a specific version of:
- selenium
- selenium2library
- FireFox (we are using FF43 and disabling auto upgrade)

is it a matter of time till we have Selenium 3 working with most updated version of firefox?
Need to maintain working environments all the time, a little change and its stop working...

[2016-11-09 12:12] aaltat commented on #686
As said in the #676 there is nothing that we can do in the S2L side to solve the problem. We need to wait for the selenium and Mozilla to sort their stuff first.

As a side note, controlling the test environment us actually very good idea. And nailing down the version feels natural at least for me.

[2016-11-09 12:30] #686 closed, assigned to nobody

[2016-11-10 02:04] waikchiu5 opened #687 "Selenium2Library fail to SELECT pop-up window"
OS: Windows 7
Selenium Version:   2.47 and 2.53.1
Browser:   Internet Explorer
Browser Version:  11

I am using Selenium2Library to control the Browser(IE)
There is one button on the webpage. The ID is "confirm"
When the button is clicked, 3 stuff will show at the same time:
1. Alert with OK button
2. Pop-up window
3. Download bar (After closed the Alert)
![capture](https://cloud.githubusercontent

[2016-11-10 10:08] HelioGuilherme66 commented on #687
That looks like a browser specific dialog, which we can't handle with webdriver and Selenium2Library. I would not consider a valid defect in this Issue tracker.
What defect are you reporting?
Does it happen with other browsers?

If you are just asking for help, we have more appropriate channels for helping with questions, like the [Google Group](https://groups.google.com/group/robotframework-users

[2016-11-11 01:43] waikchiu5 commented on #687
@HelioGuilherme66
Thanks for your reply. I figuring the root issue.
When i clicked the button, it will show pop-up window, alert and prompt download bar
Before accept the Alert. I tried to use
Get Window Identifiers
Get Window Names
Get Window Titles
Log Window Identifiers
Log Window Names
Log Window Titles
These keywords can work.

After 3 stuff show up.
These keywords seem enter the infinite loo

[2016-11-12 18:25] emanlove commented on #683
Some apologies are due on my part. I thought this was happening due to more recent changes, e.g. the addition of the `Set Screenshot Directory` keyword, to which this in not the case. That keyword has been in there for some time. My comments was really just trying to say that if we had new functionality to the Selenium2Library that we shouldn't add keywords similar to either the standard Robot Fra

[2016-11-13 13:31] aaltat commented on #683
No worries, we are a team and helping each other.

Definitely we should avoid keyword name collision with the Robot Framework standard libraries. And if it's possible to avoid collision with other libraries should it should be done, but in my opinion, the later one should not be enforced. If we would enforce the later rule we might end up choosing keyword names which are not natural in that contex

[2016-11-13 13:31] aaltat commented on #683
But @Ethies does this solve your problem and can we close the issue?

[2016-11-15 12:00] sachin6757 commented on #676
I am using Windows 10 with Firefox 49. I copied the geckodriver in the system path. However it failed to open the browser. I was using geckodrvier 64 bit version. I changed it to geckodrvier 32 bit version and it solved the issue. Now browser is opening properly without any issue.

[2016-11-15 13:30] aalwinkarthi opened #688 "How can i get the value or attribute from the text box"
*** Settings ***
Library           Selenium2Library
Library           OperatingSystem

*** Variables ***
${VoiceMail_Preferences_Add_Notification_SMS_Notification_SMS}    id=sms

  Log    ${VoiceMail_Preferences_Add_Notification_SMS_Notification_SMS}

It prints "id=sms"

How can i get the value or attribute of the text box

[2016-11-15 14:13] aaltat commented on #688
By using this: http://robotframework.org/Selenium2Library/Selenium2Library.html#Get%20Element%20Attribute you get the attribute

[2016-11-15 14:14] #688 closed, assigned to nobody

[2016-11-16 08:20] EslaMahgoub commented on #475
Can someone tell me where is the working solution for this exception ? and how to use it ?

[2016-11-16 09:14] bolerap opened #689 "Installation error"
Hi Author.
I've try to install with this command `pip install robotframework-selenium2library` and tried manual install but it issue error `Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-n_h4_km0/robotframework-selenium2library/
`

Does it support python 3? all command above i run from virtualenv of python 3
Thanks

[2016-11-16 09:55] andreabisello commented on #533
@aaltat in my web application i often use <span> as "button" but i have any locator to find a label.
now i'm using, as a workaround, this finder

Click Element          xpath=//*[contains(text(),'ABC')]

but i think a

Click Element          label=ABC

that will click element with label - span containing ABC will be usefull.

[2016-11-16 11:53] EslaMahgoub commented on #173
ombre42
could you give me the customized Selenium2Library because I still have this issue ?

[2016-11-18 09:16] yahman72 opened #690 "new functionality to re-use existing browser session"
What do you guys think about this kind of enhancement:
Add a new KW (or extend the `Create Webdriver`) for attaching to an existing browser/selenium session.

This doesn't make that much sense in "production" environment but would be very useful when implementing test cases. The idea would be to speed-up following scenarios
-  When testing web apps there's quite often a scenario where you do lots

[2016-11-18 10:14] hirsivaja opened #691 "CSS selector not working in Chrome"
The following is not working in Chrome:
`Click Element    css=input[value='Sign In']`
The error produced is:

The test case is working fine in Firefox and Internet Explorer.

Has the Chrome API changed in some way that the Selenium2Library is not anymore compatible?

[2016-11-18 10:21] pekkaklarck commented on #690
AFAIK this isn't supported by Selenium itself.

[2016-11-18 10:27] HelioGuilherme66 commented on #691
Can you retest with an updated chromedriver? 2.25?

[2016-11-18 10:51] brusand opened #692 "chrome close browser elpased time more than 1 minute"
hi,
on windows 7, Close Browser take more than 1 minute to close the Browser. In fact, the browser is closed very fast but the job take more than 1 mn to terminate the job.

any idea ?

Best regards
Bruno

[2016-11-18 11:10] aaltat commented on #690
Pekka is right and your request is not possible: https://github.com/seleniumhq/selenium-google-code-issue-archive/issues/18 If you want support for this, then could you open issue to the selenium side.

Because this is not an issue Selenium2Library or we can not do anything to fix it, I am closing the issue.

As a side note, if your test setup time is too big, which is also my problem, it's usuall

[2016-11-18 11:13] aaltat commented on #692
Have you tried to update the Chromedriver and/or selenium and see if the problem is resolved?

[2016-11-18 11:24] brusand commented on #692
yep
robotframework==3.0
robotframework-ride==1.5.2.1
robotframework-selenium2library==1.8.0
selenium==3.0.1
and chromedriver 2.25

[2016-11-18 11:25] brusand commented on #692
and chrome 54.0

[2016-11-18 11:27] brusand commented on #692
TEARDOWN teardown . teardown
Start / End / Elapsed:  20161118 12:21:26.314 / 20161118 12:22:41.416 / 00:01:15.102
00:01:15.098KEYWORD Selenium2Library . Close Browser
Documentation:
Closes the current browser.
Start / End / Elapsed:  20161118 12:21:26.315 / 20161118 12:22:41.413 / 00:01:15.098

[2016-11-18 11:38] HelioGuilherme66 commented on #692
Can you repeat the test with selenium 2.53.6 to compare the times?

[2016-11-18 11:42] yahman72 commented on #690
First of all, my example code does exactly this, it reuses the Firefox session = not possible is definitely not correct.

About that selenium issue:
- it's very old - so I'm not so sure whether it's still valid.
- it's about generic support (i.e. all browsers) and might valid for some browsers (I tried it only with Firefox).

Assuming the worst-case, i.e. works only with Firefox, this functionalit

[2016-11-18 11:47] brusand commented on #692
same
KEYWORD Selenium2Library . Close Browser
Documentation:
Closes the current browser.
Start / End / Elapsed:  20161118 12:44:39.618 / 20161118 12:45:54.743 / 00:01:15.125

robotframework==3.0
robotframework-ride==1.5.2.1
robotframework-selenium2library==1.8.0
selenium==2.53.6

[2016-11-18 11:54] hirsivaja commented on #690
I think they are talking about a different issue in the Selenium Github page. They are saying that it is impossible to attach the webdriver to an existing browser instance that is started without Selenium. Yahman on the other hand is suggesting that Selenium2Library should be able to connect to a running webdriver instance instead of creating a new one and possibly switching between instances duri

[2016-11-18 12:02] pekkaklarck commented on #690
Sorry, didn't read the issue fully when I see this on mobile. What Selenium cannot do is attaching to an already externally opened session, but you apparently want to attach to a session that Selenium itself has already opened.

[2016-11-18 12:08] pekkaklarck commented on #690
Could you clarify how would you use this functionality in practice? You one test run leave a browser open and you'd run a separate that attaches to that?

Would you be interested to implement this support yourself?

[2016-11-18 12:32] yahman72 commented on #690
@pekkaklarck: Correct, open browser with Selenium and reconnect (see/try the example code). Just read the original issue description - without using your mobile :-)

As I already mentioned: I'll definitely implement this for myself. For me it's enough when it works with Firefox only, but if the same implementation works also for the other browsers even better.

I propose the following:
- I'll figu

[2016-11-18 13:46] pekkaklarck commented on #690
At least I don't see any problems adding this kind of functionality, but it definitely need to support also other browsers than Firefox. If it isn't a generic Selenium feature, there's a big chance future changes to Firefox break it. If it's part of the Selenium spec, then the feature ought to be stable.

Part of the implementation would be figuring out how to get the session id so that it can be

[2016-11-18 23:48] ombre42 commented on #690
I have been in your situation, dealing with tests that fail after minutes of execution, so I understand why you might want this. My question to you is - have you tried using a debugger to handle these scenarios?
I have done the very crude step of inserting a line like this in a test:

[code]

But you have to do everything on the command line in pure python.
There is also [robotframework-debuglibra

[2016-11-19 11:11] aaltat commented on #689
Python 3 is not yet supported. Closing because this is duplicate of #479

[2016-11-19 11:11] #689 closed, assigned to nobody

[2016-11-19 11:37] aaltat commented on #691
Your selector looks like a valid one, but I don't use css that much and therefore I am not 100% sure.  If the selector works fine with some external validator or with some other browser then it would be best to raise the issue to the Google Chromedriver issue tracker.

As a workaround xpath should work fine: `xpath=//input[@value='Sign In']`

[2016-11-19 11:40] aaltat commented on #692
Would it be possible to run the test with --loglevel trace set? It will give more details and perhaps provides some hints why the problem appears.

[2016-11-19 12:37] aaltat commented on #690
I also know this pain, specially when developing the test. To the problems that @ombre42 did say and which I also know, I have one more thing to consider. The internal state of the SUT.

Usually when user logs in to the web app, there is a state. Example when testing that user account is locked after X number of failure login attempts, there is internal counter in the SUT which I need to  take in

[2016-11-19 12:44] aaltat commented on #687
It's because that Windows operating system dialogue blocks the interaction with the browser. That dialogue can not controlled from selenium and therefore it can not be controlled from the Selenium2Library.

If you need download the file, use cURL (or similar) for downloading or configure the browser to automatically download files and not to display the dialogue.

[2016-11-19 12:47] aaltat commented on #648
Closed in f168c358

[2016-11-19 12:47] #648 closed, assigned to aaltat

[2016-11-19 12:50] aaltat commented on #644
The selenium 3 is drop in replacement for selenium 2. There are some problems with Firefox 48 or greater and selenium 3. But that has a separate issue. Closing this issue

[2016-11-19 12:50] #644 closed, assigned to aaltat

[2016-11-21 05:55] yahman72 commented on #690
Thanks for the tips. That debuglibrary looks interesting, it looks like that it could be useful for some scenarios. However my main issue is not how to figure out what went wrong (RF debug logs have been good enough for this purpose) but the complexity of the test environment.

I'm doing end-to-end testing for a set of systems, i.e. interactions between the systems e.g. "do something in WebApp-A,

[2016-11-21 06:33] aaltat commented on #690
As a side note one can get the session ID from the server side: https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessions

You may need to build some logic, if there are multiple session ID lying around in the server side.

[2016-11-21 08:36] brusand commented on #692
Start / End / Elapsed:	20161121 09:32:29.606 / 20161121 09:33:44.834 / 00:01:15.228
09:32:29.606	TRACE	Arguments: [  ]
09:32:29.606	DEBUG	Closing browser with session id 13d29315f3ac7ae9a8f417bec72644bc
09:32:29.607	DEBUG	DELETE http://127.0.0.1:65238/session/13d29315f3ac7ae9a8f417bec72644bc {"sessionId": "13d29315f3ac7ae9a8f417bec72644bc"}
09:32:29.644	DEBUG	Finished Request
09:33:44.833	TRACE	Re

[2016-11-21 12:33] yahman72 commented on #690
As promised, here my findings:

WebDriver differences (when re-attaching to a session using that `webdriver.Remote(desired_capabilites={})` from the example code:
- Firefox Driver: creates a new session, but does not create/open a new window. Reusing old session possible.
- Chrome Driver: creates a new session, but creates/opens a new browser window. Reusing old session possible.
- IE Driver: crea

[2016-11-21 14:20] yahman72 commented on #690
*hmm* - that was a bit too quick implementation: there should also be possibility to avoid that copy-paste stuff --> just override the `start_session()` in the `ReusableWebDriver` and handle the session re-use logic there.

Selenium's approach seems to be - "The re-use session functionality can be easily added with user-specific wrapper class":
https://github.com/SeleniumHQ/selenium/issues/364
htt

[2016-11-23 07:09] aaltat commented on #690
If it can be done without modifying the selenium code base I don't see a problem why we should not make it as a keywords in the S2L side.

[2016-11-23 07:21] aaltat commented on #692
Really strange. By looking at the code and the log I can't figure out where that extra time is spent.

Can you think anything unusual about your test or the environment? Do you example open a lot of browser or use S2L from the Python side too? Can you reproduce the problem with a simple example which I could also run?

[2016-11-23 07:23] aaltat commented on #691
Did you get the problem sorted out or do you still have a problem?

[2016-11-23 07:25] aaltat commented on #687
Did you get the problem solved or do you still have a problem?

[2016-11-23 07:41] yahman72 commented on #690
I'll create a PR for this, but I probably need a couple of days ...

[2016-11-25 05:39] vinaybond commented on #625
BTW, I checked our JS framework. It is WDK and it creates entire HTML page (with JS inside it) and give it to browser. So in that case, chance of my JS is not loaded is gone. Still I see clicked does not work. Any idea?

[2016-11-25 08:42] xanadiu commented on #441
This behavior also affects our work as a non-working handling of JavaScript alerts by phantomjs does not allow us to use phantomjs for automated tests. Which is sad as phantomjs seems to be more stable in contrast to constantly updating browsers and their corresponding web drivers.

[2016-11-25 14:40] aaltat commented on #441
I have disabled the browser automatic updates from the CI infrastructure. Which helps a lot. There is a fix in the master  m p: https://github.com/robotframework/Selenium2Library/commit/dcc7ff9e7c2a27fb234678cec388a52de1f0e5ba

[2016-11-25 21:37] yahman72 commented on #692
It probably hangs in the step where selenium tries to stop the chromedriver.exe process.
For these steps the selenium code has no logging and many exceptions are just ignored. E.g. if the shutdown fails, it's silently ignored ...

Check these:
- After the browser window is closed: is the chromedriver.exe process still running?
- After the job is done: do you still have chromedriver.exe process(es)

[2016-11-28 09:42] yahman72 commented on #690
This isn't that simple after all.

The simple part was the new KW's for storing the session and restoring it. That is now implemented, as expected, without changing any of the code for the existing KW's.

**But things get a bit complicated, because BrowserCache might get duplicate entries:**
Assume 2 TC's: "open and store session" and "restore session"
Executing them like this is fine:
- `pybot -t

[2016-11-28 16:19] aaltat commented on #690
The duplication is issue with acceptance test and is not actually realistic user scenario? But people will do unexpected things and it's good to prepare for it.

Have to read the code to perform a better opinion, but your worry is a legitimate one. Usually I am against browser specific features, but let me read the code and see how your idea actually looks like.

[2016-11-28 17:20] yahman72 commented on #690
Okay, just let me know if something is unclear - i.e. "why is it implemented like this".

A few words about the code:
- all feature changes are in the "_browsermanagement.py" file, but the KW documentation is not 100% accurate
- browsercache duplicate session thing is (of course) changed in "browsercache.py"
- new Acceptance & unit tests were added
- the acceptance & unit tests are passing on my P

[2016-11-28 17:41] HelioGuilherme66 commented on #690
Jari, I am also doing some work on the run_tests.py. I do confirm that Chrome is not doing well on the multiple browsers test. I will get your changes and do a different PR.

Edit: The PR is #694.

[2016-11-29 09:45] hirsivaja commented on #691
Unfortunately I was not able to resolve the issue. With the xpath I get the following:

[code]

[2016-11-29 10:05] aaltat commented on #691
Please try with the latest Chrome driver.

[2016-11-29 11:02] hirsivaja commented on #691
The result is the same with chromedriver 2.25.426923

[2016-11-29 11:40] HelioGuilherme66 commented on #691
Sometimes we need little adjustments to the XPATH expressions. Try to use a xpath validator from dev tools in your browser. I use Firepath from Firebug on Firefox.
Possible variants for your case:
`xpath=.//input[@value='Sign In']`
`xpath=.//input[.='Sign In']`
There are more, but you need to be sure your locator is working.

[2016-11-29 13:20] hirsivaja commented on #691
The locator that Tatu gave works in the dev tools of both Chrome and FF. The test case is only working with FF. I tried those two that you suggested as well, the first one is working in dev tools but neither in the test case with Chrome

[2016-11-29 13:21] aaltat commented on #691
The xpath is a valid one, but the error might be related to an unresolved issue in the chrome driver https://bugs.chromium.org/p/chromedriver/issues/detail?id=1388

Can you reproduce the problem with a other browser. If you can't then it would be best to report the problem Chrome driver issue tracker.

[2016-11-29 13:27] hirsivaja commented on #691
This doesn't seem to be an issue with the Selenium2Library, but rather with the ChromeDriver. So this issue can be closed. Thanks for the help!

[2016-11-29 13:27] #691 closed, assigned to nobody

[2016-11-30 07:36] aaltat commented on #669
@bjwallen have you progress on the matter?

[2016-11-30 08:12] aaltat commented on #625
At least I don't have any better ideas, at least without seeing your application. But I don't work in the consulting business and therefore I am not the correct person to ask such consulting help

[2016-11-30 09:01] HelioGuilherme66 opened #695 "Improvements in unit and acceptance tests runner and test server"
On PR #694, we fix running acceptance tests on Windows with Chrome. It requires code review to be PEP8 compliant.
On PR #693, we fix running unit tests in an dependable way from the language binding (i.e. Python 2.7, Jython). I will add one more commit to make it truly compatible with Python versions, 2.7, 3.4, 3.5,...

[2016-12-01 10:06] Ethies commented on #683
Resolved the issue

[2016-12-01 10:06] #683 closed, assigned to nobody

[2016-12-01 12:12] almahaja commented on #614
@aaltat : I am trying to use Firefox with geckodriver but i see though it works for Firefox47.02/48.0.2 but for Firefox v50.0.2 the close browser (keyword from RF Selenium2Library) fails with error pop-up "Firefox has stopped working". Is this a known problem with latest version of Firefox. Also, seems like it only works with Selenium3.0.2, am i right?

So far below are my findings:
1. RF3.0, FF47

[2016-12-01 17:23] aaltat commented on #614
This is a known issue and is actually problem with selenium and Firefox. Currently selenium only supports Firefox 47.0.2 or older. Support for newer version of Firefox needs geckodriver but that needs that the selenium and Mozilla get their stuff working. It would be best to report the issues you found to the selenium or/and geckodriver issue tracker.

And yes, the current situation is very annoyi

[2016-12-01 17:24] aaltat commented on #614
Did forget to say we also have an issue where we track the current situation, see #675.

[2016-12-01 17:25] aaltat commented on #614
Darn a typo, did mean to say #676

[2016-12-02 09:21] almahaja commented on #614
Thanks @aaltat i have added my findings for CLose Browser issue for v50.0.2 in https://github.com/mozilla/geckodriver/issues/285 as well.

[2016-12-02 11:08] SebCorbin commented on #658
Just leaving it here, I've been using https://github.com/HelioGuilherme66/robotframework-selenium2library/releases/tag/v1.8.0b3 and it works really well, thank you!

[2016-12-02 11:23] HelioGuilherme66 commented on #658
Thanks for letting us know. We will have an official release, hopefully before 2017 ;).

[2016-12-02 13:40] aaltat commented on #614
Thank you from the help. I hope that selenium and Mozilla can sort the problem soon.

[2016-12-03 17:48] emanlove commented on #625
Have you tried a pure selenium test case? Or tried reproducing you problem with a very simple and short python unit test? There is an [example within the Selenium2Library documentation](https://github.com/robotframework/Selenium2Library/blob/master/BUILD.rst#testing-selenium).

[2016-12-03 18:14] tx3stn opened #697 "Add Get Locations Keyword"
It would be useful if we could have a `Get Locations` keyword which returns the urls for all open windows in the same manner the `Get window names` and `Get window titles` do.
Pull request #696 implements this.

[2016-12-03 20:25] aaltat commented on #697
PR is merged closing the issue

[2016-12-03 20:25] #697 closed, assigned to nobody

[2016-12-04 10:42] ghost commented on #692
I have this issue too, I've integrated robot with jenkins and occasionally my build stucks util jenkins timeout (10m) kicks in and aborts the build.
When build stucked I logged in to server and saw some chrome process where running (despite they didn't had a active window in vnc viewer), then I killed processes and build resumed with marking previous test case as failed.

This is part of `output.x

[2016-12-04 11:36] aaltat commented on #692
It would be worth if checking, is there Chrome driver running when you start the test execution and kill it if it's running. I have noticed that sometimes hanging Chrome driver causes problems.

[2016-12-04 12:11] ghost commented on #692
@aaltat ok so I'll add `ps aux | grep chrome` in first line of build script to check this case

[2016-12-04 12:18] aaltat commented on #692
Yes

[2016-12-05 10:34] vinaybond commented on #625
One of my friend is facing same issues using Selenium WebDriver with Java.

[2016-12-05 11:24] adamdzwo opened #698 "compatibility issue with Firefox newest than v.47"
Hi,
Robot framework seems to have compatibility issue with Firefox 48, 49 or 50.
Can anyone tell when it will be supported ?

My Robot, etc:
-decorator (4.0.10)
-docutils (0.12)
-fake-factory (0.5.9)
-ipaddress (1.0.16)
-natsort (5.0.1)
-Pillow (2.9.0)
-pip (8.1.2)
-PyAutoGUI (0.9.33)
-PyMsgBox (1.0.3)
-pymssql (2.1.1)
-PyScreeze (0.1.8)
-python-dateutil (2.5.3)
-PyTweening (1.0.3)
-robotframework

[2016-12-05 13:18] aaltat commented on #698
Actually it's a compatibility issue between selenium and Firefox. More details in #676. Also a duplicate of the previous issue

[2016-12-05 13:18] #698 closed, assigned to nobody

[2016-12-06 10:48] aaltat commented on #625
Or you could but a plain sleep, before the click and see does it resolve this problem. If it does then it's a timing problem. If it doesn't, then it's probably something else

[2016-12-06 10:51] aaltat commented on #687
Because Selenium2Library is working as it should and the problem seems to be resolved, I am closing the issue.

[2016-12-06 10:51] #687 closed, assigned to nobody

[2016-12-06 10:53] vinaybond commented on #625
We tried adding sleep but it did not help.

[2016-12-06 11:14] emanlove commented on #625
Have you tried clicking a different element? Sometimes there is a tree of elements; a div that contains another div that contains a ... which contains the link you want to click, etc. You might try clicking something that contains or is contained by the element you want to click.

[2016-12-06 11:27] vinaybond commented on #625
Yes I tried that. I mean I changed the locator such that it will click exact clickable element. Also, click works sometime and sometime it does not for the same element.
Any other suggestion is welcome.

[2016-12-06 11:32] emanlove commented on #625
That is a tough situation to diagnose without much more information. Is there anything more you can describe the elements of the enviroment/page you are working with. Are you using a headless browser, which I am not too fond of because they are not the actually browser? You mention WDK, what is that (I did a Google search and have several possibilities? Assuming every time and I mean every single

[2016-12-06 12:20] vinaybond commented on #625
Hi @emanlove ,
I am not using headless browser but Google Chrome & Firefox. WDK is a JS framework which prepares entire HTML pagg (including JS and CSS in it) at server and send it to browser.  About manual test, yeh, it works every single time. In fact in automation when i put 3-5 Click statement, it fails less. But when i add sleep, it did not show much improvement.

[2016-12-06 12:46] tx3stn opened #699 "Get parent webelement keyword"
I have an update that I have made locally to get an element's parent that I thought I'd see if anyone had any thoughts or objects before raising a PR.

[code]

I'm currently using this for pages with table like data with numerous input fields, not actually in a table, and I need to be sure the fields being updated are the correct ones, which I can do by getting the parent element (which in this ca

[2016-12-06 15:24] serhatbolsu opened #700 "Element Not Found raises exception with Safari"
For Safari,
`Wait until element is not visible` throws element not found exception. It seems like handling a element not found automatically raise exception.
Same applies for all find element functions so in practice "Safari" is broken

POST http://127.0.0.1:63517/session/2DB73404-082E-49A0-9DC7-BC80A32EF1FE/elements {"using": "css selector", "sessionId": "2DB73404-082E-49A0-9DC7-BC80A32EF1FE", "v

[2016-12-07 02:03] emanlove commented on #625
The best option may be to use the ```Wait Until Keyword Succeeds``` [keyword](http://robotframework.org/robotframework/latest/libraries/BuiltIn.html#Wait%20Until%20Keyword%20Succeeds). That way it it not some arbitrary sleep statement nor is it guessing whether three or five tries is the magic number.

So I am assuming you mean [EMC's Web Development Kit](https://developer-content.emc.com/develope

[2016-12-07 05:44] vinaybond commented on #625
I already tried wait until keyword success and it passes every time.  The things is, I can see that element is clicked (via the dotted border when you click on element) but nothing happens.

[2016-12-07 06:47] aaltat commented on #700
Would it be possible to run the same test by using different browser, example Chrome. This will tell is this browser specific problem or a common problem. Also could you tell which Selenium2Library and selenium version you are using?

[2016-12-07 06:50] aaltat commented on #699
Yes there has been and yes it could be useful. Example in #672.

Because this is a duplicate, closing this issue.

[2016-12-07 07:15] aaltat commented on #625
I have encountered a situation we the click happens but application doesn't work. In some rare cases, I have seen it once, the fault actually lies in the webpage side. The webpage may not listen the event what selenium is sending and therefore nothing happens in the application side.

Other alternative for Wait Until Keyword Succeeds is to try click in the for loop.

[2016-12-07 07:17] serhatbolsu commented on #700
I ran on Chrome or IE10-11 without problem. It seems like whole Safari execution became in practicle since it does fail on first not found element (`wait until page contains element` also does not work)

I am using a Safari 10.1 in El Capitan and the library version is 1.8.0, selenium 3.0.2
Thank you

[2016-12-07 07:20] aaltat commented on #700
Also could you tell which Selenium2Library and selenium version you are using?

[2016-12-07 07:27] aaltat commented on #700
Ah sorry did miss read your last post, the information is there

[2016-12-07 07:34] aaltat commented on #700
Have you tried with latest selenium 2.x version?

If I recall the code correctly, it uses find_elements_by* methods from selenium. Those methods should not never raise exceptions. They should always return list of elements, empty list if nothing is found.

Either this is a bug in the selenium side, with the version you are using. Or something has changed in the selenium API with the selenium 3. If

[2016-12-07 07:47] serhatbolsu commented on #700
I beleive what you saying is correct that it would work with selenium older. However now Safari is like Chromium, and it is handled by its own team.

And this is not their first release so I guess, Selenium2Library  will need to follow up this change.

[2016-12-07 09:59] aaltat opened #701 "Combining `Open Browser`and `Create Webdriver`keywords"
* Take KW args in use
    * `Open Browser` is made in are where kwargs where not available from Robot Framework. The kwargs could allow creating the browser in more generic way
    * could pass the `desired_capabilities` in dictionary. Also should support other configuration options from
 * One keyword only to handle the opening the browser
It should be possible to move many things from Create Web

[2016-12-07 13:10] aaltat opened #703 "Update required Robot Framework version to 2.8"
Announce to community that we plan to support only 2.8 or greater versions of Robot Framework

[2016-12-07 13:14] aaltat opened #704 "Increase the required selenium version to latest selenium 2 version"
Supporting old selenium version would require more work than we can do at the moment.

We would actually need to run test with all those versions and decide which we support. But in the other hand we should not make changes that would break the compatibility.

Document and announce to user group

[2016-12-07 15:19] aaltat opened #706 "Remove the WebDriverMonkeyPatches"
It looks like the [WebDriverMonkeyPatches](https://github.com/robotframework/Selenium2Library/blob/master/src/Selenium2Library/webdrivermonkeypatches.py) was done to ease to conversion from SeleniumLibrary to Selenium2Library. Most likely we do not needed at all and we could use the methods from the selenium directly.

[2016-12-07 16:57] ombre42 commented on #706
I think this is a good idea. But I am pretty sure some people out there are using these methods on `_current_browser()`. So it should be clearly communicated that `get_current_window_info`, etc. is going away.

[2016-12-07 17:10] aaltat commented on #706
I think some of the methods will stay, in some form or other, but not in there. At least the ones that will have direct counterpart in selenium side will disappear.

[2016-12-07 20:42] emanlove commented on #706
Is there a list of what we will still have and what we will lose by removing it?

[2016-12-07 21:14] aaltat commented on #706
Not yet, but we definitely need a one. The #708 changes the monkeypatched methods to their selenium/webdirver counter parts:
 * get_window_handles() -> window_handles
 * get_current_url() -> current_url
 * get_page_source() -> page_source
 * get_title() -> title

Those where the easy ones. Most likely the rest will in stay in some form or other but it needs some thinking.  But before that thinking

[2016-12-07 23:54] emanlove commented on #704
@aaltat Why force an upgrade if there is no issue nor complaints? I don't see the dependency version listed in setup.py as a statement of support but more as a minimum required version for current functionality. This was last bumped when we changed select list to use the newly added Select class and thus required a certain version.

That said looking back at the selenium 2.32 I see it was released

[2016-12-08 09:30] akvilla opened #709 "[warn] [Capture Page Screenshot] WebDriverException: Message: docEl is null"
I've wrote tests for check of PDF reports.
When I use "Wait Until Keyword Succeeds" +"Element Should Contain" the tests could fails, because the reports sometimes couldn't be completely downloaded at first try.
Robot try to capture screenshot and in log I see warnings "WebDriverException: Message: docEl is null".

Traceback (most recent call last):
File "<decorator-gen-147>", line 2, in capture_pa

[2016-12-08 16:55] aaltat commented on #709
Would the `Wait Until Page Contains Element` keyword solve your problem? If not could you describe your problem better, because I don't understand what problem you are trying to solve?

[2016-12-08 17:19] aaltat commented on #700
Did the selenium 2.x release solve the problem?

The selenium provides a unified API to the different browser and the API methods works in same way in all different browser. Also in our side, excluding the Open Browser keyword related code, Selenium2Library does not contain any browser specific code, as far I recall. Also we are not going to build browser specific code in to the library.

Because

[2016-12-09 11:16] vinaybond commented on #625
@aaltat, Wait Until Keyword Succeeds return true always. It wont return false since this is not the case of failed click command but something at browser/application side.

Any other suggestion?

[2016-12-09 13:30] akvilla commented on #709
I've used this keyword and it's work fine. In this case I can refactor my tests and use the other keywords with "wait ...".

This issue was opened, because I couldn't find any references to the warning "WebDriverException: Message: docEl is null".
Is it expected that warning appears when I use "Wait Until Keyword Succeeds" +"Element Should Contain"?

[2016-12-10 11:53] aaltat commented on #709
You have two errors. First one is coming from the `Page Should Contain Element` and raised ValueError. The second one coming from `Capture Page Screenshot` and raised WebdriverException.

The first on, ValueError, is normal because in that moment page doesn't contain the element you expect. The first error can be avoided by using `Wait Until Page Contains Element` and then you don't need to use `W

[2016-12-10 11:56] aaltat commented on #625
Did you try a for loop?

[2016-12-10 11:59] vinaybond commented on #625
No. But I need to try that, what is the condition should I put?

On Dec 10, 2016 5:26 PM, "Tatu Aalto" <notifications@github.com> wrote:

[2016-12-10 12:04] aaltat commented on #625
Something should happen when you click the element? Wait that to happen and exit from the loop if it happens.

[2016-12-10 12:08] vinaybond commented on #625
This will work. But the problem is, that "next action" after click is different in each case. I have got like 1000+ suites and has got many click in each, so adding for loop is not feasible.

Any other suggestion?

[2016-12-10 12:12] aaltat commented on #625
It is not meant for a permanent solution, but it could provide a workaround until you find a permanent solution.

[2016-12-10 12:33] akvilla commented on #709
thanks for clarifying

[2016-12-10 14:47] aaltat commented on #709
If you think that problem is solved, could we close the issue?

[2016-12-10 15:13] akvilla commented on #709
Yes, thanks.

[2016-12-10 18:22] #709 closed, assigned to nobody

[2016-12-10 20:34] aaltat commented on #621
This is done in #678

[2016-12-10 20:34] #621 closed, assigned to nobody

[2016-12-10 20:45] aaltat commented on #704
I don't like the idea, to make promise that we will guarantee that the Selenium2Library is compatible with the selenium 2.32 or greater. Specially because we do not test it.

In the other hand, I do not want to force to use the selenium 2.53.0 or any specific version. Perhaps we should document that we test with this X.X.X (whatever that version might be) version of selenium. Also we could documen

[2016-12-10 21:29] aaltat commented on #692
Did you manage to resolve the problem? If yes, would you mind sharing what the problem actually was and how you did resolve it?

[2016-12-10 21:29] aaltat commented on #658
Do we still need this or can we close it?

[2016-12-10 21:29] pekkaklarck commented on #704
IMHO we should set version requirement to whatever we test. Users can upgrade S2L w/o upgrading dependencies if they want to.

Is there any good reason to use older se versions?

[2016-12-10 21:33] aaltat commented on #690
@yahman72 sorry that it takes so long to review this pull request but the release 2.0 takes lot of attention.

[2016-12-10 22:20] aaltat commented on #704
There might be some reasons to get some specific browser version to work, but can not recall any such example. The reason why we usually do not it, is to allow people to setup their environments as they please and not to force the update.

[2016-12-11 07:48] ghost commented on #692
So I added grep to build job, and in 4 aborted jobs there is no chrome process running before job start.
What is interesting is I don't have same issue on my machine, it happens only on jenkins vm which I'm using vnc4server and xvnc plugin to run chrome.
Unlike issue name my problem is at `Open browser` instead of `Close browser`

[2016-12-12 11:56] serhatbolsu commented on #700
I found that it is about Safari 10 and its related webdriver ( new driver).

The thing is I believe this is the way they will handle not found items, so client(selenium2library) might have to handle exceptions as well.

[2016-12-12 14:58] aaltat commented on #700
Your assumption is not correct. But I think is a bug in the selenium side and you could open a issue in their issue tracker.

[2016-12-13 10:27] brusand commented on #692
i still have the issue.
When chrome launch, chromewebdriver launch. Teardown Close Browser, close Chrome but chromedriver is still running. 1 minute later, test PASS and chromedriver disapeared.

my 2 cents

[2016-12-13 11:17] ghost commented on #692
It seems me and @brusand have separate problems, shall I open another issue?

[2016-12-13 11:31] 8077 commented on #676
@sachin6757 Did you also use HTTPS approach after opening the browser? I can open browser for various versions (49.0.1, 50.1.0, both 32 and 64 bit), but browser.get("https://16.114.219.95") always fails saying either "Error loading page" or "Reached error page: about:certerror?e=nssBadCert&u=https%3A//16.114.219.95".

If your experience works for HTTPS, there must be something I still can count on

[2016-12-13 12:33] aaltat commented on #692
@brusand Did you check what the yahman72 did suggested?

[2016-12-13 13:53] brusand commented on #692
yes that my responses :

After the browser window is closed: is the chromedriver.exe process still running? yes
After the job is done: do you still have chromedriver.exe process(es) still running? yes

[2016-12-13 13:54] brusand commented on #692
sorry
After the browser window is closed: is the chromedriver.exe process still running? yes
After the job is done: do you still have chromedriver.exe process(es) still running? no
it is the duration between these 2 steps is > 1 minute

[2016-12-13 15:05] yahman72 commented on #692
Sounds like that the selenium doesn't stop the chromedriver on Win7 properly.
We cannot do much for this in selenium2library, because the problem is in selenium itself.
Try to find if there's a bug-report/workaround in selenium for this.

PS.
It probably hangs in this code:
https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/common/service.py
in the stop() method --> you could

[2016-12-14 07:22] pe2mbs opened #711 "Unable to select nested iframe in an iframe"
Current we are string a application that heavily uses iframes to get to the right elements we need to select an iframe and than select the second iframe. See the example below.

`<iframe id="A">`
`       ....`
`       <iframe id="B">`
`             ....`
`             <div id="C">   `
`             ....`
`       </iframe>`
`  </iframe>`

When we do
`  Select Frame      //*[@id="A"]`
`  Select Fram

[2016-12-14 07:41] aaltat commented on #711
Could you tell which browser and selenium version you are using? Also have you tried with the different browser? Also could you tell the library version you are using? Also could you send the full stack trace from the error, use `--loglevel trace` from command line. Also if it's possible to send an example which we could also run, would be big plus.

I haven't used nested frames,  so have to some

[2016-12-14 07:51] noman-iem commented on #216
Hi,

I am still getting this error. Tried all the keywords (Alert Should be present, Confirm Action etc.

UnexpectedAlertPresentException: Alert Text: None
Message: unexpected alert open: {Alert text :
}
  (Session info: chrome=54.0.2840.99)
  (Driver info: chromedriver=2.25.426923 (0390b88869384d6eb0d5d09729679f934aab9eed),platform=Windows NT 6.1.7601 SP1 x86)
------------------------------------

[2016-12-14 08:47] pe2mbs commented on #711
Here the trace of the failing second select frame:
[trace.txt](https://github.com/robotframework/Selenium2Library/files/651142/trace.txt)

Browser google chrome Version 54.0.2840.99 m
ChromeDriver 2.25.426923 (0390b88869384d6eb0d5d09729679f934aab9eed)

Sending a full example is problematic due our integrated test environment, The application is a Business Process Model (BPM) Flow and is based on t

[2016-12-14 12:04] mtavi opened #712 "Not possible to input text that has ~ ( tilde ) character in it"
I found out that it is not possible to have a text, for example a password, with a tilde character in it. Selenium2library does not know how to write the tilde character to the browser.

If Input Text is used as the method of inputting password, in the log.html it is displayed correctly, but if the password is typed into username field to see what it actually types, the tilde is missing.

Running

[2016-12-14 16:16] aaltat commented on #712
Interesting, tilde is just string as any other character and it should not cause such thing. But world is full of weird bugs, so it's totally possible.

Would it possible to see the log file, with `-loglevel trace` set? It will display more details and shows the characters which selenium is sending to the website?

[2016-12-14 16:54] mtavi commented on #712
Apparently the character is being sent, but it is not received. Here I tried with a username "tildetilde~user" and the result with -loglevel trace follows

	<msg timestamp="20161214 18:34:39.271" level="TRACE">Arguments: [ ${username}='tildetilde~user' ]</msg>
	<kw name="Input Text" library="Selenium2Library">
	<doc>Types the given `text` into text field identified by `locator`.</doc>
	<arguments>

[2016-12-14 17:07] aaltat opened #713 "Change the Travis to run differently the acceptance test"
Because there was some unexpected problems with Travis and the accessing the encrypted information (the Sauce Labs credentials) [1] we need to change how we run acceptance tests from the original plan.

 * For each PR, run with Firefox (provided by Travis), selenium 2/3 and Python 2/3.
 * Create nightly/weekly build to run from master and run by using Sauce Labs by using different browsers.

[1] h

[2016-12-14 18:42] aaltat commented on #712
Perhaps the problem is in the input field and it doesn't allow special characters. Have you tried example with the Google search page to reproduce the problem? If tilde send there successfully then the problem is in the website you are using and not in the library.

[2016-12-14 19:14] aaltat commented on #216
Could you open a new issue? And provide more details

[2016-12-14 22:10] aaltat commented on #713
We could define the `.travis.yaml`like this:
[code]
And then run test runner we could do something like this:
[code]

[2016-12-15 06:57] mtavi commented on #712
The same behavior is seen also with Google search.

Attached is a test that can be used to type text into Google.

[input_tilde.zip](https://github.com/robotframework/Selenium2Library/files/653959/input_tilde.zip)

[2016-12-15 07:06] aaltat commented on #712
Thank you. Need to try few things but by a quick look on the code side, this could be a problem with the selenium or the underlying browser driver, example ChromeDriver. I will get back on the matter when I have performed some investigation.

In your first post, you did list Chrome and IE driver and therefore can I assume that the problem is reproduced with both browsers?

[2016-12-15 09:34] mtavi commented on #712
That is correct.
Windows 10

IE 11 + IEDriverServer.exe 3.0.0.0 (64-bit)
Chrome latest + ChromeDriver 2.26.436362

[2016-12-15 13:53] brusand commented on #692
i found the line :         try:
            logging.info("sending remote shutdown ")
            self.send_remote_shutdown_command() // This line take more than 1 minute
            logging.info("sent remote shutdown ")

thx for your help

[2016-12-15 14:46] aaltat commented on #692
Would you mind telling where that line is?

[2016-12-15 15:22] brusand commented on #692
https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/common/service.py

line 164, i think this line try to shutdown selenium server but in my test ride/robotframwork this none selenieum server so it may be a network timeout ..., if i comment this line, the test is PASS in a normal way

my 2 cents

[2016-12-16 06:35] aaltat commented on #692
Hmm, could you show simplified version of the test case? Example where you open the browser, do something small and close the browser. The example should be able to demonstrate the problem you are having, but it's not mandatory that I am able to run it, I just want to see what options you use to open the browser, or could this be some keyword related problem.

Also if your browser open is complica

[2016-12-16 13:39] brusand commented on #692
here is the simplest testcase to view the issue :+1:
*** Settings ***
Library           Selenium2Library

*** Test Cases ***
testcases
    Open Browser    https://www.google.fr    chrome
    [Teardown]    Close Browser

if you comment/uncomment line 164 of https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriver/common/service.py (remote_shutdown) the time of the test differ :-)

[2016-12-16 14:27] aaltat commented on #692
Oh, it's that simple. Are you able to write equivalent code with Python by using selenium? If you can not, let me know and I will do it for you. If the problem can be reproduced with Python and selenium directly, then problem is on selenium or Chrome driver side and we on the S2L side can not fix the problem for you. In that case you need to raise a issue to the selenium or Chrome driver issue tra

[2016-12-16 16:06] brusand commented on #692
hi tatu

sorry i am not a python developper (i am a java backend) so u ll do it more efficiently than me :-)

[2016-12-16 16:47] GLMeece opened #715 "Support returning int from `Get Matching Xpath Count`"
This "feature" has been present AFAIK since about the first check-in. I tripped up over this when attempting to add a value to the return and got a type error.

Two suggested approaches:

1. Change the documentation, per [this pull request](https://github.com/robotframework/Selenium2Library/pull/714).
2. As an optional keyword argument, allow for an `int` return (default would remain `str`). I hav

[2016-12-17 06:51] aaltat commented on #715
I am happy in both ways, which way you want to go?

[2016-12-17 23:15] GLMeece commented on #715
See my most recent [pull request](https://github.com/robotframework/Selenium2Library/pull/717). I have not added any tests for this.

[2016-12-18 00:04] aaltat commented on #713
#716 provides a PR to solve the problem with encrypted data. Changed quite lot of things in the PR

  * Acceptance test are run with Chrome for PR and not with Firefox.
  * Acceptance test for PR are run with selenium 2.53.6+Python 2.7, selenium 2.53.6+Python 3.3, selenium 3.0.2+Python 2.7.
  * Did take argparse to use in run_test.py
  * It is possible to use, users own, sauce labs account when ru

[2016-12-18 00:24] aaltat commented on #712
For me that test works fine, tilde is written in the search field. I am using: Selenium 3.0.1, Chrome 55.0.2883.87 m (64-bit) and ChromeDriver 2.26.436362

[2016-12-18 00:26] aaltat commented on #692
If you execute this:
[code]
Do you experience the same problem?

[2016-12-18 21:30] aaltat commented on #669
Because this seems to be resolved, closing the issue.

[2016-12-18 21:30] #669 closed, assigned to nobody

[2016-12-19 07:32] aaltat opened #719 "Consider string `False` to be false similarly as Robot Framework"
RF convenience methods for handling booleans, example
[code]
Is evaluated as False in Robot Framework standard libraries, although the argument is string and according Python it should evaluate as True. Changing the S2L to behave in similar fashion as the Robot Framework standard libraries could be useful.

More details in http://robotframework.org/robotframework/latest/libraries/BuiltIn.html#Bool

[2016-12-19 11:18] aaltat commented on #712
@mtavi did your problem get resolved after the selenium update and can we close the issue?

[2016-12-19 11:21] aaltat commented on #700
Because this looks like it's not a problem in the S2L and looks like a problem selenium or the Safari driver implementation, I am closing the issue.

[2016-12-19 11:21] #700 closed, assigned to nobody

[2016-12-19 11:22] aaltat commented on #650
Was this already done?

[2016-12-19 11:41] aaltat commented on #711
That trace file does not look like trace file from Robot Framework. In the previous post, I was meaning this: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#setting-log-level

[2016-12-19 15:09] aaltat commented on #586
Closing because this doesn't look like a S2L issue

[2016-12-19 15:09] #586 closed, assigned to nobody

[2016-12-20 15:34] brusand commented on #692
sorry tatu, i am on vacation for 2 weeks. but how you do that with
robotframework and ride ?

happy christmas

2016-12-18 1:26 GMT+01:00 Tatu Aalto <notifications@github.com>:

[2016-12-20 17:25] aaltat commented on #692
Happy holidays, I am also soon in holidays.

It's not meant to be run by using Robot Framework. Instead copy paste that to a file and save it with .py extension. Then run command: `python right_file_name_here.py`

[2016-12-21 07:38] mtavi commented on #712
@aaltat Unfortunately no, the issue is still present.

pip list
decorator (4.0.10)
pip (9.0.1)
robotframework (3.0)
robotframework-selenium2library (1.8.0)
selenium (3.0.2)
setuptools (20.10.1)

Chrome 55.0.2883.87 m (64-bittinen)
ChromeDriver 2.26.436362

Improved the test a bit, now it fails spectacularly if it doesn't find the text it typed:

[input_and_verify_tilde.zip](https://github.com/robo

[2016-12-21 12:09] aaltat commented on #712
Are you able to write equivalent test with Python and selenium? If you can't I can do it for you. It reveals is the problem in Selenium2Library side or in the selenium side.

[2016-12-21 12:22] mtavi commented on #712
I have no experience on that. I did however record the events using selenium IDE, there the tilde character is input properly.

[input_tilde_selenium.txt](https://github.com/robotframework/Selenium2Library/files/666298/input_tilde_selenium.txt)

[2016-12-21 13:24] aaltat commented on #712
If I recall correctly, it's using inbuilt selenium to run the test and therefore doesn't validate the libraries you are using. I will write you a script but it will be done after Xmas.

Happy holidays

[2016-12-21 13:37] aaltat commented on #699
Reopened because #702 discussion

[2016-12-21 14:05] #585 closed, assigned to nobody

[2016-12-21 14:06] pe2mbs commented on #711
What you got is trace file with -b option from Robot Framework. And that contains the same information as the HTML version.

[2016-12-21 14:09] aaltat commented on #711
Thank is the whole point of using the use `--loglevel trace` from command line. It increases the loglevel and displays better error message.

[2016-12-21 21:16] pekkaklarck commented on #650
Yes.

[2016-12-21 21:16] #650 closed, assigned to nobody

[2016-12-21 22:27] emanlove commented on #712
@mtavi There is some description in our documentation on how to build a test for selenium (see [here](https://github.com/robotframework/Selenium2Library/blob/master/BUILD.rst#testing-selenium)). The example is using linux as compared to Windows (I wrote it, sorry) and even with this if you haven't done this it can still seem overwhelming. But I wanted to share this if you are interested in trying.

[2016-12-22 12:46] aaltat commented on #712
Here is the code:
[code]
If you do not use windows, replace the with path suitable for you OS.

When you have run it, tell us how it did go.

[2016-12-22 19:44] mtavi commented on #712
It went the same way as before, no tilde in sight.

![picture](https://cloud.githubusercontent.com/assets/24566474/21438025/b85a9850-c88f-11e6-8025-ddd283263b72.png)

[2016-12-22 20:31] aaltat commented on #712
This strongly looks like some sort of environment issue, because it works for me. Unfortunately I don't have any idea what the issue could be. Also it's not a Selenium2Library issue, because it can be reproduced with selenium.

If I would have this issue, I would first try with different selenium and chrome driver versions. If that doesn't help, I would reinstall Python and selenium and see does i

[2016-12-23 03:20] pskpg86 commented on #573
@HelioGuilherme66, I have tried to use your fork in python 3.4.3 but am not able to install the selenium2library.  I get following error:

 Traceback (most recent call last):
      File "c:\python34\lib\site-packages\ez_setup.py", line 143, in use_setuptools
        raise ImportError
    ImportError

    During handling of the above exception, another exception occurred:

    Traceback (most recen

[2016-12-23 11:22] HelioGuilherme66 commented on #573
@pskpg86

**No!** Sorry but this is a issue tracker for main project. This issue is Closed, for my fork you should open an Issue there. Or you can see try to merge some PRs we are making here to get it fixed.
(you don't seem to be using pip to install, try to download the package and install from it with `pip`)

[2016-12-28 01:30] qitaos opened #722 "Enhance `Get List Items` to support returning values or labels"
@aaltat
I have a demo website http://demo.robotframework.cn/.
There is a select list, it's html code is:
![snipaste20161228_091150](https://cloud.githubusercontent.com/assets/1754412/21511671/8fd21018-ccde-11e6-824e-e383228ef2c4.png)

my case is:
![snipaste20161228_091354](https://cloud.githubusercontent.com/assets/1754412/21511673/8fd5ac3c-ccde-11e6-8c28-1973f8989809.png)

The keyword get_list_it

[2016-12-28 07:37] aksenov007 commented on #404
Any progress? Still only the way to do this as described [here](https://github.com/robotframework/Selenium2Library/issues/404#issuecomment-138910370)?

[2016-12-28 11:40] aaltat commented on #404
No progress. No-one has seen the change important enough to submit PR.

[2016-12-28 12:00] aaltat commented on #722
Ah, now I understand, thank you from the explanation.

Your need is a valid one. The only thing that I am wondering do we need a new keyword for this or would it be better to have one keyword and decide based on argument what to return. Example:
[code]
There are quite many keywords and I don't like to raise the keyword amount. But I don't feel strongly on the matter, what do you think, or others?

[2016-12-28 12:55] me-apatel commented on #676
@8077 You are right. I'm also facing issue with Selenium 3.0.1 + FF 50.* in docker (linux) environment while browsing secured application (https).

geckodriver is also in the path. It either says "Reached error page: about:certerror" or "Reached error page: about:neterror?e=connectionFailure".

Please help me if anyone got luck with https case.

[2016-12-28 15:58] aaltat commented on #676
Use Firefox 47 or Chrome. Firefox, greater than 47, and selenium do not work. Hopefully they get it fixed.

[2016-12-29 07:04] MantoshJha opened #723 "Unable to open url page in firefox browser using selenium webdriver, its showing message "unable to connect" at webpage."
Please help me out to resolve this issue:-

Environment:
Selenium Wedriver Version: 2.42.1
Firefox Browser:-36.0.4

Code:
package com.AutomatioPackage;

import org.openqa.selenium.WebDriver;
import org.openqa.selenium.firefox.FirefoxDriver;

public class LaunchBrowser {
               public static void main(String[] args) {
		WebDriver driver=new FirefoxDriver();
		driver.get("www.google.com");

[2016-12-29 07:10] #723 closed, assigned to nobody

[2016-12-29 12:39] me-apatel commented on #676
Thanks @aaltat for the information.

We need to upgrade our test framework to latest versions of selenium, FF & chrome, but it seems we need to put our plan on hold until the issue with HTTPS approach gets fixed.

In case anyone get any update or a workaround, please share the same.
Thank You.

[2016-12-29 12:47] aaltat commented on #676
You can update, expect the FF and selenium. Or if you don't want to use FF then selenium can be also updated

[2016-12-29 12:50] aaltat commented on #676
Update the title to better describe the problem

[2016-12-29 12:57] #262 closed, assigned to nobody

[2016-12-29 20:32] aaltat commented on #129
The way code works is the default way with selenium to clear the field. This is more a problem with the selenium than S2L and therefore closing the issue.

[2016-12-29 20:32] #129 closed, assigned to nobody

[2016-12-29 21:07] aaltat commented on #625
@vinaybond is there something that you are wanting from us or could we close the issue?

[2016-12-29 21:09] aaltat commented on #620
The only thing left from this is to documentation and fixing the`setup.py`

[2016-12-29 21:11] aaltat commented on #581
Is this still a problem or can we close the issue?

[2016-12-29 21:12] #572 closed, assigned to nobody

[2016-12-29 21:12] #579 closed, assigned to nobody

[2016-12-29 21:13] aaltat commented on #548
Was this already fixed?

[2016-12-29 21:14] #533 closed, assigned to nobody

[2016-12-29 21:16] aaltat commented on #580
This is actually duplicate of #529 and therefore closing

[2016-12-29 21:16] #580 closed, assigned to nobody

[2016-12-29 21:16] aaltat commented on #524
Closing due inactivity

[2016-12-29 21:16] #524 closed, assigned to nobody

[2016-12-29 21:17] #512 closed, assigned to nobody

[2016-12-29 21:19] aaltat commented on #488
We are doing this and we did create a new issue about it. Closing this one because it is so down on the list

[2016-12-29 21:19] #488 closed, assigned to nobody

[2016-12-29 21:21] aaltat commented on #479
We have spilt this to multiple different issues and therefore closing this one. The Python 3 support should happen in release 2.0 and it should be next release

[2016-12-29 21:21] #479 closed, assigned to nobody

[2016-12-29 21:24] #464 closed, assigned to nobody

[2016-12-29 21:25] aaltat commented on #462
Is this still a problem?

[2016-12-29 21:28] #413 closed, assigned to nobody

[2016-12-29 21:29] #418 closed, assigned to nobody

[2016-12-29 21:30] #398 closed, assigned to nobody

[2016-12-29 21:38] GLMeece commented on #548
@aaltat - looks like [it was merged with this pull request](https://github.com/robotframework/Selenium2Library/commit/ef659fe8ab29faa5ba37dcbfff2d59c185abb956).

[2016-12-29 21:38] #548 closed, assigned to nobody

[2016-12-30 07:10] qitaos commented on #722
I think add argument is fine too.

[2016-12-30 08:20] qitaos commented on #722
@aaltat I made a new commit for add argument and test cases.

[2016-12-30 10:14] aaltat commented on #722
Thank you. I am busy other stuff for few days, but next year there should be time to take a look.

[2016-12-30 13:31] lucyking opened #725 "Can't locate elements which with blank suffix in content-desc"
[criteria = locator_parts[2].strip()](https://github.com/robotframework/Selenium2Library/blob/master/src/Selenium2Library/locators/elementfinder.py#L227]) will wipe space bar off at the string end, that
lead to can't locate the special element which **with blank suffix in content-desc**.
eg:

| Keywords  | Locator |
| ------------- | ------------- |
Mobile_Click_Element  |   accessibility_id= _som

[2016-12-31 11:04] Muddesir commented on #135
I am facing the same issue using :

Error in RIDE:
20161231 12:51:17.692 :  FAIL :
NoSuchWindowException: Message: Unable to get browser

20161231 12:51:17.694 :  WARN :
Keyword 'Capture Page Screenshot' could not be run on failure: NoSuchWindowException: Message: Unable to get browser

20161231 12:51:17.908 :  FAIL :
NoSuchWindowException: Message: Unable to get browser

Ending test:   CommandCen

[2016-12-31 16:33] aaltat commented on #135
Most likely it is not same problem. Could you open a new issue and run the test with `--loglevel trace`. Also could you tell which browser version you are using.

[2017-01-01 15:00] aaltat commented on #725
I understand your problem, but the PR maybe backwards incompatible. I also like the `strip()` for locator parsing, because it eases the selector writing.

I think a better solution would be make the strip() as configurable and by default use `strip()`. This is more work  because it it needs changing the keywords signature.

The other solution is to use xpath: ```xpath=//*[@accessibility_id= "some_

[2017-01-02 05:02] vinaybond commented on #625
I did not get the solution yet. But I think we can close this as from the discussion so far, it looks like nothing can be done at selenium's end.

[2017-01-02 08:06] narenatgit opened #726 "support of Python35"
Hi,

Is selenium2Library now supported by python35? I have downloaded latest version -1.8.0 from pypi. But still I am getting the below error. If the support hasnt been extended to Python35 yet, when can we expect it? Kindly share the details.

Traceback (most recent call last):
  File "setup.py", line 7, in <module>
    from ez_setup import use_setuptools
  File "src\ez_setup.py", line 106
    ex

[2017-01-02 09:39] aaltat commented on #726
No, we don't yet support Python 3. But the next release should provide the support for Python 3. There is a fork that supports Python 3. If I recall correctly, it was this one: https://github.com/HelioGuilherme66/robotframework-selenium2library

Because this is know issue, closing.

[2017-01-02 09:39] #726 closed, assigned to nobody

[2017-01-02 09:43] #625 closed, assigned to nobody

[2017-01-02 15:33] laurentbristiel opened #727 "Obsolete links in several files"
There are still links to http://code.google.com in README.rst for example
And other links are now obsolete.
PR to come soon to fix them.

[2017-01-02 15:44] aaltat commented on #727
Thanks for pointing this out.

[2017-01-02 21:13] #727 closed, assigned to nobody

[2017-01-04 07:24] waikchiu5 commented on #687
@aaltat
Sorry for my late comment. This case still cannot resolve. When i face the Download dialog, it will stop the interaction with the browser. I cannot take screenshot or log to console or pass test case.
Due to the some limit, i cannot use cURL and modify the configure of browser.

I tried some possible solution. It still stuck on it.
Such as:
Set the timeout of Test case [Timeout]
->exceeded

[2017-01-04 08:28] zniff commented on #676
Hi
just tested the new geckodriver v0.12.0 which was just released.
I used the US Census site  https://usatrade.census.gov/ for testing - which according to the message below seems to have an invalid certificate -- though I set:
[code]

I still get the following errors with Win 10 / Firefox 50.1.0 and Selenium 3.0.1:

[code]

[2017-01-04 08:34] aaltat commented on #687
If you can not use other tool to download the file or can not modify browser configuration then you can not download the file.

Because Selenium2Library is working as it should I am keeping the issue closed.

[2017-01-04 08:39] waikchiu5 commented on #687
Maybe i explain not clear. My test case is aim to test "Download file dialog" part but not real download. Assume the pass case is "download dialog" will show after click the download link. Then, the Selenium2Library will take a screenshot and pass the case. However, after show up the dialog. Selenium2Library will enter infinite loop.

Thank you for your comments

[2017-01-04 08:51] aaltat commented on #687
It's because that operating system dialogue blocks the interaction with the browser. That dialogue can not controlled from selenium and therefore it can not be controlled from the Selenium2Library.

Then you need to find other libraries, to find the OS dialogue, take the screen shot and cancel the dialogue. If you live in Windows, autoIT might be good solution to control the dialogue and screensho

[2017-01-04 16:45] lucyking commented on #725
Yes,I agree with that making the strip() configurable.

[2017-01-04 16:45] #725 closed, assigned to nobody

[2017-01-07 16:21] zniff commented on #676
Hi everybody
just tried the latest geckodriver 0.13.0 with Firefox 50.1.0 and Selenium 3.0.1 with java 1.8.0_112-> still the same result: does not work.
[code]

[2017-01-07 16:29] aaltat commented on #676
Ok, thank you from the information. I hope that Mozilla and selenium will get it working eventually.

[2017-01-07 20:03] #141 closed, assigned to nobody

[2017-01-09 06:44] Netardent commented on #479
In Python version 3.5.2  and Robot Framework version 3.0.1....i have tried to install robotframework-selenium2library, but have problem on installation:

Collecting robotframework-selenium2library
  Downloading robotframework-selenium2library-1.8.0.tar.gz (118kB)
    100% |################################| 122kB 126kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most

[2017-01-09 15:25] aaltat commented on #479
Selenium2Library is not yet compatible with Python 3. The next release, version 2.0, from Selenium2Library will bring support for Python 3. There is a fork from the project, which provides currently support for Python 3. If I recall correctly it's this one: https://github.com/HelioGuilherme66/robotframework-selenium2library

[2017-01-10 09:38] almahaja commented on #676
Hello,
Might be a different topic than this but want to know if geckodriver supports URLs with self signed certificate? For me with WebDriver3.0.2 + geckodriver + ff50.0.2 when i try to run script for our product which is wbe based and running on https protocol throw below:-

WebDriverException: Message: Reached error page: about:certerror?e=nssBadCert&u=https%3A//vw-pun-bcm-dv07/%23/&c=UTF-8&f=re

[2017-01-10 11:35] aaltat commented on #676
Current status of the FF and selenium is so unstable that I am not able to answer your question. If you want better answer, it would be best to ask it from the Mozilla.

[2017-01-10 17:01] rseif opened #729 "Add keyword "Wait Until Table Contains""
I am currently using the Wait Until Page Contains without problems, but seems more appropriate to have this new keyword. Might even be faster.

[2017-01-11 05:54] me-apatel commented on #676
I've reported a [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1329965) over bugzilla and they said that "Support for untrusted/self-signed certificates has been added via bug 1103196 and will be available starting with Firefox 52".

[2017-01-11 06:47] aaltat commented on #729
I don't understand what you are requesting. Could you describe the problem and solution you are proposing.

[2017-01-11 08:36] Gaurang033 commented on #667
I can take that up, the only problem is Arrow keys are not represented by single ASCII code. So not sure what to use in key map? any suggestions?

[2017-01-11 10:43] Gaurang033 commented on #729
@rseif I think you can use **Wait Until Keyword Succeeds** keyword with **Table Should Contain** keyword to achieve this.

[2017-01-11 10:45] aaltat commented on #729
Yes one can but it's really ugly way do it.

[2017-01-11 13:49] aaltat commented on #667
PR #666 is for this but it lacks the test.

[2017-01-11 13:53] #713 closed, assigned to nobody

[2017-01-11 13:57] aaltat commented on #712
Because this looks like environment issue and because the problem can be reproduced with selenium it's not a Selenium2Library problem. Therefore closing the issue.

If you feel differently, please send an update.

[2017-01-11 13:57] #712 closed, assigned to nobody

[2017-01-11 16:17] rseif commented on #729
@aaltat I want to be able to use Wait Until Table Contains to wait until a certain table gets updated with the value I am looking for and it should not look for that value in any other place in the page.

[2017-01-11 16:21] rseif commented on #729
@Gaurang033 Thanks for opening my eyes to that keyword that I haven't messed with yet

[2017-01-11 16:45] aaltat commented on #729
@rseif The request sounds reasonable. If you want it please make a pull request to fulfill the need.

[2017-01-11 16:56] rseif commented on #729
Thanks! @aaltat I definitely see many instances where I would use it. I appreciate your help. Not too familiar with pull request, n00b here.

[2017-01-11 17:18] aaltat commented on #729
Started reading from here: https://github.com/robotframework/Selenium2Library/blob/master/CONTRIBUTING.md

[2017-01-11 20:33] aaltat commented on #722
It was decided to make configurable to keyword return values or labels based on a new `value` argument. The keyword default functionality is backwards compatible.

[2017-01-11 20:35] aaltat commented on #722
Done in #721

[2017-01-11 20:36] aaltat commented on #357
This is fixed in #721 It was made configurable that does the keyword return labels or values.

[2017-01-11 20:36] #357 closed, assigned to nobody

[2017-01-11 20:38] aaltat commented on #711
It this still a problem or can we close the issue?

[2017-01-12 09:18] waikchiu5 commented on #687
@aaltat
Thanks for your kindly reply.
I tested again. When i manually close the download dialogue. The robot still stopped.
I need to manually close the browser. The test case will pass and generate the log.html

I believe that this is cannot controlled from the Selenium2Library. Do you know which parts has limit for solving this problem.
IE limited? or IEDriverServer limited? Selenium limited?

[2017-01-12 11:45] aaltat commented on #687
I don't use IE that much and I don't have tested this scenario. But generally speaking selenium should be able to run normally after the blocking dialogue has been removed.

This feature is coming from selenium but it also could come from the browser too. I have never bothered to dig any deeper than selenium.

[2017-01-13 16:54] pe2mbs commented on #711
We will not continue testing the IBM BPM application for now, so just close it. If we want to continue testing that application we will create a new issue. and create new logs.

[2017-01-13 16:54] #711 closed, assigned to nobody

[2017-01-14 15:12] arvk26 commented on #479
When selenium2Library 2.0 is going to release? Any approx date?

[2017-01-14 15:51] aaltat commented on #479
No, not really. It's done without any company support and therefore progress is slow. Pekka is helping a lot, but he also does it in his own time.

We are also cleaning the code base and making changes to the architecture. This hopefully in the future allows more frequent releases and easier maintenance.

[2017-01-14 17:30] arvk26 commented on #479
I understand. Thanks

[2017-01-14 19:26] pekkaklarck commented on #479
Yeah, cannot make promises because we have our own jobs, families, etc.. But I _hope_ we get S2L 2.0 w/ Py3 support out in February, latest in March.

[2017-01-15 14:14] aksenov007 commented on #404
I've created the pull request #730 to close this issue. Can anyone link it to this issue, please?

[2017-01-16 09:40] manju4ever opened #731 "Not able to detect elements in a new window [SAP Web UI]"
So i've done the following steps till now:

1) Log into a SAP Web application - success
2) Click on something which will open a new window. - success
3)  switch the window based on some title. - success
4) Within the new window i'm trying to click on an anchor element. But robot says element not found !

[HTML Source](https://jpst.it/RI2l)

But i'm able to detect the same element in firepath.

Scr

[2017-01-16 10:00] aaltat commented on #731
That HTML source contains iframe. If your element is inside the frame, you need to select the frame first.

[2017-01-16 13:58] VibhutiP commented on #731
Hi Aaltat

This is my code which i am using for clicking element. I am selecting that iFrame also.

    Sleep    5
    Log To Console    Get All Links

    Select Frame    xpath=.//iframe[@id='ivuFrm_page0ivu1']
    Focus    xpath=//div[@id='fullPageDiv']
    ${count}    Get Matching Xpath Count    xpath=.//*[@id='WD010A']
    Log To Console    ${count}
    Focus    xpath=.//div[@id='inner_page_di

[2017-01-16 14:33] aaltat commented on #731
Could you also send the full stack trace of the error. Use --loglevel trace from command line.

[2017-01-17 08:54] VibhutiP commented on #731
==============================================================================
20170117 14:22:23.254 - INFO - + START SUITE: SG11 MRP [ ]
==============================================================================
20170117 14:22:23.254 - INFO - +- START SETUP: LoginKeywords.Open Application [ ]
20170117 14:22:23.254 - INFO - +-- START KW: LoginKeywords.Get Value From Variables Dict [ url ]
2017

[2017-01-18 22:33] rseif opened #732 "Add Keyword "Element Value Should Be""
Trying to assert that a certain element has a specific value (attribute). Element Should Contain does not do this. It would be bad-ass to have this keyword instead of using two or more keywords to achieve this.

[2017-01-19 07:22] aaltat commented on #732
In practice you are looking something like this:
[code]
Was my assumption correct?

I usually want to read the attribute value and then use it to something totally different, like query database. Therefore I don't see the use case for the keyword. Would you be able to describe a use case when this keyword would be useful?

[2017-01-19 16:50] rseif commented on #732
Hi @aaltat!
` |Element Attribute Value Should Be | locator=foobar_id | expected value=test | `

Something like this would suffice, I believe. The use case is to verify the value is correct on a certain element. In a particular case the html is

`<input id="foobar_id" value="test">`

[2017-01-19 18:01] drobota commented on #732
This is implemented in pr https://github.com/robotframework/Selenium2Library/pull/570. I'll fix merge conflicts

[2017-01-19 18:06] drobota commented on #729
I'll take it

[2017-01-19 19:48] rseif commented on #732
@drobota Nice, Thanks!

[2017-01-19 19:54] aaltat commented on #732
When thinking this little bit more, it might be good idea to use kwargs to verify the attribute value. Example like this:
[code]
Then we would not need that many arguments and could check multiple attributes with the same keyword. Like
[code]

[2017-01-19 20:07] rseif commented on #732
Yeah it would be good to have locator instead of having it strictly xpath... Also I do not normally verify the ids because they are not attributes that change

[2017-01-20 15:28] xanadiu opened #733 "Firefox fails to handle window.close()"
This issue is kind of related to #360, but it still affects Firefox; Chrome is working well.

I constructed a minimal working example: Open a web page, click on a link that opens a new window by `window.open()`, and trying to close that new window in 3 variants:

* Variant A: `Close Window` => Firefox fails with "WebDriverException: Message: browser is undefined"
* Variant B: `Click Button` => Fir

[2017-01-20 19:15] aaltat commented on #733
Most likely this is due #676 and the 676 is caused by selenium and Firefox not working. Because we can't do anything to the problem right now I am closing the issue.

If you feel that problem exists after selenium and Firefox again works without problems please open a new issue.

[2017-01-20 19:15] #733 closed, assigned to nobody

[2017-01-21 13:50] xanadiu commented on #733
I also took a look at #676 before opening this issue. I opened it to clarify what points cause particular problems as #676 seemed to address a general problem between Selenium and newer Firefox versions.

For me **a lot of functions do work with Firefox** except (at least) the particular ones I mentioned here.

Is there any workaround? Who is the addressee for solving the underlying issues?

[2017-01-21 16:15] aaltat commented on #733
For now it's best to report the found problems to selenium or/and Mozilla. Once the geckodriver interaction with selenium is mature enough, we (Selenium2Library contributors) can start looking what we need to change in our side. But before it's mature enough, I am not going to anything that involves Firefox. I hope that selenium and Mozilla can sort their problems soon.

[2017-01-22 08:58] aaltat commented on #404
This is done in https://github.com/robotframework/Selenium2Library/commit/dbbc8a9d698713dda60ffd61821cbe894165fe4c

[2017-01-22 08:58] #404 closed, assigned to nobody

[2017-01-22 13:18] aaltat opened #734 "There are random failures with acceptance test when running in CI + Chrome"
In half of the test runs in CI, there is a failure. Most of the failures seems to be related on opening new window. The problem can not be reproduced when running tests on a local PC.

Think how to resolve the problem and take corrective actions.

[2017-01-22 19:46] aaltat commented on #731
The error message is quite clear the element identified by locator is not found. There are many valid reasons why it can happen. The most common solution is to use one of the Wait* keywords

[2017-01-23 08:30] VibhutiP commented on #731
I have tried this also but still getting same error
"ValueError: Element locator 'xpath=.//a[@id='WD010A']' did not match any elements."

 Frame Should Contain    xpath=.//a[@id='WD010A']    Add Item    loglevel=DEBUG
 Wait Until Page Contains Element    xpath=.//a[@id='WD010A']    10
 Click Element    xpath=.//a[@id='WD010A']

[2017-01-23 17:25] KthProg commented on #475
Selenium's WebWait IgnoreExceptions doesn't quite work either. If the exception is the result of another exception, it should check the base exception but does not (C#, ChromeDriver). I wrote a wrapper for the Wait class that does check the base exception and retries the wait if the exception was one that supposed to be caught to solve this.

[2017-01-23 17:32] zeing opened #736 "WebDriverException: Message: 'geckodriver' executable needs to be in PATH."
i use MacOS
my installing have
Python 2.7.10
pip 9.0.1 from /Library/Python/2.7/site-packages (python 2.7)
robotframework (3.0.1)
robotframework-selenium2library (1.8.0)
selenium (3.0.2)

and i use example test from bitbucket
![image](https://cloud.githubusercontent.com/assets/20161393/22214853/ce310538-e1cb-11e6-92df-ee8ab2ccbe43.png)

what's wrong for this ?
thank you

[2017-01-23 17:53] drobota commented on #736
Please read the following docs https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette
and https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver

[2017-01-24 06:27] aaltat commented on #475
Yes, it's true. But I am interested on your wrapper, is it open source somewhere?

[2017-01-24 06:58] aaltat commented on #731
If you have frames and the element is inside of the frame, then you must select the correct frame first.

[2017-01-24 14:22] KthProg commented on #475
Nope lol and I can't paste it from RDP so I'll have to type it out here. This is a fluent API. Notice the retry doesn't look at the remaining time yet, which means it could loop forever.

I also have a large library of Selenium extensions for C#, but not sure if I'm willing to give all that away ;)

[code]

This is used like:
`new Wait(Driver).For(10).Seconds().Until(obj => true).StartWaiting();`

[2017-01-24 21:33] aaltat opened #738 "The `test_create_webdriver` unit test fails with mockito version 1.0.0 or greater"
When running unit test with mockito 1.0.1, this error is seen:
[code]
Make unit test work with new mockito version too.

[2017-01-24 21:40] #715 closed, assigned to nobody

[2017-01-24 21:42] aaltat commented on #736
Because this is not a Selenium2Library problem, closing the issue. If you thin that this is an Selenium2Library issue, please send an update.

[2017-01-24 21:42] #736 closed, assigned to nobody

[2017-01-24 22:00] aaltat commented on #738
Raised issue to ask the problem from mockito development: https://github.com/kaste/mockito-python/issues/7

[2017-01-25 07:18] aaltat commented on #738
Perhaps this works:
[code]

[2017-01-25 08:38] celian-garcia opened #739 "Click Element At Coordinates"
Hello,
Is the keyword **Click Element At Coordinates** really tested ?
Because I'm facing problems using it.

### Try # 1
When I use that
`click element at coordinates  |  css=<my_selector>  |  0  |  0`
with this code inside the keyword (default code in release and master branch)
[code]
**It does not perform the click** (It should perform click at the middle)

### Try # 2
But when I use the same k

[2017-01-25 09:02] aaltat commented on #739
See here: https://github.com/robotframework/Selenium2Library/blob/master/test/acceptance/keywords/click_element_at_coordinates.robot

[2017-01-25 10:08] celian-garcia commented on #739
Thank you for you quick answer.
I ran and passed the acceptance tests.

It is somehow related to my element...

How could I run some custom webdriver action chains from python ?  Using the driver instance from selenium2library instance.

[2017-01-25 10:24] aaltat commented on #739
Here is small example for replacement for Open Browser keyword: https://gist.github.com/aaltat/fb8a99a28953965fe37eae77519fdd23

And there are more details in the user guide: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#getting-active-library-instance-from-robot-framework

[2017-01-25 10:31] celian-garcia commented on #739
Ok I see, it means I need to instantiate myself the driver in order to access it. Am I right ?

[2017-01-25 10:47] celian-garcia commented on #739
I found a workaround which change less things in my code and work pretty well.
[code]
Does it seem acceptable for you ?

[2017-01-25 11:03] aaltat commented on #739
I can't decide what is good for you. If it works for you, go for it. From Python point of view, it looks ok.

It could be that we need to take closer look how that action chains with coordinates work. To get it working with better with other browsers too. But this is also an application specific problem and might be difficult problem to solve.

But for now if you have a working solution, can we cl

[2017-01-25 12:29] aaltat commented on #739
Darn GitHub those Close and Comment buttons are too close. Re-opened the issue.

[2017-01-25 13:02] celian-garcia commented on #739
Ok thank you again. Yeah let's close !

[2017-01-25 13:02] #739 closed, assigned to nobody

[2017-01-26 17:04] gvarun112 opened #741 "Get Matching XPath"
Hi,

I would like to find how to get a matching XPath from the page. I mean I want to pull out all the elements on the page which doesn't have the same xpath but they have a similarity.

Example:
![image](https://cloud.githubusercontent.com/assets/17029191/22341630/8a34d418-e3bf-11e6-9c87-8745d454c787.png)

I would like to get all those into a list without hard coding them in my code. So, is there

[2017-01-26 17:29] gvarun112 commented on #741
@ombre42 Can you please have a look at this?

[2017-01-26 17:52] ombre42 commented on #741
You can use regular expressions in XPath 2.0, but Selenium only supports XPath 1.0. But there is `starts-with`. Try:
[code]

[2017-01-26 17:58] gvarun112 commented on #741
Works like a charm! Thank you so much.

[2017-01-26 18:15] gvarun112 commented on #741
It returns elements like this:

@{GetAllDropdowns} = [ <selenium.webdriver.remote.webelement.WebElement (session="fc79046d5827e39be37b3b5468eaa033", element="0.4665817713304947-2")> | <selenium.webdriver.remote.webelement.WebElement (session="fc79046d58...

Am I doing something wrong here?

[2017-01-26 18:23] gvarun112 commented on #741
@aaltat  Can you please re-open this for me?

[2017-01-26 18:36] aaltat commented on #741
Those are selenium web elements: http://selenium-python.readthedocs.io/api.html#module-selenium.webdriver.remote.webelement and keyword is working correctly.

Could you explain what you want to do and then perhaps we can help you better.

[2017-01-26 18:44] gvarun112 commented on #741
Thank you @aaltat for re-opening this issue for me.

All I am trying here to do is, get all the Dropdown elements from the website and click them one by one. All the Dropdowns have the XPATH like `//*[@id="combobox-1037"]` as I mentioned in my issue.

The number 1037 changes for every Dropdown.

[2017-01-26 18:46] aaltat commented on #741
Please see http://robotframework.org/Selenium2Library/Selenium2Library.html#Select%20From%20List and it variants

[2017-01-26 18:54] #738 closed, assigned to nobody

[2017-01-26 19:26] gvarun112 commented on #741
Select From List is a little different than what I am looking for here. Is there anyway I can actually get all the XPATH's on a webpage that match a format? Like a regex or something that could help here?

This is the snippet I am trying here.

[code]
![image](https://cloud.githubusercontent.com/assets/17029191/22347300/78635500-e3d5-11e6-9d59-c2fb0b206f36.png)

[2017-01-26 19:51] ombre42 commented on #741
In for loops, you need to tell robot to expand sequences (lists). Use @
[code]

[2017-01-26 20:11] ombre42 commented on #741
If you are uncomfortable working with WebElements, then you could fetch the `id`s and use that. This is what I would do if aiming to avoid writing in Python:
[code]

If performance is a concern, then you could use `Execute Javascript` to grab all of the `id`s and return an array back to Robot.

[2017-01-27 14:43] gvarun112 commented on #741
Thank you @ombre42 ! This helps a lot to me.. I am working on an ExtJS Application and this is the reason I have such issues. I will try implementing `Execute Javascript`.

[2017-01-27 17:40] gvarun112 commented on #741
Hi @ombre42 & @aaltat ,

This is what I have done here:

[code]

The first Execute Javascript command will click on the Dropdown (this is working fine)
The second Javascript command in the above code is to click the 2nd element from the dropdown

The XPATH for the dropdown elements are as follows:
`(XPATH - //*[@id="boundlist-1068-listEl"]/ul/li[2])`

The number (1068) in the XPATH changes for eve

[2017-01-29 15:55] aaltat commented on #741
I don't understand what you want to do. I see that you have some sort of solution in mind but that doesn't explain what you want to do.

[2017-01-30 14:29] gvarun112 commented on #741
Hey @aaltat , I just updated my previous comment if that makes more sense?

[2017-01-30 14:36] aaltat commented on #741
No, not really, because you are explaining a solution. Explain what is the problem you want to solve.

[2017-01-30 15:14] gvarun112 commented on #741
All I want to do here is, click on the drop-down and then click on one of the drop-down elements and check if the data changes on the page.

[2017-01-30 15:32] aaltat commented on #741
And what prevents you to use: http://robotframework.org/Selenium2Library/Selenium2Library.html#Select%20From%20List and http://robotframework.org/Selenium2Library/Selenium2Library.html#Wait%20Until%20Page%20Contains keywords?

[2017-01-30 15:43] gvarun112 commented on #741
The Web application that I am testing here is an ExtJS framework. Select from list won't work on it because, the drop-downs in ExtJS are not Select elements. It's a separate div element which appears like this:

![image](https://cloud.githubusercontent.com/assets/17029191/22429504/d6530d3a-e6d8-11e6-99c7-28cdd14e45ea.png)

[2017-01-30 16:03] gvarun112 commented on #741
I'm looking for a dynamic xpath to use as described here: http://stackoverflow.com/questions/39319847/java-selenium-find-element-with-xpath

But, I am looking for that in Robot.

[2017-01-30 17:30] aaltat commented on #741
Is there a reason why you can't click on the element that opens the dropdown and then wait + click on a element based on it's text in the dropdown list?

[2017-01-30 17:39] gvarun112 commented on #741
The text is not going to be constant across all the drop-down's in the application. I will have to go by the index number to test this in an effective manner.

[2017-01-30 19:42] drobota commented on #741
What do you mean under different text? Do you need test under different localizations ? Or you need to select different items so than you can rely on text and create custom keyword f.e.
[code]
Usage
[code]

[2017-01-30 19:57] gvarun112 commented on #741
@drobota , the problem here is the number which comes in the selector id is not constant. It changes for every session and hence cannot be hard coded to the code.

boundlist-1068-listEl  -- 1068 here is for this session. It changes the next session.

Please have a look at this:
http://stackoverflow.com/questions/31864953/extjs-test-automation-using-selenium-webdriver

[2017-01-30 20:01] aaltat commented on #741
That it not a problem and is actually quite typical problem. But @drobota is in right track. Can you tell what is constant and could identify the element correctly? it can be also something in above or below in the DOM? Is the class attributes example always the same?

[2017-01-30 20:03] drobota commented on #741
This is only about correct locator which will work every time. If you have an issue with that you may suggest for your developers to add specific data attributes which will help you to locate correct elements on the page if usual classes or ids are dynamic.

[2017-01-30 20:11] gvarun112 commented on #741
@drobota @aaltat Thank you so much for all the help!

So in this application, all the XPATH or ID attributes have a number associated to them which are dynamic. That was the reason I was looking for something like

`querySelectorAll('[id^=boundlist] [id$=listEl]')`

Because, this will eliminate the need of recognizing the numbers in the identifiers.

Now, the problem here is, after I get the eleme

[2017-01-30 20:21] drobota commented on #741
I see here 2 solutions:
1) Use javascript to locate element and set uniq data attribute/class/id  to it and then use it in locator.
2) `'[id^=boundlist] [id$=listEl]'` is common css selector but you can convert into xpath and use it
'[id^=boundlist] [id$=listEl]' is  `xpath=//*[contains(@id, 'boundlist')//*[contains(@id, 'listEl')]`

f.e. code will look like
[code]

[2017-01-30 20:24] gvarun112 commented on #741
@drobota Thank you for this. I will give it a try and let you know how it goes. Looks like a potential solution to me! 👍

[2017-01-31 12:23] shadowDim commented on #676
Hi All!
i get some problem when I used new geckodriver
with old driver I used our test server with bad sertificate (I have added it to exceptions)
I used FF 47.0.1 on my job and all work well

At home i reinstall system and istall new FF (58.x) with new geckodriver 3.0 and have an error:

[code]
When i go to this page normally (FF 58.x) i add this page in exception

How I may used new geckodriver?

[2017-01-31 17:20] aaltat commented on #676
This is most likely a problem with selenium and/or Firefox. Please raise an issue to the selenium and/or Firefox issue tracker.

[2017-01-31 17:24] aaltat commented on #741
Did you get the problem solved?

[2017-01-31 17:31] gvarun112 commented on #741
Not yet. @aaltat .. I'm working on something higher in priority. I will post it here and let you know how it goes when I do it.

[2017-01-31 17:33] aaltat commented on #732
Xpath is a locator as like id or something else. Also it's more powerful than id or css, but unfortunately xpath is wery write once language.

[2017-01-31 17:33] #732 closed, assigned to nobody

[2017-01-31 17:46] aaltat commented on #741
Ah, sorry. I thought yeah meant that issue is solved.

[2017-01-31 18:14] Tset-Noitamotua commented on #633
+1 for MarkDown

I would not be very suprised if Python will switch to MD in some years. It's becoming more and more mainstream and there are really great (web)editors which make it fun to work with - same as working on Github is a pleasure compared to everything else we use at work.

[2017-01-31 18:24] Tset-Noitamotua commented on #479
@aaltat you said

Can you add links please. I would like to contribute and trying to figure out where to start.

[2017-01-31 21:43] HelioGuilherme66 opened #742 "Wrong interpreter version detection when running acceptance tests."
Wrong interpreter version detection when running acceptance tests.
See below, where output is `--variable PY_VERSION:python22.7`

[code]

PR is about to be proposed.

[2017-02-01 06:35] aaltat commented on #479
There might be something missing but most of the needed improvements should be in issue tracker 2.0 milestone.

[2017-02-01 06:42] aaltat commented on #742
Good catch, I will review the PR in near future.

[2017-02-01 08:19] pekkaklarck commented on #742
The problem is real but apparently the `PY_VERSION` variable is only used for documentation purposes so this isn't too severe. Should definitely be fixed or alternative the whole variable should be removed.

The actual bug here is that `interpreter` is the interpreter user gave from the command line and `sys.version` is the version of the interpreter running `run_tests.py`. These two interpreters

[2017-02-01 08:39] Tset-Noitamotua commented on #479
ok found it: [issue tracker 2.0 milestone](https://github.com/robotframework/Selenium2Library/milestone/17)

[2017-02-01 12:20] manju4ever opened #750 "Not able to switch to another Tab"
I'm facing difficulty to switch to another tab. So using  **Select Window    window_title**  it's not working.
How do we switch the driver to point to another tab, is there a right way to do this ?

[2017-02-01 15:03] aaltat commented on #750
Sometimes opening a new window takes fare bit of time and therefore the `Select Window` fails. This is specially true if you click element, which opens a new window, because the click doesn't know anything about the new window and that it should wait such event.

As a best solution would be to make keyword that actually waits and select the window, example:
[code]
Would you like to build such keyw

[2017-02-01 15:07] aaltat opened #751 "Add supported RF version to Travis"
Make Travis run test with RF 2.8, 2.9 and 3.0. Latest from all versions

[2017-02-01 18:54] manju4ever commented on #750
Sure thank you @aaltat , will definitely check it out and close it.

[2017-02-01 23:49] HelioGuilherme66 commented on #734
We are using the default timeout of 5 seconds. Our computers are fast machines, but when on Travis (or other CI's) this may take some seconds more. I propose, we experiment, gradually increment by 1 second our Library default and test on Travis until we find a good value.

[2017-02-01 23:53] HelioGuilherme66 commented on #695
Both mentioned PRs are now Closed and obsoleted by new ones.
Closing this one.

[2017-02-01 23:53] #695 closed, assigned to nobody

[2017-02-02 06:35] aaltat commented on #734
I think it is because Travis has smallish delay to open a new browser and because test do not poll is the new window actually open or not. Test seem to click link to open new window and immediately check is the new window open. But the click doesn't not know that click is opening new window and it should wait such event before returning from the method.

I can now and then reproduce the problem, w

[2017-02-02 06:36] aaltat commented on #734
Or perhaps #750 could solve the problem?

[2017-02-02 10:47] MarcinJan commented on #676
I have the same problem.
WebDriverException: Message: Reached error page: about:certerror?e*

In my organization it's a big problem because we are using many hosts names. So I can't  imagine to add exception to all of it to my browser profile

I will open new problem for gecko driver

Regards
Marcin

[2017-02-02 19:47] drobota commented on #676
Hey @shadowDim, @MarcinJan
Can you add the next 2 lines into selenium2library firefox profile and run tests again
[code]

[2017-02-03 06:46] MarcinJan commented on #676
Hello

in my webdriver_prefs.json I see that I have this prefs already:
  "mutable": {
    "browser.dom.window.dump.enabled": true,
    "browser.laterrun.enabled": false,
    "browser.newtab.url": "about:blank",
    "browser.newtabpage.enabled": false,
    "browser.startup.page": 0,
    "browser.startup.homepage": "about:blank",
    "browser.usedOnWindows10.introURL": "about:blank",
    "dom.max_c

[2017-02-04 14:42] aaltat commented on #750
Did you get the problem solved?

[2017-02-06 08:39] zeing opened #755 "How to check attribute value should be in element"
i want to check value of attribute in any element

**Example**
i want to check attribute "tittle" that should be equal "Point"

`<img src="/coin_pre-01.png" title="Point" style="width:20px; height:20px; float:left; margin:-2px 5px;">
`

i try to get value(Point) from title

`${text} =  Get element attribute xpath=//div[@id='divGridpromotion']/div[1]//div[@class='caption']/span[4]/div[2]/img@title

[2017-02-06 15:19] aaltat commented on #741
Did you get the problem solved?

[2017-02-07 15:43] aaltat commented on #755
Use http://robotframework.org/Selenium2Library/Selenium2Library.html#Get%20Element%20Attribute to get the attribute value and then use one of the BuiltIn library `Should Be Equal*` keywords to verify that the value is correct.

[2017-02-07 15:44] aaltat commented on #731
Closing due inactivity.

[2017-02-07 15:44] #731 closed, assigned to nobody

[2017-02-07 15:44] zeing commented on #755
i get it ,thank you very much.

[2017-02-07 15:44] #755 closed, assigned to nobody

[2017-02-07 15:45] aaltat commented on #731
Closing due inactivity

[2017-02-07 15:47] aaltat commented on #692
Is this still a problem?

[2017-02-07 19:51] aaltat commented on #663
The `.travis.yml` is cleaned from the comments and there is better coverage on the selenium and RF versions side. What is missing that we should test with different browser versions too. But with Travis it is only possible to use Firefox and Chrome browsers. To run test with other browsers, like Safari and IE, we need to use Sauce Labs.

But because of the security limitations it is not possible t

[2017-02-07 21:11] aaltat commented on #734
In #756 added bunch of WUKS to wait that new window is opened and it should resolve most of the failures with problem related when opening new window in tests. There is one other problem related to the [locators](https://github.com/robotframework/Selenium2Library/tree/master/test/acceptance/locators) suite setup which is not yet resolved. For some unknown reason the acceptance test in Travis hangs

[2017-02-07 22:14] pekkaklarck commented on #734
Library's own tests needing WUKS to work reliably is an indication that the library could itself get a new `Wait ...` keyword (e.g.  `Wait Until Window Opens` in this case). Even better if related keywords could be enhanced to handle waiting automatically, but that doesn't seem to be possible in this case.

[2017-02-08 06:00] aaltat commented on #734
I agree that we should have Wait* keywords for window selection. Perhaps the best solution would enhance the current keyword to perform polling and separate Wait Until Window Is Found keyword.

[2017-02-08 17:19] aaltat commented on #751
Done in #754

[2017-02-08 17:19] #751 closed, assigned to aaltat

[2017-02-08 17:27] aaltat commented on #624
Is this still a problem?

[2017-02-08 20:38] manju4ever commented on #750
We used the select window by url and it worked like a charm.

Select Window    url="http://something.com"

Strategy	Example	Description
title	Select Window | title=My Document	Matches by window title
name	Select Window | name=${name}	Matches by window javascript name
url	Select Window | url=http://google.com	Matches by window's current URL

[2017-02-08 20:38] #750 closed, assigned to nobody

[2017-02-08 21:00] aaltat opened #757 "Keyword to wait that windows is open"
Many cases, like #756, the selecting of a window may fail because the windows is not yet open. Then a common solution is to do this:
[code]
It would be better to create keyword that allow to wait a window is opened, example:
[code]
Other option would be to enhance the `Select Window` to perform polling and add a timeout
[code]

[2017-02-08 21:29] #734 closed, assigned to nobody

[2017-02-08 21:34] pekkaklarck commented on #757
I initially thought we should add `Wait Until Window Is Open`, but having just one keyword for waiting and selecting the window actually sounds even better. Adding optional timeout to `Select Window` might thus be a good idea. I guess it should work so that if no timeout is given there's no polling either. Would similar timeout functionality be useful also with other keywords?

[2017-02-08 21:39] aaltat commented on #690
@yahman72 did you actually create a PR?

[2017-02-09 07:13] aaltat commented on #757
For me also wait and select window sounds more realistic use case.

Having similar functionality could be useful in other keywords too. At least I usually build my UI facing libraries in such way that they poll and assert. Also if time out is zero it only performs assert, but I rarely use that because polling is usually the best option to build stable test.

There is at least one down side, if one

[2017-02-09 10:06] pekkaklarck commented on #757
I agree. I actually think that `Should` keywords should rather get `Wait` counterparts than have an optional timeout. Like we already have `Page Should Contain` and `Wait Until Page Contains`. Having a timeout would be more useful in keywords that do something like `Click Button    example    timeout=2s`.

[2017-02-09 10:59] andreabisello opened #758 "Code loaded by Execute Javascript file.js doesn't works, but loaded in a webpage as a normal script, it works"
i have a index.js file (attached).
this index.js file works normally if loaded as script hosted on a webserver.
like this.

<!DOCTYPE html>
<html>
    <head>
        <script src="index.js"></script>
    </head>
    <body>
    </body>
</html>

due this javascript creates some instances of javascript "classes", i can access the object .

![image](https://cloud.githubusercontent.com/assets/2149815/22

[2017-02-09 16:21] aaltat commented on #758
If you execute the JavaScript from the console, does it work then properly?

[2017-02-09 16:59] andreabisello commented on #758
@aaltat

from the same browser and the same console,

if i open chrome and with chrome i open a webpage that include the <script> yes,

if i open chrome with robot framework opening a blank webpage and Execute Javascript index.js, no.

i tried to put an

alert("hello") at the end of the javascript,

robot framework raise the hello ,

so the javascript is really included,

but i don't understand wh

[2017-02-09 17:22] aaltat commented on #758
Because those two things are not, always, the same thing. Execute JavaScript is a same thing as you would open the browser console and copy/paste the js file content to the console. If you do the above, do you get the results you did expected? If the results are not what you did except, then the problem is not with the Execute JavaScript keyword

[2017-02-10 08:05] howtoautomateinth commented on #423
I'm facing the same issue too. here my code

[code]

**Test pass but nothing move.**

Don't sure it because "draggable" attribute or not.

Test on:

- Google Chrome 56
- Window 7
- robotframework 3.0.1
- robotframework-selenium2library 1.8.0

## **Update**
I think this is a root cause why it can't drag and drop
http://stackoverflow.com/questions/29381233/how-to-simulate-html5-drag-and-drop-in-sele

[2017-02-10 08:06] andreabisello commented on #758
@aaltat

copy-pasting the js in the browser opened by robot framework,

the code works.

![image](https://cloud.githubusercontent.com/assets/2149815/22818976/342e938a-ef70-11e6-97f7-452e24a57d57.png)

[2017-02-10 17:06] HelioGuilherme66 opened #759 "Change link in help `Get Alert Message` to `Dismiss Alert`"
Current help for `Get Alert Message` includes a link to itself. This should be changed to other Alert closing keyword, like for example, [Dismiss Alert](http://robotframework.org/Selenium2Library/Selenium2Library.html#Dismiss%20Alert).

Returns the text of current JavaScript alert.
By default the current JavaScript alert will be dismissed. This keyword will fail if no alert is present. Note that f

[2017-02-10 19:18] shadowDim commented on #676
Hello @drobota
why I can do this?

PS sorry - I'm do this project in free time

[2017-02-11 08:54] aaltat commented on #759
True, would you mind sending a PR to fix this.

[2017-02-11 10:32] aaltat commented on #758
The keyword reads the code from the file and then executes the JavaScript by using the selenium API:  http://selenium-python.readthedocs.io/api.html#selenium.webdriver.remote.webdriver.WebDriver.execute_script.

Keyword should log the file content during the execution time, could you check that the code is still the same as in the file?

If it's same then next logical option would be try the same

[2017-02-11 16:49] andreabisello commented on #758
@aaltat sure, i will try monday. The code is on my office pc.
thanks.,

[2017-02-12 09:49] #759 closed, assigned to nobody

[2017-02-12 20:46] aaltat opened #762 "Remove underscore from all keyword related classes and objects"

[2017-02-12 20:47] aaltat commented on #762
Done in #752

[2017-02-12 20:47] #762 closed, assigned to aaltat

[2017-02-13 11:24] andreabisello commented on #758
@aaltat the log (attached) contains the javascript.

if i copy paste the javascript from log.html in the browser console, it works.

but for the browser, it doen't works.

i will try using selenium .

[log.zip](https://github.com/robotframework/Selenium2Library/files/770870/log.zip)

[2017-02-13 18:52] aaltat commented on #758
Reading the file was a long shot but was good to check out.

[2017-02-14 15:21] andreabisello commented on #758
@aaltat reading http://selenium-python.readthedocs.io/api.html#selenium.webdriver.remote.webdriver.WebDriver.execute_script and http://stackoverflow.com/questions/23228247/selenium-webdriver-execute-script-cant-execute-custom-methods-and-external-jav it looks like driver.execute_javascript cannot load external .js file.

taking a look at selenium2library code, here, https://github.com/robotframewo

[2017-02-14 15:44] aaltat commented on #758
Did you happen to try http://selenium-python.readthedocs.io/api.html?highlight=javascript#selenium.webdriver.remote.webdriver.WebDriver.execute_async_script ?

The example show that problem is a limitation on the selenium side and not on the Selenium2Library side. And therefore there is nothing that we could do in the S2L to help you to overcome the problem. If you want you could raise a similar i

[2017-02-15 00:11] #411 closed, assigned to nobody

[2017-02-15 00:13] #406 closed, assigned to just-be-dev

[2017-02-15 00:14] #497 closed, assigned to nobody

[2017-02-15 00:34] #467 closed, assigned to nobody

[2017-02-15 00:35] #439 closed, assigned to nobody

[2017-02-15 07:03] aaltat commented on #410
Although this is a old one, this is still a valid one. And there is a good chance that we might get this implemented too, because the difference between the Python and Java S2L are driving some people crazy.

Therefore reopening the issue.

[2017-02-15 15:39] just-be-dev commented on #410
Sorry about that. The reason I closed it is I've been doing a prune of the backlog of open issues that I have across all projects. Specifically ones that have been open for a long time without progress.

[2017-02-15 16:29] aaltat commented on #410
No worries. By the way are you back as active maintainer?

[2017-02-15 16:31] aaltat commented on #758
But because this is not a problem with Selenium2Library and is a limitation or a bug in the selenium side, I am closing the issue.

If you feel differently, send an update.

[2017-02-15 16:31] #758 closed, assigned to nobody

[2017-02-15 16:38] just-be-dev commented on #410
Not right now. I don't have the time to really do much.

[2017-02-15 16:40] aaltat commented on #704
The Travis is setup to run acceptance test with selenium 2.53.6 and 3.0.2. I think it's good to let the community to know what was used to test the release. Also if possible avoid making changes that would break the comparability.

Things to do next:
Update the requirements.txt to install selenium 2.53.6 or greater.

Update release process to include the versions in the changes file. And in the an

[2017-02-15 18:44] andreabisello commented on #758
You are right.

Thanks aatu:)

Il 15 Feb 2017 17:31, "Tatu Aalto" <notifications@github.com> ha scritto:

[2017-02-15 23:10] ashunshah opened #763 "Add scroll Element into view Keyword from ExtendedSelenium2Library"
I am using this keyword to solve the issue of floating headers/overlay menu. When using the keyword Click Element, Selenium does not consider the elements present on the z-index. The best solution is to scroll the hidden element into the view and click. Some related issue is #605

Links
[Keyword Documentation](https://rickypc.github.io/robotframework-extendedselenium2library/doc/ExtendedSelenium2L

[2017-02-16 07:34] aaltat commented on #763
If you create a pull request, then it's easier to say something about the code. But before looking the code, I need to understand the problem you are trying to solve.

But first some background information. Selenium has an auto focus feature build in to the API. Which means that generally user does not have to separately scroll element to the visible area. And selenium does actually pretty good jo

[2017-02-16 21:56] ashunshah commented on #763
Yes! ^ That is the problem I am trying to solve. Auto focus is not working for my application and I need to build a logic to bring the elements into view.

[2017-02-17 05:59] aaltat commented on #763
And in high level, how you where planning to solve the problem?

[2017-02-18 20:20] aaltat commented on #706
Done in #708

[2017-02-18 20:20] #706 closed, assigned to aaltat

[2017-02-22 18:50] imdanielalves opened #766 "No browser is open and WebDriverException"
Hi,

I can not solve this problem:

ommand: python.exe -m robot.run -P C:\Users\Daniel Bezerra\AppData\Local\Programs\Python\Python36-32\lib\site-packages\Selenium2Library --listener C:\Users\DANIEL~1\AppData\Local\Temp\RobotTempDir1406197233307818880\TestRunnerAgent.py:57876:False -s RobotTest.Robotframework.Acceptance.Test_Case_1 C:\Users\Daniel Bezerra\workspace\RobotTest
Suite Executor: null
=

[2017-02-22 19:28] aaltat commented on #766
I think you have several issues

1) Selenium2Library doesn't yet support Python 3, only Python 2 is supported. Release 2.0 will support Python 3.
2) It seems that you are using Firefox to launch your test. Unfortunately selenium support for Firefox is limited and it would be better to use other browser, example Chrome.
3) It looks like you are using RIDE to launch your test, could you next time ru

[2017-02-22 20:09] imdanielalves commented on #766
Hello, I'm using RED in eclipse.
I changed the version of Python from 3.0.2 to version 2.7.13.

I also switched to the gc browser. But I still can not open the browser. The error now is as follows;

Command: C:\Python27\python.exe -m robot.run -P C:\Users\Daniel Bezerra\AppData\Local\Programs\Python\Python36-32\lib\site-packages\Selenium2Library --listener C:\Users\DANIEL~1\AppData\Local\Temp\Robo

[2017-02-22 21:20] HelioGuilherme66 commented on #766
Well, you should really have used the command line to better see the errors.
This is your problem:
`WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://sites.google.com/a/chromium.org/chromedriver/home`

I am closing this, since it is not Selenium2Library issue.

[2017-02-22 21:20] #766 closed, assigned to nobody

[2017-02-22 21:21] Muddesir commented on #409
Could you please tell me which Jython package you are using where you are getting all the pip package too.
Or could you please share me the folder location.
Because whatever version of Jython I am using getting an error while running the command : “jython –m pip install robotframework”
    Error: Jython.exe: No module named pip.

N.B: I have both Jython 2.7.0  and jython-installer-2.7.1b3.

[2017-02-23 07:16] #658 closed, assigned to nobody

[2017-02-23 12:28] anenni commented on #676
Hello,
I have the same problem, too.
`org.openqa.selenium.WebDriverException: Reached error page: about:certerror?e=nssBadCert&u=https............
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
	at java.lang.reflect.Const

[2017-02-25 00:20] eL-Prova commented on #463
@aaltat @Gaurang033
https://github.com/robotframework/Selenium2Library/pull/767

[2017-02-26 08:34] zeing opened #768 "How i can get text in p tag of html"
i can't get text in p tag by getText of selenium2library

`<p id="pProductinfo" class="productdetail">NEW BALANCE WR996GW US6</p>`

i want to get

i use  `${PRODUCT INFO}=  Get Text   //*[@id="pProductinfo"]`

but i can't get it

can you help me ?

thank you

[2017-02-26 08:51] aaltat commented on #768
The most common reason for this type of error is that the selector is not unique. Please check the selector, example like this: http://stackoverflow.com/questions/5665307/how-to-search-dom-elements-using-xpath-or-css-selectors-in-chrome-developer-tool

[2017-02-26 09:39] zeing commented on #768
okay i will try again

[2017-02-26 09:44] zeing commented on #768
i try in dev chrome
![image](https://cloud.githubusercontent.com/assets/20161393/23338636/d6a3f720-fc42-11e6-96e2-ab94235121b5.png)
it  get value

[2017-02-26 20:20] aaltat commented on #768
Other common reason is that the element is not visible. In that case selenium will always return empty string, even the element contains a text.

Other common reason is that you have a dynamic web application and you read the element text before the text is in the page. Or it could be other issues related to dynamic web applications.

But could you better describe what actually happens in your tes

[2017-02-27 20:32] php-coder opened #769 "Print locator of invisible element in the error"
I'm running RobotFramework test in the Travis CI and it fails:
[code]
As you can see, there is not so much useful information because I don't see which exactly element is  invisible.

If it's possible, could you include also element's location in the error message?

[2017-02-27 20:39] aaltat commented on #769
That error message comes directly from selenium and Selenium2Library cannot control the error message. You could run the test with ```--loglevel trace``` set from command line and you should see more details in the log.html

[2017-02-27 20:46] php-coder commented on #769
In Java it is`ElementNotVisibleException` that could be caught and additional message printed. Does Python library has such exception?

Or if it doesn't have type or it's not an exception, we could test the error message for a specific pattern and print more information. WDYT?

[2017-02-27 21:04] php-coder commented on #769
I don't have access to `log.html` because build happens on CI system. That's why I'd like to have a more detailed error message.

[2017-02-27 21:12] aaltat commented on #769
Then you should get better access to the CI system. Without the log.html it's really hard to know which keyword did fail and without of the ```--loglevel trace``` set, it's impossible to know where in the source code error did happen. If you don't have access to those details, debugging the reason of the failure is really difficult.

[2017-02-27 21:19] php-coder commented on #769
In this particular case, element locator would be enough to me for debugging.

[2017-02-27 21:20] aaltat commented on #769
What you see in the error message is what you get in Python. When exception is raised, it's up to the raiser decide what information is included in the error message. There might be way to configure the error message from the selenium side, when the driver instance is created, but I don't know does that actually exist. Please read the selenium documentation for more details: https://seleniumhq.git

[2017-02-27 21:21] aaltat commented on #769
Element locator is visible in the log.html file when ```--loglevel trace``` set.

[2017-03-03 01:03] surfline-jherndon commented on #192
Is there a solution or workaround for this? My element does not contain a style attribute. At render time it reads the css file for its style.  id=test_element@background-color   does not work.

[2017-03-03 05:49] aaltat commented on #192
No there hasn't been any progress on the matter. Would you like to do something with the matter?

[2017-03-03 07:20] aaltat commented on #769
Do you still think that this is a problem in the Selenium2Library or can we close the issue?

[2017-03-03 07:21] aaltat commented on #768
Do you still think this is a problem in the Selenium2Library or can we close the issue?

[2017-03-03 07:23] zeing commented on #768
okay you can set to close state. thank you
On Mar 3, 2560 BE, at 2:21 PM, Tatu Aalto <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you still think this is a problem in the Selenium2Library or can we close the issue?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/robotframework/Selenium

[2017-03-03 07:24] #768 closed, assigned to nobody

[2017-03-03 09:01] php-coder commented on #769
Yes, I still think that UX for the such cases could be improved.

[2017-03-03 09:27] aaltat commented on #769
In which way you would like to improve the what we log in the console?

[2017-03-03 10:09] php-coder commented on #769
Element locator could be injected into the message itelf
[code]
or showed later:
[code]

[2017-03-03 15:51] edimistra commented on #498
Will this be added to Selenium2Library anytime soon?

[2017-03-03 15:54] aaltat commented on #498
No-one has seen this important enough to make a PR. But before the PR we should agree on the design and that is still open. Do you have input on the matter?

[2017-03-05 22:11] aaltat commented on #769
Because the error message comes directly from selenium side, it would be better to request the change from the selenium side: https://github.com/SeleniumHQ/selenium

I know that it would be possible also the make the change in our code base, but that would require putting lot of try/expect and overwriting error message from the selenium side. And that is not a good idea. Also the information is al

[2017-03-06 07:38] TedMusk commented on #498
Will this be added to Selenium2Library anytime soon?

[2017-03-06 10:07] aaltat commented on #498
No-one has seen this important enough to make a PR. But before the PR we should agree on the design and that is still open. Do you have input on the matter?

[2017-03-06 13:03] Tset-Noitamotua commented on #498
oh, there was a PR ... but it was not good enough ;-)

Tatu Aalto <notifications@github.com> schrieb am Mo., 6. März 2017 um
11:07 Uhr:

[2017-03-07 08:04] aaltat opened #771 "Create better architecture for Selenium2Library"
- [x] Remove the multi inheritance madness from the S2L
- [x] Remove the meta classes and automatic keyword decoration by done the [keywordgroup.py](https://github.com/robotframework/Selenium2Library/blob/master/src/Selenium2Library/keywords/keywordgroup.py)
- [x] Start using the Robot Framework dynamic library API. It allows to separate keywords, public methods and private methods from each other

[2017-03-07 08:14] aaltat opened #772 "Add copyrights back to the repository"
The S2L is based on the work of the original SeleniumLibrary and it it seems that the copyrights where removed at some point. Add the copyrights back.

[2017-03-07 10:30] pekkaklarck commented on #772
Should also include copyrights of the original S2L team and decide what copyrights we want to have for the future work. For the latter I propose Robot Framework Foundation, for the former we probably need to consult the orig team directly.

[2017-03-07 10:35] pekkaklarck commented on #771
Should the original description be moved into a task list? Some other tasks I'd like to be included:

- Clean and documented API to extend the library. Somehow being able to inject additional library components would be great.
- Clean and documented API to use functionality provided by the library externally. This basically consists of specifying the public API.

[2017-03-09 06:46] zniff commented on #676
Hi everybody
I just got the latest geckodriver 0.15.0 (was testing with both the 32/64-bit version) and firefox 52.0 (32bit) and was running the tests again.

Result (a black box for me):
Suddenly an error message like this one appears (obviously coming from the geckodriver) and everything crashes:

[code]

The stacktrace in java:

[code]

[2017-03-09 07:43] aaltat commented on #676
Thank you from the update. Have checked that is the issue reported in selenium or geckodriver side? And if it's not there, could you report the problem.

I hope that selenium and Mozilla do set their problems sorted out soon.

[2017-03-09 08:51] zniff commented on #676
created this issue:
https://github.com/mozilla/geckodriver/issues/523

[2017-03-12 04:01] Nightlord851108 opened #773 "Select two deferent elements on the Browser."
I want to test an event that while I select two deferent element, some buttons on the page should be disable.
However, I don't know how to click two elements at same time...
Could I hold Control key and click the second element?

[2017-03-12 13:44] aaltat commented on #773
I don't quite understand what you want. Could you explain what is the user scenario you are trying to test. Perhaps show some screenshots or written some pseudo code is useful in your case.

[2017-03-14 19:39] AlexanderWhitestone opened #774 "Expose selenium WebElement.value_of_css_property() to Selenium2Library"
This method isn't used in any keywords in Selenium2Library right now.

There are good keywords for checking CSS values written here:
https://github.com/axon-id/Selenium2LibraryExtension/blob/master/src/Selenium2LibraryExtension/keywords/__init__.py

[2017-03-14 20:29] aaltat commented on #741
Closing due inactivity

[2017-03-14 20:29] #741 closed, assigned to nobody

[2017-03-14 20:30] aaltat commented on #692
Closing due inactivity.

[2017-03-14 20:30] #692 closed, assigned to nobody

[2017-03-14 20:32] aaltat commented on #624
Closing due inactivity.

[2017-03-14 20:32] #624 closed, assigned to nobody

[2017-03-16 16:58] aaltat opened #776 "Get alert text fail with äöå characters"

[2017-03-16 17:14] aaltat commented on #776
Not a problem actually

[2017-03-16 17:14] #776 closed, assigned to nobody

[2017-03-16 22:06] aaltat opened #777 "Change library name from Selenium2Library to SeleniumLibrary"
With selenium moving the version 3 and therefore using Selenium2Library as a name does not fit right. Think and decide for a new name. Document changes and make the change if needed.

[2017-03-16 22:09] aaltat opened #778 "Run on failure may mask the original error"
If the Selenium2Library fails, then the run on failure functionality is used to run a keyword for logging/cleanup purposes. But if the keyword(s) run by the run on failure functionality fails, it mask the original error and the stack trace. Find a way to not to mask the original error and stack trace.

[2017-03-17 12:02] aaltat opened #779 "Acceptance test do not work in windows"
Because the test server does not work properly in windows. It looks changes in browsers has caused to the problem with test server.

[2017-03-17 14:08] aaltat commented on #779
Done in #780

[2017-03-17 14:08] #779 closed, assigned to nobody

[2017-03-18 17:46] aaltat commented on #676
Selenium has released version 3.3.1 where they promise support for Firefox and marionette driver. And it works better but unfortunately Firefox crashes each time browser is opened and there are some other stability problems too. But at least there is some light in the tunnel...

[2017-03-20 09:18] Yi-Dun commented on #192
I have the same problem with element does not contain style attribute.
But after googling, I found some workaroud with Javascript and it works in RF.
Following is the example for returning the background color by xpath from an element.

[code]

[2017-03-20 09:41] aaltat commented on #192
There is work done in PR #775 but it is not yet ready. It is missing some test before it can go to the master.

And it seems that there is duplicate issues raised, #774. I am closing this one.

[2017-03-20 09:41] #192 closed, assigned to nobody

[2017-03-21 14:46] senz commented on #676
Another workaround is sending base64 encoded firefox profile with all settings properly set.
[hermione example](https://gist.github.com/senz/2b170faceee71273bbbc7ef954acc6d7)

[2017-03-21 23:40] DonaldDeep commented on #676
A little off-topic, I am trying to run the Firefox version 47/52 in selenium grid using selenium-server-standalone-3.3.1.jar.

The code that used to work with selenium two is now giving me following error:

Exception in thread "main" org.openqa.selenium.SessionNotCreatedException: Error forwarding the new session cannot find : Capabilities [{marionette=true, browserName=firefox, version=ANY, platf

[2017-03-25 18:00] HelioGuilherme66 commented on #777
Proposals:

1. SeleniumLibrary
2. SeleniumXLibrary
3. (any other suggestions)

(This list will later be transformed in a poll)

[2017-03-27 10:03] buzdu commented on #777
The logical approach to me seems - **Selenium3Library** (so proposal 2 from @HelioGuilherme66 ;) )

[2017-03-27 11:44] HelioGuilherme66 commented on #777
No, actually the whole point of this discussion is to avoid the numbering. We would have again this discussion when there is a Selenium 4. My idea was the actual SeleniumXLibrary (inspired by SikuliX).

[2017-03-27 12:45] buzdu commented on #777
Ok, it was not obvious from the issue description.

Then, if the idea is to have this library (almost) always in line with the latest updates in the Selenium WebDriver project, my vote goes to **SeleniumXLibrary** (you can remove the no. 3 idea ;) )

[2017-03-27 15:03] aaltat commented on #777
I am more leaning to towards `SeleniumLibrary​` but I don't feel strongly on the matter. But I feel that using a number in the name is not anymore valid case.

[2017-03-27 18:53] aaltat commented on #773
I am closing this due inactivity. If you are still having a problem, please provide more details and we will consider opening the issue.

[2017-03-27 18:53] #773 closed, assigned to nobody

[2017-03-28 14:40] MarkJB commented on #498
I've recently had the need to test a numeric input control. The increment/decrement controls aren't rendered in some browsers and (ignoring the reasons for that) I needed to test the number formatting when using the ARROW_UP and ARROW_DOWN keys.

My two pennies worth: I'm all for a single keyword that supports special keys, but would it be easier to implement a 'Press Special Key(s)' (or 'Press Co

[2017-03-28 15:42] aaltat commented on #498
Would you have time to write some use cases how you would like the keyword to work?

[2017-03-28 16:07] MarkJB commented on #498
My current need is only for a single named key, i.e.

`Press [Special] Key(s) | //xpath | ARROW_UP`
`Press [Special] Key(s) | //xpath | ARROW_DOWN`
`Press [Special] Key(s) | //xpath | TAB`

Though I guess the original proposal is more appropriate when considering modifier keys and non named keys...

`Press [Special] Key(s) | //xpath | SHIFT | TAB` or `Press [Special] Key(s) | //xpath | SHIFT+TAB`

[2017-03-28 20:28] axelPalmerin commented on #690
This is my solution:
1. Download the modified version of wb:

https://github.com/axelPalmerin/personal/blob/master/webdriver.py
2. Replace on remote dir:

/usr/local/lib/python2.7/dist-packages/selenium/webdriver/remote/
3.Run hub and node:

$ java -jar selenium-server-standalone-3.3.1.jar -role hub
$ java -jar selenium-server-standalone-3.3.1.jar -role node

4. Run the script with Remote Wb:
[cod

[2017-03-29 04:55] yahman72 commented on #690
@aaltat sorry, missed your comment about the PR.
No I did not, because my expectation was that we'll have some discussions about the implementation before I finalize and submit the PR. This was not so good as this topic was now idle for some and we almost forgot it :-)
I submitted the PR #783 - we can continue the discussion based on that. It probably needs some updates since it was forked some ti

[2017-03-29 06:30] xyngfei opened #784 "React Data Grid - Cannot execute Input Element keyword into filter row"
Why I cannot use input text into filter row text field?

    Open Browser    url=http://adazzle.github.io/react-data-grid/examples.html#/filterable-sortable-grid    browser=ie
    Selenium2Library.Wait Until Element Is Visible    //*[text()='Filter Rows']    30
    Selenium2Library.Click Element    //*[text()='Filter Rows']
    Selenium2Library.Assign ID to Element    //INPUT[contains(@data-reacti

[2017-03-29 09:11] aaltat commented on #784
As the error says the element is either not visible, disabled or read only. Have you checked which one of states is true for your element?

[2017-03-29 09:15] aaltat commented on #690
I was trying to read your code, but because it was in multiple commits is was difficult. In PR, it's easier to have a good understanding what is changed​ in overall.

[2017-03-29 09:36] xyngfei commented on #784
Yes, I can confirm element is visible, editable.
The code is working perfectly fine in chrome and firefox.

[2017-03-29 15:14] aaltat commented on #784
If the error only happens with a specific browser then there are at least two possible reasons. There is a bug in IEDriver and it reports wrong field status back to selenium. You have some IE specific implementation on your application and the error message is correct.

If the reason is former, you should report the problem to Microsoft. If the reason is later, you need to recheck the field implem

[2017-03-29 16:53] TangibleDream commented on #763
In ruby selenium I did the following

1.  focused the element I wished to scroll
2.  send_key(:arrow_down)
3.  repeat step 2 til happy

I wasn't able to get focus of the drag target in robot to do this.

[2017-03-29 18:50] vairamsvsjdo opened #785 "Python package install does not install latest selenium2library that supports gecko"
Python Package install does not download latest version using -U upgrade option.
pip installation does not install latest version of robotframework-selenium2library that supports selenium 3.3 and hence geckodriver latest that supports webdriver specification is not working with selenium2library

[2017-03-29 19:02] vairamsvsjdo opened #786 "Run Tests Fails in window"
Installed selenium2library version
Robot Framework 3.0.3.dev20170213 (Python 2.7.12 on win32)
Firefox - 52.0.2 (32-bit)
Selenium GeckoDriver v0.15 (https://github.com/mozilla/geckodriver/releases)
robotframework-selenium2library==1.7.4

c:\rfs2lib>python test/run_tests.py python firefox
Running unit tests
..................E..E.......................................................................

[2017-03-29 19:14] aaltat commented on #786
Would you mind using the latest (1.8.0) Selenium2Library version.

[2017-03-29 19:22] aaltat commented on #785
The latest Selenium2Library release is in PyPi, which is 1.8.0. If you are having problems PyPi or pip, I would suggest consulting PyPi or pip documentation.

One workaround is to specify the in the pip command:
`pip install robotframework-selenium2library==1.8.0`

[2017-03-30 07:05] yahman72 commented on #690
True - just check the PR and let me know if there's something unclear.

[2017-03-31 03:25] JackLoveCat commented on #225
If you want to change the userdata config ,you need to do like below in windows:
[code]

[2017-04-01 18:33] aaltat commented on #785
Because pip or PyPi problems are not Selenium2Library problems, closing issue.

[2017-04-01 18:33] #785 closed, assigned to nobody

[2017-04-01 18:36] aaltat commented on #786
Where you able to try with the latest released version? Also it would be better if you would be able to try with master from the repository because there is fix for the test server in #780

[2017-04-01 20:52] aaltat commented on #676
Did do some more investigation and now days this almost works:
[code]
The Firefox, by showing a dialog, complains that the profile is not found. The script does not continue until I manually press the OK button in the dialog. If the profile thing would be fixed, then we could start considering again supporting Firefox.

Opened an issue to selenium: https://github.com/SeleniumHQ/selenium/issues/374

[2017-04-01 20:57] aaltat commented on #676
@DonaldDeep I think because of this https://github.com/SeleniumHQ/selenium/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20Firefox%20remote you are having problems. Please report the problems to the selenium issue tracer

[2017-04-03 09:50] cdasadiya opened #787 "Capture Page Screenshot' could not be run on failure"
[ WARN ] Keyword 'Capture Page Screenshot' could not be run on failure: Multiple keywords with name **'Capture Page Screenshot'** found. Give the full name of the keyword you want to use:
    **AppiumLibrary.Capture Page Screenshot
    Selenium2Library.Capture Page Screenshot**
I have got the issue while run the pybot demo_8_0_full_workflow.robot for odoo automation test case purpose

[2017-04-03 12:37] aaltat commented on #787
This is by design in Robot Framework and is explained in the Robot Framework user guide: http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#handling-keywords-with-same-names

Because this is not a problem in Selenium2Library closing the issue.

[2017-04-03 12:37] #787 closed, assigned to nobody

[2017-04-04 04:12] neospin opened #789 "Robotframework 3.0.2 hangs when opening a Microsoft Edge browser instance"
Using RF 3.0.2 and Microsoft webdriver 10586. I can call it through python calling selenium and it works (assuming they do not use selenium2library). But in RF "Open Browser" would hang. And if I change it to "Create Webdriver" then "GoTo", the first instruction "Create Webdriver" would hang.

In both cases Edge window shows up with default home page. And nothing happens.

[2017-04-04 05:12] aaltat commented on #789
Would you check that the EdgeDriver you are using, is compatible with the Edge version you are using. More details in here: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/

[2017-04-04 05:14] neospin commented on #789
Edge version is 13.10586, Microsoft webdriver was downloaded from the url you have, and it is version 10586

[2017-04-04 05:23] aaltat commented on #789
Would you be able to create a simple example, which demonstrates the problem and also we are able to execute? Also could you run the simple example with `--loglevel trace` and `--debugfile debug.log` and share the `log.html` and `debug.log` with us?

Also could you tell the selenium and Selenium2Library version you are using. Also if the selenium is not the latest released version, could you try w

[2017-04-04 05:33] neospin commented on #789
Ok I updated the start page of Edge and now it worked. Must be a microsoft thing

[2017-04-04 05:41] aaltat commented on #789
Could be, at least IE is really picky on it's settings. But it might be good idea to raise an issue to the Microsoft issue tracker: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues

Also it looks like you got the issue solved, can we close the issue?

[2017-04-04 05:41] neospin commented on #789
Yes please close the issue. Thanks

[2017-04-04 05:43] #789 closed, assigned to nobody

[2017-04-05 03:37] xyngfei commented on #784
Thanks @aaltat

Somehow the first filter text field in data grid can be recognized, and by using selenium.webdriver.common.keys.Keys, I can simulate tab key to move the mouse cursor to another filter input text field.

This is not a proper solution and hope
[Press Keys Keyword](https://github.com/robotframework/Selenium2Library/issues/498) to be released soon.

[2017-04-05 06:03] aaltat commented on #784
Because you have a workaround and the proper solution is described in the #498, do you have an problem related to this one or can we close the issue?

[2017-04-05 10:20] davidshepherd7 opened #790 "Cannot switch windows on browsers which don't support javascript"
When using a web browser that doesn't support javascript  (such as [QtWebDriver](https://github.com/cisco-open-source/qtwebdriver)) using the `Select Window` keyword results in an error:
[code]
even though this operation can be done through the web driver API.

Selenium2Library and QtWebDriver are checked out from their respective git development branches, Robot Framework version 3.0.2, Selenium v

[2017-04-05 19:37] aaltat commented on #790
Done is #788

[2017-04-05 19:37] #790 closed, assigned to nobody

[2017-04-07 04:08] xyngfei commented on #784
@aaltat, yeah, i will close this ticket.

Thanks for your support.

[2017-04-07 04:08] #784 closed, assigned to nobody

[2017-04-07 17:24] aaltat commented on #786
Can not reproduce the problem. Also closing due inactivity. IF you feel that this is still a problem, send and update and we will see should the issue be opened.

[2017-04-09 17:09] arvk26 commented on #777
SeleniumXLibrary seems good to me.

[2017-04-09 21:24] emanlove commented on #777
How about WebDriverLibrary? I would have to think about this a while myself as this just came to me suddenly...

[2017-04-10 00:24] emanlove commented on #777
... or possibly SeleniumWDLibrary?

[2017-04-11 05:23] aaltat commented on #777
Take your time. I don't have any good suggestions either and the only thing that I feel strongly is that having number in the name is wrong.

[2017-04-11 11:15] emanlove commented on #777
I think SeleniumLibrary is good too but the only problem there is dealing with the legacy SeleniumLibrary. When one asks for SeleniumLibrary do you mean the old SeleniumLibrary or the new one? And this may not be such a big issue because there is a version attached. I think this will be more of a communication problem than a technical one. We would need to check with yanne who seems to be the curr

[2017-04-12 04:47] vairamsvsjdo commented on #786
Still got the same error

pip list robotframework =>
appdirs (1.4.3)
decorator (4.0.11)
docutils (0.13.1)
future (0.16.0)
packaging (16.8)
pip (9.0.1)
pyparsing (2.2.0)
robotframework (3.0.3.dev20170213)
robotframework-selenium2library (1.8.0)
selenium (3.3.3)
setuptools (34.4.1)
six (1.10.0)

[2017-04-12 04:48] vairamsvsjdo commented on #786
tried with robotframework 3.0.2 as well

[2017-04-12 05:30] aaltat commented on #786
And if you take the latest source from the master, does it then work?

Also could you try downgrade the  future to version 0.15.x and give it a try?

[2017-04-12 07:24] qitaos opened #793 "WebDriverException: Message: Not a Number"
I use robotframework(3.0.2)+Selenium2Library(1.8.1) to run test case. Selenium is 3.3.3, Firefox is 50.0, geckodriver is 0.15.0 win32, System: Win7. When I run the test case, Firefox browser was launched. Then raise "WebDriverException: Message: Not a Number".

I fire a bug for firefox but they don't think so.

In his opinion, post JSON Object should not contain 'sessionid' key. I don't know how t

[2017-04-12 08:11] HelioGuilherme66 commented on #793
Please post here a minimal reproducible example. You are showing JSON data, but we need to know what keywords were used, to locate the code. Does that happen with a publicly accessible site?

[2017-04-12 09:56] qitaos commented on #793
http://www.baidu.com is a publicly accessible site. My test case is very simple, open it and get some webelements.

case:

|    Set Log Level  |  trace |  |
| ---- |---- |---- |
|    open browser  |  http://www.baidu.com/  |  ff|
|    @{aaa}  |  Get Webelements  |  css=input |

I set log level to trace and attach the log.html, you can see the log. Thank you.

[log.html.zip](https://github.com/robo

[2017-04-12 10:46] aaltat commented on #793
If you run the same test by using Chrome do you have a same problem?

[2017-04-12 11:01] HelioGuilherme66 commented on #793
Using below code worked fine
[code]

Log [log.zip](https://github.com/robotframework/Selenium2Library/files/916259/log.zip)

[2017-04-12 11:16] aaltat commented on #793
This needs little bit more testing but if selenium 3.3.3 now works with FF 50 and geckodriver 0.15, then we should release new version of Selenium2Library. The new release must support FF before and after the geckodriver.

[2017-04-13 03:37] qitaos commented on #793
@aaltat the same test running by Chrome or IE has no problem.
@HelioGuilherme66 thanks, the code is ok.
I try to use geckodriver 0.14.0 but still error (Missing 'type' parameter). Maybe FF50 is too high.

[2017-04-13 06:07] aaltat commented on #793
This could be a bug in the Selenium2Library. It needs more investigation but it definitely looks like the selenium 3.3.3 works with FF 50 and geckodriver 0.15.

But this is a duplicate of #676 and therefore I am closing this issue. If you have more questions, please send update to the #676.

[2017-04-13 06:07] #793 closed, assigned to nobody

[2017-04-13 06:10] aaltat commented on #676
Information in the #793 suggest that selenium 3.3.3 would work with FF 50 and geckodriver 0.15. This need some more investigation but if the above is true, then we should make a new release of Selenium2Library which supports FF before and after geckodriver.

[2017-04-13 07:31] pekkaklarck commented on #777
I don't think it's a problem to re-use the SeleniumLibrary name. The latest legacy SeleniumLibrary version was 2.9.2 and the new one can be 3.0. Easy to use `SeleniumLibrary<=3` if you want to install the legacy version. I doubt many people is going to use the legacy library anyway because it doesn't support the latest browsers.

PyPI isn't going to be a problem either. SeleniumLibrary has also `r

[2017-04-13 10:21] pikkumursu commented on #676
Well, based on trials every now and then with the latest Selenium, geckodriver and FF, I would not get too excited on that, but based on some comments in the geckodriver github for the upcoming 0.16 gecko complemented with FF 52.0.3 (and Selenium 3.3.3) might actually be useful.  Currently some 10 tests (on S2L) out of +500 do work (with 52.0.2 and 0.15).  Actually one thing might be worth checkin

[2017-04-13 13:00] aaltat commented on #676
There are issues with selenium and FF. But atleast starting the FF browser and the FF profile + desired capabilities  setup looks mature enough to be investigated. In Selenium2Library, there is a problem related to those areas and spending time to investigate that problem could be beneficial.

[2017-04-16 00:05] vinaybajaj commented on #479
Hi Team,

Today, i was trying to install Selenium2Library for python 3.X. I go through so many blog and everywhere it is mentioned that it is not compatible with Python3.x.  Is there any further updates on new updates of selenium2library?

Thanks in advance!

[2017-04-16 07:06] aaltat commented on #479
The latest news are posted in the user group: https://groups.google.com/forum/m/#!topic/robotframework-users/McYQ81MakM8

[2017-04-16 17:15] aaltat opened #794 "Extend xpath detection to support xpath starting with (//"
Selenium2Library locators support xpath's that are not prefixed if the xpath starts with `//`. It would also good to support xpath starting with `(//` because it is quite common situation to access index of the xpath.

Now one has to write
[code]
But it would be nice if this would work:
[code]

[2017-04-18 17:51] chevi opened #795 "Can't run Chrome with some prefs"
Hi

In Chrome (since version 57) there is changes of PDF viewer plugin. I want to turn off preview and download PDF. I used [this answer](http://stackoverflow.com/a/42927095) and tried to implement in a such way:
`${chrome options}= |   Evaluate  |  sys.modules['selenium.webdriver'].ChromeOptions()  |  sys, selenium.webdriver`
` ${prefs}=  |   Create Dictionary  |  download.default_directory=${dow

[2017-04-18 18:46] aaltat commented on #795
I do not have any idea, how you should set those Chrome options. It would be best to ask from user group mailing list: http://groups.google.com/group/robotframework-users

[2017-04-18 23:30] vairamsvsjdo commented on #771
Is there a timeline for this to be completed to get to 2.0? Are you looking for contribution that can be added to accelerate this project? What way can we make this project reach 2.0 milestone?

Have the following fork as an alternative for Python 3.6+RF3.x+S2L is a stop gap solution. But would appreciate if the core library reach maturity and current support. Is trying to support 2.7 causing dela

[2017-04-19 01:26] vairamsvsjdo commented on #771
Why is this architecture a requirement for Python 3.x support release?

[2017-04-19 06:19] chevi commented on #795
I resolved my issue by setting Chrome options throw python library [https://groups.google.com/forum/#!topic/robotframework-users/Jo1lzODNhXw](url)

[2017-04-19 06:19] #795 closed, assigned to nobody

[2017-04-19 06:34] aaltat commented on #771
1) This is a hobby for me and therefore there are no timelines.

2) For the architecture: I am not looking contributions. I don't even know how I want the architecture to work before I read the code and write it. For other stuff: Definitely yes.

3) Code reviews for the new architecture, see #770, are welcomed. Also checking the FF, geckodriver and selenium compatibility and could we make 1.9.0 re

[2017-04-19 09:40] x64joxer opened #796 "Mouse right click"
It looks like Selenium supports right click mouse on element.
Selenium library in Robot Framework supports only left mouse click or context menu.
But sometimes (like on webpage tested by me) it is necessary to right click on element.
As a result of this new element appear and this is not context menu.
Is it possible to add this functionality?

[2017-04-19 09:45] aaltat commented on #796
I think we already have this, have you looked at: http://robotframework.org/Selenium2Library/Selenium2Library.html#Open%20Context%20Menu

[2017-04-19 09:58] x64joxer commented on #796
@aaltat
When I am using Open Context Menu on my locator default Firefox context menu opens.
But when I am clicking manually new element appear.
When I right clicking manually with left key Shift key pressed default Firefox context menu opens (same as using Open Context Menu).

[2017-04-19 10:38] pekkaklarck commented on #794
In my opinion automatic support for `//` is a bit confusing and would prefer always prefixing locators when not using ids. I don't think removing this support is a good idea, though, and supporting `(//` too sounds logical.

[2017-04-19 11:57] aaltat commented on #796
In practice the keyword does this:
[code]
Is there some other selenium API which could be also used?

[2017-04-19 12:05] aaltat commented on #794
The other option is to deprecate the support for `//` in next major release. Then have a really long deprecation period and perhaps remove the support in some future release. Because I also like to be explicit, rather than implisit.

[2017-04-19 12:53] pekkaklarck commented on #794
I don't think deprecation is worth the effort.

[2017-04-20 12:21] aaltat commented on #786
Did you have any progress on the matter?

[2017-04-20 12:58] x64joxer commented on #796
@aaltat You're right. Sorry for my mistake!

[2017-04-20 12:58] #796 closed, assigned to nobody

[2017-04-20 19:49] petsan commented on #498
How would i send the actual ESCAPE key? TIA

[2017-04-24 04:12] zeing commented on #676
i have problem about FF

`[ WARN ] Keyword 'Capture Page Screenshot' could not be run on failure: No browser is open
test                                                                  | FAIL |
KeyError: 'sessionId'
`
i use FF new version 53.0
webdriver 3.4.0
robotframework 3.0.2
robotframework-selenium2librarys 1.8.0
firefox webdriver 1.6.0

i fixed by rollback firefox webdriver to v. 1.4.0

[2017-04-24 04:55] chmccue commented on #676
The old firefox driver will not work with any Firefox browser newer than
Firefox 47. To use the old driver still with your noted set up, you must
roll back your firefox version to the latest version of 47.

[2017-04-24 05:03] zeing commented on #676
thank you

On Apr 24, 2560, 11:56 AM +0700, chmccue <notifications@github.com>, wrote:
The old firefox driver will not work with any Firefox browser newer than
Firefox 47. To use the old driver still with your noted set up, you must
roll back your firefox version to the latest version of 47.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://gi

[2017-04-25 11:37] petetpant1 opened #798 "unexpected Value Error ."
In very rare cases when i run my tests around 1/20 retries of the same test i get a ValueError from the Selenium2library._element_find(locator,True,True) using as a locator an xpath. I search the xpath in the opened browser of the test that failed with inspect element feature and it is indeed there(visible,clickable etc...) .I have tried recursive calls of the _element_find but still can't locate

[2017-04-25 13:13] aaltat commented on #798
Your problem is quite typical one in the web applications. Sometimes it takes awhile for the web application to display the element in the page, sometimes the delay is in milliseconds and sometimes in minutes. Now if one does assert directly, it's very common situation that the assert to fall, sometimes often sometimes rarely, because of the above reason. And with those arguments the `_element_fin

[2017-04-25 13:50] petetpant1 commented on #798
Thanks a lot for your answer. I will get back here to post the actual cause when i 'll work it out! :)

[2017-04-25 15:08] aaltat commented on #798
Happy hunting, but because this doesn't look like a Selenium2Library issue, I am closing the issue.

If you have an update, please feel free to post it in the issue.

[2017-04-25 15:25] #798 closed, assigned to nobody

[2017-04-27 10:56] sandeepvaidya commented on #676
I don't understand what is the conclusion of this discussion.

I am getting two errors:
1) [ WARN ] Keyword 'Capture Page Screenshot' could not be run on failure: No browser is open
2) WebDriverException: Message: Unable to find a matching set of capabilities

My env:

1) Red Hat Enterprise Linux Server release 7.3 (Maipo)
2) Python 2.7.5
3) Firefox 52.1.0 (64 bit)
4) Robot Framework 3.0.2
5) Geck

[2017-04-27 11:10] HelioGuilherme66 commented on #676
The conclusion is:
Known working versions (not verified, I am not really sure about the versions):
1. selenium 2.53.6 Firefox up to 47
2. selenium 3.1 - 3.3.3 Firefox up to 52 with geckodriver 0.15

To soon to know if is working:
selenium 3.4 Firefox 53 geckodriver 0.16.1

(for some reason this Issue is still open)

[2017-04-27 12:08] sandeepvaidya commented on #676
On my Windows 10 PC, the script runs w/o any errors:

Windows 10:
   Firefox 53.0 (32 bit)
   selenium (3.4.0)
   Robot Framework 3.0.1
   Python 2.7.9
   geckodriver v0.13.0-win64

[2017-05-02 18:38] b4oshany opened #800 "Test failed on CLOSE ALL BROWSERS"
![image](https://cloud.githubusercontent.com/assets/1830494/25633387/852109c4-2f3c-11e7-94d4-3b0b52addc95.png)

[2017-05-02 19:10] aaltat commented on #800
Could you create a simplified version of your test, which we all can see and perhaps use. Also could you run the with ```--loglevel trace``` option set from command line and send the stack trace to us.

Also could you tell the selenium version you are using. Also tell the browser version and the driver version you are using

[2017-05-02 21:27] b4oshany commented on #800
NVM, apparently, I had two keywords colliding, meaning, I was redefining a keyword that uses the ***Close All Browsers*** in my resources.robot file.

[2017-05-02 21:27] #800 closed, assigned to nobody

[2017-05-03 05:27] aaltat commented on #800
Good that you sorted the problem out.

[2017-05-03 10:27] Kartikketkar11 commented on #676
Windows 7
Firefox 20.0
Selenium 3.4.0
geckodriver v0.16.1

Will it run without error ??

[2017-05-03 17:18] aaltat commented on #676
@Kartikketkar11 If you want to test with older Firefox, then you need to use selenium 2.x.y release.

@sandeepvaidya Do you use `Open Browser` or `Create Webdriver` keyword.

[2017-05-03 17:43] Kartikketkar11 commented on #676
@aalat - okay and geckodriver version ??

[2017-05-03 17:45] aaltat commented on #676
Geckodriver is not needed for older Firefox versions, but in the other hand, it should not harm anything either.

[2017-05-04 08:20] sandeepvaidya commented on #676
Open Browser

[2017-05-04 08:22] aaltat commented on #676
@sandeepvaidya oh cool. Last time I looked, I thought we would need to make changes on the Firefox profile. Are you providing a custom Firefox profile or are you using a default one.

[2017-05-04 08:23] sandeepvaidya commented on #676
I am not providing a custom profile.....its the default

[2017-05-04 13:29] sandeepvaidya opened #801 "Robot Framework/Jenkins: chromedriver executable needs to be in PATH error"
I am running Robot Framework/Selenium2Library tests on a linux VM.

I am able to open browser with  the following Robot Framework test from the command line:

    Open Browser  https://xxxxxxxxxx/xx     chrome

The Chromedriver is in my home directory and the PATH is correctly set.

However, now I want to run the project in jenkins. Jenkins is running on the same linux VM as above.
So, I copied th

[2017-05-04 13:41] aaltat commented on #801
I am pretty sure that operating system is correct and the ChromeDriver is not in the PATH.

With Jenkins, I usually put the ChromeDriver to `/apps/chrome_driver` folder. Then in the Jenkins job, I add that folder to the PATH, so that I don't have to modify the test depending where the test is run.

[2017-05-04 15:02] sandeepvaidya commented on #801
Thanks!!  I had not set the path in Jenkins!!
Now I have something similar to this

On Jenkins:
Name  PATH
Value $PATH:/app/chrome_driver
So, now the driver is recognized. However, i have to now figure out the headless browser mode with phantomJS:

WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally
  (Driver info: chromedriver=2.29.461571 (8a88bbe0775e2a23afda0ce

[2017-05-04 16:14] aaltat commented on #801
If you run chrome in normal operation mode, it needs a display. For me, easiest way to add display, in Linux, is to use xvfb.

Chrome also has a new feature, that support headless operation mode: http://www.thefriendlytester.co.uk/2017/04/new-headless-chrome-with-selenium.html?m=1

But I am not using that feature, so I don't know how to help you with headless chrome setup.

Please also note that P

[2017-05-04 16:23] sandeepvaidya commented on #801
Thanks a million for your responses. I have been able to set up the Xvfb virtual buffer and the tests are now running ok.

[2017-05-04 16:24] aaltat commented on #801
It seems that issue is resolved and we can close the issue.

[2017-05-04 16:24] #801 closed, assigned to nobody

[2017-05-04 16:28] sandeepvaidya commented on #801
yes!

[2017-05-07 10:16] aaltat commented on #786
Closing due inactivity. If you think that you have a problem, send an update.

[2017-05-07 10:16] #786 closed, assigned to nobody

[2017-05-07 20:41] vairamsvsjdo commented on #777
Any package version numbering need not follow the parent package version numbering. So it can be just that seleniumlibrary. I would merge S2L as Selenium Library version 3.
Add selenium version support for 3 as version 4 if this is a major breaking change for S2L and too expensive to maintain backward compatibility ELSE. It will be a 3.X.

SeleniumLibrary Major version => breaking changes in its f

[2017-05-08 01:13] emanlove commented on #777
Or how about just SeleniumLibrary and it, SeleniumLibrary, is what ever version it happens to be and the README tells everyone what version(s) of Selenium it supports.

[2017-05-08 01:24] emanlove commented on #794
We use ```//``` a fair amount (and maybe embarrassed to say). I don't have a strong opinion on ```(//``` but do think we should support ```:)``` which should make all the tests pass and the rain go away.

[2017-05-08 01:42] vairamsvsjdo commented on #777
Yes readme will help with those supported license image shields will help. And PIP package management must say what version it supports.
But following through semver should be a norm or define what it means to major,minor,patch for S2L and follow through it.
SeleniumLibrary need not carry version tag to the package name.

[2017-05-08 02:03] emanlove commented on #777
I believe that is defined in [PEP 440](https://www.python.org/dev/peps/pep-0440/).

[2017-05-08 02:05] emanlove commented on #777
I think I understand what you are trying to say in your earlier comment today. One issue is there is already a [SeleniumLibrary](https://pypi.python.org/pypi/robotframework-seleniumlibrary) so we have to deal with it's last version.

[2017-05-08 10:05] Kartikketkar11 commented on #676
1494237101122	geckodriver	INFO	Listening on 127.0.0.1:47024
1494237102147	geckodriver::marionette	INFO	Starting browser \\?\C:\Program Files\Mozilla Firefox\firefox.exe with args ["-marionette"]

I am getting this error ??

[2017-05-09 05:07] aaltat commented on #676
That is not a error, it's just logging. Could you run the test with `--loglevel trace` set from command line and send the full keyword output. Perhaps then we are able to help you better

[2017-05-09 05:08] aaltat commented on #676
Removing high priority label because it seems that latest selenium, FF and geckodriver versions works with Selenium2Library

[2017-05-10 10:13] asimell opened #804 "Click element at coordinates keyword ignores given coordinates"
Giving coordinates for the `Click Element At Coordinates` keyword does not apply the coordinates for the element and instead clicks the element in the middle.

Environment:
Robot Framework 3.0.2
Selenium 3.4.1
Selenium2Library 1.8.0
Firefox ESR 52.1.1
Geckodriver 0.16.1

[2017-05-10 11:06] Tattoo commented on #804
I can add to this with a reproducible example:

Here's a test site that has a box. When user clicks inside of the box, the page is updated with what coordinates were clicked. Clicking works only inside of the box.

test.html:
[code]

Here's a test case that produces the problem:
[code]

Steps to reproduce:
1. Save the above html to `test.html` and serve it with a webserver ie. `python -m SimpleHTT

[2017-05-10 15:26] aaltat commented on #804
Ugh

Thank you from the details. Does the problem happen only with Firefox or
can the issue be reproduced with Chrome too?

-Tatu
Send from my mobile

On May 10, 2017 14:06, "Tatu Kairi" <notifications@github.com> wrote:

[2017-05-10 18:13] Tattoo commented on #804
With Chrome, the coordinates seem to work. However, the third case still does not throw an exception -- it just silently does not do anything

![selenium-screenshot-1](https://cloud.githubusercontent.com/assets/280218/25913999/6f9821b6-35c5-11e7-9a4a-e6993e4e1493.png)

[2017-05-10 20:31] Tattoo commented on #804
The bug affects also IE:

![selenium-screenshot-1](https://cloud.githubusercontent.com/assets/280218/25919895/d19220f2-35d8-11e7-9ed2-5ab886b52608.png)

[2017-05-10 20:34] yan0pe00 commented on #804
I have a similar issue on FF 53.0.2 (32-bit)/selenium==3.4.1/robotframework==3.0.2/geckodriver 0.16.1

Same code works on GC (57.0.2987.133)/ChromeDriver 2.29

Also was working on FF47.01/robotframework==3.0/selenium==2.53.6

[2017-05-11 06:15] aaltat commented on #804
In practice keyword does this:
[code]
Which all is based on selenium API, which makes me suspect that problem lies on the browser driver implementation or perhaps on the selenium side. For the new Firefox it would be good to report the problem for Mozilla and/or selenium. For IE, I think selenium makes the IE driver, so that problem belongs to them.

The above code snippet does not work out of the

[2017-05-11 19:53] yan0pe00 commented on #804
I have opened an issue with Selenium [https://github.com/SeleniumHQ/selenium/issues/4007](url)

[2017-05-12 18:15] yan0pe00 commented on #804
Here is fix https://github.com/SeleniumHQ/selenium/commit/58872c67aa31748d619d120c9c356140c28f0033

[2017-05-12 19:00] aaltat commented on #804
Thank you from the activity. Because this seems to be problem in selenium and not in Selenium2Library I am closing the issue. Hopefully the next selenium release is soon and the issue gets fixed.

[2017-05-12 19:00] #804 closed, assigned to nobody

[2017-05-12 19:23] aaltat commented on #804
Forget to say that if you feel differently, please send an update.

[2017-05-16 08:10] jcyrss opened #805 "Modify Get Webelements not to raise exception when no elements are found"
That modifies the behavior of  Selenium find_elements_xx.  Why does not it just return  empty list like Selenium?
And in many cases,  we need to check whether that element exists, so returning empty list is helpful

[2017-05-17 14:14] aaltat commented on #805
I haven't made that feature and did not find anything useful from the issue tracker. I would assume that it follows more on the rest of the assert type of keywords in the library than the selenium functionality.

I can imagine a use case for the keyword to raise an exception and there is also a use case not raising a exception. Perhaps it could be configurable option not to raise an exception?

[2017-05-17 15:55] AlexanderWhitestone commented on #805
Do you think it might be appropriate to update the element_find method to handle this case?
I think if we set the first_only and required parameters to False, it would be appropriate to return an empty list instead of raising an exception when no elements are found.
Then we could expose the required parameter to the get_webelements() method.

[2017-05-17 17:01] aaltat commented on #805
I don't see a problem in this. I am thinking should we expose only the `required` argument or both `first_only` and `required` arguments, from `element_find` method.

If we expose only one argument, we could expose it as a separate argument, but if we decide expose both arguments perhaps we could use kwargs. If we use kwargs this needs some design. Would you like to write some examples, so that we

[2017-05-18 22:04] vairamsvsjdo opened #806 "Selenium2Library Keyword Page errors when using www"
Documentation Issue:
Works: http://robotframework.org/Selenium2Library/Selenium2Library.html
Does not work: http://www.robotframework.org/Selenium2Library/Selenium2Library.html

[2017-05-19 08:04] HelioGuilherme66 commented on #806
It is working for me.
Browser, removes automatically the www so it goes for the first link.
Tried with Firefox, Chrome, IE11 and Edge on Windows 10.

[2017-05-19 12:46] aaltat commented on #806
Both of them works from mobile and from desktop.

[2017-05-22 07:38] aaltat commented on #778
As a special case, not to cause extra error or warning if browser is not open.

[2017-05-22 07:56] aaltat commented on #435
Will not added to old keywords, but must be added to new keywords. Also update the contributing instructions.

[2017-05-22 08:06] aaltat commented on #777
I think we are going to `SeleniumLibrary`name.

[2017-05-22 14:25] aaltat commented on #676
Because FF seems to now days work, closing the issue.

[2017-05-22 14:25] #676 closed, assigned to aaltat

[2017-05-22 14:26] aaltat commented on #806
Is this still a valid problem or can we close the issue?

[2017-05-22 14:30] aaltat commented on #424
Pekka is working with releasing. Added to 2.0 milestone so that we remember to update documentation and close the issue.

[2017-05-22 14:32] aaltat commented on #383
This is actually done now days, closing issue

[2017-05-22 14:32] #383 closed, assigned to nobody

[2017-05-22 14:34] aaltat commented on #256
This should be done now days, closing.

[2017-05-22 14:34] #256 closed, assigned to nobody

[2017-05-22 14:36] aaltat commented on #213
Closing issue due inactivity

[2017-05-22 14:36] #213 closed, assigned to nobody

[2017-05-22 23:29] Sushma-Kattinti-Bose opened #809 "Python 3 support: NameError: 'unicode' is not defined when 'Wait Until Page Contains' text"
Python Version:  3.6.1
S2L Version:  3dca1dd

I tried to get the latest master to work with python 3.6.1, but when running the following test I get a stack trace about unicode support (something that changed between python 2 and 3):

[code]

KEYWORD Selenium2Library . Wait Until Page Contains Your Amazon.com
Documentation:
Waits until `text` appears on current page.
Start / End / Elapsed:	20170522

[2017-05-23 05:33] aaltat commented on #809
This is actually the last thing to be fixed for the Python 3 support. The good news is that that there is a fix in my Selenium2Library fork: https://github.com/aaltat/robotframework-selenium2library/tree/python_3_support?files=1

The unit and acceptance test did pass in my local environment and the code contains bunch of TODO comments which needs to be removed but it should work. If you want, you

[2017-05-23 07:20] aaltat commented on #809
Made a PR: #810 so that it easier to find and contains some code cleanup too.

[2017-05-23 10:01] pekkaklarck commented on #809
Isn't there already an open issue about Py3? This should be closed as its dupe. And soon the original can be closed too!

[2017-05-23 10:46] aaltat commented on #809
I actually thought so but could not find an open issue. Perhaps the original issue was closed... But code is merged to master and therefore closing this one too

[2017-05-23 10:46] #809 closed, assigned to aaltat

[2017-05-26 13:56] boakley commented on #502
I realize this is an old issue, but I think it might need to be revisited. There is a very bad default behavior which I think would be good to fix.

If I run a test, get some failures, then run robot again with `--rerunfailed`, the screenshots in my log become completely unreliable. While any re-ran tests will have good screenshots, all of the screenshots of the passing tests may be overwritten. I

[2017-05-26 15:47] aaltat commented on #502
And there are other ways to run into same problem, example with pabot. Reopened because it is valid issue.

Would you like to submit PR to fix the problem?

[2017-05-26 17:33] boakley commented on #502
Yeah, I can probably find time to make a pull request.

My thought was to keep the current behavior when a filename is explicitly
provided to "capture page screenshot" . It is only when a name is computed
do we check for existence. Does that make sense? That way it should just
work out of the box without requiring configuration or additional flags.

On Fri, May 26, 2017 at 10:47 AM, Tatu Aalto <no

[2017-05-26 19:41] aaltat commented on #502
Does computed mean that the `filename` argument is with the default value or does it mean that filename can be given but contain the running index number? If it would be possible, I would prefer the later.

[2017-05-26 20:13] boakley commented on #502
What I've got at the moment is that my new code only runs if the filename
contains "{index}"*. If it does, then I compute the filename and then check
if it exists. If it exists then I add one and try again. lather, rinse,
repeat until we compute a filename that doesn't exist. I've tested this
against a folder with 10,000 existing files (meaning, the first time it
runs it calls os.path.exists 10,00

[2017-05-26 20:32] #592 closed, assigned to nobody

[2017-05-26 20:57] aaltat commented on #502
Sounds good to me, specially with the ` {index.*}` formatting.

[2017-05-26 20:57] aaltat commented on #806
Closing due inactivity

[2017-05-26 20:57] #806 closed, assigned to nobody

[2017-05-26 20:58] aaltat commented on #794
There is a fix for this as part of #811

[2017-05-26 21:03] aaltat commented on #777
And now it is official. I did send a mail to the user group and made it public. Next steps are to make it happen.

[2017-06-02 08:45] aaltat opened #815 "Parsing locator should not strip all whitespace"
When locator example `  xpath  =  /div    ` is given to a keyword, then from prefix white space is stripped. From criteria, in this case `  /div    ` the trailing white space is not removed but leading white space is removed.

[2017-06-02 11:00] aaltat commented on #815
Decided not to include this in the release notes.

[2017-06-02 11:00] #815 closed, assigned to nobody

[2017-06-02 11:04] pekkaklarck commented on #424
This is actually part of #634. Closing as its dupe.

[2017-06-02 11:04] #424 closed, assigned to nobody

[2017-06-02 11:27] aaltat commented on #620
Also check `ÌNSTALL.rst` doc

[2017-06-02 11:47] aaltat commented on #778
This seems to better now days. Closing

[2017-06-02 11:47] #778 closed, assigned to nobody

[2017-06-02 11:51] aaltat opened #816 "Modify Capture Page Screenshot keyword not fail if browser is not open."
For new users, it might be confusing when the `Open Browser` keyword fails due some invalid configuration and then also the `Capture Page Screenshot` keyword also fails. It might be good idea not to raise exception if browser is not open when running `Capture Page Screenshot` keyword

[2017-06-02 11:53] aaltat commented on #794
Code is merged but needs documentation update to the keyword doc, in Locating or specifying elements chapter.

[2017-06-02 11:59] aaltat commented on #703
Announcement is done, document this in the `INSTALL.rst` file

[2017-06-02 12:03] aaltat commented on #794
Also add/modify acceptance test

[2017-06-03 22:23] aaltat commented on #794
The #818 provides update for the documentation

[2017-06-03 22:50] aaltat commented on #794
This is done in #811 and #818, closing.

[2017-06-03 22:50] #794 closed, assigned to aaltat

[2017-06-09 19:43] shanmusa commented on #574
hi, I am trying to capture console.log using java selenium. can you give me above equivalent code in java?

[2017-06-09 22:37] aaltat commented on #574
I don't live in Java world, so.no idea.

[2017-06-12 20:53] aaltat commented on #704
Done in #819

[2017-06-12 20:53] #704 closed, assigned to aaltat

[2017-06-12 20:54] aaltat commented on #703
Done in #819

[2017-06-12 20:54] #703 closed, assigned to aaltat

[2017-06-12 20:55] aaltat commented on #620
Done in many commits.

[2017-06-12 20:55] #620 closed, assigned to aaltat

[2017-06-13 18:29] snyderr opened #822 "Add Optional Unique Domain Tracking"
It would be nice to have the option to get a list of all domains visited during testing. By having this feature in the Selenium2Library we could make keywords like `Delete All Cookies` more useful. Currently `Delete All Cookies` will only remove cookies from the current domain. It would be much more useful if we could delete all the cookies from any domain visited during testing. This would allow

[2017-06-14 13:18] frankvanderkuur commented on #498
Hi all,  I'm currently working on a project where I need the ARROW key's to work. That made me stumble over this issue.  Just my two cents, but what would be the problem with designating a prefix for these specials keys? Something like: Keys.ARROW_DOWN or Keys.ENTER?

It makes it absolutely clear you are using the special keys mapping and it is very similar to many other solutions in other softwar

[2017-06-15 05:42] #502 closed, assigned to nobody

[2017-06-15 06:02] aaltat commented on #822
I haven't found a need for this type of feature, but it doesn't not mean that it could not be useful. At least I can recall someone else wanting this type of feature. Let me try to rephrase the problem you are trying to solve.

The `Delete All Cookies` deletes cookies only from the current domain where the browser currently is. If I recall this is a browser security feature and does not depend on

[2017-06-15 16:00] snyderr commented on #822
Yes, there is a browser security limitation, it is not something to do with selenium. Yes, I would like to delete cookies from sites where the browser has visited.

My current implementation tracks domains whenever a Selenium2Library keyword is called. This could be limited to certain keywords that cause page changes if necessary (For example, Click Element or Go To). Currently the domain is recor

[2017-06-15 18:54] jvanz opened #824 "Wait Event keyword"
I believe it would be nice the the Selenium2Library offer a keyword to allow the test wait for a specific event. For instance,

`Wait Event    hidden.bs.modal    jquery=div.modal`

Hence, it would be easier wait for a transaction effects, like a bootstrap modal close, finish.

[2017-06-16 05:49] aaltat commented on #824
Is there a reason why http://robotframework.org/Selenium2Library/Selenium2Library.html#Wait%20For%20Condition doesn't work for you in this case?

[2017-06-16 06:50] StyleTJy opened #825 "Can't install it with python 3.6.1"
I installed python 3.6.1 and pip 9.0.1. When I tried to run the recommended command
 `pip install robotframework-selenium2library`
I got error

so i doubt that if the scripts of the installation are too old for python 3 and don't know if there any body had the same problem with me.

[2017-06-16 09:01] aaltat commented on #825
The Python 3 support is not yet released, although the project docs have been updated. Could you perform the installation from the source and then it should work with Python 3.

[2017-06-18 17:52] SerhiiAksiutin commented on #292
When I do something like
`Go to  https://username:password@mytestwebsite.com`
`Input Text Into Prompt  ${url_username}`

(Or you can just open Privet window) I get this. Does it look like an alert? If so then "Input Text Into Prompt" keyword doesn't work for Safari Technology Preview Release 33 (Safari 11.0, WebKit 12604.1.25.0.2)

<img width="1280" alt="screen shot 2017-06-18 at 10 40 08 am" src=