[2020-03-18 02:23] yuhang222 commented on #1561
In the future work,some tools may only offer RF libraries and not support remote function .So I want to use robotremotelibrary to realize remote controls.

[2020-03-18 06:28] aaltat commented on #1561
Because things is not SeleniumLibrary bug and there was is another way to achieve same thing, I am closing this issue.

[2020-03-18 06:28] #1561 closed, assigned to nobody

[2020-03-18 16:37] el-nuru commented on #423
Experiencing the same issue with
[code]
elements are draggable, RF doesn't report any error, adding `Mouse Down` and `Mouse Up` had no effect, I'm on the latest RF

[2020-03-18 16:48] el-nuru commented on #119
I also would like to have those keywords

[2020-04-03 10:01] aaltat opened #1562 "Firefox does not use servicec_log_path correctly"
There was a complaint in the Robot Framework user group that [Open Browser](https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Open%20Browser) keyword `service_log_path` is not used correctly with Firefox browser. In the output.xml, this is seen:
[code]
But the line
`<msg timestamp="20200330 15:42:29.633" level="INFO">Firefox driver log is always forced to to: /path/to/test/geckodrive

[2020-04-07 12:34] st0ff3ls opened #1563 "Press Key vs Press Keys"
In the past the keyword Press Key would allow you to submit an ASCII code to your identified locator.
Example code :
[code]
Outcome was that the value of the xpath locator got cleared.

**Press Key** has been put deprecated, and got replaced by **Press Keys**, which uses the selenium common keys.

Example code :
[code]

Outcome now is that the value of the xpath locator gets selected, but the Pres

[2020-04-07 17:50] aaltat commented on #1563
Yes, the above is true. Underlying Selenium provides helpers which sets the focus to element by clicking the element. I did not have clear opinion how the keyword should work and decided to use the available helpers. Now when looking back that decision, it's pretty clear that the decision was not the best one. Perhaps it would be best investigate other ways to set the focus and try to find somethi

[2020-04-07 19:38] aaltat commented on #1127
The Selenium testability plugin provides many solutions to this problem. Therefore closing this issue.

[2020-04-07 19:38] #1127 closed, assigned to nobody

[2020-04-12 21:34] aaltat opened #1564 "Update PythonLibCore"
Update [PythonLibCore](https://github.com/robotframework/PythonLibCore) so that SeleniumLibrary supports latest goodies form RF 3.2

[2020-04-12 22:01] #1564 closed, assigned to aaltat

[2020-04-12 22:42] #1494 closed, assigned to nobody

[2020-04-16 04:16] monpriya opened #1569 "Choose File not working on Safari"
# For issues
## Steps to reproduce the issue
I run robot framework with seleniumLibrary, and I using keyword Choose File for upload.

It's working on Chrome, Edge But not working on Safari

[code]

## Error messages and additional information

The error I got is:
[code]
Log TRACE

![file](https://user-images.githubusercontent.com/22930044/79413923-7ec6b480-7fd3-11ea-978f-72689ba2dc6d.png)

## Expe

[2020-04-16 05:53] aaltat commented on #1569
Hmmm, exception is raised by the underlying Selenium. It's trying to say that browser or browser driver does not understand what Selenium is trying to send. Usually it means that Selenium, Browser driver or/and Browser are not compatible with each other. I would suggest to look at Apple documentation what are the supported versions for your combination. Somewhere might be good place to start https

[2020-04-16 13:21] SchloTech opened #1570 "Press Keys only presses the period key once"
# Prerequisites
- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Hi-

[2020-04-16 13:55] aaltat commented on #1570
Actually, I am amazed that it work that well out the browser context in the first run. But Selenium and therefore SeleniumLibrary keywords are meant to work inside of the browser and you are seeking a solution that works in a desktop level. I do not have any idea where to start trouble shoot the problem or how to help you on the matter. The best advice is: if your goal is to automate desktop appli

[2020-04-16 13:55] #1570 closed, assigned to nobody

[2020-04-17 03:12] jsellers180 commented on #1530
@aaltat Unfortunately I don't have access to the codebase for the project I raised the issue for as I was laid off due to covid-19.

[2020-04-17 05:34] avimehenwal commented on #1369
Hey @bjanzen  , would it be possible to share a snippet/ gist? on how to do it!
I am also trying todo something similar and my python skills are not that good

[2020-04-17 05:36] aaltat commented on #1369
Have you looked at the Selenium testability plugin, it should have a keyword for this which works on JavaScript.

[2020-04-17 05:37] avimehenwal commented on #1369
Updated link > https://github.com/robotframework/SeleniumLibrary/blob/4fc4088a90ddac0511746d1693bd684ccd635c37/src/SeleniumLibrary/keywords/element.py#L684

[2020-04-17 22:58] aaltat commented on #1562
Can not reproduce issue, therefore closing.

[2020-04-17 22:58] #1562 closed, assigned to aaltat

[2020-04-17 23:01] aaltat commented on #1569
Because this looks configuration issue in the Safari side, I am closing this issue. If you think this is a SeleniumLibrary issue, please state so.

[2020-04-17 23:01] #1569 closed, assigned to nobody

[2020-04-18 00:13] #1543 closed, assigned to nobody

[2020-04-18 20:00] aaltat opened #1575 "Selenium 4 has deprecated all find_element_by_* methods, therefore move using find_element(By.*)"
Selenium 4 has deprecated all find_element_by_* methods, therefore move using find_element(By.*). Refactor [elementfinder](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/locators/elementfinder.py) to use `find_element(By.*)` methods. Change should be backward compatible and invisible for users.

[2020-04-19 21:49] aaltat opened #1577 "Update to latest PythonLIbCore because it does not work with SeleniumTestability plugin"
PythonLibCore gives problem with SeleniumTestability plugin:
[code]
This is now fixed in PythonLibCore side: https://github.com/robotframework/PythonLibCore/pull/41 update to latest PythonLibCore

[2020-04-19 22:00] #1577 closed, assigned to nobody

[2020-04-22 07:14] Nmzb opened #1582 "How to turn off the prompt "Chrome is under the control of automatic test software""
${options}=    Evaluate    sys.modules["selenium.webdriver"].ChromeOptions()    sys,selenium.webdriver
    @{arg2}    Create List    enable-automation
    Call Method    ${options}    add_experimental_option    useAutomationExtension    False
    Call Method    ${options}    add_experimental_option    excludeSwitches    @{arg2}
    Create WebDriver    Chrome    chrome_options=${options}
    Go To

[2020-04-22 07:27] aaltat commented on #1582
Instead of using Create WebDriver keyword, I would look [Open Browser](https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Open%20Browser) keyword and the `options` argument. But because this is support case and not an enhancement or bug report issue, I am going to close this issue. For more support see: https://github.com/robotframework/SeleniumLibrary#support

[2020-04-22 07:27] #1582 closed, assigned to nobody

[2020-04-22 10:39] Nmzb commented on #1582
Hello, I changed the method of the open browser keyword and options parameter to open the browser, but the options parameter did not take effect。
I want to disable chrome pop-up notifications。
${num}    SetVariable    ${2}
    &{prefs_temp}    Create Dictionary    notifications=${num}
    &{prefs}    Create Dictionary    profile.default_content_setting_values=&{prefs_temp}
    Open Browser    http

[2020-04-26 00:52] sushmapothamsetti opened #1583 "Element should be focused while inputing the text until it completes while parallel testing the focus go out of the devx-tagbox and cannot complete typing hence the result doesnot come"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Hi

[2020-04-26 08:08] aaltat commented on #1583
I don't understand what you are trying to say, please clarify your issue.

[2020-04-26 19:50] aaltat opened #1585 "Use PythonLibCore official 2.0.2 release."
Use PythonLibCore official 2.0.2 release.

[2020-04-26 19:51] #1585 closed, assigned to aaltat

[2020-04-26 23:49] sushmapothamsetti commented on #1583
Hi,During parallel testing some of the elements get cleared out when we focus out of the input textbox while typing.(For example tagbox incase of angular).So i cannot type completly. For example i am typing 'Beauty and the beast'.After i type beauty the focus has went away so 'beauty got cleared off automatically.Now when i am back in focus since beauty has cleared off i can only type "and the bea

[2020-04-30 15:51] aaltat commented on #1583
SeleniumLibrary or underlying Selenium does not change the focus in your application. It's your application that changes something (it might not be focus) so that characters gets lost. I would bet that there is JavaScript running which causes some troubles.

But this is more of an support case and because this issue tracker is reserved for enhancements or bugs, I am closing this issue. For more su

[2020-04-30 15:51] #1583 closed, assigned to nobody

[2020-05-02 16:14] aaltat opened #1588 "Implement better IDE support for SeleniumLibrary"
[PythonLibCore](https://github.com/robotframework/PythonLibCore) has Python [\_\_dir__](https://docs.python.org/3.8/library/functions.html#dir) to offer better IDE support, but for some IDE like PyCharm that is not enough. When looking PyCharm and Python documentation, it looks like PEP-484 [stubb files](https://www.python.org/dev/peps/pep-0484/#stub-files) is the way to go.

[2020-05-02 17:16] aaltat commented on #1444
#1589 only partially fixes the issue, reopening.

[2020-05-04 05:44] MininAS commented on #959
@pekkaklarck Do we have some progress in this issue :)

[2020-05-04 05:55] aaltat commented on #959
Nothing has happened since my last comment.

[2020-05-05 10:36] TimKoomen opened #1593 "Importing 'SeleniumLibrary' failed with syntaxError: invalid syntax (StringIO.py)"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Hi

[2020-05-05 10:42] aaltat commented on #1593
Exception is raised in the Selenium side, please report problem in their side https://github.com/SeleniumHQ/selenium

Closing issue because this is not SeleniumLibrary issue.

[2020-05-05 10:42] #1593 closed, assigned to nobody

[2020-05-06 10:20] axiom41 opened #1594 "v4.4.0 - Keywords not highlighted and no suggestion for them in RIDE editor"
Hello.
After updating robotframework-seleniumlibrary to 4.4.0, many of its keywords seem that are not recognized and “highlighted in blue” in RIDE editor (v1.7.4.2), and keyword suggestion does not work (for example, on “click element”, “Input text”, "Capture Page Screenshot", etc.):

![image](https://user-images.githubusercontent.com/9963199/81165947-27dd4b00-8f93-11ea-9600-babf0dcfe7d0.png)

Tes

[2020-05-06 10:37] aaltat commented on #1594
In Robot Framework 3.2 the dynamic library API [get_keyword_arguments](https://github.com/robotframework/robotframework/issues/3514) changed and SeleniumLibrary 4.4, by [PythonLibCore changes](https://github.com/robotframework/PythonLibCore/blob/master/docs/PythonLibCore-2.0.1.rst#enhance-get_keyword_arguments-to-support-new-format-in-rf-32-27), use the changed format if RF 3.2 or greater is used.

[2020-05-06 10:37] #1594 closed, assigned to nobody

[2020-05-06 12:49] pekkaklarck commented on #1594
If I understand this right, this problem is due to RIDE using bundled RF 3.0.x and PythonLibCore dropping RF 3.0 support. Was there @aaltat some big concrete benefit of not supporting RF 3.0? If not, and that's the only problem with RIDE, I'd be willing to add its support back. Ping @HelioGuilherme66.

[2020-05-06 13:03] aaltat commented on #1594
RIDE internally uses 3.1.2, but even that does not help, because change is between [RF 3.1 and 3.2](https://github.com/robotframework/PythonLibCore/blob/master/src/robotlibcore.py#L242-L245).

The RF 3.1 offers [automatic argument conversion](https://github.com/robotframework/robotframework/blob/master/doc/releasenotes/rf-3.1.rst#automatic-argument-conversion), which allows benefits for the users,

[2020-05-06 13:10] pekkaklarck commented on #1594
Quick comments:
- I totally understand SL supporting only RF 3.1+ to be able to use automatic type conversion. PythonLibCore could still support RF 3.0.
- It would be trivial to change the code you linked to return `[('name', 'default')]` with RF 3.2+ and `['name=value']` with earlier. At the moment it returns `['name=value']` _only_ with RF 3.1 when it should do that with RF < 3.2. I'm happy to d

[2020-05-06 13:20] aaltat commented on #1594
1) PythonLibCore supporting RF 3.0 would need extra testing and most likely changes in the code base. Not doing that automatically, unless there is need from the community.

2) That code already takes the RF version in consideration and converts default arguments to correct format based on the RF version. I think the problem is that RIDE expects the arguments to be always in RF 3.1 format, regardl

[2020-05-06 13:40] pekkaklarck commented on #1594
It seems I've misunderstood something here. If user has RF 3.2 installed, SL will return args in `[('name', 'default')]` format regardless on what RF version RIDE has bundled in. What RF versions PLC supports doesn't affect that. I agree this is something that should be fixed on RIDE's side. A simple change is converting arguments got from dynamic libs in `[('name', 'default')]` format to `['name=

[2020-05-06 13:47] aaltat commented on #1594
Yes, I did miss read #1021 I though it was from `str` to `int`. Sorry about that.

[2020-05-06 13:56] pekkaklarck commented on #1594
No worries. Plenty of misunderstandings here. :smiley:

[2020-05-06 13:57] aaltat commented on #1594
Did think about easy fix in SL side. Instead of hard coding PythonLibCore in the SeleniumLibrary source, we could have PythonLibCore as a dependency. That would require back porting some setup.py changes and releasing PythonLibCore 1.0 (the currect one is 2.0.1) from a branch. But I do not know is that worth of the effort and will it confuse users even more.

[2020-05-06 14:05] pekkaklarck commented on #1594
I don't think that's worth the effort. RIDE should be fixed to handle `[('name', 'default')]` syntax with dynamic libraries (robotframework/robotframework#3514) in general.

[2020-05-06 21:06] satymaju commented on #292
Hi,
How to input text into alert when there are two fields ?
Anyone figured out how to input text in the alert second input field(for example: password field) ?

Thanks,
Satya

[2020-05-06 22:02] satymaju commented on #292
Yes , I am getting the same problem it is not an alert.
Have you been able to find how to input text there, without the url technique(https://username:password@mytestwebsite.com`) ?

[2020-05-07 05:18] aaltat commented on #292
See https://github.com/robotframework/SeleniumLibrary/issues/292#issuecomment-310044552 and for support read https://github.com/robotframework/SeleniumLibrary/blob/master/README.rst#support

[2020-05-07 21:33] technigirl opened #1595 "Is it possible to pass in a parameter to a Javascript file?"
Hello,

This isn't really an issue so much as a question that I haven't been able to find an answer to anywhere.  I have some Javascript which I am executing as a file, and I need to pass in some text.  I would like to pass it in as the value of ${text}, here is an example:

${text}    Set Variable     mytext
${result}     Execute Javascript    path_to_file/file.js
Log ${result}

I have not been a

[2020-05-08 05:37] aaltat commented on #1595
If the `code` argument points to a file, keyword simply reads the content of the file and pass the content to the underlying Selenium API. Therefore arguments are not for the file but for the JavaScript code in the file.

But because this is indeed support request, I am closing this issue (issue tracker is reserved for bugs and enhanced request.) For more support see https://github.com/robotframew

[2020-05-08 05:37] #1595 closed, assigned to nobody

[2020-05-08 18:25] technigirl commented on #1595
Hi @aaltat thank you for the response.  Given that when I do try to pass the argument using ARGUMENTS, and it doesn't seem to get passed properly, could it be a bug?

[2020-05-08 18:41] aaltat commented on #1595
It's possible, library is (most likely) full of different kinds bug's. Specially in edge case's.

To debug problem further, I would remove SeleniumLibrary and Robot Framework out of the picture. It is pretty easy to call the underlying Selenium [execute_script](https://pythonbasics.org/selenium-execute-javascript/) method and I would experiment how it should work. Once your JavaScript works with S

[2020-05-09 00:01] tronytran opened #1597 "Ability to change Renderer Timeout for Click... Keyword"
Im looking for a way (a configuration or a simple tweak) to extend the timeout of the renderer when we use the Click... Keywords family.

Background:
I'm using Robotframework + Selenium to automate tasks in Chrome. After 9 steps successfully, the last step (which is similar in terms of instructions to the previous ones) failed because of this error:
TimeoutException: Message: timeout: Timed out re

[2020-05-09 02:17] #1597 closed, assigned to nobody

[2020-05-11 12:47] rasjani opened #1598 "[Question] How to handle lifetime management within a plugin?"
# Preface
* Have a plugin for SeleniumLibrary
* Plugin will start a thread to handle some things that should happen in the background.

This leads to hanging robot execution at exit because the thread is still running. An issue that i see with this is there aint no clear events when my code should stop the thread execution.

# Possible approaches ?
* I could add LISTENER, but that feels a bit dirt

[2020-05-11 13:50] aaltat commented on #1598
Have not tough about this problem, because SeleniumLibrary is a single threaded application. So when WebDriver is created, plugin attach/creates a proxy to that WebDriver instances. And when WebDriver `quit()` is called, plugin would need to be notified so that it can stop the proxy.

Closing browser is done in the [WebDriverCache](https://github.com/robotframework/SeleniumLibrary/blob/fd033f87e15

[2020-05-21 08:40] cgl22 opened #1599 "[Question] How to execute javascript with my webElement?"
There are two elements that overlap.I 'click element'.And received this error:
`ElementClickInterceptedException: Message: element click intercepted: Element <button class="btn btn-success btn-sm" ng-show="selectedClassify.label === 'waitConfirm' &amp;&amp; (!buttonConfig || buttonConfig &amp;&amp; buttonConfig.confirmScheme == 1)" ng-click="confirmBtn(row)">...</button> is not clickable at point

[2020-05-21 08:59] aaltat commented on #1599
The [Execute JavaScript](https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Execute%20Javascript) documentation says:

Starting from SeleniumLibrary 3.2 it is possible to provide JavaScript arguments as part of code argument. The JavaScript code and arguments must be separated with JAVASCRIPT and ARGUMENTS markers and must be used exactly with this format. If the Javascript code is fi

[2020-05-21 09:32] cgl22 commented on #1599
@aaltat I only noticed the Arguments, and didn't look at the Documentation carefully.Its my mistake.Thank you for your patient answers.

[2020-05-21 09:32] #1599 closed, assigned to nobody

[2020-05-22 19:36] aaltat commented on #1598
@rasjani is there something more that you would like to discuss or enhance in the SeleniumLibrary? Or can we close the issue?

[2020-05-23 08:21] aaltat opened #1601 "Fix typo in extending documentation"
Fix typo

[2020-05-23 08:28] aaltat commented on #1601
Done in #1600

[2020-05-23 08:28] #1601 closed, assigned to nobody

[2020-05-24 08:09] rasjani commented on #1598
@aaltat the question was really answered so this can be closed..

Actually, i can get the "lifetime" management via eventfiringwebdriver. It gets initialized on per created driver basis and then i can wire before_quit() to terminate the proxy.  Problem with this approach is that i then need to juggle with context because the plugin and the listener are not same instances but i got that already in

[2020-05-24 08:09] #1598 closed, assigned to nobody

[2020-05-24 08:55] aaltat commented on #1598
That is a good solution. Good thinking.

[2020-05-27 19:57] Snooz82 commented on #1472
https://forum.robotframework.org/t/how-to-add-new-locator-strategies-in-seleniumlibrary-plugin-for-shadowdom/266/6

[2020-06-02 10:13] aaltat opened #1604 "Fix doc bugs in page should not * keywords."
Some negation keywords has documentation bug and is missing the `not` word from the documentation.

[2020-06-02 14:11] #1604 closed, assigned to aaltat

[2020-06-02 23:28] Babug01 opened #1607 "No browser is open issue | FAIL | KeyError: 'sessionId'"
Hello, I'm looking a help to solve "no browser is open" issue.

Below are my environment and library details
## Environment
Browser: Chrome, version:  83.0.4103.61
Browser driver: chromedriver, version: 83.0.4103.39
Operating System: Windows server 2012 R2
Libraries
Package                                              Version
--------------------------------------- -------
pip

[2020-06-03 05:14] aaltat commented on #1607
I am not able to help you because I don't maintain or use the ExtendedSelenium2Library you are using. Also the SeleniumLibrary version is so old that support is not offered for that version.

This issue tracker is reserved for enhancements and issues, but your problem is clearly a support request. Therefore I am closing this issue. For more support, please see https://github.com/robotframework/Sel

[2020-06-03 05:14] #1607 closed, assigned to nobody

[2020-06-03 14:27] satymaju commented on #126
Hi @spooning ,

I am getting : Keyword timeout 3 minutes exceeded.
On go to keyword.
I want to skip this error and go below executing keywords... Any suggestions ?

[2020-06-04 00:51] andreagubellini commented on #1575
Hi,

I would like to help with this issue.

Any work has been done yet?

Cheers

[2020-06-04 06:08] aaltat commented on #1575
It's not started and contributions are always welcomed. Is everything clear or do you want to discuss something before starting the work?

[2020-06-05 09:55] andreagubellini commented on #1575
Yep, I believe everything is clear.  Just one question: is elementfinder the only class impacted by this?

[2020-06-05 10:09] aaltat commented on #1575
It should be the only place. All should go through elementfinder and if it's not it can be changed.

[2020-06-06 04:34] Bhavik124 commented on #1121
![image](https://user-images.githubusercontent.com/59410887/83936046-2181ff00-a7dd-11ea-87f5-8c17f1d827c6.png)
See Also I am getting same error

[2020-06-06 09:12] aaltat commented on #1121
There is a problem in your test. You must call `Open Browser` or `Create WebDriver` keyword before calling other SeleniumLibrary keywords.

[2020-06-12 16:45] saiteja99498 opened #1609 "Need a keyword/Existing Keyword 'Input Text' with param hide_text_in_log=True"
If I want to enter (secret) text using '[Input Text](https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Input%20Text)' keyword and share the log to other they might see the text I entered in the log file.

We can achieve this by using the keyword 'Input Password' but the Keyword named that it should be used only with the password (I want to enter a secret text but it is not a password

[2020-06-12 17:05] Snooz82 commented on #1609
But this is absolutely what `Input Password` is.

You could also just:
[code]

I do not see any need for a new keyword that would exactly do what `Input Password` already does but with another name...

[2020-06-12 17:26] aaltat commented on #1609
As @Snooz82 said, `Input Password` does what you want. If you have a reason why that is not good enough or have other reason why `Input Text` should be enhanced in this category, please let's us know and we will consider reopening the issue. But for now I am going to close the issue.

[2020-06-12 17:26] #1609 closed, assigned to nobody

[2020-06-14 13:23] Pallaviayalureddy commented on #1121
Hi sir I m new to Robot framework , getting "cannot capture screenshot because no browser is open.
20200614 18:29:31.336 :  FAIL : No browser is open.". i m working on desktop application after validating some rules getting IE browser report opening directly after that getting above error not able to proceed further please help me out

[2020-06-14 13:58] aaltat commented on #1121
@Pallaviayalureddy for better help you, please ask in one of the community support channels https://github.com/robotframework/SeleniumLibrary/blob/master/README.rst#support

[2020-06-22 04:55] Pallaviayalureddy opened #1610 "OpenBrowser(selenium) keyword not working in Ride"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2020-06-22 05:57] aaltat commented on #1610
I am assuming that this is about keyword documentation. I know the issue, It's because of the type hints in the arguments. But this is not a bug in the SeleniumLibrary, it's bug in the RIDE. Type hints are valid part of the Robot Framework library API and RIDE should be able to process or at least ignore the type hints. Because this is not a bug in the SeleniumLibrary, there is not anything to fix

[2020-06-22 05:57] #1610 closed, assigned to nobody

[2020-06-22 09:56] HelioGuilherme66 commented on #1610
@aaltat This reporter did not even cleared the Issue template hints, I find this offensive ;).
@Pallaviayalureddy There is a workaround to solve this problem in RIDE's project FAQ.

[2020-06-22 11:47] Pallaviayalureddy commented on #1610
Uninstalled seleniumLibrary and installed again now Openbrowser keyworkd working fine

[2020-07-02 17:59] stlxiii opened #1611 "Keyword doesn't work: Element Text Should Be"
Hello,
This test does not pass:
[code]
Error:  The text of element 'q' should have been 'aaa' but it was ''.

I have tested on several Windows machines with Chrome and it's driver up to date as of 2020-07-02.

[2020-07-02 19:10] #1611 closed, assigned to nobody

[2020-07-02 19:10] stlxiii commented on #1611
Code 12, my apologies :)

[2020-07-09 21:26] aaltat opened #1612 "Update PythonLibCore to 2.1.0"
PythonLibCore 2.1.0 offers better support for typing hints and clears the libdoc for not required noise.

[2020-07-10 22:04] #1612 closed, assigned to aaltat

[2020-07-10 22:08] aaltat opened #1614 "Overwriding the EMBED in the screenshot keywords creates EMBED folder"
It's possible to set EMBED as the default option for screenshots and override it in a per keyword basis to actual file paths. It worked correctly by accident with absolute paths, because of how os.path.join() works, but created an 'EMBED' folder with relative paths.

[2020-07-10 22:09] aaltat commented on #1614
Fixed in #1608

[2020-07-10 22:09] #1614 closed, assigned to nobody

[2020-07-14 13:17] guillermolam opened #1615 "Python and SeleniumLibrary installed but still receiving ImportError: No module named SeleniumLibrary"
Python as well as SeleniumLibrary are installed as evidenced by `pip list` ran by Jenkins inside the container

# Pip List

[code]

## Environment
Operating System:  **RHEL 7**
Jenkins Slave running in Docker Container as a part of an Openshift 3.11 platform

# Running Command
[code]

## Error messages and additional information
[code]

# Resource.robot
[code]

[2020-07-14 13:23] aaltat commented on #1615
The error message indicates that RF/Python import system does find SeleniumLibrary installation from the Python environment you are using to run your tests. Please install SeleniumLibrary to the Python environment you are using to run your tests. For further support, see https://github.com/robotframework/SeleniumLibrary#support

[2020-07-14 13:23] #1615 closed, assigned to nobody

[2020-07-14 13:27] guillermolam commented on #1615
If it does find the library, why does it throw this error: **"No module named SeleniumLibrary"**
Python is in fact installed as well as SeleniumLibrary as evidenced by `pip list` ran by Jenkins inside the container

[2020-07-14 13:39] guillermolam commented on #1615
@aaltat Please reopen this issue

[2020-07-14 14:11] guillermolam opened #1616 "Python and SeleniumLibrary installed but still receiving **ImportError: No module named SeleniumLibrary**"
Python as well as SeleniumLibrary are installed as evidenced by `pip list` ran by Jenkins inside the container

# Pip List

[code]

## Environment
Operating System:  **RHEL 7**
Jenkins Slave running in Docker Container as a part of an Openshift 3.11 platform

# Running Command
[code]

## Error messages and additional information
[code]

# Resource.robot
[code]

[2020-07-14 15:17] karelf commented on #565
Hi all.
I have installed Selenium2 library with Robot framework and Ride and have configured corresponding Path variables.
When import Selenium2Libray, the library name was red,
and send command:

PS C:\Python27\lib\site-packages\Selenium2Library> python -c "import Selenium2Library"
PS C:\Python27\lib\site-packages\Selenium2Library> python
Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:40:30

[2020-07-14 15:32] humbienri commented on #565
Hello @karelf,

Is there a reason you are posting to a Closed ticket? You might be better off creating a new ticket. However, must you use Selenium2Library and must it be Pythong 2.7? I'd advise against using both of those. They are old!

[2020-07-15 06:49] aaltat commented on #1616
My previous statement, in #1615 ,  still hods. This is an environment issue and you are requesting support to debug the problem. Different support channels are found from https://github.com/robotframework/SeleniumLibrary#support Closing this issue.

[2020-07-15 06:49] #1616 closed, assigned to nobody

[2020-07-15 12:36] djl197 opened #1617 "Choose File not working when running against a remote machine."
# Summary
My issue is very similar to #1551

My code currently uses library version 3.3 and this works as expected.
However when I upgrade to version 4.3 I get this error (much like #1551).

[code]

# For issues
## Steps to reproduce the issue
I try to upload the file as part of Setup Teardown in  a Robot Framework test.

## Error messages and additional information
See above for the error trace.

[2020-07-15 12:48] aaltat commented on #1617
Based on the logs message and looking at the code, I would assume that you do not have local file `/tmp/license_to_import` (Local here means the environment where the Robot Framework test is running.) From the log, it can be seen that it does not send it as a file, but instead Selenium send the file as a path:
[code]
If it would be transferred as a file, then the file content would be transferred

[2020-07-15 13:47] djl197 commented on #1617
I ran the same Robot Framework test with the older version 3,3 used and I can see an additional entry in the debug:
[code]
Here I can see that it has sent the file, and then updated the filename to a modified path which is present.
I am adding more debug to see how I can help more - we have a custom Key Word that then calls choose_file python method.  Are we missing some code that was implicit in

[2020-07-15 16:10] djl197 commented on #1617
I have an educated guess at the problem.  Between 3.3 and 4.x the following code was added:
[code]

The problem is are not using the Keyword Choose File but calling the python method choose_file from our own Keyword (Import License File).  Therefore I think the choose_file is returning False when it should be true.

If my understanding is correct - does this mean that we cant have a custom keyword

[2020-07-15 16:15] aaltat commented on #1617
The public API should be the same, but internally it has changed a lot. Motivation to change is explained in #1398 and the actual change #1417 Therefore it is possible that something has changed between the versions or you run in to some case, which is not covered by [the tests](https://github.com/robotframework/SeleniumLibrary/blob/master/atest/acceptance/keywords/choose_file.robot#L25).

[2020-07-15 16:16] aaltat commented on #1617
That should not affect unless you use the library without RF being running. But are you doing so?

[2020-07-15 17:32] djl197 commented on #1617
I am not sure I fully understand?  We are using RobotFramework running on one node, and then using a remote session to actually run the tests.  This is the docker-selenium node from elgalu.
We have written our own keywords in python and we call some of the functions directly (for example choose_file rather than via the Robot Keyword of 'Choose File'
I can see why the logic was changed and understa

[2020-07-15 17:41] aaltat commented on #1617
I was unclear in my question. But is the SeleniumLibrary running in the same Python process where the Robot Framework is running? Or are you running SeleniumLibrary in some other way?

[2020-07-15 19:19] aaltat commented on #1617
Another option is that you have not imported SeleniumLibrary only in the Python side and not in the Robot Framework data side.

[2020-07-15 19:41] djl197 commented on #1617
In my Robot test (Suite Setup/Teardown) I have the following:
[code]
It is all running in the same process.  In our Setup function it calls a custom Keyword implemented in OurCustomLibrary.  That keyword (Import License File) - Clicks a few elements in the Product GUI and then calls choose_file directly with the xpath selector string and the filename.
I cant see how the _running_keyword would ever

[2020-07-15 20:21] aaltat commented on #1617
I can reproduce the problem and fix is pretty easy to do also. Just need to move the location where detection of choose file is done.

[2020-07-15 20:44] #1617 closed, assigned to nobody

[2020-07-15 20:46] aaltat commented on #1617
The issue should be fixed in the master branch. I ma going to push out 4.5.0 release candidate 2 soon and I will let you test it out.

Thank you for being persistent on the issue and not giving up.

[2020-07-16 05:53] djl197 commented on #1617
Thankyou for the support - great job - once RC2 is available I will integrate and test :-)

[2020-07-16 05:54] aaltat commented on #1617
RC2 is already out https://pypi.org/project/robotframework-seleniumlibrary/4.5.0rc2/

[2020-07-16 15:46] karelf opened #1619 "Selenium2Library import false to RobotFramework (REDI editor)"
Hi all.
I have installed Selenium2 library with Robot framework and Ride and have configured corresponding Path variables.
When import Selenium2Libray, the library name was red,
and send command:

PS C:\Python27\lib\site-packages\Selenium2Library> python -c "import Selenium2Library"
PS C:\Python27\lib\site-packages\Selenium2Library> python
Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec 5 2015, 20:40:30)

[2020-07-16 16:13] aaltat commented on #1619
1) Please note that `Selenium2Library` is not anymore maintained and users should move to `SeleniumLibrary`. Therefore I do not provide support for Selenium2Library.
1) Python 2 has reached end of life at April 2020 and users should migrate to Python 3 as soon as possible.

That being said, this should work:
[code]

For more support please https://github.com/robotframework/SeleniumLibrary#support

[2020-07-16 16:13] #1619 closed, assigned to nobody

[2020-07-17 08:52] djl197 commented on #1617
Fixed 👍  Proved in our setup - great job, thankyou

[2020-07-22 01:29] colleenantonio opened #1620 "How to locate the next Xpath element with the same id"
I was trying to locate the next Xpath with the same id of "undefined_0.... 1..... 2"

**Tried this syntax:**
Click Element    //*[@id="undefined_0"][1]     # Added index [1] to get the next label = "All" since it displays 4 of 4 results

**The BE/ html looks like this:**
See attached zip file: [html_code.zip](https://github.com/robotframework/SeleniumLibrary/files/4957326/html_code.zip)

**Message

[2020-07-22 06:32] aaltat commented on #1620
This is a support request, but this issue tracker is reserved for bugs and enhancement request. Therefore I am going to close this issue. For getting more help, see https://github.com/robotframework/SeleniumLibrary#support

[2020-07-22 06:32] #1620 closed, assigned to nobody

[2020-07-24 18:35] m3s5ts commented on #119
I need exactly what Click Element at Coordinates provides, but _without_ action.click(); i.e. Move Mouse to Element with Offset. Unfortunately at this time I'm not able to modify the source myself and will end up writing a python script, which is not a desired workaround considering the functionality is available via the Selenium API.

Not all page elements that can be interacted with have identif

[2020-07-26 19:44] aaltat commented on #119
Please open a new issue,  this is already cluttered with different kinds of feature requests.

[2020-07-29 13:53] Kalyan-Nk opened #1621 "Not able to find Open Browser Keyword in SeleniumLibrary"
I am trying to write a simple webLogin Testcase in Roboframework, Below preconditions are done.

1. Installed all the necessary packages
2. Installed required SSH/SeleniumLibrary and Mozilla geckodriver
3. Imported SSH and Selenium Library, however i couldnt see any "Open Browser" keyword in SeleniumLibrary
Could anyone help me with this.

Requirement already up-to-date:

urllib3 in c:\program fil

[2020-07-29 14:00] aaltat commented on #1621
I don't have any idea why that IDE does not work like it should. But this is a problem with IDE and not with the SeleniumLibrary, because keyword exists and works with  Robot Framework. Please raise an issue to IDE/plugin project.

Because this is not SeleniumLibrary problem, I am closing issue.

[2020-07-29 14:00] #1621 closed, assigned to nobody

[2020-07-29 14:00] HelioGuilherme66 commented on #1621
There is no problem with SeleniumLibrary. That is a RIDE problem.

You should install the current Beta version of RIDE to have that problem solved:

[code]

[2020-07-29 17:00] Kalyan-Nk commented on #1621
Thanks HelioGuilherme66, i installed latest RIDE beta version and i can use the keyword.

[2020-07-29 17:01] Kalyan-Nk commented on #1621
Thanks for your time.

[2020-07-29 18:22] hppsmokey commented on #1621
Hi Kalyan,

Try using Zoomba.GUILibrary. It has Open Browser keyword and it pretty much
inherits all the keywords from Selenium Library.

Thanks
Ram L

On Wed, Jul 29, 2020, 15:53 Kalyan-Nk <notifications@github.com> wrote:

[2020-08-12 08:01] lijiahao10086 opened #1622 "I want to use event_firing_webdriver when import SeleniumLibrary，but something went wrong"
**error log:**
Traceback (most recent call last):
Initializing test library 'SeleniumLibrary' with arguments [ event_firing_webdriver=MyListener ] failed: DataError: Importing test Selenium lister class 'MyListener' failed.
Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\robotide\lib\robot\running\testlibraries.py", line 167, in _get_instance
    return libcode(*self.posit

[2020-08-12 08:37] ghost commented on #1622
Interesting, you have two problems: 1) Import with module search path 2) Import with path

The both importing ways use the same import mechanics as Robot Framework uses internally.

1) Mode search path
This error is caused that you plugin is not found from the module search path. Because SeleniumLibrary uses same import mechanics as RF, please see RF user guide how to adjust your module search pat

[2020-08-12 09:48] lijiahao10086 commented on #1622
hi，I run it by the command line，success!

1）
I put module in C:\Python27\Lib\site-packages,it's RF search path

2)Import with path
exactly，I using RIDE import file，emmm，Import selenium library error，the wrong log has been put in

But,I run it by the command line，it works amazing

Thank you very much for your reply. It's my pleasure，hhhhh

[2020-08-12 09:55] lijiahao10086 commented on #1622
emmm，I think it's a bug in RIDE，do you think so？

sorry，my english is not well, please understand ~~

[2020-08-12 09:57] aaltat commented on #1622
Because it works from command line, I would assume that this is a problem with RIDE. Please raise an issue to RIDE issue tracker. And I am closing this issue, because it's not problem with SeleniumLibrary.

[2020-08-12 09:57] #1622 closed, assigned to nobody

[2020-08-12 17:12] sebastianciupinski opened #1623 "Allow SeleniumLibrary constructor to set default locator attributes."
For now importing selenium library allows to set import arguments like:
timeout, implicit_wait, run_on_failure, screenshot_root_directory, plugins, and event_firing_webdriver

Adding `default_attributes` which will be passed to ElementFinder could allow use other attributes for elements finding, other than default `@name` and `@id`. (without creating plugin). Reason is `data-something` attributes

[2020-08-12 17:26] aaltat commented on #1623
Is your idea to make configurable how the default locator strategy should work. Instead of using `name` and `id` attributes user would have possibility configure the attributes for the default strategy. If yes, I think it's good idea. Also perhaps add keywords for the configuration in the run time.

I think it would be good to think some sort of syntax which would allow define multiple attributes

[2020-08-12 17:30] aaltat commented on #1354
This should fix the problem in Approval test side https://github.com/approvals/ApprovalTests.Python/pull/63

[2020-08-12 21:38] sebastianciupinski commented on #1623
@aaltat - yes, that was my intention. I also agree for contribution.

[2020-08-20 16:03] albert-schilling commented on #672
I would like to reopen this issue in a more general context.
We just came across a similar issue, where we wanted to make sure a `DOM element` exists or does not exist inside another `container DOM element`. It would be great if `Get WebElement(s)` and the `Element *` keywords could be enhanced with an optional context, which would just be another context. I guess, the implementation should not be

[2020-08-20 16:17] aaltat commented on #672
Yes, this gets asked now and then. Also it's technically possible to implement this in many ways. But unfortunately no one has seen this important enough to implement. Currently my development time is used to help https://github.com/MarketSquare/robotframework-browser

[2020-08-31 11:53] zeeshanyshaikh commented on #690
https://tarunlalwani.com/post/reusing-existing-browser-session-selenium/

[2020-09-04 07:55] badari412 commented on #1575
I don't see any PRs linked to this, so please let me know if it's still waiting for a contributor. If yes, I would like to work on this.

[2020-09-04 07:58] aaltat commented on #1575
I have not seen anything, please start looking in to the issue.

[2020-09-04 07:59] badari412 commented on #1575
Thanks, will do!

[2020-09-05 09:23] aaltat commented on #1575
Done in #1626

[2020-09-05 09:23] #1575 closed, assigned to nobody

[2020-09-05 11:10] aaltat commented on #1451
Jython support is dropped at SeleniumLibrary 5.0

[2020-09-05 12:00] aaltat commented on #1444
Python 2 support is dropped at SL 5.0

[2020-09-05 21:09] #1451 closed, assigned to aaltat

[2020-09-05 21:10] aaltat commented on #1444
Only partial fix

[2020-09-06 07:38] badari412 commented on #1512
If no one has started working on this, I would like to. My plan is to implement it this way:

[code]

Any thoughts/suggestions?

[2020-09-06 11:02] Snooz82 commented on #1512
We where working a lot on Browser library project the last months.

There it is not a list, but locators can be concatenated with `>>`.

I do like this much more, because you can just write these selectors in RobotFramework.
Lists always have to created in variables section or with keywords.
It is not trivial to replace something within a list and so on.
So a single string would be much better.

I

[2020-09-06 11:18] aaltat commented on #1512
I also like the `>>` as a separator. It needs some more work, but would be easier to use than list.

[2020-09-06 12:16] divfor commented on #1512
you may see https://github.com/robotframework/SeleniumLibrary/pull/680 for some idea

[2020-09-06 14:42] badari412 commented on #1512
Thanks! I think I know what I should do, but just to be clear, the usage of the new strategy will be as follows:

[code]

Please correct me if I am wrong.

[2020-09-07 12:48] pekkaklarck commented on #1512
I like `>>` a lot as well. Lists could have some benefits as well but `>>` is easier to use and ought to work fine in most cases and using same syntax as Browser is definitely a plus too. Support for lists could be added separately if needed. Either way, the title of this issue should be updated.

How common is `>>` in locators otherwise? Is it valid e.g. in CSS? If it's rare, smart locators could

[2020-09-08 06:26] aaltat commented on #1512
Instead of using `smart:`, would it be better to use `multiple:`. It would better describe what it actually does.
Example this `multiple:css:article >> css:.bar > .baz >> css:span[attr=value]` would be split to three css locators: `article`, `bar > .baz` and `span[attr=value]`.

Also it would be good to support ` >> ` as is, when it is inside of quotes. Example this  would result as valid xpath se

[2020-09-08 12:16] pekkaklarck commented on #1512
I'm not sure is `smart:` the best prefix but `multiple:` doesn't sound that good either. What about `mixed:` or `mix:`? Does Browser uses some prefix?

`>>` possibly appearing in locators themselves is a problem. Trying to see is it inside quotes may be somewhat complicated, though. Some alternatives how to handle that:
- Just use ` >> ` (require spaces) and then make parsing more intelligent if t

[2020-09-08 12:31] aaltat commented on #1512
I think from code point of view, starting each sub locator with locator strategy is good option. Something like this
`mixed:css:article >> css:.bar > .baz` would work. but `mixed:css:article >> .bar > .baz` would be treated as single locator (because `.bar` does not contain locator strategy. )

Also it would be easy to explain the documentation and most likely users would understand it correctly.

[2020-09-08 12:38] pekkaklarck commented on #1512
If we require each sub locator to start with an explicit strategy, using `mixed:` or other prefix probably wouldn't be necessary.

[2020-09-08 12:39] badari412 commented on #1512
IMHO, the name of the strategy should somewhat depict as to what it does, for e.g. the name "hierarchy:" denotes that the strategy can be used get the elements using their parents or grandparents.

Also, we can support both ` >> ` separated locators and also the list way of denoting the locators(${scalar}=    Create List    tag:form    name:cancel_button). Just in case ` >> ` fails, users can stil

[2020-09-08 12:45] aaltat commented on #1512
@pekkaklarck  Yes, most likely separate strategy is not needed and this would be good: `css:article >> css:.bar > .baz`. And it would be easier to document. Also I do not believe that it is likely that someone would have locator that would already have something like like ` >> css:` (spaces included) in the middle of their locator.

@badari412 Yes, we can also support lists, that should not be too

[2020-09-11 14:55] aaltat commented on #1444
Done in above PR. Closing.

Bye bye Python 2.

[2020-09-11 14:55] #1444 closed, assigned to aaltat

[2020-09-12 14:25] GovindRawat opened #1638 "I am not able to import selenium library in robotframework."
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2020-09-12 14:27] GovindRawat commented on #1638
![image](https://user-images.githubusercontent.com/28510948/92997585-01777f80-f532-11ea-970d-aa018f4ab243.png)
I have tried the old as well as the latest version for robotframework-seleniumlibrary

[2020-09-12 14:41] GovindRawat commented on #1638
![image](https://user-images.githubusercontent.com/28510948/92997860-09382380-f534-11ea-9902-d803c12a7736.png)
Tried with 4.5 and 3.3.1 version.. both versions are giving issues.

[2020-09-12 15:39] aaltat commented on #1638
Some of the PyCharm plugings are not able to handle the Robot Framework dynamic library API, which SeleniumLibrary is using since release 3.0. The best one that I have found is this one https://forum.robotframework.org/t/pycharm-with-lsp/161

But because problem is in the PyCharm side, there is nothing in the SeleniumLibrary side to fix. Therefore I am going to close the issue.

[2020-09-12 15:39] #1638 closed, assigned to nobody

[2020-09-14 16:26] krassowski opened #1639 "Support holding shift and control when using `Mouse Over`"
I would like to be able to test a feature that triggers when the user hovers over a specified element with a modifier key pressed, e.g. <kbd>Ctrl</kbd>. This essentially the same as #905, but for `Mouse Over` rather than for `Click Element`. Would adding an optional argument for `Mouse Over` be in scope?

[2020-09-14 16:38] aaltat commented on #1639
Hmmm, by quickly looking at Selenium API, I don't see clear way to do it. You could also try with experimenting Selenium action chains and see is there solution for for you. If you find solution we could consider implementing it SL side.

[2020-09-14 17:09] krassowski commented on #1639
I see. Thank very much you for a quick reply! Before posing I skimmed this [Stack Overflow question](https://stackoverflow.com/questions/17756532/how-to-hold-key-down-with-selenium) and my impression was that it is achievable - but I understand that it might not be a clean/reliable solution.

[2020-09-14 21:26] aaltat commented on #1639
That is pretty low level stuff and although it might work, I am little bit reluctant to have it. Mainly because it is not in the public API. But luckily its pretty easy to build a plugin and implement that. For more about plugin please see https://github.com/robotframework/SeleniumLibrary/blob/master/docs/extending/extending.rst

[2020-09-19 17:57] #1512 closed, assigned to nobody

[2020-09-19 18:01] aaltat commented on #1512
Remember to give credit for @badari412 for the implementation.

[2020-09-19 18:27] aaltat opened #1642 "Use libdoc generate table of contet for keyword doc"
New RF has capability to generate table of content, based %TOC% marker. Start using libdoc for automatic TOC generation.

[2020-09-19 18:42] #1642 closed, assigned to aaltat

[2020-09-19 19:37] aaltat commented on #1512
There is really small, but it still possible, that this change is backwards incompatible.

[2020-09-19 21:55] #1588 closed, assigned to aaltat

[2020-09-20 15:12] nikhitha-tr commented on #498
what can we give for enter key... can anyone help me in this??

[2020-09-20 15:19] aaltat commented on #498
These kind of questions should be asked from the community https://github.com/robotframework/SeleniumLibrary#community

[2020-09-22 18:54] aaltat opened #1649 "Also add stub file to distribution"
Add pyi file to setup.py so that it is added to the distribution.

[2020-09-22 18:55] aaltat commented on #1649
Fixed in 9b1c915522f

[2020-09-22 18:55] #1649 closed, assigned to aaltat

[2020-09-23 09:57] lynhbn opened #1652 "Add support for xpath starting with ((//"
Currently, we are only treating `//` and `(//` as xpath expression

Please help to add support also for `((//`

For example, my xpath having union operator:
```((//label[contains(.,"ABC")]/input[@type="checkbox"]|//label[contains(.,"ABC")]/preceding-sibling::*[@type="checkbox"]))[1]```

It's still a vaid xpath expression, but unable to be detected in SeleniumLibrary

Thank you

[2020-09-23 10:14] aaltat commented on #1652
xpath is very complex language and we automatically detect only a [small fraction](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/locators/elementfinder.py#L303) of the xpath syntax, although it is the most common fraction. You can avoid the problem by defining strategy for the xpath, example in your case: `xpath:((//label[contains(.,"ABC")]/input[@type="checkbox

[2020-09-23 12:45] pekkaklarck commented on #1652
I would expect it to be safe to automatically detect a locator is an xpath if there's any number of `(`s before `//`. The current check is

[code]
but it could be changed to

[code]

[2020-09-24 03:11] lynhbn commented on #1652
I should go for @pekkaklarck 's solution. It's quite decent.

Adding prefix `xpath:` sometimes causes a little bit cumbersome, for example when I need to do something like `execute_javascript(f"document.evaluate('{my_xpath}', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue.select()")` , I need to remove this prefix again before executing the JS snippet

[2020-09-24 04:33] aaltat commented on #1652
Interested of making a PR to implement your need?

[2020-09-25 10:14] sebastianciupinski opened #1653 "Drag And Drop does not work with event firing"
# Steps to reproduce the issue

[code]

Such code works, slowly and requires cursor to be in browser window, but works
${a} and ${b} are `selenium.webdriver.remote.webelement.WebElement`

While having the same code with

[code]

code does not work, because Drag And Drop requires webelement object, while having event firing driver, ${a} and ${b} are `selenium.webdriver.support.event_firing_webdrive

[2020-09-25 10:54] aaltat commented on #1653
This is actually bug in Selenium side. But we have been making workarounds for similar type of problems also in other places in SeleniumLibrary code  so we could fix it.

As a quick fix, you could try out Selenium 4 pre releases. In there this problem should be fixed. Please remember that Selenium is still in Alpha phase, so it might not work correctly always, but is worth of try.

[2020-09-25 11:12] sebastianciupinski commented on #1303
@aaltat - are there any plans for importing more than one event firing listeners?

[2020-09-25 11:26] aaltat commented on #1303
I do not know does Selenium support multiple listeners. But for time being what is your use case for supporting multiple listeners?

[2020-09-28 17:42] aaltat opened #1655 "Remove deprecated keywords"
`Select Window` and `Locator Should Match X Times` have been deprecated for a while, it's time to remove them.

[2020-09-28 19:33] aaltat opened #1657 "Add type hints to methods which are keywords"
Python typing hints provide better libdoc and ease the development. Now with Python 3 only worlds, lets add them in place.

[2020-09-28 19:36] #1657 closed, assigned to aaltat

[2020-09-28 19:44] aaltat commented on #1655
Done in d7cd883

[2020-09-28 19:44] #1655 closed, assigned to aaltat

[2020-09-28 20:32] #1021 closed, assigned to nobody

[2020-09-30 10:23] aaltat opened #1660 "Fix typo in locator documentation"

[2020-09-30 10:23] #1660 closed, assigned to nobody

[2020-10-01 08:31] MoniRaj1 opened #1661 "Can seleniumLibrary / selenium2Library be used to automate desktop application ( in windows and mac OS )"
Desktop application - Electron based application
OS support requirement - Windows and mac

[2020-10-01 08:56] aaltat commented on #1661
Never done and therefore can not answer. Most likely you will get better answers in [community forums](https://github.com/robotframework/SeleniumLibrary#id12).

But because this is support request, I am closing this issue. Issue tracker is reserved for bug reports or enhancement request.

[2020-10-01 08:56] #1661 closed, assigned to nobody

[2020-10-01 11:03] aaltat opened #1663 "Remove EXTENDING_SELENIUMLIBRARY.rst file"
Remove  https://github.com/robotframework/SeleniumLibrary/blob/master/docs/extending/EXTENDING_SELENIUMLIBRARY.rst file before final 5.0 release.

[2020-10-01 18:48] aaltat opened #1665 "Fix README"
Fix typos in README

[2020-10-01 18:55] #1665 closed, assigned to nobody

[2020-10-02 06:37] MummanaSubramanya opened #1668 "RIDE Cannot Find Switch Window Keyword"
I was using select window in 4.3.0 and I read in 4.5.0 we need to use Switch Window but Ride is unable find the keyword. Please find the screenshot.
<img width="1158" alt="Screenshot 2020-10-02 at 8 34 50 AM" src="https://user-images.githubusercontent.com/25982124/94894871-877c4b80-048a-11eb-8acb-64f000c027c4.png">

## Steps to reproduce the issue
1) Upgraded from 4.3.0 to 4.5.0

## Error messages

[2020-10-02 06:44] aaltat commented on #1668
This is a RIDE problem, which I think is fixed in some RIDE pre release, please consult RIDE project.

[2020-10-02 06:44] #1668 closed, assigned to nobody

[2020-10-02 08:12] aaltat commented on #1657
Done also in #1666

[2020-10-11 20:02] aaltat opened #1676 "Boolean arguments are converted by Robot Framework"
Since moving to Python 3 world is it possible to sue RF to convert arguments to correct format.

[2020-10-11 20:04] aaltat commented on #1676
Done in #1675 #1671 and  #1666

[2020-10-11 20:04] #1676 closed, assigned to nobody

[2020-10-11 21:21] #1652 closed, assigned to nobody

[2020-10-22 09:19] ghost opened #1678 "Drag and drop doesn't work on Linux with firefox"
I can see that drag and drop keyword doesn't work using last relase of seleniumLibrary on Red Hat 7.8 with Firefox

Please find the robot framework test suite.
*** Settings ***
| Documentation | IO Instrumentation workspace tests
| Library       | SeleniumLibrary
| Library       | BuiltIn
Library  OperatingSystem
| Default Tags  | IOI   |  details
| Resource      | ${CURDIR}/keywords.txt
| Variabl

[2020-10-23 08:22] aaltat commented on #1678
Yes, this is pretty common problem with Selenium and browsers versions. Selenium is really picky when it work correctly with drag and drop and it causes numerous problems in various places. Because the Keyword in [SeleniumLibrary](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/keywords/element.py#L743-L746) relies purely on Selenium implementation. there is not m

[2020-10-23 12:59] ghost commented on #1678
Ok thanks for your quick answer. I tried using Selenium testability without success; I will try another way

Best regards

[2020-10-23 12:59] #1678 closed, assigned to nobody

[2020-10-27 15:43] aaltat commented on #1639
Not going to implement this one, closing

[2020-10-27 15:43] #1639 closed, assigned to nobody

[2020-11-03 09:45] jck1307 commented on #959
Hi,
My problem is related to frames management with RFW but I don't know if it's the right place to discuss about it.

I'm using RFW 3.2.2 with Python 3.9 on Windows with FF or Chrome.

I'm working on a app with lots of frames which contains iframes, some are dynamically created...

* Page
  * Frame1
    * IFrame1
    * IFrame2 (not created yet)
  * Frame2
  * Frame3

Select Frame Frame1 is OK
Sel

[2020-11-03 10:03] jck1307 commented on #959
Ok, I found the solution. As I read somewhere in another issue, Unselect Frame returns you to the top parent, so the solution was to look for the elements from the beginning.

So after the Unselect Frame, I now do:

Select Frame Frame1
Select Frame IFrame2

and everything works like a charm.

But the issue about the top parent is annoying because really not intuitive.

Sorry to have bothered you f

[2020-11-03 16:18] aaltat commented on #959
Yes, we do not keep track of the frames and Selenium API only allows to select top most page.

If that is not documented, then it should be fixed.

[2020-11-03 16:38] jck1307 commented on #959
Indeed, in the docs (https://robotframework.org/Selenium2Library/Selenium2Library.html#Unselect%20Frame) it is written:

* Unselect Frame : Sets the main frame as the current frame. In practice cancels the previous Select Frame call.

It should be better to say it cancels all the previous Select Frame calls and sets you to the top, not the direct parent.

All is a little word, but it matters :-D

[2020-11-03 17:18] aaltat commented on #959
Yes, that could be enhanced. Would you like make a PR to fix it?

[2020-11-03 17:19] aaltat commented on #959
Please remember that Selenium2Library is not maintained and correct project is https://github.com/robotframework/SeleniumLibrary#keyword-documentation (Although the text is same in both)

[2020-11-03 21:17] TestUserRobot opened #1680 "Application with both angular and nonangular pages"
# Prerequisites

Clicking on a link in non-angular portal goes to angular pages.

# For issues
## Steps to reproduce the issue
**Test Case:**
launch non-angular App
Click link on non-angular app
Click element on angular app

-Displays ' angular root element' error when clicking on link in non-angular.
Tried even by separating keywords and settings in diff files.
I tried by keeping angular app keyw

[2020-11-03 21:42] aaltat commented on #1680
AngularLibrary internally changes SeleniumLibrary logic. There is public API for it and it's controlled by AngularLibrary. You should look at AngularLibrary documentation how to return the SeleniumLibrary original functionality or disable the searching the root element.

Because this is issue/feature requests in the AngularLiibrary side, I am closing this issue. Please seek help from the Robot Fra

[2020-11-03 21:42] #1680 closed, assigned to nobody

[2020-11-22 22:15] aaltat commented on #1653
Fixed in #1679

[2020-11-22 22:15] #1653 closed, assigned to nobody

[2020-12-15 18:02] mverma-va opened #1681 "Get Webelements not returning text for all elements in list dropdown"
I have a list of 20 items (only few visible) and trying to find element by text of item, but "Get Text" not returning text after 14th item.
robotframework version: 3.2.2
robotframework-seleniumlibrary version: 4.5.0

![image](https://user-images.githubusercontent.com/4573058/102253629-92654a80-3ed5-11eb-8170-58c297ff2c2f.png)
![image](https://user-images.githubusercontent.com/4573058/102253816-d2c

[2021-01-08 02:28] praveendvd commented on #672
There is direct message, you can use execute script to create a varaible.

so i created a keyword

      Validate child element exists

it takes two argument parent(Webelement) and child(Xpath) to search for child inside the parent.

      Validate child element exists    ${parent}    ./h3

Assuming parent xpath to as : `//ul[@id="top_menu"]` , the above code will search for equalent xpath `//ul[@

[2021-01-09 20:20] aaltat commented on #1681
Yes, this is how Selenium works. If element is not visible text is not returned. There is nothing we can fix in the SeleniumLibrary side and therefore I am going to close the issue.

[2021-01-09 20:20] #1681 closed, assigned to nobody

[2021-01-11 03:45] mverma-va commented on #1681
@aaltat  thanks for responding but still have one doubt, I am able to get all 20 elements returned by Get Webelements though, how is that possible (only 12 are visible), as Get Text is not working for not visible elements (as you said).

What would be an ideal workaround here?

[2021-01-14 07:26] sunita1jangra opened #1682 ""Close Browser" keyword not working in IE,GC.i am using selenium2Library.Please help me in resolving it."
"Close Browser" keyword not working in IE,FF.i am using selenium2Library.Please help me in resolving it.

C:\Users\Hp>pip freeze
certifi==2020.12.5
chardet==4.0.0
idna==2.10
numpy==1.19.5
Pillow==8.1.0
psutil==5.8.0
Pygments==2.7.4
Pypubsub==4.0.3
pywin32==300
requests==2.25.1
robotframework==3.2.2
robotframework-pythonlibcore==2.2.1
robotframework-requests==0.8.0
robotframework-ride==2.0b1
robotf

[2021-01-14 07:58] aaltat commented on #1682
You are missing a dependency Selenium2Library, Selenium2Library also needs SeleniumLibary. So
 `pip install robotframework-seleniumlibrary` Also you should migrate to SeleniumLibrary, because Selenium2Library is deprecated.

[2021-01-14 08:33] sunita1jangra commented on #1682
thanks @aaltat , with SeleniumLibrary it is working.

[2021-01-14 08:34] #1682 closed, assigned to nobody

[2021-01-28 12:49] germanodulio commented on #1116
I had the same issue only on IE and I find the solution here: https://stackoverflow.com/questions/54145363/selenium-internetexplorer-11-succesive-alert-text-empty-on-the-second-alert

Basically, I had to add the site to trusted sites. Maybe it can be fixed based on that on this work around.

[2021-01-30 21:29] aaltat commented on #1663
Done in 6117d8cd60919

[2021-01-30 21:29] #1663 closed, assigned to aaltat

[2021-02-15 08:14] blomqsu1 opened #1683 "New Keyword: Get All Texts Of Elements"
It would be useful to get all texts of element with certain locator. In my application we have these kind of components, which are not actually list, but I need to verify that it contains all expected items.
[code]

It would be useful if there was a keyword for getting the texts of all elements for a specific locator.

Here is an suggestion (not sure if the syntax is correct, but you should get th

[2021-02-15 08:28] aaltat commented on #1683
I agree that this could be useful, now SL will blindly return text from the first element. I am busy with the [robocon2021](https://robocon.io/) and with other RF related projects. But if you interested to make a PR, I am happy to review it.

General observations.
1) Instead of making new keywords, this could be controlled by an argument in the existing keywords.
2) Most likely other keywords coul

[2021-02-15 15:30] luismoyano opened #1684 "Robot fails to run with the latest libraries installed"
# For issues
## Prerequisites
- Using Python 3.8.5
- Using Robot Framework 3.2.2
- Using SeleniumLibrary 5.0.0
- Using chromedriver 88.0.4324

## Steps to reproduce the issue
Run any robot framework project with command `robot path/to/tests.robot`

## Error messages and additional information
[code]

## Expected behavior and actual behavior

The suite fails to run, it doesn't even open the browser

[2021-02-15 16:31] aaltat commented on #1684
No idea with these details. Could you run test with `--loglevel trace` set from command line and post the full stack trace from the log.html file.

[2021-02-15 16:42] luismoyano commented on #1684
Here it is!

[code]

[2021-02-15 17:58] aaltat commented on #1684
Based on the stack trace it looks like you are using Selenium grid and Selenium can't connect to the grid. This looks environment problem, perhaps the grid is not running or something similar. In any case this is starting to look like support case and support is handled by community https://github.com/robotframework/SeleniumLibrary#community

[2021-02-15 17:58] #1684 closed, assigned to nobody

[2021-02-19 06:44] doyou89 opened #1685 "Not supported syntax in __init__.pyi"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2021-02-19 08:50] aaltat commented on #1685
There is bug, but your IDE is correct when it complains. Because the [\_\_init__.py](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/__init__.py#L424-L432)
contains:
[code]
As can been, `timeout` and `implicit_wait` are defined as Python [timedelta](https://docs.python.org/3/library/datetime.html#timedelta-objects) objects. But the [\_\_init__.pyi](https://github.

[2021-02-19 21:19] neiljhowell opened #1686 "Register Keyword to Run on Failure Bug or Doc fix"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2021-02-20 10:47] aaltat commented on #1686
In SeleniumLibrary 5.0 release, we did move to use [typehints](https://docs.python.org/3/library/typing.html) and gave the argument conversion to Robot Framework. Robot Framework is more strict on the how the arguments are converted and conversion are explained in the [user guide](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#supported-conversions). I see that we ha

[2021-02-20 10:54] aaltat commented on #1686
Page Should Contain should be also looked with this issue.

[2021-02-26 14:41] aaltat commented on #1686
I looked trough the code, this is a bug in SeleniumLibrary side and there is hole in the acceptance tests too.

[2021-02-26 14:54] #1685 closed, assigned to nobody

[2021-02-26 15:43] #1686 closed, assigned to nobody

[2021-02-26 16:01] aaltat opened #1690 "Add missing methods to stub file"
Add missing methods to stub file

[2021-02-26 16:08] #1690 closed, assigned to aaltat

[2021-02-26 17:25] aaltat opened #1692 "Offer support for Robot Framework 4.0"
The RF 4.0 enhances argument conversion and it needs some changes in type hints to work better.

[2021-02-26 17:27] aaltat opened #1693 "Drop support for RF 3.1"
With RF 4.0 coming soon ready, drop support for RF 3.1

[2021-02-26 17:53] #1692 closed, assigned to aaltat

[2021-02-26 20:00] #1693 closed, assigned to nobody

[2021-03-08 16:34] remontees opened #1697 "Support Edge/Linux config"
# Feature requests

[As MsEdgeDriver is now available for Linux OS](https://developer.microsoft.com/fr-fr/microsoft-edge/tools/webdriver/), it would be great if the Edge/Linux configuration was taken into account in addition to Edge/Windows configuration.

Thanks a lot,

Best regards

[2021-03-10 15:53] antomelvin opened #1699 "Https connection causing SSL_ERROR"
Hello, I am using the selenium library and it seems like there is a error due to the SSL Certificate (img attached).  I added the following line in my code:

**Open Browser  about:blank  headlesschrome  options=add_argument("--no-sandbox");add_argument("--ignore-certificate-errors");add_argument("--ignore-ssl-errors");add_argument("--disable-popup-blocking")**
![image](https://user-images.githubus

[2021-03-10 16:33] HelioGuilherme66 commented on #1699
I cannot reproduce with this setup:
[code]
Test File:
[code]

[2021-03-10 16:47] antomelvin commented on #1699
CommonSetup.txt

[code]

LandingPage.txt

[code]

**The site is run locally on my machine.
The site uses a self-signed certificate**

[2021-03-10 17:18] HelioGuilherme66 commented on #1699
@antomelvin You did not show us the system or environment versions.
You now provide another test file that does not have relation with your reported error.
We cannot reproduce errors, when the sites or app under test is not public.

Self signed certificates are known to be limited. You probably have to fake a valid URL on your hosts file. For example to access,
https://myfake.domain.net/
`127.0.0.

[2021-03-10 19:35] sasikumar-sekar opened #1701 "Handle alert having an issue with chrome browser(89.0.4389.82)"
Trying to automate zoom meeting application with robot framework selenium2library.

Got stuck with handling alert.

Code:

*** Settings ***
Library    Selenium2Library
Variables    configuration.yaml

*** Test Cases ***

Testcase1 - SeleniumTestCase For Zooms
    Create Webdriver    Chrome    executable_path=/Users/sasik/Documents/chromedriver/chromedriver
    Go To    https://zoom.us/join
    Wai

[2021-03-12 08:25] aaltat commented on #1699
I guess we can close this issue?

[2021-03-12 10:59] antomelvin commented on #1699
Hello, I figured out the problem. The site when redirected changed it's port number (this is how the site enforces HTTPS), this is why the selenium library was not able to make the handshake. Changing the URL fixed the issue.
Thanks again for you time!
Yes I will close this issue.

[2021-03-12 10:59] #1699 closed, assigned to nobody

[2021-03-13 21:53] aaltat opened #1703 "Open Browser Firefox profile path argument types are not correct"
Open Browser Firefox profile path argument types are not correct

[2021-03-13 22:09] #1703 closed, assigned to nobody

[2021-03-13 22:35] aaltat commented on #1701
Selenium2Library is not supported anymore, migrate to SeleniumLibrary. If you can reproduce the issue with latest SeleniumLibrary, we can reopen the issue.

[2021-03-13 22:35] #1701 closed, assigned to nobody

[2021-03-17 18:30] bbartok76 opened #1706 "Library Documentation Error with Robot Framework 4"
I faced with the following error when I created a new installation with Python 3.9 & Robot Framework 4:

Error displaying documentation
Following exception has been thrown:
            Traceback (most recent call last):
              File "C:\Users\hubartob\AppData\Local\Temp\RobotTempDir14982430887361600969\robot_session_server.py", line 43, in inner
                result['result'] = func(*args,

[2021-03-17 18:31] #1706 closed, assigned to nobody

[2021-03-17 18:33] bbartok76 commented on #1706
Please delete the issue if possible, I submitted it to the wrong project :)

[2021-03-20 13:50] tusharkr18 opened #1707 "Wrong number of arguments Error for Open Browser"
Hello,

I am transitioning from Selenium2Library to SeleniumLibrary. While running the test I am getting below error
java.lang.IllegalArgumentException: wrong number of arguments

Steps
1- Created Maven Project
2- Added Dependency for robotframework, seleniumlibrary and robotframework-maven-plugin
3- Wrote Simple Test case to Open Browser

*** Settings ***
Library    SeleniumLibrary
Default Tags

[2021-03-20 17:18] aaltat commented on #1707
I am not familiar with Maven, but what is the intrepeter  the project is using? Python 3.6+ or Jython? If it's Jython or Python 2, that is not anymore supported by this project.  If it's Python 3.6+, then you would need to find out the exception from Python side.

But if you are using Jython, then you might be better off with https://github.com/MarketSquare/robotframework-seleniumlibrary-java

[2021-03-20 19:43] tusharkr18 commented on #1707
Hello Aaltat,
Thanks for responding. I have checked and seems like Java Error.
This error comes when trying to execute via maven command. If I run the robot . command or either from Eclipse (without Maven Configuration) I am not getting the error.

I have noticed one more error/warning for which it was mentioned to be corrected in Jython 2.7.2 ticket- https://github.com/OpenRefine/OpenRefine/issue

[2021-03-20 20:02] aaltat commented on #1707
It looks like you are using Jython, but Jython is not supported anymore by this project. Instead you should look https://github.com/MarketSquare/robotframework-seleniumlibrary-java or move to Python 3.6+ side.

Because you are using not supported interpreter, I am going to close this issue.

[2021-03-20 20:02] #1707 closed, assigned to nobody

[2021-03-22 17:48] bharkreader opened #1708 ""Element Attribute Should Have Value" no longer supports ${None}"
## Steps to reproduce the issue

[code]

[code]

With some manual testing, it looks like providing the str hint is converting the none to string. I think we should use `Union[None, str]` instead of just str for the expected argument.

## Expected behavior and actual behavior

I expect this test to pass because Get Element Attribute returns ${None}. I have tests that follow this pattern that have s

[2021-03-22 17:57] aaltat commented on #1708
I think you might be correct, I already fixed few of these but it looks like something leaked through the cracks.

[2021-03-22 21:37] #1708 closed, assigned to nobody

[2021-03-22 22:04] aaltat commented on #1708
Good catch and thank you for reporting the problem. This is bug was caused the type conversion enhancements in Robot Framework 4.0 and bug in the type hints of the keyword. Please note that with RF 4.0, you should be able to use `None` (as string) and `${None}` is not needed.

This should be now fixed in the 5.1.2 release. Please test is and report back if you encounter new problems.

[2021-03-23 16:08] bharkreader commented on #1708
Wow, that was fast. You're awesome! Thanks!

Good tip on not needing ${None} too!

[2021-03-23 16:13] aaltat opened #1711 "Execute JavaScript has wrong type definition"
Execute JavaScript does not work if there is a test like this:
[code]

[2021-03-27 17:09] Harm10 opened #1715 "Built in Capture Screenshot does not use it's own version"
I executed SeleniumLibrary.Open Browser in RIDE which gave an error. Part of the error handling is apparently to Capture a screenshot (I have not coded that) but this in turn gives an error when other packages are installed that have the same command (like RPA.Browser).
I can only resolve this by inactivating RPA.Browser.
If this action is built in why does Selenium not use it's own command?

[2021-03-27 17:19] aaltat commented on #1715
This is because conflict in the keyword names and because SeleniumLibrary uses Robot Framework BuiltIn.Run Keyword keyword to run the keyword. In this case Robot Framework does the choice based on the library search order. But there is a easy fix, prefix the default keyword with `SeleniumLibrary`

[2021-03-27 17:27] aaltat commented on #1715
With second tough, fix is not that easy, because library name is not always `SeleniumLibrary`, because it can be changed with `WITH NAME` syntax in library import.

[2021-03-27 17:53] aaltat commented on #1715
Had a second idea, if run on failure keyword is `capture page screenshot` (case insensitive) then we run it as method and not as keyword trough Robot Framework.  This is somewhat backwards incompatible for two reasons:
1) The log.html shows little bit different. If the `capture page screenshot` is used the screenshot is embedded in the same log message where the failure happens. This actually look

[2021-03-27 18:12] #1715 closed, assigned to nobody

[2021-03-29 17:27] Harm10 commented on #1715
Just to be sure: this will be fixed in a next version?

[2021-03-30 07:55] aaltat commented on #1715
That is the plan. You can already try this one by installing from the source, by running: `pip install git+https://github.com/robotframework/SeleniumLibrary.git`

[2021-03-30 17:42] rasjani commented on #1711
@aaltat This could probably be closed already or is there something that still needs to be addressed ?

[2021-03-30 22:29] Harm10 commented on #1715
I'd rather wait on the official next release. When is it planned?

[2021-03-31 13:58] anilreddy opened #1719 "Compare two tables using SeleniumLibrary"
Hi,

I need a way to compare two tables containing similar details using Selenium Library. For example I have table like below:

https://www.w3schools.com/html/html_tables.asp
In the above table there are headers and columns I need to first convert them into maps like this

Country is key and values are like below:

[code]
Is there a keyword for it?
and then compare both tables like maps.

I know

[2021-03-31 16:25] rasjani commented on #1719
Construct suitable selector that returns all td elements. Iterate over each and store the values to list. But you will most likely get better answers in community forums at https://forum.robotframework.org or rf slack.

And because this is support request, I am closing this issue. Issue tracker is reserved for bug reports or enhancement request.

[2021-03-31 16:57] #1474 closed, assigned to nobody

[2021-03-31 18:37] #1719 closed, assigned to nobody

[2021-04-01 06:41] aaltat commented on #1715
Well, usually there is no clear deadline, @rasjani do you have an idea?

[2021-04-01 06:42] aaltat commented on #1711
Yes, I though GitHub does autoclosing, but in this case not.

[2021-04-01 06:42] #1711 closed, assigned to nobody

[2021-04-21 11:53] triblex opened #1724 "Selenium Open Browser inside Network Interface Namespace fails"
## Steps to reproduce the issue
I've created a network interface namespace with:
[code]
Then i create a simple test that just opens a browser with seleniumLibrary in robotframework:

[code]
I run the test script inside the netns.

## Error messages and additional information

[code]
## Expected behavior and actual behavior

- When i just run the test script inside the netns (as normal user) with `

[2021-04-21 16:07] joshmgrant opened #1725 "Add Keywords and/or Extensions for Sauce Labs"
Hello. I would like to suggest adding some kind of integration with Sauce Labs with the Seleniumlibrary.

Here's an example of how to use Sauce Labs with SeleniumLibary now:

https://github.com/saucelabs-training/demo-python/blob/master/examples/robotframework/desktop_web/Tests/resource.robot

After some discussion with @aaltat, there were a few possible approaches:

- Add keywords to the Selenium

[2021-04-21 19:31] BrewerJack commented on #1725
What would be gained by doing this as opposed to other approaches?  Your example shows how it is almost trivial to add that functionality to test suites, why not add a SauceLabs library separate from the Selenium library?  I think the mixing of functionality would be a mistake, especially since not everyone uses SauceLabs.

[2021-04-22 02:11] joshmgrant commented on #1725
Great point @BrewerJack, particularly this:

This is true, but many Sauce users struggle with getting the right capabilities set up (which ones to include, what are the values, users forgetting some, etc). Plus the Selenium remote URLs are Sauce specific and sensible "defaults" could be set up for easier usage for Sauce users.

I'd like to provide a nicer user experience for users who want to use

[2021-04-22 06:28] aaltat commented on #1724
Most likely this is problem in underlying Selenium or Geckodriver. To test it, put this in a `.py` file
[code]
And run with the Python where you have RF and SeleniumLibrary installed.

[2021-04-22 08:54] rasjani commented on #1724
It would be helpful to also get the geckodriver.log from failed run.

I havent had any exposure to netns and have no idea how it's usage is typically done  but so this is just brainstorming  - does netns require some special handling regarding on how applications end up using it ? Reason why im asking is that if you "just" use `Open Browser` keyword, geckodriver will bind itself into random port o

[2021-04-22 09:19] rasjani commented on #1725
@joshmgrant  Personal opinion, i'd prefer to not have anything outside of real upstream aka Selenium directly integrated into SeleniumLibrary itself (as you noted in 1.) but i guess this is something i need to clarify with @aaltat  before saying hard no.

Anyway, since this is a "new feature" that wont be backported to older SeleniumLibrary versions, my gut feeling is that using a plugin system sh

[2021-04-22 11:47] triblex commented on #1724
I missed that when creating the namespace, the loopback was not automatically added and up'ed. \
Once i added that with `ip netns exec net-$name ip link set dev lo up` there was no issues with selenium. So yes @rasjani your brainstorm reply had the answer, as geckodriver was trying to bind itself to a port on 127.0.0.1 but was not able to as lo was never up.

The only logs from GeckoDriver was `ge

[2021-04-22 11:47] #1724 closed, assigned to nobody

[2021-04-22 16:04] pekkaklarck commented on #1725
For me this sounds more like a plugin functionality than core SL functionality. A great thing with plugins is that they can be developed (and maintained) independently from SL. This means they aren't tied to its release schedule etc. and also that SL maintainers don't get extra work.

Enhancing SL plugin system so that it would use Python's plugin API as suggested by @rasjani sounds like a really

[2021-04-23 15:14] joshmgrant commented on #1725
Alright, based on this discussion (thank you all for the input!) I'm thinking that the best way forward is to create a Sauce Labs plugin instead of either adding keywords directly to the SeleniumLibrary or writing a Sauce Labs library.

I'm cautiously optimistic this won't be too difficult. I'll close this request. Thanks!

[2021-04-23 15:14] #1725 closed, assigned to nobody

[2021-04-23 15:18] emanlove commented on #1725
@joshmgrant If you want a collaborator on building that plug-in I can assist you.

[2021-04-24 12:52] Harm10 commented on #1715
@aaltat @rasjani Any response?

[2021-04-27 03:14] mcleanmds commented on #1364
I've noticed similar behaviour for Alert Should Not Be Present - without timeout argument, it now wait the full time.

This has changed since v4.4.0, and now the v5.1.3 implementatiton doesn't match the documentation for this keyword, in particular (section in **bold**):

[2021-04-27 05:43] aaltat commented on #1364
I don't follow what are you saying. Could you explain your problem with an example,  which shows the timeouts too?

[2021-04-28 18:19] flowrean-marcus commented on #1563
There is a workaround for this, based on the current code since Press Keys can be given a locator of None and in that case no click happens, so instead of:
[code]

You could do:
[code]

I did not check but another way to focus an element is sending Keys.NULL key on that element instead of clicking it (`ActionChains(self.driver).click(element).perform()`) but right from the top of my head I don't k

[2021-04-29 16:13] flowrean-marcus commented on #1534
@aaltat I could work on this enhancement, I think, is that okay?

[2021-04-29 19:06] aaltat commented on #1534
I have not seen anyone doing work with this, what kind of design you did have in your mind?

[2021-04-29 19:08] flowrean-marcus commented on #1534
Exactly what you've been discussing above
[code]

[2021-05-05 21:31] nathanhannig opened #1726 "Provide support for waiting for a value in a textarea element"
# Feature request

While evaluating RobotFramework + SeleniumLibrary I found a use case where
the value of a textarea is changed and I would like to wait until the value matches some expected text.

Generally, you would expect Wait Until Element Contains would fill this scenario. But issue #167 showcases that textareas behave a little differently.

I believe that textareas would need their own Wai

[2021-05-06 01:30] nathanhannig commented on #1726
I think the following should be added to match Textarea support to Element support

Wait Until Textarea Contains - wait_until_textarea_contains
Wait Until Textarea Does Not Contains - wait_until_textarea_does_not_contain
Wait Until Textarea Value Is - wait_until_textarea_value_is
Wait Until Textarea Value Is Not - wait_until_textarea_value_is_not

Textarea Should Not Contain - textarea_should_not_

[2021-05-06 01:30] nathanhannig commented on #1726
I will work on a PR for this

Wait Until Textarea Contains - wait_until_textarea_contains
Wait Until Textarea Does Not Contains - wait_until_textarea_does_not_contain
Wait Until Textarea Value Is - wait_until_textarea_value_is
Wait Until Textarea Value Is Not - wait_until_textarea_value_is_not

[2021-05-06 22:14] nathanhannig opened #1728 "Wait For Condition and Title Should Be seem to be out of sync"
# For issues
## Steps to reproduce the issue

I noticed when running headlesschrome I get a failure versus using chrome which passes. I think the Javascript changes before the self.driver.title does on headlesschrome

I have the following code
[code]

I have this code running in three back to back tests, the first one is the one that fails the most; but it isn't guaranteed. This concerns me that i

[2021-05-06 22:24] nathanhannig commented on #1728
I am also thinking it would be nice to add a
Wait Unitl Title Is
Wait Unitl Title Is Not

[2021-05-12 02:01] ZZHHogan opened #1729 "I use keysord : Select Window and occur error information :No keyword with name 'Select Window' found."
# For issues

I use  keysord : Select Window  and occur error information :No keyword with name 'Select Window' found.
and my code is :
    Open Browser .....
    .... ....
    ${titles}    Get Window titles
    ${title2}    Get From List    ${titles}
    ${title1}    Get From List    ${titles}
    Select Window    title=${title2}
    Sleep 2
    Select Window    title=${title1}

## Error messages

[2021-05-12 04:32] aaltat commented on #1729
Keyword is removed, use https://robotframework.org/SeleniumLibrary/SeleniumLibrary.html#Switch%20Window

[2021-05-12 04:32] #1729 closed, assigned to nobody

[2021-05-15 02:32] totmania opened #1730 "How to verify text node in shadow root with robot framework keyword"
I want to verify text node "20 Meters" in shadow root with robot framework keyword so this is html tag

     `<div class="styles__RadiusUnitLabel-sc-1jm4361-1 enqpSw">20 Meters</div>``

I try keyword with this

`Wait until element is visible   dom:document.getElementById("react-root").shadowRoot.querySelector('div[class*="styles__RadiusUnitLabel"]').innerText`

and get this error from robot framwo

[2021-05-15 06:39] aaltat commented on #1730
Your query returns a text, but it should return a WebElement and therefore keyword fails. If you return innerText attribute keyword will most likely work.

Because this is a support request and this issue tracker is reserved only for bugs and enhancements, I will close the issue.

[2021-05-15 06:39] #1730 closed, assigned to nobody

[2021-05-15 07:44] totmania commented on #1730
Can you tell me which keyword that I should to use for this

[2021-05-15 15:38] Harm10 commented on #1715
Another try: @aaltat @rasjani Any response?

[2021-06-04 09:40] saimadao opened #1731 "Download file in headless mode"
download in headless mode need to set download path manually.
I have added below code into browsermanagement.py and it works fine

    @keyword
    def set_headless_download_path(self, path):
        """Set headless browser download path.

        Create by LMY, unofficial
        """
        params = {'behavior': 'allow', 'downloadPath': path}
        self.driver.execute_cdp_cmd('Page.setDownload

[2021-06-04 18:43] aaltat commented on #1731
This is more of support question to Selenium or browser side. This issue tracker is reserved to bugs and feature requests and therefore issue will be closed. You could ask your question from the community: https://github.com/robotframework/SeleniumLibrary#community

[2021-06-04 18:43] #1731 closed, assigned to nobody

[2021-06-06 02:31] saimadao commented on #1731
OK.
However, this issue has been submit in selenium git project in 2018, but unfortunately, still no official solution for this issue.
And the following are the issue tracker in selenium project
https://github.com/seleniumhq/selenium/issues/5159
https://github.com/Codeception/Codeception/issues/5518

[2021-06-07 16:35] Bhavnasewani opened #1732 "Selenium for Webview2"
Hi Team,

I have an application that is developed using Webview2 .NET component. Basically, we have a desktop container for our Angular based app.
This is run using the Microsoft edge (chromium).
I want to use Selenium and edge drivers in Robot Framework for automation testing of this application.

When I referred the documentation around webview2, I saw that we need to communicate to the driver t

[2021-06-09 10:35] tminakov opened #1733 "The Wait Until * keywords don't support a None value for the error parameter"
## Steps to reproduce the issue

[code]
## Error messages and additional information

The issue is applicable to all `wait_until_*()` methods in the `keywords\waiting.py` file; apparently the type hinting makes Robot Framework itself to cast the value to str - once the value is passed as a method argument, it's already a string.

## Expected behavior and actual behavior

Passing a `${None}` argume

[2021-06-09 13:21] pekkaklarck commented on #1733
Does this happen also without Run Keyword And Expect Error?

[2021-06-09 13:31] tminakov commented on #1733
Yep, it does - `error` is once again str type, value: "None".
I've used the `Run Keyword And Expect Error` just for easier illustration.

[2021-06-10 08:46] pekkaklarck commented on #1733
I can reproduce the problem. I also tested that same argument `error: Optional[str] = None` works fine with a normal library. Based on this I believe the issue is in Python Library Core that's responsible on providing type information from SL to RF. If that's the case, then the problem should be fixed there. In the worst case the dynamic library API doesn't support type information like this and w

[2021-06-10 12:16] aaltat commented on #1733
I can take a look, most likely this week.

[2021-06-10 21:31] aaltat commented on #1733
New release of PLC is made which should fix this problem. Please update PLC and give it a new try.

[2021-06-10 21:35] pekkaklarck commented on #1733
Doesn't upgrading SL also upgrade dependencies?

[2021-06-11 05:29] aaltat commented on #1733
It depends on the package manager and how package manager is run/configured. But I think that by default pip will upgrade the dependencies.

[2021-06-11 11:12] tminakov commented on #1733
Confirmed, the issue is **fixed with PLC v3.0.0** - the argument is now `None` type inside the mehtod.

A couple of observations:

- Upgrading SL with pip from 4.5.0 to 5.1.3 did not upgrade PLC (the PLC version 2.2.1 brought by SL 4.5.0 also satisfies 5.1.3, so...); clean install naturally gets 3.0.0.
- I think I've read somewhere an argument "None" as a string will be cast to the `None` type aut

[2021-06-11 11:51] pekkaklarck commented on #1733
If type is `Union[str, None]`, string `None` isn't converted because the type allows strings.

[2021-06-21 08:54] PapsOu opened #1735 "Run Keyword And Ignore Error - disable screenshots"
# Prerequisites

- [x] I have searched for similar issues in open tickets and cannot find a duplicate.
- [x] The issue still exists against the latest released version of SeleniumLibrary.
- [x] This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- [x] You are not using the Java Selenium2Library: https

[2021-06-21 09:31] aaltat commented on #1735
I think what you want, can be achieved with listener and keeping track of the `Run Keyword...` status and configuring the library. But looking issue from the library perspective, the library does not know the parent keywords, because RF core does not provide such functionality out of the box. Keywords are just called as methods from the library, with the arguments it needs in the method call. Ther

[2021-06-21 09:33] #1735 closed, assigned to nobody

[2021-06-21 20:10] Bhavnasewani commented on #1732
Can selenium library be upgraded to have the options for setting edge options similar to the below code:

    ${options}=   Get Edge Options
    ${options.use_chromium}=    Set Variable   True
    ${options.use_webview}=    Set Variable   True
    ${options.binary_location}=    Set Variable   ${WebView_APP}  #new one as we need to communicate edge we are using

[2021-06-21 20:18] Bhavnasewani commented on #1732
@aaltat Could you please check on this request, Appreciate your help in advance!

[2021-06-29 13:03] mizzPpY opened #1736 "Selenium Library keywords undefined in VS Code"
I have installed the following packages:
- robotframework==4.0.3
- robotframework-pythonlibcore==3.0.0
- robotframework-seleniumlibrary==5.1.3
- selenium==3.141.0
- webdrivermanager==0.10.0

I also installed extension Robot Framework Language Server v0.18.0 in VS Code, however all the Selenium library keywords are displayed as "Undefined keyword" in the editor.
![image](https://user-images.githubu

[2021-06-29 13:12] aaltat commented on #1736
No idea, you need to consult plugin [project](https://github.com/robocorp/robotframework-lsp) how debug these kind of problems or ask in [community](https://github.com/robotframework/SeleniumLibrary#community)

Because test are working fine this is not problem with SeleniumLibrary and I will close the issue.

[2021-06-29 13:12] #1736 closed, assigned to nobody

[2021-07-15 06:51] aaltat commented on #1733
Because this is fixed in PLC side, closing issue.

[2021-07-15 06:51] #1733 closed, assigned to nobody

[2021-07-15 06:52] aaltat commented on #1732
This issue tracker is reserved for bugs and enhancement request. For this type of problem solving cases, it is better turn on https://github.com/robotframework/SeleniumLibrary#community

Closing issue.

[2021-07-15 06:52] #1732 closed, assigned to nobody

[2021-08-03 13:39] rkefi84 commented on #1160
Hi guys,
I am getting this file not found error on choose file in both cases with ${CURDIR} or ${EXECDIR}
The Get File keyword finds the file in both cases

Both steps in my test
`Get File    ${CURDIR}${/}people.csv`
`Upload 84 users csv file ${CURDIR}${/}people.csv`

Error in log :

`InvalidArgumentException: Message: invalid argument: File not found : file /Users/rkefi/Documents/Work/unified-adm

[2021-08-03 13:43] rkefi84 opened #1737 "Choose File: file does not exist on the local file system"
Hi guys,
I am getting this file not found error on choose file in both cases with ${CURDIR} or ${EXECDIR}
The Get File keyword finds the file in both cases

Robot Framework: Version 4.0.1
SeleniumLibrary: Version 5.1.3

Both steps in my test
`Get File    ${CURDIR}${/}people.csv`
`Upload 84 users csv file ${CURDIR}${/}people.csv`

Error in log :

`InvalidArgumentException: Message: invalid argument

[2021-08-03 15:24] aaltat commented on #1737
Interesting, could you run test with `--loglevel trace` set from command line and post the stack trace.  Also could  you show how you open the browser?

[2021-08-03 15:57] rkefi84 commented on #1737
Well maybe you gave me a hint.
Today morning i changed the open browser keyword to replace it with create webdriver and then go to url
I will try now the same with Open Browser and i will enabled the trace loglevel too

[2021-08-03 15:58] rkefi84 commented on #1737
This is how i open the browser now
`${chromedriver_path}=   chromedriversync.Get Chromedriver Path`
    `Create Webdriver    Chrome   executable_path=${chromedriver_path}`
    `Go to  ${goToAdminBaseUrl}/${accountKey}`
    `#open browser        ${goToAdminBaseUrl}/${accountKey}     ${browser}        remote_url=${RemoteURL} ` `desired_capabilities=${capabilities}`

[2021-08-03 16:04] rkefi84 commented on #1737
@aaltat So i get the same error with Open Browser too
Here is the screenshot with the trace level enabled
<img width="539" alt="Screen Shot 2021-08-03 at 12 03 09 PM" src="https://user-images.githubusercontent.com/55718411/128048541-8ff178ec-93cc-4e5e-b88d-6d10e19cc1d2.png">
<img width="1656" alt="Screen Shot 2021-08-03 at 12 03 31 PM" src="https://user-images.githubusercontent.com/55718411/128048

[2021-08-03 16:11] aaltat commented on #1737
Based on the screenshot you file path is incorrect. The `${file}` variable contains `file /Users/...` but the it should contain `/Users/...`

[2021-08-03 16:12] rkefi84 commented on #1737
But i am not setting that anywhere
I have this `${CURDIR}/people.csv`
I dont know from where it come
Question i am running inside a python virtual env, could it be that the issue?

[2021-08-03 16:19] rkefi84 commented on #1737
My script looks like this
`@{csvContent}=      read_csv_file_to_list  ${CURDIR}${/}people.csv`
    `${userUploadedEmailList}=      Create List`
    `Navigate to ${peopleAppIcon} application`
    `Navigate to the users page`
    `Users page renders properly with all the elements`
    `Click add new user button`
    `New user wizards renders properly and displays the first step`
    `Check single pr

[2021-08-03 16:22] rkefi84 commented on #1737
I think i found from where that file comes from its the word in the keyword just before the path
Indentation issue looks like :D let me fix and test again

[2021-08-03 16:26] rkefi84 commented on #1737
It passed!

[2021-08-03 16:26] #1737 closed, assigned to nobody

[2021-08-03 16:26] rkefi84 commented on #1737
Many thanks for your help!

[2021-08-11 08:52] sergkundel commented on #1116
I have the similar issue.
My page generates 2 alerts with confirmations (one after another) and execution stuck forever on second alert.
The code is almost the same as in initial issue.

My environment:
Python 3.9.5
Firefox 82.0.2 x64
selenium-server-standalone-3.141.59
geckodriver_x64_v0.26.0
Pip packages:
robotframework 4.0.2
robotframework-pythonlibcore 2.2.1
robotframework-seleniumlibrary 5.1.

[2021-08-14 12:27] emanlove opened #1738 "Suggestion for clarifying documentation around Timeouts"
Dave Martin and I were discussing some wording and understanding about timeouts. He has the following suggestions for some clarifying sentences to the documentation to make clear (changes in **bold**).

I am temporarily recording/storing his suggestion here as to not lose it out of Slack. I'll submit a pull request sometime in the future.

[2021-08-14 13:18] aaltat commented on #1738
I like it, how about PR?

[2021-08-17 09:44] hudderstrom opened #1739 "Value error: not enough values to unpack (expected 2, got 1)"
## Environment

Browser: firefox 78.12.0esr (64-bit) and chrome Version 92.0.4515.131
Browser driver: ChromeDriver 92.0.4515.107
Operating System: Windows10 Enterprise 1909
Libraries
robotframework-seleniumlibrary    5.1.3
robotframework                    4.1
robotframework-pythonlibcore      3.0.0

## Steps to reproduce the issue & Error messages and additional information

I pasted a screenshot

[2021-08-29 17:38] emanlove commented on #1739
@hudderstrom I can reproduce what you are seeing and see a point where the Library is not as helpful as it could be. From the screenshot you have this line
[code]
The problem lies in that the library is reading your desired capabilities as the string `None` instead of Python None variable or `${None}`. The same is true, with this keyword and the value for remote_url. Here you would want it to be `

[2021-08-29 18:01] aaltat commented on #1739
SeleniumLibrary relies on Robot Framework to do the type conversion based on the type hints https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/keywords/browsermanagement.py#L66

In short the first succeeding type conversion should win, but in this case it looks like None conversion doesn't work and argument is converted as string. Then the parsing to string fails.

I

[2021-08-29 19:49] emanlove commented on #1738
Working on one now .. need to review Contributing docs to see what I need to do to submit a "complete" pull request.

[2021-08-30 01:18] emanlove commented on #1739
I wasn't sure if `None` would have gotten converted by the type hints. I was surprised by False not converting. I can dig a little further down.

[2021-08-30 01:27] emanlove commented on #1739
.. well None type is [listed in the docs](http://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#supported-conversions) as a converted type and desired_capabilitie and ff_profile_dir have it listed as a possible type. Alias does not .. looks like I definitely need to dig deeper ..

[2021-09-07 05:11] AparnaaMariappan opened #1742 "SeleniumLibrary modules not loaded correctly. Ride: 1.7.4.1, Python: 3.6.4, robot-selenium: 4.5.0 does not load the methods after "U" alphabet"
**## Steps to reproduce the issue
1. Launch RIDE
2. Create a test case
3. Open browser
4. click some element
5. give "wait until page contains element"

Expected Result:
SeleniumLibrary.waituntilpagecontains keyword should be displayed in BLUE

Actual Result:
The keywords upto SeleniumLibrary.Unselect is only loaded or displayed. The "wait" keywords are not loaded.

Test data:
I used RIDE version

[2021-09-07 05:21] aaltat commented on #1742
Ride has some development/beta versions that support Robot Framework dynamic library API and SeleniumLibrary is one of the dynamic library API users. This is most likely a bug with RIDE and not with SeleniumLibrary and therefore I am going to close this issue.

[2021-09-07 05:21] #1742 closed, assigned to nobody

[2021-09-07 20:56] HelioGuilherme66 commented on #1742
@AparnaaMariappan You should go to the RIDE project page and see how to install the development version from`master` .
It is a work in progress for some RF features, but at least the documentation is working.

[2021-09-09 04:11] elveera0491 opened #1743 "SessionNotCreatedException: Message: session not created from timeout: Timed out receiving message from renderer: 600.000 (Session info: chrome=93.0.4577.63)"
SessionNotCreatedException: Message: session not created
from timeout: Timed out receiving message from renderer: 600.000
  (Session info: chrome=93.0.4577.63)

Seem to be getting this error for a while now while running our robotframework based test scripts using selenium: 3.141.0. When I go into the VM and check for the package everything seems to be up to date. Our Jenkins jobs keep failing bec

[2021-09-16 05:48] watanak commented on #676
Dear everyone,
Now I met the issue when I run robot framework in Mac, it cannot find binary location of selenium webdriver, then I got error :

SessionNotCreatedException: Message: Expected browser binary location, but unable to find binary in default location, no 'moz:firefoxOptions.binary' capability provided, and no binary flag set on the command line

Could you please help me a bit?

[2021-09-16 07:23] aaltat commented on #676
Please consider using one of community channels for these kind of support request https://github.com/robotframework/SeleniumLibrary#community

[2021-09-16 15:58] davidk1 opened #1744 "Open browser keyword fails to correctly interpret parameter service_log_path"
Description:
With Robot Framework > 4.x keyword Open browser (SeleniumLibrary) fails to correctly interpret  parameter service_log_path and assigned value ${None}.
With Robot Framework = 3.2.2 everything works fine.

Steps to reproduce the issue:

*** Variables ***
${service_log_path}    ${None}

*** Keywords ***
Open browser to
    ...
    ...
    ${browser index}    Open Browser    ${page_url}

[2021-09-16 20:23] aaltat commented on #1743
Please see https://github.com/robotframework/SeleniumLibrary#community for how reach community in this type of problems. I am closing this issue.

[2021-09-16 20:23] #1743 closed, assigned to nobody

[2021-09-16 20:40] aaltat commented on #1744
I can not reproduce the issue. When I do:
[code]
The `None` file is not created. But if `service_log_path=None` then `None` file is created, which is expected.
Are you sure that `${service_log_path}` does not contain string None?

[2021-09-16 20:48] aaltat commented on #1739
I tested with PLC and it looks it returns argument types as expected. I think this is bug in RF core side. @emanlove would you talk with Pekka how it should work. I am not familiar with that side of RF code.

[2021-09-17 08:36] davidk1 commented on #1744
Me and my friend have copy pasted your code into our Pycharm IDE.

In both cases log file named **None** has been created, see output.xml file below.

`<?xml version="1.0" encoding="UTF-8"?>
<robot generator="Robot 4.1.1 (Python 3.7.3 on win32)" generated="20210917 10:28:24.389" rpa="false" schemaversion="2">
<suite id="s1" name="Test Easy" source="C:\Users\david\PycharmProjects\temp\issues\test_e

[2021-09-17 08:40] davidk1 commented on #1744
... mistakenly closed the issue, re-opening again.

[2021-09-17 20:24] aaltat commented on #1739
I did do some testing and I think this is problem with Robot Framework core side, see https://github.com/robotframework/robotframework/issues/4090 for explanation why I think so.

But in any case, bugs in upstream is pretty normal and perhaps we should fail the keyword if we receive wrong type in RF side. The difficult part is to fix and test all keywords where this might be possible, because ther

[2021-09-17 22:28] aaltat commented on #1739
Well, Robot Framework converted works as designed and the only way currently is fix it in SeleniumLibrary side. So I guess [is_noney](https://github.com/robotframework/SeleniumLibrary/blob/master/src/SeleniumLibrary/utils/types.py#L28) should be used in this and other keywords arguments.

[2021-09-20 09:06] pekkaklarck commented on #1739
Yeah, Robot's argument conversion works as designed. Unfortunately that design doesn't work great in this particular case, but as discussion in robotframework/robotframework#4090 explains it's still the design with the smaller amount of problems.

I personally don't consider this particular issue high severity. It only occurs if you explicitly use `desired_capabilities=None` but as @emanlove alrea

[2021-09-20 14:25] oferdan opened #1745 "Selenium can't find elements with IE driver 3.150.2"
Hi,

I'm facing issues while running tests with IE driver 3.150.2. - Selenium can't find any elements.
Browser is opened with "Open browser" KW. There are no synchronization issues (element not clickable etc.)
When I'm using 3.149 it is fine, same with 3.150.1
(But I want to use the latest version, because when using the latest libraries with older drivers there are tmp files left in %USERPROFILE%

[2021-09-20 17:39] aaltat commented on #1745
This type of support request are answered faster in the community channels: https://github.com/robotframework/SeleniumLibrary#community

Also because this is not feature request or bug report, I am going to close the issue.

[2021-09-20 17:39] #1745 closed, assigned to nobody

[2021-09-21 15:05] ricardomaximino commented on #1535
Hi, @0xLeon
Do you have any work around or possible solution you could share?!

[2021-09-30 09:57] mikahanninen opened #1746 "Keyword `Input Password` throws an exception when run with Python (no robotframework)"
# For issues
## Steps to reproduce the issue

[code]

## Error messages and additional information

[code]

## Expected behavior and actual behavior

Keyword `Input Password` works with and without Robot Framework

## Environment

Browser: default by Open Browser keyword
Browser driver: Gecko
Operating System: Windows 10
Libraries
- Robot Framework: NOT USED
- Selenium: 3.141.0
- SeleniumLibrary:

[2021-10-01 07:52] Harri commented on #1746
Would a fix like this be acceptable?

    diff --git a/src/SeleniumLibrary/keywords/formelement.py b/src/SeleniumLibrary/keywords/formelement.pyindex 15ef612..ed38285 100644
    --- a/src/SeleniumLibrary/keywords/formelement.py
    +++ b/src/SeleniumLibrary/keywords/formelement.py
    @@ -17,7 +17,7 @@
     import os
     from typing import Optional, Union

    -from robot.libraries.BuiltIn import

[2021-10-05 12:08] MrBIN89 opened #1748 "Press Keys causes two key ups for selenium special keys"
## Steps to reproduce the issue
`Press Keys` keyword execution with special selenium keys, for example `Press Keys css:locator BACKSPACE`, brings two _key_up_ events unexpectedly. That causes two letters removal instead of one in my case.
![изображение](https://user-images.githubusercontent.com/47885244/136017353-f3676809-63df-4e08-83d5-180343cf20be.png)

Though in case the selenium key code is us

[2021-11-03 08:16] MrBIN89 commented on #1748
PS: W3C chromedriver mode is set to False in the example above.

[2021-11-05 11:33] jannek76 opened #1750 "Strip and collapse spaces from `Element Text Should Be` and `Element Text Should Not Be`"
Sometimes element has spaces that can be accepted for the test case. Specially leading and trailing spaces can occur in element.

These functionalities has added to BuiltIn Should Be Equal keywords in RF 4.0 and RF 4.1 and would be nice to have in SeleniumLibrary too.

PR: https://github.com/robotframework/SeleniumLibrary/pull/1749

[2021-11-15 00:43] wlad opened #1751 "Why not pin the Browser library instead of this one at the top of Robot Frameworks pinned Github repos?"
It seems this project is not maintained any more(?). Last updates were months ago. I think the reason is that recently all the contribution goes into the [Browser](https://github.com/MarketSquare/robotframework-browser) library(?) So why not pin the Browser library at the top instead (or in addition to SeleniumLibrary)?

If the Browser library is meant to replace SeleniumLibrary in the long term,

[2021-11-15 08:48] pekkaklarck commented on #1751
First of all, this library is still maintained. The reason Browser isn't pinned on the organization front page is that it is developed in a different organization.

[2021-11-15 08:48] #1751 closed, assigned to nobody

[2021-12-05 23:52] DetachHead opened #1752 "support robot 5.0"
[code]
[code]

my understanding is that `StringIO` has been removed in 5.0 https://github.com/robotframework/robotframework/issues/4150

[2021-12-07 11:39] pekkaklarck commented on #1752
Good catch! I now added `robot.utils.StringIO` back to avoid breaking old SL versions, but that usage should definitely be removed.

[2021-12-12 21:08] kumy commented on #1459
I've created PR #1762, it adds a new keyword `Capture Full Page Screenshot`. It also add a boolean parameter `full_screen` to  `Capture Page Screenshot`.

[2021-12-14 14:20] emanlove opened #1763 "Add Windows path example to webdrivermanager example in README"
It would be helpful to have a windows path example within the webdrivermanager example shown in the readme.

[2021-12-21 04:00] nick-grout1 opened #1764 "Add "Wait for DOM inactivity" keyword which waits until page is fully loaded/rendered"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2021-12-21 04:06] humbienri commented on #1764
Wow! This looks very interesting and if it works, promising! Is the Mutation Observer API something new?

[2021-12-21 05:32] nick-grout1 commented on #1764
Hi @humbienri, I'm not sure exactly when it came about - but it is has been well supported on most major browsers for a while now (see the compatibility section of the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver/observe)):

![image](https://user-images.githubusercontent.com/96458041/146876629-0aaa5cd0-158e-4d71-aaaf-3be8083600a7.png)

[2021-12-21 09:17] aaltat commented on #1764
It is an interesting idea and I do not know will work or now. If you want to implement this, I think that this is little bit out of the scope of the SeleniumLibrary, because SeleniumLibrary uses (mainly) Selenium API to provide functionality. But SeleniumLibrary offers wide range of possibilities to build on top the SeleniumLibrary, for more details please see our [extending docs](https://github.c

[2021-12-21 18:29] nick-grout1 commented on #1764
Gotcha that makes sense @aaltat - thanks for taking a look!

[2021-12-30 09:53] gerodim opened #1766 "Switching browsers when using multiple active sessions in parallel"
This is a feature requested online with no answer so far.
The applied change will actually simply minimize the browser of the 'departure' session and maximize the browser of the 'arrival' one.
Relevant pull request: #1765

[2022-01-13 11:24] Brownies opened #1767 "Add keywords for dealing with stale elements"
For my use case it would be nice to have some keywords to be able to deal with elements that get removed from the DOM. Something along the lines of
- `Wait Until Element Is Stale`
- `Get Element Staleness`
- `Element Should (Not) Be Stale`

I wrote a rudimentary Python plugin at work using Selenium's [`staleness_of`](https://www.selenium.dev/selenium/docs/api/py/webdriver_support/selenium.webdrive

[2022-01-19 16:41] emanlove commented on #1767
I know personally I have been hesitant to add an exhaustive set of keywords which specifically wait until some state. I was just now talking with Tatu about a question someone raised about waiting. He showed me this solution

[code]

I was thinking a generic Wait until Element State Is/Is Not might be the solution. There is an [full list of expected conditions](https://www.selenium.dev/selenium/do

[2022-01-24 09:30] Brownies commented on #1767
Yeah that would be great!

[2022-01-24 19:51] johnpp143 opened #1768 "Keywords which uses action chains are having a default 250ms timeout which cannot be overriden."
## The issue
Keywords that uses action chains like drag and drop and other mouse actions are using a default delay of 250ms. This causes these actions to be significantly slower.
In older chrome versions w3c actions were not default and hence these action chain class was not used.
In newer chrome versions these are used, but the keywords dont give an option to override this default timeout.
This b

[2022-01-24 20:50] emanlove commented on #1768
@johnpp143 If you have a pull request that would be helpful.

[2022-01-27 09:29] pekkaklarck commented on #1752
Ping @emanlove! SL should stop using `robot.utils.StringIO` and use `io.StrinIO` instead. The former is effectively deprecated and will be removed in the future.

[2022-02-23 13:16] dhilipsiva opened #1769 "Plugin initialization randomly fails"
This Plugin loading fails randomly and I am not able to establish a pattern why it is failing. Maybe I am doing something fundementally wrong with my plugin code. By any chance, is there something wrong that I doing with my plugin code?

## Steps to reproduce the issue

I have a plugin `MyPlugin.py` as like so:
[code]

And this is what my robot scripts looks like:

[code]

## Error messages and ad

[2022-02-23 13:38] emanlove commented on #1769
My initial review there is nothing that I see that stands out as failing or "incorrect". A couple suggestions for next steps in debugging .. I might try a try, catch on the full plugin init to see if you can catch any thrown errors. And I might try using the [logging capabilities](https://github.com/robotframework/SeleniumLibrary/blob/master/docs/extending/extending.rst#librarycomponent) to see if

[2022-02-23 13:41] emanlove commented on #1769
Also the latest version of the core is 4.1.3. With the dot release of .3 I would probably update that from ending .1 to the latest. I haven't checked the release notes but those point release are generally bug fixes so useful to try out.

[2022-02-24 22:12] wesleybl commented on #1415
I simply set `window.onbeforeunload = undefined` to avoid the popup:

[code]
I'm using Firefox 78.9 and Selenium 3.141.0

@anton264 did you come to any conclusions? Do you know if this has been fixed somewhere?

[2022-02-28 14:36] rasjani commented on #1769
Didn't check but one scenario where this can happen is if there are multiple test suites with different parameters - something similar to this can happen. Afaik, RF does not reinit the already existing library and thus stuff like this can happen.

[2022-03-01 02:41] dhilipsiva commented on #1769
Thanks for all your input! :smile:
I have refactored my plugin into a stand-alone library. And I am using `BuiltIn().get_library_instance("SeleniumLibrary")` to reference the SL instance. This seemed to have fixed the Issue. Will close this ticket.

[2022-03-01 02:41] #1769 closed, assigned to nobody

[2022-03-02 19:39] aaltat commented on #1769
The deeper analysis is hard without knowing your plugin code and looking at your test data. My gut feeling says that rasjani is correct and you have multiple imports in your code and because of RF fuzzy logic in imports, something does not work as expected.

The other option is that you plugin has something which cause loading plugin to fail, perhaps `__init__` does something which has delay or so

[2022-03-24 11:37] emanlove opened #1770 "Add Chrome Options keyword"
# Feature requests
It may be nice to have a keyword for adding Chrome/Chromium Options instead of the current method of

[code]

[2022-03-24 13:18] aaltat commented on #1770
It is already possible with `Open Browser` keyword, see `options` argument.

[2022-03-24 13:31] emanlove commented on #1770
I should have read the current documentation before submitting!

I was thinking about clarifying by making readable the "Python object which is an instance of the Selenium options class" format which is what the string format is doing.

[2022-03-24 15:33] #1770 closed, assigned to nobody

[2022-05-12 15:33] sergi-comeche-housfy opened #1772 "Feature Request - Add a 'Get Logs' keyword to retrieve the browser console logs"
Similar to what 'get_log()' can do on python Selenium, I think we are missing a direct way to obtain console and even network logs which can be useful to verify some browser data.

I've been trying different options to obtain this info but couldn't find a Robot Framework direct way to do it. In Python, using driver.get_log("chrome"), for instance, is a simple way to retrieve this data and proceed

[2022-05-12 15:49] emanlove commented on #1772
It's on the list of Selenium 4 ToDo's but was middle of the pack in our community wants survey ..

[code]

I need to circle back to this list and set some time aside for development. I will add that pull requests or pair programming to add new features is welcomed!

[2022-05-12 15:54] sergi-comeche-housfy commented on #1772
I literally added this in 5 seconds on my local, I mean, It's pretty basic. It was just surprising how something that useful when testing browser is not considered in the main library, specially when it's 1 line of code. But I appreciate that you shared your to-do list, that gives us all a future sight of what you are focusing your efforts.

Thank you for your quick response.

[2022-05-12 16:31] emanlove commented on #1772
Can you share a snippet of your code? I would be curious how you are using it. There are a few articles I know of which highlight and give examples of this functionality, like the [this Selenium Doc](https://www.selenium.dev/documentation/webdriver/bidirectional/bidi_api/#listen-to-consolelog-events). Although as I think about that, that example is listening to the logs which I am not sure is the

[2022-05-12 17:19] emanlove commented on #1772
Just thought of another question which I feel it is important to ask ..

- How is either BroswerLibrary handling logs? Or other robot web testing solutions .. QWeb, RoboCorp/RPAFramework?

To me building up some consistency and, more so, familiarity is important to building a solution that is end user friendly.

[2022-05-12 21:57] emanlove commented on #1772
@sergi-comeche-housfy I should also note that the order list was the voted upon community survey response, coming from about 20-30 submissions. I suspect for various reasons development might be a little different. For example I thought creating new tabs windows would be both easy to implement and popular request. Turns out that it was not in a small response survey. And relative locators, althoug

[2022-05-13 07:45] sergi-comeche-housfy commented on #1772
As for now, I only added a piece of code in "browsermanagement.py" to be able to obtain the browser logs, which solved my problem. So I didn't really consider all the questions you raised and I don't even have an answer for them, it's beyond my knowledge.

[code]

As you can see in the image, I'm just trying to provide a simple keyword for this functionality and only for Chrome. I guess there is m

[2022-05-14 11:42] emanlove commented on #1772
I am re-reading / re-thinking / re-understanding this. My original mindset was on (DevTool) console logs which my understanding were not available expect through Chrome using the [Chrome DevTools Protocol (CDP)](https://www.selenium.dev/documentation/webdriver/bidirectional/chrome_devtools/) and then this was a little bit of a hack. This doc image showing the get_log function is on the generic rem

[2022-05-14 11:56] emanlove commented on #1772
And @sergi-comeche-housfy as I read through #574 more closely I see that Tatu notes that Jani has put in the [Get Log](https://marketsquare.github.io/robotframework-seleniumtestability/index.html?tag=plugin#Get%20Log) keyword into the [SeleniumTestability library](https://github.com/MarketSquare/robotframework-seleniumtestability#robotframework-seleniumtestability).

[2022-06-04 08:39] maheshchinna opened #1773 "Need info: add_experimental_option gives unrecognized chrome option error with download.default_directory"
# Prerequisites
Library           SeleniumLibrary

# For issues
add_experimental_option not working
## Steps to reproduce the issue
Add selenium library for robot framework
Try to use add_experimental_option
Observe the error

Create a simplified example which reproduces the problem. It is good if the example
can be run also by us, but this is not always mandatory.
*** Test Cases ***
TestCase1
![i

[2022-06-04 08:51] maheshchinna commented on #1773
Found the correct syntax
add_experimental_option("prefs",{'download.default_directory':'${CURDIR}\\Builds',"safebrowsing.enabled": True})
![image](https://user-images.githubusercontent.com/52688733/171992039-4ef4f37a-8473-440a-bb1b-08f42e427cd7.png)

[2022-06-04 08:51] #1773 closed, assigned to nobody

[2022-06-08 04:56] RyanSiu1995 opened #1774 "desired_capabilities is not respected for remote browser"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2022-06-08 05:07] emanlove commented on #1774
Are you asking for SeleniumLibrary to handle conversion of desired_capabilities to capabilities? To me this seems like something one should do on the end user side by only using capabilities.

[2022-06-08 05:08] RyanSiu1995 commented on #1774
Either way works for me.
But I can't specify `capabilities` in the Open Browser keyword unfortunately.
The only supported option is `desired_capabilities`

[2022-06-08 05:20] emanlove commented on #1774
Options is is the new "capabilities".  Or at least that is how I am thinking about/understanding it.  I'm rereading various sources and see i definitely need to review this as it is not crystal clear.

References:
https://www.browserstack.com/automate/selenium-4
https://www.browserstack.com/docs/automate/selenium/chrome-options
https://chromedriver.chromium.org/capabilities

[2022-06-08 05:30] emanlove commented on #1774
One more source which may be the key statement of "truth" concerning Options is the new capabilities

https://www.selenium.dev/documentation/webdriver/getting_started/upgrade_to_selenium_4/

in particular

https://www.selenium.dev/documentation/webdriver/getting_started/upgrade_to_selenium_4/#capabilities

which then going back and cross referencing with BrowserStack's documentation they seems to

[2022-06-08 05:40] emanlove commented on #1774
If I find some time tomorrow (I'm middle of night EDT/UTC-4) or really later today I will check in with David Burns - aka AutomatedTester - the Reviewer/Merger of the pull request you reference above over in the Selenium community Slack for clarification. Most likely we need to also depreciate the desired capability objects with the SeleniumLibrary and then make it clear through documentation how

[2022-06-08 12:58] emanlove commented on #1774
I asked over in the Selenium slack and Titus replied saying

[my emphasis]

He added that he hadn't "checked to see which languages allow you to toggle between those". Looking further I see this [matching strategy within the W3C spec](https://www.w3.org/TR/webdriver/#processing-capabilities). But searching through the Python Selenium API I don't see how it handles this part of the spec.

It would

[2022-06-09 01:26] RyanSiu1995 commented on #1774
WoW, that is comprehensive one!
Thanks for working on this.
I think you are right. `desired_capabilites` should be deprecated and use `Options` instead.
If it is the plan, shall we make a change on the Lib to make that happens?
Do we need more discussion on this deprecation?

[2022-06-29 09:00] mshariqa opened #1775 "Getting error "Unable to find a matching set of capabilities" when I try to launch safari browser on iPhone."
# For issues
We have recently started automating iPhone safari with robot framework selenium. Sometimes we get "Unable to find a matching set of capabilities" when we try to run iPhone safari. I searched online but could not find any issue like this. I feel there is some capabilities I am missing but similar capabilities is working when I used python language binding. Please help.

## Steps to rep

[2022-06-29 13:53] emanlove commented on #1775
I've not used Selenium Grid much at all and unfamiliar with functionality within ver 3.141.59 but desired_capabilities was dropped in support of using options in Selenium 4.3.0. SeleniumLibrary, as I recall, still has them although they should be depreciated and removed. I'm not sure how it is working with the python but given what you share with environment settings I would expect issues.

See [P

[2022-06-29 14:22] mshariqa commented on #1775
Hi @emanlove,
Thanks for your suggestion. I will keep in mind to ask these questions in Forum next time.

I tried with selenium grid 4.3.0 and used options. But, even that did not work. The keyword got stuck and there was no logs in selenium too. Can you please let me know if below way is correct?

[code]
I am not sure if safari browser supports selenium options or not.

[2022-06-29 14:56] emanlove commented on #1775
That is a a good point. I am not sure. You might check that out see. In terms of options there is another format with them being "inline" with the Open Browser keyword.

[Need to go offline for a bit but will check back in a little later]

[2022-07-01 00:54] emanlove commented on #1775
In terms of safari's complience with W3C standards I can't, so far, find a definitive answer on that. I see this [SauceLabs document](https://docs.saucelabs.com/dev/w3c-webdriver-capabilities/) which talks to the compliance to W3C standards and it seems to indicate that newer versions are compatible. It references the [W3C spec for capabilities](https://w3c.github.io/webdriver/#capabilities) and I

[2022-07-01 04:15] mshariqa commented on #1775
@emanlove,
I looked onto the Robot Framework SeleniumLibrary source code. I found out a log that safari browser doesnt support selenium options.
https://github.com/robotframework/SeleniumLibrary/blob/7769ed6fe6565007c4938664ce7f84cce343c4cd/src/SeleniumLibrary/keywords/webdrivertools/webdrivertools.py#L352

So, even though selenium grid supports options or not Robot Framework SeleniumLibrary doesn

[2022-07-02 00:10] hfy1111 commented on #1270
just read the whole threads.. i did not see any solution except use except StaleElementReferenceException to ignore the issue.

Since now i am still seeing this every often when running multiple scripts at the same time.

[2022-07-02 00:43] emanlove commented on #1270
@hfy1111 Do you have any specific situations under which this is occurring? And are you using anyone specific `Wait ...` keyword where this occurs?

[2022-07-06 15:20] hfy1111 commented on #1270
Here is the error message from the report, i was using wait_until_element_is_visible, and it is only happening when running several test cases together at the same time, if run only this case, the error will not come out.
just wonder, do you have any solution for this?
thanks!

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session

[2022-07-20 09:58] lukasgebhard commented on #672
For SeleniumLibrary versions 5.0 and above, you can use [chained locators](https://github.com/robotframework/SeleniumLibrary/issues/1512).

[2022-07-26 16:14] ashokkumar7 opened #1776 "Robotframe work with headless mode download"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2022-07-26 16:14] #1776 closed, assigned to nobody

[2022-07-26 16:18] ashokkumar7 opened #1777 "Headless chrome / Firefox with link click download"
Hi All

We have observed file download by clicking link button or button click in headless mode for chrome as well as firefox is not working.

Observed it was working without headless. Looks like an an issue.

I have attached sample code below. Please help us over come this issue.

*** Settings ***
Documentation  File Upload Download in Robot Framework

Library   OperatingSystem
Library    Seleniu

[2022-07-29 13:16] zoxed commented on #1419
hey @aaltat, if i may take a little bit of your time .. i am facing the same problem but my selenium version is 6.0.0
i don't know from where to start

[2022-07-29 15:38] emanlove commented on #1419
@zoxed Its best to ask for support over in our Slack channel.

[2022-07-29 15:42] ashokkumar7 commented on #1419
I have overcome this issue by adding python code with below driver initialization

Call Method    ${chrome options}    add_experimental_option    prefs    ${prefs}
    Call Method    ${chrome_options}    add_argument    --disable-dev-shm-usage  #disable page crash of chrome
    Call Method    ${chrome_options}    add_argument    --no-sandbox  #disable sandbox mode
    Call Method    ${chrome_optio

[2022-08-12 14:05] abizer14 opened #1778 "'options' argument in 'open browser' not honored when 'browser' argument is set to 'edge' or 'safari'"
Problem statement:
Executing tests using Remote webdriver on BrowserStack but the options object passed under the 'options' parameter under the 'open browser' keyword doesn't get honored when the 'browser' parameter is set to 'edge' or 'safari'.

However, this works when the 'browser' argument is set to either 'chrome' or 'firefox'.

Note: The same also works across all browser argument values whe

[2022-08-22 05:30] shypard opened #1779 "SessionNotCreatedException using Selenoid and chrome version 56.0"
## Issue

I would need some help getting the RF-SeleniumLibrary work with Selenoid. I am testing a website with two versions of Chrome: v103 & v56. The keyword works for newer versions of Chrome, but fails for older ones (56.0 for example. I think it has something to do with the parameters I am setting, which are not compatible with such a low version, as I am able to start chrome w/ version 56.0

[2022-08-22 11:49] Brownies opened #1780 "'Scroll Element Into View' is broken on Firefox"
## Steps to reproduce the issue
* Open a page in Firefox such that some element is not inside the viewport
* Try to scroll to the element with 'Scroll Element Into View'

## Expected behavior and actual behavior

When I follow those steps, I see...
[Gist with trace level log output, stack trace and sample .robot and .html files](https://gist.github.com/Brownies/72f9d5b42a14174bcfd25bb9080ec6ef)

I

[2022-08-22 11:56] Brownies commented on #1780
A likely culprit seems to be the [keyword itself](https://github.com/robotframework/SeleniumLibrary/blob/c6e28bdda61abefefa875f4ef8661d7e2a6f81ca/src/SeleniumLibrary/keywords/element.py#L739) which uses `ActionChains.move_to_element` instead of `ActionChains.scroll_to_element`.

[2022-08-30 07:08] Eatkarus opened #1781 "Provides documentation for calling the seleniumLibrary using Python code"
# Feature requests
Hiiiii!
I want to use Python to call the seleniumLibrary to build the test project, and I want to maintain it as code. But I searched in all the search engines, can find very few cases.
 I wonder if RobotFramework can support this feature? Looking forward to your reply, thank you!

[2022-08-30 15:04] aaltat commented on #1781
Did you see https://github.com/robotframework/SeleniumLibrary/blob/master/docs/extending/extending.rst

[2022-09-12 21:59] robert-neurio opened #1783 "Feature Request - Add Virtual Authenticator Support"
Selenium Library lacks support for the new Virtual Authenticator option in Selenium 4.

Adding this feature will make testing FIDO authentication possible in Robot Framework

[2022-09-29 19:16] everlighting opened #1784 "Scroll Element in to view not working in seleniumlibrary"
Scroll Element in to view is not working .I don't see any new updates in seleniumlibrary after january,on the other hand browser library is releasing in every weeks !!!

[2022-09-29 20:57] emanlove commented on #1784
If you could give a bit more information about what error message you may be getting, what system information you are running with and an example which reproduces the problem that would be helpful.

[2022-10-04 23:21] emanlove opened #1785 "Review Page Should Contain documentation"
With the change under Selenium Version 4.1.4, the logging was changed. This keyword doc talks about the default level the error message is run under. With the change I am not sure this is still the same. Need to review keyword documentation.

[2022-10-05 10:45] emanlove opened #1787 "Review create webdriver code and tests"
With the recent removal of the Opera references I noticed some discrepancies and some things that just didn't look right within this code. I want to review that code now there are some significant changes. This is a placeholder reminder.

[2022-10-05 10:47] emanlove commented on #1787
Also review for phantomJS, Andriod, and iPhone references as well

[2022-10-06 16:33] Brownies commented on #1784
Probably a duplicate of #1780

[2022-10-06 17:06] Brownies opened #1788 "Acceptance tests: rebot option `--noncritical` is deprecated since RF 4"
[`--noncritical`](https://github.com/robotframework/SeleniumLibrary/blob/master/atest/run.py#L100) is deprecated and ignored in RF 4 and a warning is issued. The option is completely removed in RF 5 and causes tests to fail.

This doesn't show up in Actions because they only test RF 3 & 4 with Chrome and even the tests tagged `Known Issue Chrome` actually pass.

[2022-10-06 17:41] emanlove opened #1789 "Review workaround for selenium3 bug tests"
This is a reminder issue for me to look at the workaround for selenium 3 bug tests. As we now require selenium 4 these should be reviewed.

[2022-10-07 09:31] rasjani opened #1791 "Typing issues when using SeleniumLibrary directly from python."
select_from_list_by_index  expects the index to be \<str\> .. calling from RF side, this is not an issue but doesnt make sense when called from python ..

create_webdriver also returns \<str\> but register_webdriver then returns \<int\>

Action:

Go thru the type annotations that refer to index and allow passing of \<int\>  instead of only  \<str\>

PS. Typically RF itself doesnt get issues with t

[2022-10-07 09:31] rasjani commented on #1791
If someone can spot other similar issues - please share ?

[2022-10-07 15:10] everlighting opened #1792 "How we can deal with stale element reference with selenium libray?We need a keyword to deal with stale element reference"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2022-10-07 15:15] emanlove commented on #1792
Could you expand upon what you are looking for you you say "We need a keyword to deal with stale element reference"? I am not sure what types of requirements you are looking for.

[2022-10-07 15:18] Brownies commented on #1792
Duplicate of #1767

In the meantime, you can use and extend a SeleniumLibrary plugin like [this](https://gist.github.com/Brownies/8167b6868a0801539c7d14ce484be4d9) to handle stale elements.

[2022-10-07 18:44] aaltat commented on #1792
Every `Wait *` keyword has automatic suppression of stale element reference exception, which was very much debated when I did made the change.

In my opinion it is wrong to suppress the stale element reference exception in assertion type of keywords, like `Click Element` because exception is an indication of failure. Also retry will, most likely, lead to different type of problems. Instead users s

[2022-10-09 11:51] #1738 closed, assigned to nobody

[2022-10-10 18:57] emanlove opened #1796 "atest task loses python interpreter when running with virtualenv under Windows"
# For issues
## Steps to reproduce the issue

Under Windows

[code]

The last command results in an error
[code]
## Error messages and additional information

The last command results in an error
[code]

I am running under Windows 10 using Python 3.9.9 within a virtual env

## Expected behavior and actual behavior

I was expecting the runner to use the virtual env I have executed with. But instead

[2022-10-10 19:15] aaltat commented on #1796
Most likely replacing [python](https://github.com/robotframework/SeleniumLibrary/blob/master/tasks.py#L224) with [sys.executable](https://docs.python.org/3/library/sys.html#sys.executable) could solve the problem. Also it most likely would be compatible with other OS.

[2022-10-10 19:19] emanlove commented on #1796
Was just submitting a pull request with that change :)

[2022-10-10 19:21] aaltat commented on #1796
Heh, I was faster. But I do not have Windows available for testing.

[2022-10-10 19:24] emanlove commented on #1796
Interesting .. I have a similar change but in a different spot .. typing commit notes now ..

[2022-10-10 19:26] aaltat commented on #1796
Most likely this should be fixed too: https://github.com/robotframework/SeleniumLibrary/blame/master/tasks.py#L211

[2022-10-10 19:35] emanlove commented on #1796
I was changing it at https://github.com/robotframework/SeleniumLibrary/blob/master/atest/run.py#L280 and then added a check to make sure it was not None nor an empty strip [as per docs](https://docs.python.org/3.10/library/sys.html#sys.executable).

[2022-10-10 20:39] emanlove commented on #1796
So tried this within tasks.py

[code]

and it seems like tasks is getting the right interpreter. Where the issue seems to arise was when subprocess was calling `python` not knowing the code calling subprocess was under the virtual env.

[2022-10-10 21:57] emanlove commented on #1796
As I recheck the other subprocess calls within atest/run/py most are covered by my change. The one exception is the http_server method which uses "python". Adding a change for this one.

[2022-10-12 15:53] rasjani commented on #1796
that almost feels like that environment variables from the caller is not inherited to the sub process ?

[2022-10-15 13:43] everlighting commented on #1780
Is some one following up? When this issue will be released?  Once this issue is fixed we can remove the JS in our script

[2022-10-15 13:58] everlighting opened #1800 "Any estimated time of complete for the Selenium Library?"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate.
- The issue still exists against the latest released version of SeleniumLibrary.
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
- You are not using the Java Selenium2Library: https://github.com/Ma

[2022-10-15 14:33] emanlove commented on #1800
@everlighting If I may, using GitHub issues and just the subject line is not the best method for asking questions on various robot framework libraries. Some better methods for reaching out to the larger community include,

Slack - https://rf-invite.herokuapp.com/
Forum - https://forum.robotframework.org/
Mailing List - https://groups.google.com/g/robotframework-users

or even a fairly active commu

[2022-10-15 14:43] #1752 closed, assigned to nobody

[2022-10-15 14:51] emanlove commented on #1796
From what I am reading @rasjani is right in that just setting the python interpreter as sys.executable is not the same as activating a python virtualenv. The later also sets up some environment variables. So my solution is incomplete as written ..

[2022-10-15 16:06] emanlove commented on #1781
Closing out this ticket as the extending documentation outlines calling SeleniumLibrary through Python. If there are any changes or improvements you see please recommend or submit a pull request.

[2022-10-15 16:06] #1781 closed, assigned to nobody

[2022-10-16 20:43] madworx opened #1801 "Firefox webdriver seems broken?"
# Prerequisites

✅  I have searched for similar issues in open tickets and cannot find a duplicate.
✅  The issue still exists against the latest released version of SeleniumLibrary.
✅  This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support
✅  You are not using the Java Selenium2Library: https://github.co

[2022-10-17 01:06] emanlove commented on #1801
Searching on that error message .. "geckodriver: error: Found argument '--websocket-port' which wasn't expected, or isn't valid in this context" .. I see references to a mismatch between the geckodriver and the Firefox browser. I see you've noted geckodriver version 0.29.0 but not the Firefox version. Do you have the Firefox version?

[2022-10-17 05:22] madworx commented on #1801
@emanlove : It's up there :) Browser: Firefox 105

[2022-10-17 11:47] emanlove commented on #1801
Sorry .. completely missed that somehow .. not sure how as I read the geckodriver version. From what I have read I suspect it is a driver / browser mismatch. Or at least that would be the first thing I would check. If you can manually log into the docker instance I would suggest investigating down that path. To me if that is the case this is a webdrivermanager issues versus a seleniumlibrary one.

[2022-10-17 12:33] madworx commented on #1801
Indeed; It seems that I relied on "webdrivermanager" pip package, which seems to have become abandonware. Using the latest geckodriver doesn't cause any errors.

I'm closing this since it's not really a bug in SeleniumLibrary.

[2022-10-17 12:33] #1801 closed, assigned to nobody

[2022-10-17 12:48] emanlove commented on #1801
So I didn't mention that I recently joined as co-maintainer of the webdrivermanger project alongside of Jani (@rasjani). Jani originally wrote this package starting back in May 2018. As we transitioned into maintaining SeleniumLibrary again we decide to bring in webdrivermanager into the Robot Framework community organization - marketsquare. Jani did feel that this code need to be revisited and up

[2022-10-17 19:17] madworx commented on #1801
I believe the approach that the current `webdrivermanager` is doing is the correct one; However, I don't see the model working unless we'd have proper automated processed in place to:

a) Track all new releases.
b) Validate browser releases against webdrivers versions.
c) Automating PRs against tested working combinations.

In such a scenario maintainers would get a notification when there's a new

[2022-10-17 20:25] madworx commented on #1801
There are a few issues that needs to be addressed if we want to do something better with this:

* Is it possible to download "older" versions of e.g. Chrome? (My current builds just pulls "`google-chrome-stable_current_amd64.deb`".
* I suppose the same goes for FIrefox?
* ... the same regarding webdrivers?

[2022-10-21 18:23] eravion opened #1802 "ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))"
Hello,

I have an issue and open two ticket on Selenium and RobotFramework :
https://github.com/SeleniumHQ/selenium/issues/10258
https://github.com/robotframework/robotframework/issues/4194

Version installed :
Python 3.8

Version of Lib :
robotframework                 4.1.2
robotframework-appiumlibrary   1.6.3
robotframework-pythonlibcore   3.0.0
robotframework-requests        0.9.2
robotframewo

[2022-10-23 00:49] emanlove commented on #1802
@eravion ~~Do you have a python traceback stack on when this occurs?~~  See it in the issue https://github.com/robotframework/robotframework/issues/4194

[2022-10-23 01:23] emanlove commented on #1802
I'm going through the two mentioned issues as well as a general search on that error. Looking at the traceback in [#4194](https://github.com/robotframework/robotframework/issues/4194) it looks to me as if the connection this error response is coming from is between selenium and webdriver.

It interesting that you are seeing it on `Get Element Count xpath` and `Go To`. So there is nothing special a

[2022-10-23 12:03] emanlove commented on #1802
Are you seeing this on one browser versus another? Are you primarily using/testing against one browser?

[2022-10-23 12:15] emanlove commented on #1796
Was looking through the selenium v4.5.0 api trying to understand and resolve another problem but saw on [this class](https://www.selenium.dev/selenium/docs/api/py/webdriver_chrome/selenium.webdriver.chrome.service.html#module-selenium.webdriver.chrome.service) a parameter called env which looks like a similar situation of needing to pass along env variables. I think in addition to the python inter

[2022-10-23 12:28] emanlove commented on #1787
Another item we should check is the parameters for creating webdriver. I see an additional parameter `service` on the [Chrome](https://www.selenium.dev/selenium/docs/api/py/webdriver_chrome/selenium.webdriver.chrome.webdriver.html#module-selenium.webdriver.chrome.webdriver) and [Chromium WebDriver](https://www.selenium.dev/selenium/docs/api/py/webdriver_chromium/selenium.webdriver.chromium.webdriv

[2022-10-25 08:02] eravion commented on #1802
Hello,

We have the issue on both Firefox / Chrome.

Some stats on the last 7 days, focus on 4 scenarios.

7 days stats |   |   |  
-- | -- | -- | --
Function | Nb error | Nb usage | % error
Click Element | 187 | 26208 | 0,71
Wait Until Page Contains Element | 1 | 12096 | 0,01
Wait Until Element Is Visible | 74 | 19152 | 0,39
Input Text | 81 | 15120 | 0,54
Get Text | 105 | 2016 | 5,21
Get Element

[2022-10-25 11:19] emanlove commented on #1802
Some background on my question. You noted this does not occur with selenium 2.53 but does so with 4.x versions so I diff'd the py branch and in particular the remote_connection.py file (with,

`git diff selenium-2.53.1 HEAD -- py/selenium/webdriver/remote/remote_connection.py`

There was, as expected, some changes there. I was tracing out some perceived differences in the headers and in how Chrome

[2022-10-25 12:23] emanlove commented on #1802
One more question .. are you able to run, maybe a subset of tests, without the grid? Just trying to eliminate where the issues might be coming from ..

[2022-10-25 13:45] eravion commented on #1802
About Robot Framework 2.53:
robotframework (3.0)
robotframework-appiumlibrary (1.4.6)
robotframework-browsermobproxylibrary (0.1.3)
robotframework-requests (0.7.2)
robotframework-ride (1.5.2.1)
robotframework-selenium2library (1.8.0)
selenium (2.53.6)

I added "    Set Log Level    TRACE" on Suite Setup on a scenario, let's wait for an error.

I cannot run a test without grid.
For security reason,

[2022-10-25 14:54] eravion commented on #1802
20221025 13:59:10.836 - INFO - +-- START KEYWORD: SeleniumLibrary.Click Element [ xpath=//button[@class='btn try-out__btn'] ]
20221025 13:59:10.837 - INFO - Clicking element 'xpath=//button[@class='btn try-out__btn']'.
20221025 13:59:10.837 - DEBUG - POST http://X.X.X.X/wd/hub/session/d20e7b23-9ca2-485b-ad7a-395ad1cb7fd6/elements {"using": "xpath", "value": "//button[@class='btn try-out__btn']"}
2

[2022-10-26 02:13] emanlove commented on #1802
I recall you mentioning the Screenshots on failure and raised the question whether this could be the problem. I don't think it is. There's a strange, to me at least, ordering with the screenshots and the last error. For some reason which I don't recall the screenshots appear before the last error log / traceback.. So it has always appeared to me that the screen shots occur before the for which the

[2022-10-26 07:26] eravion commented on #1802
I disable screenshot, here is a trace :

20221026 06:59:05.578 - INFO - +-- START KEYWORD: SeleniumLibrary.Click Element [ xpath=//button[@class='btn try-out__btn'] ]
20221026 06:59:05.579 - INFO - Clicking element 'xpath=//button[@class='btn try-out__btn']'.
20221026 06:59:05.579 - DEBUG - POST http://X.X.X.X/wd/hub/session/9fd69a97-71ff-4d00-a8a5-2a5476e7762a/elements {"using": "xpath", "value":

[2022-10-26 10:40] emanlove commented on #1802
That is pretty much what I had expected, no effect.

If I get a chance, and it might not be today, I am curious as to how the screenshot request "recovers" from the dropped connection. From what I see these webdriver requests are retrying but failing. Also note that to me it does look like issue is on the selenium/grid/webdriver side.

[2022-10-26 12:24] emanlove commented on #1802
If there is some grid logging as well as browser side webdriver and/or browser logging, I would suggest diving into that too. There might be a clue in there.

[2022-10-26 15:18] eravion commented on #1802
The trace while opening the session on the test and trace from the hub.

20221026 06:58:36.656 - DEBUG - Starting new HTTP connection (1): X.X.X.X:80
20221026 06:58:53.493 - DEBUG - http://X.X.X.X:80 "POST /wd/hub/session HTTP/1.1" 200 2951
20221026 06:58:53.493 - DEBUG - Remote response: status=200 | data={
  "value": {
    "sessionId": "9fd69a97-71ff-4d00-a8a5-2a5476e7762a",
    "capabilities":

[2022-10-26 15:46] eravion commented on #1802
And we are using docker for node / hub.
Maybe it can be linked to this part?

[2022-10-26 16:42] emanlove commented on #1802
Could be .. I once had a server running some service virtualization tool. The servers and their setup and configuration were under a highly skilled team and I was just using the software. I started to have a problem that the virtualization would fail and on immediate retry pass. Then if left alone for a few minutes again fail on the first try and succeed every time afterwards till we were quiet fo

[2022-10-28 15:52] everlighting commented on #1784
@Brownies anyone looking in to this issue?

[2022-10-29 13:01] Brownies commented on #1784
Not that I know of.

[2022-11-03 21:49] RH-sdavey commented on #463
So,
the issue was opened in 2015...
a PR was submitted in 2017...
which was ignored until 2018...
resubmitted in 2018...
and then closed (wrongly) because of "inactivity" in 2019...

And now Im looking for the same thing in 2022.

[2022-11-05 14:07] emanlove commented on #463
Looking at [the pull request](https://github.com/robotframework/SeleniumLibrary/pull/724) there were many requested changes that were not completed. I believe that was why it was closed out.

[2022-11-18 18:49] luke-h1 opened #1803 "Clearing text doesn't work on macos"
# Prerequisites

- I have searched for similar issues in open tickets and cannot find a duplicate. ✅
- The issue still exists against the latest released version of SeleniumLibrary. ✅
- This is not a usage question or support request. For those, see more details in README.rst: https://github.com/robotframework/SeleniumLibrary#support ✅
- You are not using the Java Selenium2Library: https://github.

[2022-11-20 23:00] dotlambda opened #1804 "RemoteDriverServerException was removed from Selenium"
https://github.com/SeleniumHQ/selenium/commit/5fba3a2b2d24a02356def84ffc5618bda73cc09f breaks `utest/test/keywords/test_webdrivercache.py`

[2022-11-21 01:07] emanlove commented on #1804
Thanks for the notice @dotlambda. Reviewing that test suite now and trying to understand what it is testing and the mechanics of how it is testing.